<link rel="stylesheet" href="/Files/Templates/ItemCreator/ItemCreator.css" />
<div class="items">
    <div class="item-edit-form">
        <!--@ItemCreator:Edit.Form.Begin-->
        <p> <!--@ItemCreator:Edit.Status--> </p>

        <div class="item-edit-fields-outer">
            <!--@ItemCreator:Edit.Form-->
        </div>

        <div class="item-edit-submission">
            <input type="button" value='Cancel' />
            <input type="submit" value='Save changes' />
        </div>

        <!--@LoopStart(ValidationErrors)-->
            <!--@HeaderStart-->
            <div class="validation-error">
                <!--@Translate(ItemPublisher:Edit.SaveError, "Item not saved!")-->
                <ul>
                    <!--@HeaderEnd-->
                    <li><!--@ItemCreator:Edit.Validation.FieldName-->: <!--@ItemCreator:Edit.Validation.Error--></li>
                    <!--@FooterStart-->
                </ul>
            </div>
            <!--@FooterEnd-->
        <!--@LoopEnd(ValidationErrors)-->

        <div class="items-clear"></div>
        <!--@ItemCreator:Edit.Form.End-->
    </div>
</div>
