<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />
<script type="text/javascript" src="/Admin/Content/JsLib/prototype-1.7.js"></script>
<script type="text/javascript" src="/Files/Templates/ItemPublisher/Edit/edit.js"></script>
<div class="items">
    <div class="item-edit-form">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="Continue" value="/Default.aspx?ID=<!--@ItemPublisher:Global.PageId-->&PID=<!--@ItemPublisher:Global.ParagraphId-->&page=<!--@ItemPublisher:Global.PagingPosition-->" />
            <div class="item-edit-fields-outer">
                <!--@ItemPublisher:Edit.Form-->
            </div>

            <!--@LoopStart(ValidationErrors)-->
            <!--@HeaderStart-->
            <div class="validation-error">
                <!--@Translate(ItemPublisher:Edit.SaveError, "Item not saved!")-->
                <ul>
                    <!--@HeaderEnd-->
                    <li><!--@ItemPublisher:Edit.Validation.FieldName-->: <!--@ItemPublisher:Edit.Validation.Error--></li>
                    <!--@FooterStart-->
                </ul>
            </div>
            <!--@FooterEnd-->
            <!--@LoopEnd(ValidationErrors)-->

            <div class="item-edit-submission">
                <input type="button" value='<!--@Translate(ItemPublisher:Edit.Cancel, "Cancel")-->' onclick="javascript:window.history.go(-1);" />
                <input type="submit" value='<!--@Translate(ItemPublisher:Edit.Save, "Save changes")-->' />
            </div>

            <div class="items-clear"></div>
        </form>
    </div>
</div>
        <script type="text/javascript">
            $(document).observe('dom:loaded', function () {
                Dynamicweb.Items.ItemPublishing.get_current().initialize();
            });		
		</script>
