<p>
    Good day,
</p>
<!--@If Defined(Forum:Thread.IsParticipant)-->
<p>
    You have been a participant in this thread
</p>
<!--@EndIf(Forum:Thread.IsParticipant)-->
<p>
    The new message has been posted on forum. You can view the complete topic at: <a href="<!--@Forum:Site.Hostname-->/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;ThreadID=<!--@Forum:Thread.ID-->">
        <!--@Forum:Site.Hostname-->/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;ThreadID=<!--@Forum:Thread.ID-->
    </a> whereas the newly posted message is displayed below.
</p>

<a href="<!--@Forum:Site.Hostname-->/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->">
    Forum
</a>&nbsp;&raquo;&nbsp;
<a href="<!--@Forum:Site.Hostname-->/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->">
    <!--@Forum:Category.Name-->
</a>&nbsp;&raquo;&nbsp;
<a href="<!--@Forum:Site.Hostname-->/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;ThreadID=<!--@Forum:Thread.ID-->">
    <!--@Forum:Thread.Name-->
</a>

<div class="message" style="margin: 0px; margin-top: 5px; margin-bottom: 15px; border: 1px solid #c3c3c3; padding: 10px; background-color: #f8f8f8;">
    Posted by <strong><!--@Forum:Message.Author--></strong> on <strong><!--@Forum:Message.Created.ShortDate-->,&nbsp;<!--@Forum:Message.Created.ShortTime--></strong>:<br />
    <div class="message-source" style="margin-left: 25px; margin-top: 10px;">
        <!--@Forum:Message.Body-->
    </div>
</div>

<p>
    To unsubscribe from receiving e-mail notifications follow one the the these links and choose "E-mail notifications":
    <ul>
        <li>
            Unsubscribe from the above thread: <a href="<!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;ThreadID=<!--@Forum:Thread.ID-->"><!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;ThreadID=<!--@Forum:Thread.ID--></a>
        </li>
        <li>
            Unsubscribe from the above category: <a href="<!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->"><!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID--></a>
        </li>
        <li>
            Unsubscribe from all forum activity: <a href="<!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID-->"><!--@Forum:Site.Hostname-->/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;CMD=subscribe&amp;PID=<!--@Forum:Global.ParagraphID--></a>
        </li>
    </ul>
</p>