.dw-clear
{
    clear: both;
    height: 1px;
    content: '.';
}

.dw-search-suggestions
{
    border: 1px solid #c3c3c3;
    background-color: #F9F9F9;
    width: 350px;
    padding: 2px;
    margin: 0px;
    overflow: auto;
}

.dw-search-suggestions .dw-suggestion-item
{
    display: block;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    
    height: 22px;
    line-height: 22px;
}

.dw-search-suggestions .dw-suggestion-item:focus,
.dw-search-suggestions .dw-suggestion-item:active,
.dw-search-suggestions .dw-suggestion-item:hover
{
    outline: none;
}

.dw-search-suggestions .dw-suggestion-item-active
{
    text-decoration: none;
    background: #EAF2FF;
    border: 1px solid #C4DAFF;
    cursor: pointer;
}

.dw-search-suggestions .dw-no-suggestions
{
    display: block;
    color: #A0A0A0;
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
}

.dw-instant-search
{
    width: 350px;
    padding: 2px;
    margin: 0px;
    border: 1px solid #c3c3c3;
}

.dw-search-result
{
    display: block;
    margin-top: 10px;
}


.dw-search-result a
{
    display: block;
    font-size: 130%;
}

.dw-search-result small
{
    display: block;
    margin-top: 5px;
}

.dw-search-result strong
{
    display: block;
    float: right;
}

.dw-no-results
{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #c3c3c3;
    background-color: #F9F9F9;
    text-align: center;
}