@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb


<div class="grid">
	<div class="col-3">

	</div>
	<div class="col-9">

	</div>
</div>
