@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

<form action="/Default.aspx">
	<input type="hidden" name="ID" value="@Pageview.Page.ID"/>
	<input list="orders" name="OrderID" autocomplete="off">
	<datalist id="orders">
		@foreach (var order in Model.Orders)
		{
			<option>@order.Id</option>
		}
	</datalist>
	<input type="submit" value="Go to cheat sheet"/>
</form>
