<form action="/admin/public/Upload.aspx" method="post" enctype="multipart/form-data">
	<input type="hidden" name="Notify" value="<!--@FilepublishUploadNotify-->">
	<input type="hidden" name="Folder" value="<!--@FilepublishUploadFolder-->">
	<input type="hidden" name="Subject" value="<!--@FilepublishUploadSubject-->">
	<input type="hidden" name="Recipient" value="<!--@FilepublishUploadRecipient-->">
	<input type="hidden" name="RecipientCC" value="<!--@FilepublishUploadRecipientCC-->">
	<input type="hidden" name="RecipientBCC" value="<!--@FilepublishUploadRecipientBCC-->">
	<input type="hidden" name="Text" value="<!--@FilepublishUploadText-->">
	<input type="hidden" name="Confirm" value="<!--@FilepublishUploadConfirm-->">
	<table>
		<tr>
			<td><b>&nbsp;Upload</b></td>
			<td><input type="File" name="File" style="width:250px;"></td>
		</tr>
		<tr>
			<td align="right" colspan="2"><input type="submit" value="Upload"></td>
		</tr>
	</table>
</form>