<script type="text/javascript" >
    var forumTemplatesText = {
        AuthorRequiredText: '<!--@Translate(Forum:Post.Validation.AuthorRequired, "Please specify your name.")-->',
        NameRequiredText: '<!--@Translate(Forum:Post.Validation.NameRequired, "Please specify a subject.")-->',
        PostActionText: '<!--@Forum:Post.Action-->',
        PostDeleteFileText: '<!--@Translate(Forum:Post.DeleteFile, "Delete")-->',
        ThreadDeleteText: '<!--@Translate(Forum:Thread.Delete, "Are you sure you want to delete this thread?")-->'
    }
</script>

<script type="text/javascript" src="Files\Templates\BasicForum\Dialog.js"></script>
<script type="text/javascript" src="Files\Templates\BasicForum\functions.js"></script>

<!--@If Not Defined(Forum:Global.Category.IsModerated)-->
<div id="divSubscriptionSettings" style="display: none" class="forum-dialog">
	<h3 class="forum-dialog-title">
		<span><!--@Translate(Forum:Thread.SubscriptionSettings, "E-mail notifications")--></span>
		<a href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(false);">&nbsp;</a>
	</h3>
	<div class="forum-dialog-content">
        <form method="post" id="frmSubscriptionSettings" action="/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=subscribe">
            <input type="hidden" id="forumCategoryID" value="<!--@Forum:Category.ID-->" />
            <table border="0">
                <tr>
                    <td style="width: 120px">
                        <!--@Translate(Forum:Subscription.Email, "E-mail")-->
                    </td>
                    <td>
                        <input type="text" id="txEmail" name="Email" value="<!--@Forum:Global.User.Email-->" style="width: 230px" />
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <!--@Translate(Forum:Subscription.Settings, "Settings")-->
                    </td>
                    <td>
                        <ul>
                            <li>
                                <input type="radio" name="state" id="stateTrue" value="True" checked="checked" />
                                <label for="stateTrue">
                                    <!--@Translate(Forum:Subscription.Subscribe, "I'd like to be informed of the updates")-->
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="state" id="stateFalse" value="False" />
                                <label for="stateFalse">
                                    <!--@Translate(Forum:Subscription.UnSubscribe, "Don't bother me with any emails")-->
                                </label>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" id="cmdSubmit" value="<!--@Translate(Forum:Subscription.OK, " ok")-->" />&nbsp;
                        <input type="button" onclick="setSubscriptionDialogVisibility(false);" value="<!--@Translate(Forum:Subscription.Cancel, " cancel")-->" />
                    </td>
                </tr>
            </table>
        </form>
	</div>
</div>
<!--@EndIf(Forum:Global.Category.IsModerated)-->

<div class="forum-post-breadcrumb">&raquo;&nbsp;<a href="/Default.aspx?ID=<!--@Global:Page.ID-->"><!--@Translate(Forum:Global.Forum, "Forum")--></a>&nbsp;&raquo;&nbsp;<span class="forum-post-breadcrumb-current"><!--@Forum:Category.Name--></span></div>

<div class="forum-container">
	<div class="forum-threadlist">
		<div class="forum-threadlist-split">
			<!--@If Not(Forum:Category.ID=='')-->		
			<h3><!--@Forum:Category.Name--></h3>
			<!--@If Not (Forum:Global.Category.IsModerated)-->
			<a class="subscription-settings" href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(true);"><!--@Translate(Forum:Thread.SubscriptionSettings, "E-mail notifications")--></a>
			<!--@EndIf(Forum:Global.Category.IsModerated)-->
			<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=createPost"><!--@Translate(Forum:Thread.NewThread, "Start new thread")--></a>
			<!--@EndIf-->
			<a class="show-unsolved" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=showUnsolved"><!--@Translate(Forum:Thread.ShowUnsolved, "Show Unsolved")--></a>
			<a class="show-unanswered" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=showUnanswered"><!--@Translate(Forum:Thread.ShowUnanswered, "Show Unanswered")--></a>
			<a class="show-all" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->"><!--@Translate(Forum:Thread.ShowAll, "Show All")--></a>
		</div>
		<div class="forum-post-clear">&nbsp;</div>
		<div class="forum-thread-begin">&nbsp;</div>
		
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th class="forum-thread-subject"><!--@Translate(Forum:ThreadList.Subject, "Subject")--></th>
				<th class="forum-thread-replies"><!--@Translate(Forum:ThreadList.RepliesCount, "Replies")--></th>
				<th class="forum-thread-startedby"><!--@Translate(Forum:ThreadList.StartedBy, "Started by")--></th>
				<th class="forum-thread-lastreply"><!--@Translate(Forum:ThreadList.LastReply, "Last reply")--></th>
			</tr>
			<tr>
				<td colspan="4"><div class="forum-thread-end">&nbsp;</div></td>
			</tr>
			<!--@If Not Defined(HasThreads)-->
			<tr>
				<td colspan="4" style="text-align: center">
					<div class="forum-list-empty"><!--@Translate(Forum:ThreadList.Empty, "No threads has been created in this category yet...")--></div>
				</td>
			</tr>
			<!--@EndIf(HasThreads)-->
			<!--@LoopStart(Threads)-->
			<tr<!--@If Defined(Forum:Global.Category.IsModerated)--> onmouseover="bfManagementVisibility('divManageThread<!--@Threads.LoopCounter-->', true);" onmouseout="bfManagementVisibility('divManageThread<!--@Threads.LoopCounter-->', false);"<!--@EndIf(Forum:Global.Category.IsModerated)-->>
				<td class="forum-thread-subject">
					<!--@If Defined(Forum:Thread.IsSticky)--><span class="thread-sticky"><!--@Translate(Forum:Thread.Important, "Important")-->:&nbsp;</span><!--@EndIf(Forum:Thread.IsSticky)--><a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->" title="<!--@Forum:Thread.Name-->"><!--@Forum:Thread.Name--></a>
					<!--@If Defined(Forum:Thread.HasAnswer)--><span style="position: relative"><img class="thread-hasanswer" src="/Admin/Images/Ribbon/Icons/Small/check.png" alt="<!--@Translate(Forum:Thread.HasAnswer, "This thread contains an approved answer")-->" title="<!--@Translate(Forum:Thread.HasAnswer, "This thread contains an approved answer")-->" /></span><!--@EndIf(Forum:Thread.HasAnswer)-->
                    <!--@If Defined(Forum:Thread.IsSubscribed)-->
                    <span style="margin-left:10px;position: relative;">&nbsp;
		                <a class="subscription-settings" href="javascript:void(0);" onclick="location.href = '/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=' + document.getElementById('forumCategoryID').value + '&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=subscribe&redirectToList=threads';">
                        <img style="left:10px;padding:0px;position:absolute;" src="/Admin/Images/Ribbon/Icons/Small/flag_red.png" alt="<!--@Translate(Forum:Category.Unsubscribe, "Unsubscribe email notification")-->" title="<!--@Translate(Forum:Category.Unsubscribe, "Unsubscribe email notification")-->" /></a>
                    </span>
                    <!--@EndIf(Forum:Thread.IsSubscribed)-->
                    <!--@If Not Defined(Forum:Thread.IsSubscribed)-->
                    <span style="margin-left:10px;position: relative;">&nbsp;
                        <a class="subscription-settings" href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(true, '/Admin/Public/ForumSubscribe.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=' + document.getElementById('forumCategoryID').value + '&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=subscribe&redirectToList=threads');">
                        <img style="left:10px;padding:0px;position:absolute;" src="/Admin/Images/Ribbon/Icons/Small/flag_green.png" alt="<!--@Translate(Forum:Category.Subscribe, "Subscribe email notification")-->" title="<!--@Translate(Forum:Category.Subscribe, "Subscribe email notification")-->" /></a>
                    </span>
		            <!--@EndIf(Forum:Thread.IsSubscribed)-->
                    <div class="forum-thread-resume"><!--@Forum:Thread.Body.Resume-->&nbsp;...</div>
					<!--@If Defined(Forum:Global.Category.IsModerated)-->
					<div id="divManageThread<!--@Threads.LoopCounter-->" class="thread-manager-panel" style="visibility: hidden">
						<a class="thread-edit" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=editPost"><!--@Translate(Forum:Thread.Edit, "Edit")--></a>
						<a class="thread-sticky-change" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=togglesticky"><!--@Translate(Forum:Thread.ToggleSticky, "Toggle important")--></a> 
						<a class="thread-delete" onclick="return bfComfirmDelete();" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=deletePost"><!--@Translate(Forum:Thread.DeleteThread, "Delete")--></a>
					</div>
					<div class="forum-post-clear">&nbsp;</div>
					<!--@EndIf(Forum:Global.Category.IsModerated)-->
				</td>
				<td><!--@Forum:Thread.Replies.Count--></td>
				<td>
					<!--@Forum:Thread.Author-->
					<div class="forum-thread-started"><!--@Forum:Thread.Created.ShortDate-->,&nbsp;<!--@Forum:Thread.Created.ShortTime--></div>
				</td>
				<td class="forum-thread-lastreply">
					<!--@If Defined(Forum:LastReply.Name)-->
					<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:LastReply.ParentID-->&amp;ShowLast=1&#Reply<!--@Forum:LastReply.ID-->"><!--@Forum:LastReply.Name--></a>
					<div class="forum-thread-lastreply-author">
						<!--@Forum:LastReply.Author-->
					</div>
					<div class="forum-thread-lastreply-date">
						<!--@Forum:LastReply.Created.ShortDate-->,&nbsp;<!--@Forum:LastReply.Created.ShortTime-->
					</div>
					<!--@EndIf(Forum:LastReply.Name)-->
					<!--@If Not Defined(Forum:LastReply.Name)-->
					<div class="forum-thread-lastreply-date">
						<i><!--@Translate(Forum:ThreadList.NoReplies, "No replies yet")--></i>
					</div>
					<!--@EndIf(Forum:LastReply.Name)-->
				</td>
			</tr>
			<tr class="forum-threadlist-separator">
				<td colspan="4"><div>&nbsp;</div></td>
			</tr>
			<!--@LoopEnd(Threads)-->
		</table>
	</div>

	<div class="forum-post-clear">&nbsp;</div>

	<!--@If Defined(DwPaging.Pageable)-->
	<div class="forum-paging">
		<!--@LoopStart(DwPaging.LoopAllPages)-->
			<a<!--@If Defined(AllPages.ActivePage)--> class="forum-paging-active"<!--@EndIf(AllPages.ActivePage)--> title="<!--@Translate(Forum:ThreadList.Page.GoToPage, "Page <!--@AllPages.PageNumber-->")-->" href="<!--@AllPages.PageLink-->"><!--@AllPages.PageNumber--></a>
		<!--@LoopEnd(DwPaging.LoopAllPages)-->
	</div>
	<div class="forum-post-clear">&nbsp;</div>
	<!--@EndIf(DwPaging.Pageable)-->
</div>