@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string moduleOutput = Model.GetModuleOutput();
}

@if (!string.IsNullOrWhiteSpace(moduleOutput))
{
	@moduleOutput
}
else if (Pageview.IsVisualEditorMode)
{
	<div class="alert alert-info" role="alert">
		<span>@Translate("App: Edit this column to configure")</span>
	</div>
}

