@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string moduleOutput = Model.GetModuleOutput();
}

@if (!string.IsNullOrWhiteSpace(moduleOutput))
{
	<div class="d-flex align-items-center text-start h-100">
		<div class="w-100">
			@moduleOutput
		</div>
	</div>
}
else if (Pageview.IsVisualEditorMode)
{
	<div class="alert alert-info" role="alert">
		<span>@Translate("App: Edit this column to configure")</span>
	</div>
}

