@using Dynamicweb.Content
@using Dynamicweb.Content.Items
@using Page = Dynamicweb.Content.Page
@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@functions
{
	private string GetAlignment(string direction)
	{
		var layout = Model.Item.GetRawValueString("Layout", "middle-center");
		var alignments = layout.Split('-');
		var indexPosition = direction == "vertical" ? 0 : 1;

		if (alignments.Length == 2)
		{
			return alignments.Length == 2 ? alignments[indexPosition] : "middle";
		}
    	
		return direction == "vertical" ? "middle" : "center";
	}
	
	private string GetThemeValue(string systemName)
	{
		string theme = GetSelectedTheme();
		int themesPageId = Pageview.AreaSettings.GetLink("ThemesPage") != null ? Pageview.AreaSettings.GetLink("ThemesPage").PageId : 0;
        if (themesPageId == 0) return "";
        
		List<Paragraph> themesPageParagraphs = Dynamicweb.Services.Paragraphs.GetParagraphsByPageId(themesPageId)?.ToList();
		Paragraph themeParagraph = themesPageParagraphs?.FirstOrDefault(p => p.Item["Name"].ToString().ToLower().Equals(theme));
		if (themeParagraph == null) return "";
		string themeValue = themeParagraph.Item[systemName] != null ? themeParagraph.Item[systemName].ToString() : "";
		themeValue = themeValue == "" ? "unset" : themeValue;
		return themeValue;
	}

	private string GetSelectedTheme()
	{
		string theme = !string.IsNullOrEmpty(Pageview.CurrentParagraph.Item["Theme"]?.ToString()) ? Pageview.CurrentParagraph.Item["Theme"].ToString().ToLower() : "";
		if (!string.IsNullOrEmpty(theme) && theme != "theme default") return theme;

		GridRow grid = Dynamicweb.Services.Grids.GetGridRowById(Pageview.CurrentParagraph.GridRowId);
		Item item = Dynamicweb.Services.Items.GetItem(grid.ItemType, grid.ItemId);
		theme = item["Theme"]?.ToString().ToLower();
		
		if (!string.IsNullOrEmpty(theme) && theme != "theme default") return theme;
		
		theme = Dynamicweb.Core.Converter.ToString(Pageview.Page.Item["Theme"])?.ToLower();
		return !string.IsNullOrEmpty(theme) && theme != "theme default" ? theme : "";
	}
	
	private string GetFontStyle(string type)
	{
		int brandingPageId = Pageview.AreaSettings.GetLink("BrandingPage") != null ? Pageview.AreaSettings.GetLink("BrandingPage").PageId : 0;
		if (brandingPageId == 0) return "";
		
		Page brandingPage = Dynamicweb.Services.Pages?.GetPage(brandingPageId);
		if (brandingPage == null) return "";
		
		string fontStyle = "";
		dynamic font = Newtonsoft.Json.JsonConvert.DeserializeObject(brandingPage.Item[type+"Font"].ToString());
		if (font != null) {
			fontStyle += $"font-family:{font.Family}, sans-serif;";
			fontStyle += $"font-weight:{font.SelectedVariant};";
		}
		fontStyle += $"text-transform:{brandingPage.Item[type+"Casing"]};";
		fontStyle += $"line-height:{brandingPage.Item[type+"LineHeight"]};";
		fontStyle += $"letter-spacing:{brandingPage.Item[type+"LetterSpacing"]};";
		return fontStyle;
	}
}
@{
	string verticalAlignment = GetAlignment("vertical");
	string backgroundColor = !string.IsNullOrEmpty(GetSelectedTheme()) ? GetThemeValue("BackgroundColor") : "transparent";
	string padding = Model.Item.GetRawValueString("ContentPadding", "0") + "px";
}
<td style="padding:@padding;vertical-align:@verticalAlignment;background-color:@backgroundColor;line-height: 21px;">
	@RenderTitle()
</td>

@helper RenderTitle()
{
	string title = Model.Item?.GetString("Title") ?? "";
	string titleFontSizeClass = Model.Item?.GetRawValueString("TitleFontSize", "size-44");
	string titleFontSize = (titleFontSizeClass?.Split('-')[1] ?? "44") + "px";
	string horizontalAlignment = GetAlignment("horizontal");
	string foregroundColor = !string.IsNullOrEmpty(GetSelectedTheme()) ? GetThemeValue("ForegroundColor") : "#000000";
	string headingFontStyle = GetFontStyle("Header");
	
	<div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
		<h1 class="@titleFontSizeClass" style="text-align:@horizontalAlignment;margin-top:20px;margin-bottom:20px;font-size:@titleFontSize;@headingFontStyle" lang="x-@titleFontSizeClass">
			<span>
				<span style="color:@foregroundColor">
					<strong>@title</strong>
				</span>
			</span>
		</h1>
	</div>
}
