<div class="dynamicweb-map" id="<!--@ElementID-->" data-list-position="<!--@ListPosition-->">
	<form class="search">
		<div>
			<input type="text" size="70" id="dynamicweb-map-query"/>
			<button type="submit" data-search="byName"><!--@Translate(Search_search, 'Search')--></button>
			<button type="reset"><!--@Translate(Reset_search, 'Reset search')--></button>
		</div>
	</form>

	<div class="map" style="width: <!--@MapWidth-->; height: <!--@MapHeight-->;">
		<div id="<!--@MapElementID-->"></div>
	</div>

	<div class="list">
		<div class="no-matches"><!--@Translate(No_matches, "No matches")--></div>
		<ol id="<!--@ListElementID-->">
		<!--@LoopStart(Locations)-->
			<li data-lat="<!--@Lat-->" data-lng="<!--@Lng-->" data-title="<!--@Name-->"
					<!--@If Defined(Icon)--> data-icon="<!--@Icon-->"<!--@EndIf(Icon)-->>
				<div class="name"><!--@Name--></div>
				<!--@If Defined(GroupName)-->
				<div class="group">(<!--@GroupName-->)</div>
				<!--@EndIf(GroupName)-->
				<!--@If(0=1)-->@see http://microformats.org/wiki/adr<!--@EndIf-->
				<div class="adr">
					<div class="street-address"><!--@Address--></div>
					<div class="extended-address"><!--@Address2--></div>
					<span class="postal-code"><!--@Zip--></span>
					<span class="locality"><!--@City--></span>
					<div class="country-name"><!--@Country--></div>
				</div>
			</li>
			<!--@LoopEnd(Locations)-->
		</ol>
	</div>

	<!--@If(NumberOfLocations=0)-->
	<div class="info"><!--@Translate(No_locations_found, 'No locations found')--></div>
	<!--@EndIf-->
</div>
<script>(function() {
Dynamicweb.MapSettings = {
	search: {
		/**
		 * Filter locations by name
		 *
		 * @param {google.maps.Marker} marker [https://developers.google.com/maps/documentation/javascript/reference#Marker]
		 * @param {HTMLElement} element
		 *
		 * @return {bool} whether or not to include in search result
		 */
		byName: function(marker, element) {
			var query = document.getElementById('dynamicweb-map-query').value,
			value = element.querySelector('.name').innerHTML;
			return value.indexOf(query) > -1;
		}
	}
}
}())</script>
<!--@InitScript-->
