<style type="text/css">
#commentform  {	margin: 15px 0 0 0;  }
#commentform label  { position:relative; vertical-align: top; display:inline; width: 230px; padding: 11px 10px 8px; display:inline-block; margin:0 10px 0 0; font-size: 12px; font-weight: bold; color: #fff; text-shadow: 2px 1px 0 rgba(0,0,0,0.4); background: rgb(72, 72, 72); }
#commentform label .bg  { position: absolute; top: 0; right: -15px; height: 38px; width: 15px; display: block; }
#commentform input[type=text], #commentform textarea { font:14px/14px Arial, Helvetica, sans-serif; background: #fff; border: none; border: 1px solid #d8d8d8;}
#commentform input[type=text], #commentform select, #commentform option  { color:#666; width: 350px; margin: 0 5px 20px 0; padding: 10px 7px; }
#commentform textarea  { color:#666; width: 350px !important; padding: 5px 7px; }
#commentform input[type=submit]  { margin: 15px 5px 0 275px; cursor: pointer;float:left; }

	#commentform label {
		font-family: LeagueGothicRegular, "Arial Narrow",sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		background-color: rgb(39, 31, 23);
		color: #eee;
		font-weight:normal;
		padding: 8px 14px 5px;
	}

.profileimg
{
	float:left;padding:10px;background-color:#EDEDED;
	margin:3px;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 3px;
	width:80px;
	height:80px;
}
	.commentText {
		float:left;
		margin:5px;
		padding:0px;
		width:70%
	}
	.reply {
		min-height:50px;
		padding:5px;
		border-left:5px solid #c5c5c5;
		background-color:#f2f2f2;
		float:left;
		margin-bottom:5px;
		width:100%;
	}
	.reply .profileimg
{
	width:50px;
	height:50px;
}

	.reply .profileimg img
{
	width:50px;
	height:50px;
}
	.silent {
		color:#c5c5c5;
	}

		.silent a {
			color:#b9b9b9;
		}
	</style>
<div class="clear"></div>
<a name="comments"></a>
<p>&nbsp;</p>
	<!--@If(Comments.TotalCount>0)-->
		<div class="heading">
		<h3><i class="icon-comments"></i>
			<!--@If(Comments.TotalCount=1)-->
			1 kommentar
			<!--@EndIf-->
			<!--@If(Comments.TotalCount>1)-->
			<!--@Comments.TotalCount--> kommentarer
			<!--@EndIf-->
		</h3>
			<small><a href="<!--@Global:Pageview.Url-->#writecomment">Skriv kommentar</a></small>
			</div>
		<div class="clear"></div>
<small class="silent">Få dit profil billede på - upload på <a href="http://www.gravatar.com" rel="nofollow">Gravatar</a></small>
<br />&nbsp;
<div class="clear"></div>
        <!--@LoopStart(Comments)-->

	        <a id="comment<!--@ID-->"></a>
	        <div class="profileimg"><img src="http://www.gravatar.com/avatar/<!--@EmailMd5Hash-->?d=mm" alt="" /></div>
	        <div class="commentText">
	        <!--@If Defined(Website)-->
	        <a href="<!--@Website-->"><strong><i class="icon-user"></i> <!--@Name--></strong></a>
	        <!--@EndIf(Website)-->
	        <!--@If Not Defined(Website)-->
	        <strong><i class="icon-user"></i> <!--@Name--></strong>
	        <!--@EndIf(Website)-->

	        <small><span class="silent"><i class="icon-time"></i> <!--@CreatedDate.LongDate--> <!--@EditedDate.ShortTime--></span></small><br />
	        <!--@Text-->
				<br />
				<a href="javascript:comment_reply(<!--@ID-->, '<!--@Name.JSEncoded()-->', '<!--@Text.Crop(50).JSEncoded()-->');" style="color:#c5c5c5;"><small>Skriv et svar</small></a><br />
				<!--@If(ReplyCount>0)-->
					<small><!--@ReplyCount--> svar.</small><br />
					<!--@LoopStart(Replies)-->
					<a id="comment<!--@ID-->"></a>
					<div class="reply">
						<div class="profileimg"><img src="http://www.gravatar.com/avatar/<!--@EmailMd5Hash-->?d=mm" alt="" /></div>
						<div class="commentText">
							<!--@If Defined(Website)-->
							<a href="<!--@Website-->"><strong><i class="icon-user"></i> <!--@Name--></strong></a>
							<!--@EndIf(Website)-->
							<!--@If Not Defined(Website)-->
							<strong><i class="icon-user"></i> <!--@Name--></strong>
							<!--@EndIf(Website)-->

							<small><span style="color:#808080"><i class="icon-time"></i> <!--@CreatedDate.LongDate--> <!--@EditedDate.ShortTime--></span></small><br />
							<!--@Text-->
						
						</div>
						<div class="clear"></div>
					</div>
					<!--@LoopEnd(Replies)-->		
				<!--@EndIf-->
            </div>
			<div class="clear"></div>
	        <hr />
	    <!--@LoopEnd(Comments)-->

        
	<!--@EndIf-->
<!--@If(Comments.TotalCount=0)-->
<div class="heading">
	<h3>Vær den første til at fortælle hvad du synes.</h3>
	<small><a href="<!--@Global:Pageview.Url-->#writecomment">Skriv kommentar</a></small>
</div>
<div class="profileimg"><img src="http://www.gravatar.com/avatar/<!--@EmailMd5Hash-->?d=mm" alt="" /></div>
	        <div class="commentText">
	        <strong><!--@Name--></strong>
	        Din kommentar her....?<br />
			</div>
<div class="clear"></div>
<!--@EndIf-->

	<script type="text/javascript">
		function comment_validate() {
			if (document.getElementById("Comment.Name").value.length < 1) {
				alert("Angiv venligst dit navn.");
				document.getElementById("Comment.Name").focus();
				return false;
			}
			if (document.getElementById("Comment.Email").value.length < 1) {
				alert("Angiv venligst din e-mail. Den bliver ikke publiceret!");
				document.getElementById("Comment.Email").focus();
				return false;
			}
			if (document.getElementById("Comment.Text").value.length < 1) {
				alert("Skriv venligst din kommentar.");
				document.getElementById("Comment.Text").focus();
				return false;
			}
			document.getElementById("Comment.Command").value = "create";
            document.getElementById("Comment.NotifySubject").value = "New B&B comment on '" + document.title + "' (from " + document.getElementById("Comment.Email").value + ")";

            <!--@Comment.SpamScript-->;
            return s(document.getElementById("commentform"));
        }

		function comment_reply(id, commentName, text) {
			document.getElementById("Comment.ParentID").value = id;
			document.getElementById("inReplyTo").innerHTML = "<div class='alert alert-success'>Som svar til <strong><i>" + commentName + "</i></strong> på '" + text + "'</strong>";
			document.getElementById("Comment.Name").focus();
			var href = location.href.replace("#comments", "");
			if (href.indexOf("#writecomment") < 0) {
				location = href + "#writecomment";
			} else {
				location = href;
			}
			document.getElementById("Comment.Name").focus();
		}
	</script>

	<a name="writecomment"></a>
	<p>&nbsp;</p>
	<div class="heading"><h3 id="leavecomment">Hvad synes du? Hører gerne fra dig!</h3></div>
	<small id="inReplyTo"></small>
    <form method="post" action="/Admin/Public/404.aspx" id="commentform" onsubmit="return comment_validate()">
        <!--@Comment.FormHidden-->
        <input type="hidden" name="Comment.Command" id="Comment.Command" value="" />
        <input type="hidden" name="Comment.ItemType" value="page" />
        <!--Set active to false if you want to approve comments before publishing on the page-->
        <input type="hidden" name="Comment.Active" value="true" />
        <input type="hidden" name="Comment.ItemID" value="<!--@DwPageID-->" />
        <input type="hidden" name="Comment.Continue" value="<!--@Global:Pageview.Url-->#comments" />

        <input type="hidden" name="Comment.ParentID" id="Comment.ParentID" value="0" />

        <input type="hidden" name="Comment.Notify" value="true" />
        <input type="hidden" name="Comment.NotifyTemplate" value="Comments/Notify.html" />
        <input type="hidden" name="Comment.NotifySubject" id="Comment.NotifySubject" value="New Comment on B&B: " />
        <input type="hidden" name="Comment.NotifySenderEmail" value="noreply@dynamicweb.dk" />
        <input type="hidden" name="Comment.NotifySenderName" value="Website comment" />
        <input type="hidden" name="Comment.NotifyEmail" value="info@dynamicweb.dk" />

        <input type="hidden" name="Comment.Reply.Notify" value="true" />
        <input type="hidden" name="Comment.Reply.NotifyTemplate" value="Comments/ReplyNotify.html" />
        <input type="hidden" name="Comment.Reply.NotifySubject" value="Du har modtaget et svar på din kommentar på <!--@Global:Pageview.Url-->..." />
        <input type="hidden" name="Comment.Reply.NotifySenderEmail" value="noreply@dynamicweb.dk" />
        <input type="hidden" name="Comment.Reply.NotifySenderName" value="Webmaster" />

        <label for="Comment.Name">Navn <small>(Krævet)</small></label>
        <input type="text" name="Comment.Name" id="Comment.Name" value="<!--@DW_extranet_AccessUserName-->" /><br />
        <label for="Comment.Email">E-mail <small>(Krævet, bliver ikke publiceret)</small></label>
        <input type="text" name="Comment.Email" id="Comment.Email" value="<!--@DW_extranet_AccessUserEmail-->" /><br />
        <label for="Comment.Website">Website</label>
        <input type="text" name="Comment.Website" id="Comment.Website" value="" /><br />
        <label for="Comment.Text">Kommentar <small>(Krævet)</small></label>
        <textarea name="Comment.Text" id="Comment.Text" rows="10" cols="50"></textarea><br />

        <input type="submit" value="Indsend kommentar..." />
    </form>