:root {
    --content-padding: 0.75rem;
}

/* This is only for initial testing */
.test .row > [class^="col"] {
    background-color: #e1e1e1;
}

.test .item [class^="col"] {
    background-color: #cecece;
}

main .row > [class^="col"] {
    background-clip: padding-box;
}



/* item */
.item {
    padding: var(--content-padding);
    background-clip: content-box;
    height: 100%;
    min-height: 10vh;
}

.item-fluid {
    --content-padding: 0;
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
}

.container-fluid .item {
    --content-padding: 0;
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
}

.container-fluid .item-inner, .item-fluid .item-inner {
    margin-left: var(--bs-gutter-x);
    margin-right: var(--bs-gutter-x);
    border: 1px solid red;
}


/* Width utilities */
.max-w-700px{
    max-width: 700px;
}

.min-h-300px {
    min-height: 300px;
}


/**** BOOTSTRAP OVERRIDES *****/

/* Small hack to get the content go fully the sides*/
.container-fluid {
    padding: 0;
}

/* Button modifier to make buttons huge */
.btn-giant, .btn-giant:hover {
    padding: 0.75em 1.5em;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;
    text-transform: uppercase;
}

.btn-giant:hover {
    background-color: rgba(0,0,0,0.6);
}
