:root {
    --content-padding: 0.75rem;
}

/* This is only for initial testing */
.test .row > [class^="col"] {
    background-color: #e1e1e1;
}

.test .item [class^="col"] {
    background-color: #cecece;
}

main .row > [class^="col"] {
    background-clip: padding-box;
}



/* item */
.item {
    padding: var(--content-padding);
    background-clip: content-box;
    height: 100%;
}

.item-fluid {
    --content-padding: 0;
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
}

.container-fluid .item {
    --content-padding: 0;
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
}

.container-fluid .item-inner, .item-fluid .item-inner {
    margin-left: var(--bs-gutter-x);
    margin-right: var(--bs-gutter-x);
}

.container-compressed {
    max-width: 700px;
}

.icon-container svg {
    width: auto;
    height: 20px;
}

.header {
    margin-top: calc(var(--content-padding) * -1);
    margin-bottom: calc(var(--content-padding) * -1);
}

.footer {
    margin-top: calc(var(--content-padding) * -1);
    margin-bottom: calc(var(--content-padding) * -1);
}



/* Mini cart */
.mini-cart-counter {
    opacity: 1;
    transition: all 0.3s ease-in;
    font-weight: 600;
    font-size: 11px;
    position: absolute;
    background: white;
    border-radius: 100px;
    color: #fff;
    min-width: 22px;
    height: 22px;
    line-height: 14px;
    padding: 4px;
    left: 100%;
    top: -2px;
    margin-left: -4px;
}

    .mini-cart-counter::after {
        content: '';
        background-color: #999999;
        width: 100%;
        height: 22px;
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        border-radius: 100px;
    }

.mini-cart-counter-qty {
    position: relative;
    z-index: 1;
    text-align: center;
}



/* Utilities */
.max-w-700px {
    max-width: 700px;
}

.min-h-300px {
    min-height: 300px;
}


/**** BOOTSTRAP OVERRIDES *****/

/* Small hack to get the content go fully the sides*/
.container-fluid {
    padding: 0;
}

/* Button modifier to make buttons huge */
.btn-giant, .btn-giant:hover {
    padding: 0.75em 1.5em;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;
    text-transform: uppercase;
}

.btn-giant:hover {
    background-color: rgba(0,0,0,0.6);
}

.nav-link::after {
    display: none;
}
