@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Collections.Generic
@using System.Text.RegularExpressions
@using System.Text

@functions {
	public string RenderCustomerAddressInline() {
		List<List<string>> addressFormat = Dynamicweb.Ecommerce.International.Country.GetDisplayAddress(GetString("Ecom:Order.Customer.Country.Code"));

		var result = new StringBuilder();

		foreach (List<string> addressLine in addressFormat)
		{
			for (var i = 0; i < addressLine.Count; i++)
			{
				addressLine[i] = Regex.Replace(addressLine[i], "{name}", GetString("Ecom:Order.Customer.Name"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{firstName}", GetString("Ecom:Order.Customer.FirstName"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{lastName}", GetString("Ecom:Order.Customer.Surname"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{company}", GetString("Ecom:Order.Customer.Company"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{address}", GetString("Ecom:Order.Customer.Address"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{address1}", GetString("Ecom:Order.Customer.Address"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{address2}", GetString("Ecom:Order.Customer.Address2"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{zip}", GetString("Ecom:Order.Customer.Zip"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{city}", GetString("Ecom:Order.Customer.City"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{regionCode}", GetString("Ecom:Order.Customer.Region"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{region}", GetCustomerRegionName(), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{countryCode}", GetString("Ecom:Order.Customer.Country.Code"), RegexOptions.IgnoreCase);
				addressLine[i] = Regex.Replace(addressLine[i], "{country}", GetString("Ecom:Order.Customer.Country"), RegexOptions.IgnoreCase);
							
				// Remove any bad placeholders the user may have submitted
				addressLine[i] = Regex.Replace(addressLine[i], "{phone}", "", RegexOptions.IgnoreCase); 
				addressLine[i] = Regex.Replace(addressLine[i], "{email}", "", RegexOptions.IgnoreCase);
			}
			var completeLine = string.Join(string.Empty, addressLine.ToArray());
			if (!string.IsNullOrWhiteSpace(completeLine))
			{
				result.Append($"<span>{completeLine}</span>");

				if (addressLine != addressFormat.Last())
				{
					result.Append(" ");
				}
			}
		}

		return result.ToString();
	}

	public string GetCustomerRegionName()
	{
		foreach (LoopItem region in GetLoop("CustomerRegions"))
		{
			if (region.GetBoolean("Ecom:CustomerRegion.IsCustomerRegion"))
			{
				return region.GetString("Ecom:CustomerRegion.Name");
			}
		}

		return GetString("Ecom:Order.Customer.Region");
	}

}
