<footer id="page-footer">
    <section style="background-color: #c7c7c7;" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="text-uppercase text-lg text-dark mb-3">Rapido</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" title="facebook"
                                class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" title="instagram"
                                class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" title="pinterest"
                                class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i
                                    class="fab fa-vimeo"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Pages</h6>
                    <ul class="list-unstyled">
                        <li><a href="/pages/hero-test/" class="text-muted">Hero test</a></li>
                        <li><a href="/pages/image-test/" class="text-muted">Image test</a></li>
                        <li><a href="/pages/info-column-test/" class="text-muted">Info column test</a></li>
                        <li><a href="/pages/frontpage-test/" class="text-muted">Frontpage test</a></li>
                        <li><a href="#" class="text-muted">Shop</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="/pages/user/" class="text-muted">Login </a></li>
                        <li><a href="#" class="text-muted">Register</a></li>
                        <li><a href="#" class="text-muted">Wishlist</a></li>
                        <li><a href="/pages/products/" class="text-muted">Our Products</a></li>
                        <li><a href="/pages/checkout/" class="text-muted">Checkout</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6 class="text-uppercase text-dark mb-3">Sign up</h6>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque
                        temporibus.
                    </p>
                    <form action="#" id="newsletter-form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Email"
                                aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-secondary" type="submit" id="button-addon2">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="text-light">© 2020 RAPIDO. All rights reserved.</span>
                </div>
            </div>
        </div>
    </section>
</footer>