<header id="page-header">
    <div id="toolsmenu" class="container-fluid"></div>
    <div id="navigation1" class="container">
        <div class="row">
            <div class="col">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-reset fs-4 text-uppercase fw-bold lh-1 px-0" href="/"
                            style="letter-spacing: .2rem;">Rapido</a>
                    </li>
                </ul>
            </div>
            <div class="col align-items-center d-flex">
                <nav class="nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/pages/products/">Products</a>
                    <a class="nav-link" href="/pages/about/">About us</a>
                    <a class="nav-link" href="/pages/contact/">Contact</a>
                </nav>
            </div>
            <div class="col align-items-center d-flex justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/user/"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/checkout/"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation2" class="container-fluid"></div>

</header>