@helper RenderRmaAddCommentFields()
{
	bool hasAddComment = GetBoolean("Ecom:CustomerCenter.RMA.HasAddComment");
	bool hasRmaOrderLines = GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines");
	
	if (hasRmaOrderLines && hasAddComment)
	{
		<div class="p-3 js-comment">
			<div class="form-floating">
				<textarea class="form-control" id="RMAComment" rows="3" name="@(GetString("ParagraphID") + "RMAComment")" required></textarea>
				<label for="RMAComment" class="u-pull--left">@($"{Translate("Customer comment")} ({Translate("required")})")</label>
			</div>
		</div>

		<button class="btn btn-primary m-3" type="submit">@Translate("Add comment")</button>
	}
}
