@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@if (GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines") && GetBoolean("Ecom:CustomerCenter.RMA.HasAddComment"))
{
	<div class="p-3 js-comment">
		<div class="form-floating">
			<textarea class="form-control" id="RMAComment" rows="3" name="@(GetString("ParagraphID") + "RMAComment")" required></textarea>
			<label for="RMAComment" class="u-pull--left">@($"{Translate("Customer comment")} ({Translate("required")})")</label>
		</div>
	</div>

	<button class="btn btn-primary m-3" type="submit">@Translate("Add comment")</button>
}
