<!--@If(Global:Extranet.UserID==0)-->

<h3><!--@Translate(CustomerLogin, 'Customer login')--></h3>
		<div class="login-box-mode" data-login-box-mode="login">
			<!--@If(Global:Extranet.UserID==0)-->
			    <!--@If(Server:Request.username<defined> || Server:Request.password<defined>)-->
			    <div class="loginbox-login-failed alert alert-error"><!--@Translate(Invalid_username_or_password, "Invalid username or password")--></div>
			    <!--@EndIf-->
			<!--@EndIf-->

			<form class="form-horizontal" method="post" onsubmit="">
				<input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />				
				<div class="control-group">
					<input type="text" id="login-username" name="username" spellcheck="false" placeholder="<!--@Translate(Username, 'Username')-->" value="<!--@If(Server:Request.username<defined>)--><!--@Server:Request.username--><!--@EndIf-->"/>
				</div>
				<div class="control-group">
					<input type="password" id="login-password" name="password" placeholder="<!--@Translate(Password, 'Password')-->" value="<!--@If(Server:Request.password<defined>)--><!--@Server:Request.password--><!--@EndIf-->"/>
				</div>				
                <input type="submit" value="Login" />
			</form>
		</div>
<!--@Else-->

    <!--@Translate(LoggedInAs, 'Logged in as')--> <!--@DWextranet_AccessUserUserName-->
	<br />
	<br />
	
    <form method="post">
    	<!--@DwTemplateTags-->
        <!--@If Not Defined(Global:Extranet.SecondaryUser.ID)-->        
            <table border="0">			
		        <tr>			
                    <td><!--@Translate(SelectUserToImpersonate, 'Select user to impersonate')--></td>
				</tr>
				<tr>
                    <td>
                        <!--@LoopStart(DWExtranetSecondaryUsers)-->                    
                            <!--@HeaderStart--><select id="DWExtranetSecondaryUserSelector" name="DWExtranetSecondaryUserSelector"><!--@HeaderEnd-->
		                        <option value="<!--@UserID-->"><!--@UserName--></option>
                            <!--@FooterStart--></select><!--@FooterEnd-->                        
                        <!--@LoopEnd(DWExtranetSecondaryUsers)-->                                            
                    </td>
		        </tr>			
		        <tr>
			        <td colspan="2"><input type="submit" tabindex="3" value="    OK    "></td>
		        </tr>			
	        </table> 
        <!--@EndIf(Global:Extranet.SecondaryUser.ID)-->          
        <!--@If Defined(Global:Extranet.SecondaryUser.ID)-->            
            <h3><!--@Global:Extranet.SecondaryUser.UserName--> <!--@Translate(ImpersonatedBy, 'is impersonated by')--> <!--@DWextranet_AccessUserUserName-->.</h3>            
            <br />
			<input type="submit" name="DwExtranetRemoveSecondaryUser" id="DwExtranetRemoveSecondaryUser" value="Stop impersonation">
        <!--@EndIf(Global:Extranet.SecondaryUser.ID)-->  
        <br />
        <br />
		
		<a class="btn" href="/Admin/Public/ExtranetLogoff.aspx?ID=<!--@DwPageID-->"><!--@Translate(Logout, 'Logout')--></a>			
		
    </form>           
<!--@EndIf-->