@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(Pageview.Page.Parent).Item;
	var blockId = Model.ID;
	string blockType = "text_block";
	var block = Model.Item;
	var blockThemeId = block.GetRawValueString("Theme", null);
	var blockthemeParagraph = blockThemeId != null ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(blockThemeId)) : null;
	var blocktheme = blockthemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockthemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockthemeParagraph)?.Item : null;

	var emailTextColor = settings.GetColor("TextColor") != null ? settings.GetColor("TextColor").ToString() : "inherit";
	string backgroundColor = blocktheme != null ? "background-color: " + blocktheme.GetString("BackgroundColor") + ";" : string.Empty;
	string foregroundColor = blocktheme != null ? "color:" + blocktheme.GetString("ForegroundColor", "inherit") + ";" : "color:" + emailTextColor + ";";
	string borderColor = blocktheme != null ? "border-color: " + blocktheme.GetString("BorderColor", "transparent") + ";" : string.Empty;
	string borders = block.GetRawValueString("Borders", "none");
	string borderThicknes = block.GetRawValueString("BorderThicknes", "0") + "px;";
	string borderClass = string.Empty;

	switch (borders)
	{
		case "top":
			borderClass = "border-top:" + borderThicknes + "border-top-style:solid;";
			break;
		case "bottom":
			borderClass = "border-bottom:" + borderThicknes + "border-bottom-style:solid;";
			break;
		case "top-bottom":
			borderClass = "border-top:" + borderThicknes + "border-bottom:" + borderThicknes + "border-style:solid; border-left:0; border-right: 0;";
			break;
		case "all":
			borderClass = "border:" + borderThicknes + "border-style:solid;";
			break;
	}

	string padding = "padding:" + block.GetRawValueString("Padding", "0") + "px;";
	string align = block.GetRawValueString("Align", "left");
	string text = Model.Item.GetString("Text", string.Empty);
	string lineHeight = "line-height:" + block.GetRawValueString("LineHeight", "1.5") + ";";
}

<table id="@blockId" class="@blockType" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: inherit; width: 100%;">
	<tbody>
		<tr>
			<td style="mso-line-height-rule: exactly; mso-text-raise: 11px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align:@align; @(backgroundColor)@(foregroundColor)@(padding)@(borderClass)@(borderColor) @(lineHeight)" width="100%">
				@text	
			</td>
		</tr>
	</tbody>
</table>
