<div class="panel-body">
    <p>You can download exported products archive from following link</p>

    <a href="@GetValue("Ecom:ProductExport.ExportFilePath")" target="_blank">@GetValue("Ecom:ProductExport.ExportFileName")</a>
</div>