<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />
<script type="text/javascript">
    function payBySavedCard(ledgerEntryID, savedCardId) {
        if (confirm("Do you want to pay to ledger entry: " + ledgerEntryID + "?")) {
            location = '<!--@Ecom:CustomerCenter.LedgerEntries.BaseUrl-->' + "&LedgerEntryID=" + ledgerEntryID + "&SavedCardId=" + savedCardId;
        }
    }
</script>
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="100px" align="left" />
        <col align="left" />
        <col width="100px" align="right" />
        <col width="100px" />
        <col width="100px" />
        <col width="90px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td>Date
                <!--@Ecom:CustomerCenter.SortByDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDate.Asc-->
            </td>
            <td>Ledger entry ID
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td>Price
				<!--@Ecom:CustomerCenter.SortByPrice.Desc-->
                <!--@Ecom:CustomerCenter.SortByPrice.Asc-->
            </td>
			<td>
                Pay with saved cards
            </td>
            <td>
				<a href="<!--@Ecom:CustomerCenter.ExcelExport-->" title="Excel" style="float:right;">
					<img border="0" src="/Files/Templates/eCom/CustomerCenter/Images/ExcelIcon.gif" />
				</a>                
            </td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.LedgerEntries.EmptyList)-->
		<tr id="trNoOrdersFound"> 
		    <td colspan="5"><strong>No ledger entries found</strong></td>
        </tr>
		<!--@EndIf(Ecom:CustomerCenter.LedgerEntries.EmptyList)-->
		
		<!--@If Not Defined(Ecom:CustomerCenter.LedgerEntries.EmptyList)-->
		
        <!--@LoopStart(LedgerEntries)-->
		<tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
		    <td><a href="<!--@Ecom:CustomerCenter.LedgerEntries.DetailsURL-->"><!--@Ecom:Order.Date-->&nbsp;</a></td>
		    <td><a href="<!--@Ecom:CustomerCenter.LedgerEntries.DetailsURL-->"><!--@Ecom:Order.ID-->&nbsp;</a></td>
		    <td><!--@Ecom:Order.OrderLines.Total.Price-->&nbsp;</td>
			<td style="width:30%">
                <!--@If(Ecom:Order.Completed = "" && Ecom:Order.IsPayable = "True")-->
                    <select name="EcomCartSavedCardID" id="EcomCartSavedCardID_<!--@Ecom:Order.ID-->">
                        <!--@LoopStart(SavedCards)-->
                        <!--@If Defined(Ecom:SavedCard.IsSelected)-->
                        <option value="<!--@Ecom:SavedCard.ID-->" selected="selected">
                            <!--@Ecom:SavedCard.Name-->
                        </option>
                        <!--@EndIf(Ecom:SavedCard.IsSelected)-->
                        <!--@If Not Defined(Ecom:SavedCard.IsSelected)-->
                        <option value="<!--@Ecom:SavedCard.ID-->">
                            <!--@Ecom:SavedCard.Name-->
                        </option>
                        <!--@EndIf(Ecom:SavedCard.IsSelected)-->
						<!--@LoopEnd(SavedCards)-->
                    </select>
                    <button onclick="payBySavedCard('<!--@Ecom:Order.ID-->', this.previousElementSibling.value);">Pay</button>
                <!--@Else-->
                <!--@Ecom:Order.Completed.GeneralDate-->
                <!--@EndIf-->                
			</td>
            <td style="float: right;padding-right: 30px;">
                <!--@If(Ecom:Order.Completed = "" && Ecom:Order.IsPayable = "True")-->
                <a href="<!--@Ecom:CustomerCenter.LedgerEntries.AddToCart-->"><img alt="" id="ResendOrderImage" src="/Files/Templates/eCom/CustomerCenter/Images/ReCycle.gif" title="Add to cart" style="border:0;" /></a>&nbsp;
                <!--@EndIf-->
                <a target="_blank" href="<!--@Ecom:CustomerCenter.LedgerEntries.PrintURL-->"><img src="/Files/Templates/eCom/CustomerCenter/Images/Print.gif" alt="Print" width="16" height="16" style="border:0;" /></a>&nbsp;
                <a href="<!--@Ecom:CustomerCenter.LedgerEntries.MailOrderURL-->"><img src="/Files/Templates/eCom/CustomerCenter/Images/email.gif" alt="Email" width="16" height="16" style="border:0;" /></a>
            </td>
        </tr>
        <!--@LoopEnd(LedgerEntries)-->
        
        <!--@If Defined(Ecom:CustomerCenter.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
		        <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->

	            <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
	            &nbsp;&nbsp;
	            <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
	            <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
	            <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
				&nbsp;&nbsp;
				<!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
				
	            <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
	            <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
	            <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
			<td align="center" colspan="6">
				Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
			</td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.Paging.Show)--> 
        
        <!--@EndIf(Ecom:CustomerCenter.LedgerEntries.EmptyList)-->
    </tbody>
</table>
<!--@If Defined(Ecom:CustomerCenter.ErrorMessage)-->
<div class="error">
    <!--@Ecom:CustomerCenter.ErrorMessage-->
</div>
<!--@EndIf(Ecom:CustomerCenter.ErrorMessage)--> 
<!--@If Defined(Ecom:CustomerCenter.LedgerEntries.HasBeenResent)-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        alert("<!--@Ecom:CustomerCenter.LedgerEntries.HasBeenResent.Message-->");
    });
</script>
<!--@EndIf(Ecom:CustomerCenter.LedgerEntries.HasBeenResent)-->
