<!--@Ecom:CustomerCenter.Menu-->
<br />
<!--@If(Ecom:CustomerCenter.ProductList.Mode<contains>'edit' || Ecom:CustomerCenter.ProductList.Mode<contains>'create')-->
    <!--@If(Ecom:CustomerCenter.ProductList.Mode<contains>'create')-->
        <form id="<!--@ParagraphID-->AddListForm" name="<!--@ParagraphID-->AddListForm" action="<!--@Ecom:CustomerCenter.List.CreateList-->" method="post">
      <!--@EndIf-->

      <!--@If(Ecom:CustomerCenter.ProductList.Mode<contains>'edit')-->
        <form id="<!--@ParagraphID-->EditListForm" name="<!--@ParagraphID-->EditListForm" action="<!--@Ecom:CustomerCenter.List.EditList-->" method="post">
      <!--@EndIf-->
            <table cellpadding="0" cellspacing="0" border="0" style="margin-left: 10px;">
              <tr>
                  <td width="100" style="height: 19px">
                      List name
                  </td>
                  <td width="220" style="height: 19px">
                      <!--@Ecom:CustomerCenter.List.Name.Input-->
                  </td>
              </tr>
              <tr>
                  <td width="100" style="height: 19px">
                      List description
                  </td>
                  <td width="220" style="height: 19px">
                      <!--@Ecom:CustomerCenter.List.Description.Input-->
                  </td>
              </tr>
              <tr>
                  <td width="100" style="height: 19px">
                      List type
                  </td>
                  <td width="220" style="height: 19px">
                      <!--@Ecom:CustomerCenter.List.Type.Input-->
                  </td>
              </tr>
              <tr>
                <td width="100" style="height: 19px">
                    Published to date
                </td>
                <td width="220" style="height: 19px">
                  <select name="CC_PublishedToDay">
                    <!--@Ecom:CustomerCenter.List.PublishToDate.Days-->
                  </select>
                  &nbsp;
                  <select name="CC_PublishedToMonth">
                    <!--@Ecom:CustomerCenter.List.PublishToDate.MonthNames-->
                  </select>
                  &nbsp;
                  <select name="CC_PublishedToYear">
                    <!--@Ecom:CustomerCenter.List.PublishToDate.Years-->
                  </select>
                </td>
              </tr>
               <tr>
                  <td width="100" style="height: 19px">
                      Is list published ?
                  </td>
                  <td width="220" style="height: 19px">
                      <!--@Ecom:CustomerCenter.List.IsPublished.Input-->
                  </td>
              </tr>
               <tr>
                  <td width="100" style="height: 19px">
                      Is list default ?
                  </td>
                  <td width="220" style="height: 19px">
                      <!--@Ecom:CustomerCenter.List.IsDefault.Input-->
                  </td>
              </tr>
               <tr>
                  <td colspan="2" align="right">
                    <!--@If(Ecom:CustomerCenter.ProductList.Mode<contains>"create")-->
                      <input id="Submit1" type="submit" value="Create list" />
                    <!--@EndIf-->
                    <!--@If(Ecom:CustomerCenter.ProductList.Mode<contains>"edit")-->
                      <input id="Submit1" type="submit" value="Update list" />
                    <!--@EndIf-->
                  </td>
              </tr>
            </table>
        </form>
<!--@EndIf-->

<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <tr align="right">
      <td>
        <a href="<!--@Ecom:CustomerCenter.List.AddURL-->">Add new list</a>&nbsp;&nbsp;
      </td>
    </tr>
</table>
 
<!--@LoopStart(Lists)-->
<table>
    <tr><td><h3><!--@Ecom:CustomerCenter.List.Name--></h3></td></tr>
    <!--@If Defined(Ecom:CustomerCenter.List.IsPublished)-->
    <tr><td>This list is published</td></tr>
    <tr>
        <td>
            <a href="<!--@Ecom:CustomerCenter.List.Unpublish-->">Unpublish</a>&nbsp;&nbsp;
            <a href="<!--@Ecom:CustomerCenter.List.EditURL-->">Edit list</a>
        </td>
    </tr>
    <!--@EndIf(Ecom:CustomerCenter.List.IsPublished)-->
    <!--@If Not Defined(Ecom:CustomerCenter.List.IsPublished)-->
    <!--@If Not Defined(Ecom:CustomerCenter.List.IsShared)-->
    <tr><td>Your list is private. If you publish your list you are able to send the list to family and friends.</td></tr>
    <tr>
        <td>
            <a href="<!--@Ecom:CustomerCenter.List.Publish-->">Publish</a>&nbsp;&nbsp;
            <a href="<!--@Ecom:CustomerCenter.List.EditURL-->">Edit list</a>
        </td>
    </tr>
    <!--@EndIf(Ecom:CustomerCenter.List.IsShared)-->
    <!--@EndIf(Ecom:CustomerCenter.List.IsPublished)-->
</table>
<br/>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" style="table-layout: fixed; border: none; border: 1px solid #92a4cd">
    <colgroup>
    <col width="220px">
    <col width="80px"/>
    <col width="80px"/>
    <col width="100px"/>
    </colgroup>	
    <tr style="background-color: #eaf0ff;">
    <th style="border-bottom: 1px solid #92a4cd"></th>
    <th align="left" style="border-bottom: 1px solid #92a4cd;">Quantity</th>
    <th align="left" style="border-bottom: 1px solid #92a4cd">Price</th>
    <th align="left" style="border-bottom: 1px solid #92a4cd">Add/Remove</th>
    </tr>	
    <!--@LoopStart(Ecom:CustomerCenter.List.ProductsList)-->
    <!--@EmptyLoopStart-->
    <tr><td colspan="4">No products in the list...</td></tr>
    <!--@EmptyLoopEnd-->
    <!--@HeaderStart-->
    <!--@HeaderEnd-->
    <tr>
        <td  align="center" valign="top">
            <div style="width:100px;float:left;">
                <!--@Ecom:Product.ImageSmall.Default-->
            </div>
            <div style="width:180px;float:left;">
                <div style="width:180px;text-align:left;">
                    <h4><a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.Name--></a></h4>
                </div>
                <!--@Ecom:Product.ShortDescription-->
            </div>
        </td>
        <td valign="top">
            <!--@Ecom:CustomerCenter.List.Product.Quantity-->&nbsp;
            <!--@If Not Defined(Ecom:CustomerCenter.List.IsShared)-->
            <a class="orderfunctions" href="<!--@Ecom:CustomerCenter.List.Product.Quantity.IncrementLink-->"><img src="/Files/Templates/eCom7/CartV2/Step/basket-inc.gif" border="0"></a>&nbsp;
            <a class="orderfunctions" href="<!--@Ecom:CustomerCenter.List.Product.Quantity.DecrementLink-->"><img src="/Files/Templates/eCom7/CartV2/Step/basket-dec.gif" border="0"></a>
            <!--@EndIf(Ecom:CustomerCenter.List.IsShared)-->
        </td>
    <td valign="top"><!--@Ecom:Product.Price--></td>
    <td valign="top">
        <!--@Ecom:Product.Form-->
        <a href="javascript: void(0);" onclick="javascript:document.getElementById('<!--@Ecom:Product.ID-->').submit();">Add to cart</a>
        <!--@If Not Defined(Ecom:CustomerCenter.List.IsShared)-->
        <br /><a href="<!--@Ecom:Product.RemoveFromList-->">Remove from list</a>
        <!--@EndIf(Ecom:CustomerCenter.List.IsShared)-->
    </td>
    </tr>
    <!--@FooterStart-->
    <!--@FooterEnd-->
<!--@LoopEnd(Ecom:CustomerCenter.List.ProductsList)-->
<!--@If Defined(Ecom:CustomerCenter.Paging.Show)-->
<tr>
    <td align="center" colspan="4" valign="top">
        <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
		<a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
	    <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->

	    <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
	    &nbsp;&nbsp;
	    <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
	    <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
	    <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
		&nbsp;&nbsp;
		<!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
				
	    <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
	    <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
	    <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
    </td>
</tr>
<tr>
	<td align="center" colspan="4">
		Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
	</td>
</tr>
<!--@EndIf(Ecom:CustomerCenter.Paging.Show)--> 
</table>
</br>
<!--@If Defined(Ecom:CustomerCenter.List.IsPublished)-->
    <form id="<!--@ParagraphID-->SendPageForm" name="<!--@ParagraphID-->SendPageForm" action="<!--@Ecom:CustomerCenter.List.SendListURL-->" method="post">
        <table cellpadding="0" cellspacing="0" border="0" style="margin-left: 5px;">
            <tr>
                <td colspan="2" width="380" >
                    <span style="font-weight:bold;">Send list as e-mail:</span></br>
                    Fill these fields in order to send the list as e-mail to your family and friends. Split emails by comma
                </td>
            </tr>
            <tr>
                <td>
                    Send to: 
                </td>
                <td >
                    <!--@Ecom:CustomerCenter.List.SendPage.SendTo.Input-->
                </td>
            </tr>
            <tr>
                <td>
                    Subject:
                </td>
                <td>
                    <!--@Ecom:CustomerCenter.List.SendPage.Subject.Input-->
                </td>
            </tr>
            <tr>
                <td>
                    Sender name:
                </td>
                <td>
                    <!--@Ecom:CustomerCenter.List.SendPage.SenderName.Input-->
                </td>
            </tr>
            <tr>
            <td>
                Sender email:
            </td>
            <td>
                <!--@Ecom:CustomerCenter.List.SendPage.SenderEmail.Input-->
            </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input id="Submit1" type="submit" value="Send list" />
                </td>
            </tr>
        </table>
    </form>
    <!--@EndIf(Ecom:CustomerCenter.List.IsPublished)-->
<!--@LoopEnd(Lists)-->