<p> Hello,</p> 
<p>
    <h3><!--@Ecom:Product.List.Name--></h3>
</p>
<br />

  <!--@LoopStart(CustomerCenter.List)-->
	<!--@HeaderStart-->
	<table cellpadding="4" cellspacing="0" border="0" width="100%" style="table-layout: fixed; border: none; border: 1px solid #92a4cd">
	<colgroup>
		<col />
		<col width="80px" align="right" />
		<col width="120px" align="right" />
	</colgroup>	
		<tr style="background-color: #eaf0ff;">
		<th style="border-bottom: 1px solid #92a4cd">Product</th>
		<th style="border-bottom: 1px solid #92a4cd">Wanted Quantity</th>
		<th style="border-bottom: 1px solid #92a4cd">Price</th>
	</tr>	
	<!--@HeaderEnd-->
	<tr>
		<td><!--@Ecom:Product.Name--></td>
		<td style="text-align: center"><!--@Ecom:CustomerCenter.List.Product.Quantity--></td>
		<td style="text-align: center"><!--@Ecom:Product.Price--></td>
		</tr>
	<!--@FooterStart-->
	</table>
	<!--@FooterEnd-->
<!--@LoopEnd(CustomerCenter.List)--></br>
<p> See and buy products from the list <a href="<!--@Ecom:CustomerCenter.List.PublicURL-->">HERE.</a></p>

