<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/Navigation.css" />
<div class="CustomerCenterMenu">
    <!--@Ecom:CustomerCenter.MyCarts-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.MyOrders-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.RecurringOrders-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.MyQuotes-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.FrequentlyItems-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.MyLists-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.Search-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.RMA-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.SavedCards-->&nbsp;|&nbsp;
    <!--@Ecom:CustomerCenter.LoyaltyPoints-->
</div>