<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />

<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="100px" align="right" />
        <col width="80px" align="right" />
        <col width="100px" align="right" />
        <col width="80px" align="right" />
        <col width="100px" align="right" />
        <col width="100px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">
                <!--@Translate(name, "Name")-->
                <!--@Ecom:CustomerCenter.SortByName.Desc-->
                <!--@Ecom:CustomerCenter.SortByName.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(IsDefault, "Default")-->
                <!--@Ecom:CustomerCenter.SortByIsDefault.Desc-->
                <!--@Ecom:CustomerCenter.SortByIsDefault.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(cardtype, "Card type")-->
                <!--@Ecom:CustomerCenter.SortByCardType.Desc-->
                <!--@Ecom:CustomerCenter.SortByCardType.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(identifier, "Card number")-->
                <!--@Ecom:CustomerCenter.SortByIdentifier.Desc-->
                <!--@Ecom:CustomerCenter.SortByIdentifier.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(payment, "Payment method")-->
                <!--@Ecom:CustomerCenter.SortByPayment.Desc-->
                <!--@Ecom:CustomerCenter.SortByPayment.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(messages, "Messages")-->
                <!--@Ecom:CustomerCenter.SortByMessages.Desc-->
                <!--@Ecom:CustomerCenter.SortByMessages.Asc-->
            </td>
            <td style="background-color: Gray;"></td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.SavedCards.EmptyList)-->
        <tr id="trNoOrdersFound">
            <td colspan="6"><strong><!--@Translate(nosavedcards, "No saved cards found")--></strong></td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.SavedCards.EmptyList)-->
        <!--@If Not Defined(Ecom:CustomerCenter.SavedCards.EmptyList)-->
        <!--@LoopStart(SavedCards)-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><!--@Ecom:SavedCard.Name-->&nbsp;</td>
            <td>
                <a href="<!--@Ecom:CustomerCenter.SavedCards.ToggleDefaultUrl-->" title="Change default token">
                    <!--@If Defined(Ecom:SavedCard.IsDefault)-->
                    Yes
                    <!--@Else-->
                    No
                    <!--@EndIf-->
                </a>
            </td>
            <td><!--@Ecom:SavedCard.CardType-->&nbsp;</td>
            <td><!--@Ecom:SavedCard.Identifier-->&nbsp;</td>
            <td><!--@Ecom:SavedCard.Payment-->&nbsp;</td>
            <td>
                <a href="<!--@Ecom:CustomerCenter.SavedCards.MessagesUrl-->" title="View messages for saved card"><!--@Translate(messages, "Messages")--></a>
            </td>
            <td>
                <a href="<!--@Ecom:CustomerCenter.SavedCards.DeleteUrl-->" title="Delete saved card" onclick="return confirm('Are you sure to delete saved card?');"><!--@Translate(delete, "Delete")--></a>
            </td>
        </tr>
        <!--@LoopEnd(SavedCards)-->
        <!--@If Defined(Ecom:CustomerCenter.SavedCards.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="6">
                Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.SavedCards.Paging.Show)-->
        <!--@EndIf(Ecom:CustomerCenter.SavedCards.EmptyList)-->
    </tbody>
</table>
