@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Pageview.IsVisualEditorMode) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("Product catalog App: Edit this column to configure. (Product catalog app must be attached this paragraph)")</span>
    </div>
}

<div class="item_@Model.Item.SystemName.ToLower()">
	@Model.GetModuleOutput()
</div>



