@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	bool hideTitle = Model.Item?.GetBoolean("HideTitle") ?? false;
	string address = !string.IsNullOrEmpty(Model.Item.GetString("Address")) ? Dynamicweb.Context.Current.Server.UrlEncode(Model.Item.GetString("Address")) : "";
	string companyName = !string.IsNullOrEmpty(Model.Item.GetString("CompanyName")) ? Dynamicweb.Context.Current.Server.UrlEncode(Model.Item.GetString("CompanyName")) : "";
	string title = Model.Item.GetString("Title", string.Empty);
	string headingLevel = Model.Item.GetString("HeadingLevel", "h2");
	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h3");
	string headingLevelStart = $"<{headingLevel} class=\"{titleFontSize} mb-3\">";
	string headingLevelStop = $"</{headingLevel}>";
}

@if (!string.IsNullOrEmpty(address)) {
	<div class="h-100 w-100 item_@Model.Item.SystemName.ToLower()">
		@if(!string.IsNullOrWhiteSpace(title) && !hideTitle)
		{
			@headingLevelStart
				@title
			@headingLevelStop
		}

		<iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=@(address)+@(companyName)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
}
