@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>


@{
	string title = Model.Item.GetString("Title");
	var accordionItems = Model.Item?.GetItems("Accordion_Items") ?? Enumerable.Empty<Dynamicweb.Frontend.ItemViewModel>().ToList();
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="accordion@(theme)" id="accordion-@Pageview.CurrentParagraph.ID">
	@RenderTitle()
	@foreach (var item in accordionItems)
	{
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-@Pageview.CurrentParagraph.ID-@item.Id">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Pageview.CurrentParagraph.ID-@item.Id" aria-expanded="false" aria-controls="collapse-@Pageview.CurrentParagraph.ID-@item.Id">
					@item.GetString("Title")
				</button>
			</h2>
			<div id="collapse-@Pageview.CurrentParagraph.ID-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@Pageview.CurrentParagraph.ID-@item.Id" data-bs-parent="#accordion-@Pageview.CurrentParagraph.ID">
				<div class="accordion-body mb-0-last-child@(theme)">
					@item.GetRawValueString("Content")
				</div>
			</div>
		</div>
	}
</div>

@helper RenderTitle()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
	{
		string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h2");

		<h2 class="@titleFontSize m-0 py-3">
			@Model.Item.GetString("Title")
		</h2>
	}
}
