@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Environment

@{ 
	string contentPadding = Model.Item.GetRawValueString("contentPadding", "");
	contentPadding = contentPadding == "none" ? "px-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	string moduleOutput = Model.GetModuleOutput();
}

@if (Pageview.IsVisualEditorMode && !string.IsNullOrEmpty(moduleOutput)) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("App: Edit this column to configure")</span>
    </div>
}

<div class="item_@Model.Item.SystemName.ToLower()">
	@moduleOutput
</div>
