@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{ 
    //Put the details page link up in context items
    if (Dynamicweb.Context.Current.Items.Contains("DetailsPageLink"))
    {
        Dynamicweb.Context.Current.Items["DetailsPageLink"] = Model.Item.GetString("DetailsView");
    } 
    else 
    {
        Dynamicweb.Context.Current.Items.Add("DetailsPageLink", Model.Item.GetString("DetailsView"));
    }
}

@if (Pageview.IsVisualEditorMode) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("Product catalog App: Edit this column to configure. (Product catalog app must be attached this paragraph)")</span>
    </div>
}

<div class="item_@Model.Item.SystemName.ToLower()">
    @Model.GetModuleOutput()
</div>
