@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend.Navigation
@using System.IO


@{ 
	string paragraphId = Model.ID.ToString();

	var mobileNavigationSettings = new NavigationSettings();
	mobileNavigationSettings.StartLevel = 1;
	mobileNavigationSettings.StopLevel = 10;
	mobileNavigationSettings.ExpandMode = ExpandMode.All;
	mobileNavigationSettings.Parameters.Add("NavType", "first-nav");

	if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot"))) {
		string root = Model.Item.GetString("NavigationRoot");

		if (root.Contains("=")) {
			int rootPageId = Convert.ToInt32(root.Substring(root.LastIndexOf('=') + 1));
			mobileNavigationSettings.RootPageId = rootPageId;
		}
		mobileNavigationSettings.StartLevel = 2;
	} else {
		mobileNavigationSettings.StartLevel = 1;
	}
}

@if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot"))) {
	<div>
		@Navigation.RenderNavigation("Navigation/OffCanvasNavigation.cshtml", mobileNavigationSettings)
	</div>
}
