@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Environment

@{ 
	bool isVisualEditor = Dynamicweb.Context.Current.Request.GetBoolean("VisualEdit");
	string moduleOutput = Model.GetModuleOutput();
}

@if (isVisualEditor && !string.IsNullOrEmpty(moduleOutput)) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("App: Edit this column to configure")</span>
    </div>
}

<div>
	@moduleOutput
</div>


