@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Environment;

@{
	var categories = CookieManager.GetCategories();

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (categories.Any())
{
	<div class="h-100 position-relative d-flex flex-column @(contentPadding) @(theme) item_@Model.Item.SystemName.ToLower()">
		@{ 
			if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
			{
				string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h3");

				<h2 class="@titleFontSize mb-md-3">@Model.Item.GetString("Title")</h2>
			}

			foreach (var category in categories)
			{				
				<div>
					<h3 class="h5">@category</h3>
					<ul>
						@foreach (var cookieName in CookieManager.GetCategoryCookies(category))
						{	
							<li>
								@cookieName
							</li>
						}
					</ul>
				</div>
			}
		}
	</div>
}

