@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.Globalization
@using System.Drawing
@using Dynamicweb.Frontend


@functions{

	private string GetFontName()
		{
		var fontName = Model.Item.GetString("Name");
		return fontName;
		}

	private string GetFontFamilyName()
		{
		var fontFamilyName = Model.Item.GetString("FontFamilyName");
		return fontFamilyName;
		}

	private string GetFontWeight()
		{
		var fontWeight = Model.Item.GetString("FontWeight");
		return fontWeight;
		}

	private FileViewModel GetFontFile()
		{
		var file = Model.Item.GetFile("File");
		return file;
		}

	private string CreateFontFace(FileViewModel font, string name, string weight)
		{
		var fontFaceSb = new System.Text.StringBuilder();
		var fontFormat = font.Extension == ".ttf" ? "truetype" : font.Extension.Replace(".", string.Empty);

		fontFaceSb.AppendLine("@font-face {");
		fontFaceSb.AppendLine($"font-family: '{name}';");
		fontFaceSb.AppendLine("font-style: normal;");
		fontFaceSb.AppendLine($"font-weight: {weight};");
		fontFaceSb.AppendLine("font-display: swap;");
		fontFaceSb.AppendLine($"src: url({font.Path}) format('{fontFormat}');");
		fontFaceSb.AppendLine("}");
		return fontFaceSb.ToString();
		}
}

@{

	if (!string.IsNullOrEmpty(GetFontName()))
	{
		var sb = new System.Text.StringBuilder();

		sb.AppendLine(CreateFontFace(GetFontFile(), GetFontFamilyName(), GetFontWeight()));

		Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(sb.ToString() + Environment.NewLine, Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_font_styles_{Dynamicweb.Services.Pages.GetPage(Model.PageID).AreaId}.tmp"), true);
	}
}



@if (!string.IsNullOrEmpty(GetFontName()))
{
	<div class="g-col-12">
		<div class="font-wrapper" style="--font-family:'@(GetFontFamilyName())';--font-weight:@(GetFontWeight());">
			<div class="mb-3">@GetFontFamilyName() (@GetFontWeight())</div>
			<h1>The quick brown fox jumps over the lazy dog</h1>
			<h2>The quick brown fox jumps over the lazy dog</h2>
			<h3>The quick brown fox jumps over the lazy dog</h3>
			<h4>The quick brown fox jumps over the lazy dog</h4>
			<h5>The quick brown fox jumps over the lazy dog</h5>
			<h6>The quick brown fox jumps over the lazy dog</h6>
		</div>
	</div>
}
<div class="g-col-12">
	<hr />
</div>
