@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
<div>

@RenderItemList(new
{
	ItemType = "Swift_Article",
	ListTemplate = "ItemPublisher/List/List.cshtml",
	ItemFieldsList = "*",
	ListSourceType = "Page",
	ListSourcePage = @Model.PageID.ToString(),
	IncludeAllChildItems = true,
	ListPageSize = "10"
})
</div>
