@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend.Navigation
@using System.Web

@{ 
    string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
    string groupTheme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("GroupTheme")) ? " theme " + Model.Item.GetRawValueString("GroupTheme").Replace(" ", "").Trim().ToLower() : "";
    string ratio = Model.Item.GetRawValueString("ImageAspectRatio", "");

    var navigationSettings = new NavigationSettings();
    navigationSettings.StartLevel = 2;
    navigationSettings.StopLevel = 10;
    navigationSettings.ExpandMode = ExpandMode.All;

    navigationSettings.Parameters.Add("theme", theme);
    navigationSettings.Parameters.Add("groupTheme", groupTheme);
    navigationSettings.Parameters.Add("ratio", ratio);

    string navigationContent = Navigation.RenderNavigation("Navigation/ProductGroupNavigation.cshtml", navigationSettings);
}

@if (!string.IsNullOrWhiteSpace(navigationContent)) {
    @navigationContent
} else if (Pageview.IsVisualEditorMode) {
    <div class="alert alert-dark m-0" role="alert">
        <span><i class="fas fa-info-circle mr-3"></i></span> <span>@Translate("Group navigation: The navigation will be shown here, if any")</span>
    </div>
}
