@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{ 
    bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
	string contentPadding = Model.Item?.GetRawValueString("contentPadding", "");
	string moduleOutput = Model.GetModuleOutput();
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (isVisualEditor && !string.IsNullOrEmpty(moduleOutput)) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("App: Edit this column to configure")</span>
    </div>
}
@if ((!string.IsNullOrEmpty(contentPadding) && contentPadding != "none") || !string.IsNullOrEmpty(theme)) {
	<div class="@(contentPadding)@(theme) h-100">
		@moduleOutput
	</div>
} else {
	@moduleOutput
}


