@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites

@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
	int listItemSourcePageId = Model.Item.GetLink("ComponentSource")?.PageId != null ? Model.Item.GetLink("ComponentSource").PageId : 0;
}

@if (listItemSourcePageId != 0) {
	<div class="item_@Model.Item.SystemName.ToLower()">
		@RenderGrid(listItemSourcePageId)
	</div>
}
