@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

<div class="grid position-relative">
	<div class="g-col-12 g-col-lg-4">
		<h1>Store Locator</h1>
		<div class="list-group">
			<button type="button" class="list-group-item list-group-item-action active" aria-current="true">The current button</button>
			<button type="button" class="list-group-item list-group-item-action">A second item</button>
			<button type="button" class="list-group-item list-group-item-action">A third button item</button>
			<button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
		</div>
	</div>

	<div class="g-col-12 g-col-lg-8">
		<div id="storelocator"></div>
		<div id="storelocator__info"></div>
	</div>
</div>

<style>
	#storelocator {
		background-color: #eee;
		height: 750px;
		width: 100%;
	}

	#storelocator__info {
		background-color: #fff;
		clip-path: polygon(
			0% 0%, 
			100% 0%, 
			100% 75%, 
			75% 75%, 
			75% 100%, 
			50% 75%, 
			0% 75%
		);
		left: 50%;
		opacity: 0;
		padding: 1rem 1rem 2rem;
		position: absolute;
		top: 50%;
		transform: translateX(50%) translateY(-50%);
		transition: opacity 0.2s ease-in-out;
		z-index: 1;
	}

	#storelocator__info.show {
		opacity: 1;
	}
</style>

<script>
	function initMap() {

		// Set initial map center
		var myMapCenter = {
			lat: 56.1394749, 
			lng: 10.1682465
		};

		// Create the map
		var map = new google.maps.Map(document.getElementById('storelocator'), {
			center: myMapCenter,
			zoom: 14
		});

		// Store locations
		var stores = [
			{
				name: 'Gensam Data',
				location: {
					lat: 56.13902654161855, 
					lng: 10.171100386851705
				},
				hours: '8AM to 10PM'
			},
			{
				name: 'Livedition ApS',
				location: {
					lat: 56.13837494622596, 
					lng: 10.170821437113604
				},
				hours: '9AM to 9PM'
			}
		];

		// Create a marker and set its position.
		function markStore(storeInfo){

			var marker = new google.maps.Marker({
				map: map,
				position: storeInfo.location,
				title: storeInfo.name
			});

			// show store info when marker is clicked
			marker.addListener('click', function(){
				showStoreInfo(storeInfo);
			});
		}

		// show store info in text box
		function showStoreInfo(storeInfo){
			var info = document.getElementById('storelocator__info');
			// TODO: Center map to current
			info.classList.add("show");
			info.innerHTML = 'Store name: '
				+ storeInfo.name
				+ '<br>Hours: ' + storeInfo.hours;
		}

		// Markup map
		stores.forEach(function(store){
			markStore(store);
		});
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH_d7_t8XMaa-Cu1_kO8j_SnIG7krlFgc&libraries=places&callback=initMap"></script>
