<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamicweb" version="9.10.27" targetFramework="net472" />
  <package id="Dynamicweb.Core" version="3.1.0" targetFramework="net472" />
  <package id="Dynamicweb.Ecommerce" version="1.10.85" targetFramework="net472" />
  <package id="Dynamicweb.Environment" version="4.0.4" targetFramework="net472" />
  <package id="Dynamicweb.Extensibility" version="4.0.2" targetFramework="net472" />
  <package id="Dynamicweb.Rendering.Providers" version="1.0.2" targetFramework="net472" />
</packages>