.theme {
	background-color: var(--r4-background-color);
	color: var(--r4-foreground-color);
	border: 1px solid var(--r4-border-color);
	transition: all 0.1s ease-in;

	.svg-icon {
		fill: var(--r4-foreground-color);
	}

	.collapse-icon,
	.collapse-chevron-icon {
		background-color: var(--r4-foreground-color);
	}

	.minicart-counter {
		background-color: var(--r4-foreground-color);
		color: var(--r4-background-color);
	}

	.btn-primary {
		background-color: var(--r4-button-primary-background-color);
		color: var(--r4-button-primary-foreground-color);
		border-color: var(--r4-button-primary-background-color);

		svg {
			fill: var(--r4-button-primary-foreground-color);
		}

		&:hover {
			filter: brightness(1.4);
		}
	}

	.btn-secondary {
		background-color: var(--r4-button-secondary-background-color);
		color: var(--r4-button-secondary-foreground-color);
		border-color: var(--r4-button-secondary-background-color);

		svg {
			fill: var(--r4-button-secondary-foreground-color);
		}

		&:hover {
			filter: brightness(1.4);
		}
	}

	.btn-primary-outline {
		background-color: initial;
		color: var(--r4-button-primary-background-color);
		border-color: var(--r4-button-primary-background-color);

		&:hover {
			background-color: var(--r4-button-primary-background-color);
			color: var(--r4-button-primary-foreground-color);
			border-color: var(--r4-button-primary-background-color);
		}

		&.btn-check:focus {
			box-shadow: 0 0 6px 0 var(--r4-button-primary-background-color);
		}

		&.btn:focus {
			box-shadow: 0 0 6px 0 var(--r4-button-primary-background-color);
		}
	}

	.btn-secondary-outline {
		background-color: initial;
		color: var(--r4-button-secondary-background-color);
		border-color: var(--r4-button-secondary-background-color);

		&:hover {
			background-color: var(--r4-button-secondary-background-color);
			color: var(--r4-button-secondary-foreground-color);
			border-color: var(--r4-button-secondary-background-color);
		}

		&.btn-check:focus {
			box-shadow: 0 0 6px 0 var(--r4-button-secondary-background-color);
		}

		&.btn:focus {
			box-shadow: 0 0 6px 0 var(--r4-button-secondary-background-color);
		}
	}

	.nav-item {

		.nav-link {
			color: var(--r4-foreground-color);

			&.active {
				color: var(--r4-button-primary-background-color);
			}
		}
	}
}
