@using Dynamicweb.Rendering
@inherits RazorTemplateBase<RazorTemplateModel<Template>>

<div id="ErrorBlock" style="width: 100%; color: red;"></div>

<form id="paymentForm" method="POST" action="@GetString("AuthorizeNet.FormAction")">
    <input type="hidden" name="dataValue" id="dataValue" />
    <input type="hidden" name="dataDescriptor" id="dataDescriptor" />
    <button type="button"
            class="AcceptUI"
            data-billingAddressOptions='{"show":true, "required":false}'
            data-apiLoginID="@GetString("AuthorizeNet.ApiLoginId")"
            data-clientKey="@GetString("AuthorizeNet.PublicClientKey")"
            data-acceptUIFormBtnTxt="Pay"
            data-acceptUIFormHeaderTxt="Payment Information"
            data-paymentOptions='{"showCreditCard": true, "showBankAccount": false}'
            data-responseHandler="responseHandler">
        Pay
    </button>
</form>

<script type="text/javascript">
    function responseHandler(response) {
        SetErrorText("");
        if (response.messages.resultCode === "Error") {
            var i = 0;
            var message = "";
            while (i < response.messages.message.length) {
                message += response.messages.message[i].code + ": " + response.messages.message[i].text + "<br />";
                i = i + 1;
            }
            SetErrorText(message);
        } else {
            paymentFormUpdate(response.opaqueData);
        }
    }

    function SetErrorText(message) {
        document.getElementById("ErrorBlock").innerHTML = message;
    }

    function paymentFormUpdate(opaqueData) {
        document.getElementById("dataValue").value = opaqueData.dataValue;
        document.getElementById("dataDescriptor").value = opaqueData.dataDescriptor;
        document.getElementById("paymentForm").submit();
    }
</script>

<script type="text/javascript" src="@GetString("AuthorizeNet.JavaScriptUrl")" charset="utf-8"></script>