@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System
@using Dynamicweb.Ecommerce.ProductCatalog
@MasterPageFile("Swift_MasterNoLayout.cshtml")

@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
	string theme = "";
	string gridContent = "";

	if (Model.PropertyItem != null)
	{
		theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "theme light";
	}

	if (Model.Item != null)
	{
		gridContent = Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
	}

	<div class="p-5 position-fixed" style="z-index: 10; margin-top: -120px">
		<h3 class="h5">@Translate("Component builder for"): @Model.Item.GetString("Title")</h3>
	</div>

	<div class="bg-light position-absolute w-100" style="height: 120px; margin-top: -120px;"></div>

	<div class="bg-light w-100 h-100" style="margin-top: 120px">
		<div class="container-xl d-flex flex-row align-items-center justify-content-center h-100 min-vh-100">
			<div class="w-100 shadow @theme p-2">
				@gridContent
			</div>
		</div>
	</div>

	<div class="bg-light position-absolute w-100" style="height: 120px"></div>
}
