{
	"presets": [
		[
		"@babel/preset-env",
			{
				"targets": {
					"node": "current" //“regenerator-runtime/runtime” https://stackoverflow.com/questions/65800993/avoiding-the-import-regenerator-runtime-runtime - https://babeljs.io/docs/en/babel-preset-env
				}
			}
		]
	]
}
