root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Uses tabs for indentation
# Set prefered tab width in your editor
indent_style = tab
