@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Frontend
@using System.Globalization

<div class="fs-3 fw-bold">@(Model?.TotalOrdersCount ?? 0)</div>

@if(Model?.Orders?.Count > 0)
{
    <div class="fs-8 text-muted text-price">@((Model?.Orders?.Sum(o => o.Price.Price) ?? 0).ToString("C", Pageview?.Area?.CultureInfo ?? CultureInfo.CurrentCulture)) @Translate("total value")</div>
}