@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Frontend
@using System.Globalization

<div class="fs-3 fw-bold text-price">@((Model?.Orders?.Sum(o => o.Price.Price) ?? 0).ToString("C", Pageview?.Area?.CultureInfo ?? CultureInfo.CurrentCulture))</div>
