@helper RenderOrderSummaryContent() {
	<div class="d-lg-block h-lg-auto pt-2 pb-0 pt-md-0 collapse" id="orderSummary">
		<div class="d-flex flex-column gap-2 gap-lg-3 py-2 pt-md-0 pb-md-3">
			@foreach (LoopItem orderline in GetLoop("OrderLines")) {
				@RenderOrderSummaryOrderLineItem(orderline)
			}
		</div>
		
		@RenderOrderSummary()
	</div>
}

@Include("OrderSummaryOrderLineItem.cshtml")
@Include("OrderSummary.cshtml")
