@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderOrderComment()
{
	string comment = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Comment")) ? GetString("Ecom:Order.Customer.Comment") : "";
	bool disableComment = Pageview.CurrentParagraph.Item["DisableComments"] != null ? (Boolean)Pageview.CurrentParagraph.Item["DisableComments"] : true;

	if (!disableComment)
	{
		<div class="mt-4">
			<h3 class="fs-6 fw-normal">@Translate("Add a comment to the order")</h3>

			<div class="form-floating">
				<textarea class="form-control" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" style="min-height: 100px" placeholder="@Translate("Comments")">@comment</textarea>
				<label for="EcomOrderCustomerComment">@Translate("Comments")</label>
			</div>
		</div>
	}
}
