@helper RenderStepSummaryOrderReference()
{
	string orderReference = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.Reference")) ? GetString("Ecom:Order.Reference") : "",
	editStep = "CartV2.GotoStep2";

	if (!string.IsNullOrEmpty(orderReference))
	{
		<div class="list-group-item py-2 fs-7 bg-light">
			<dl class="grid gap-1 gap-sm-3 mb-0">
				<dt class="g-col-8 g-col-sm-4 fw-normal">@Translate("Order reference")</dt>
				<dd class="g-col-12 g-col-sm-7 order-2 order-sm-1 mb-0">@orderReference</dd>
				<dd class="g-col-4 g-col-sm-1 order-1 order-sm-2 mb-0 text-end">
					<button class="btn btn-small btn-link fs-8 p-0" type="submit" name="@editStep" id="EditorderReferenceButton">
						<span class="text-uppercase">@Translate("Edit")</span>
					</button>
				</dd>
			</dl>
		</div>
	}
}
