@helper RenderStepSummaryPaymentMethod() {
	string PaymentMethodID = GetString("Ecom:Order.ShippingMethodID");
	string paymentMethod = GetString("Ecom:Order.PaymentMethod");
	string editStep = "CartV2.GotoStep2";

	if(!string.IsNullOrEmpty(PaymentMethodID))
	{
		<div class="list-group-item d-flex gap-3 align-items-baseline py-2 bg-light fs-7">

			<div class="flex-grow-1">
				<dl class="grid mb-0">
					<dt class="g-col-12 g-col-md-4 mb-lg-0 lh-base fw-normal">@Translate("Payment")</dt>
					<dd class="g-col-12 g-col-md-8 mb-0">
						@paymentMethod
					</dd>
				</dl>
			</div>

			<button class="btn btn-small btn-link fs-8" type="submit" name="@editStep" id="EditPaymentButton">
				<span class="text-uppercase">@Translate("Edit")</span>
			</button>

		</div>
	}
}
