@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
		string PaymentMethodID = GetString("Ecom:Order.ShippingMethodID");
		string paymentMethod = GetString("Ecom:Order.PaymentMethod");
}

@if (!string.IsNullOrEmpty(PaymentMethodID))
{
	<div class="list-group-item d-flex gap-3 align-items-baseline py-2 fs-7" style="background-color: rgba(var(--swift-foreground-color-rgb), 0.05)">

		<div class="flex-grow-1">
			<dl class="grid mb-0">
				<dt class="g-col-12 g-col-md-4 mb-lg-0 lh-base fw-normal">@Translate("Payment")</dt>
				<dd class="g-col-12 g-col-md-8 mb-0">
					@paymentMethod
				</dd>
			</dl>
		</div>

		<button class="btn btn-small btn-link fs-8" type="submit" name="CartV2.GotoStep2" id="EditPaymentButton">
			<span class="text-uppercase">@Translate("Edit")</span>
		</button>

	</div>
}
