@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Ecommerce.Cart

@{ 
	bool isPaymentStep = GetLoop("StepButtons").Count == 0;
}

<nav aria-label="breadcrumb" class="mb-3 mb-md-4 fs-8" id="StepsBreadcrumbs">
	<ol class="breadcrumb">
		@foreach (LoopItem step in GetLoop("StepButtons"))
		{
			if (step.GetString("Step.Name").ToLower() != "checkout")
			{
				if (step.GetBoolean("Step.Current"))
				{
					<li class="breadcrumb-item fw-bold" aria-current="location">@Translate(step.GetString("Step.Name"))</li>
				}
				else
				{
					<li class="breadcrumb-item">@Translate(step.GetString("Step.Name"))</li>
				}
			}
		}

		@if (isPaymentStep)
		{
			var cartSettings = new ModuleSettings(Pageview.CurrentParagraph.ModuleProperties);

			foreach (CartStepInfo step in cartSettings.Steps)
			{
				if (step.IsCheckout)
				{
					<li class="breadcrumb-item fw-bold" aria-current="location">@Translate(step.Name)</li>
					break;
				}
				else
				{
					<li class="breadcrumb-item">@Translate(step.Name)</li>
				}
			}
		}
	</ol>
</nav>
