@helper RenderStepsBreadcrumbs(){
	string stepNumber = "";

	<nav aria-label="breadcrumb" class="mb-3 mb-md-4 fs-8" id="StepsBreadcrumbs">
		<ol class="breadcrumb">
			@foreach (LoopItem step in GetLoop("StepButtons"))
			{
				if (step.GetString("Step.Name").ToLower() != "checkout")
				{
					if (GetLoop("StepButtons").Count > 2)
					{
						stepNumber = step.GetString("Step.Number");
					}

					if (step.GetBoolean("Step.Current"))
					{
						<li class="breadcrumb-item fw-bold" aria-current="location">@Translate(step.GetString("Step.Name"))</li>
					}
					else {
						<li class="breadcrumb-item">@Translate(step.GetString("Step.Name"))</li>
					}
				}
			}
		</ol>
	</nav>
}
