@helper RenderStepSummaryUser() {
	int fieldCount = 0; //Helps us render addresses that contains more than just the auto set country
	List<string> address = new List<string>();
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Company"))) {
		address.Add(GetString("UserManagement:User.Company"));
		fieldCount++;
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Name"))) {
		address.Add(GetString("UserManagement:User.Name"));
		fieldCount++;
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Address"))) {
		address.Add(GetString("UserManagement:User.Address"));
		fieldCount++;
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Zip"))) {
		address.Add(GetString("UserManagement:User.Zip"));
		fieldCount++;
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.City"))) {
		address.Add(GetString("UserManagement:User.City"));
		fieldCount++;
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Country"))) {
		address.Add(GetString("UserManagement:User.Country"));
		fieldCount++;
	}
	string addressString = (string.Join(",", address.Select(x => x.ToString()).ToArray())).Replace(",", ", ");
	string editStep = Pageview.CurrentParagraph.Item["UserAccountPageLink"] != null ? Pageview.CurrentParagraph.Item["UserAccountPageLink"].ToString() + "&GoBackToPage=" + Pageview.Page.ID : "";

	if (!string.IsNullOrEmpty(addressString) && fieldCount > 1) {
		<div class="list-group-item fs-7 bg-light">
			<div class="grid align-items-center">
				<div class="g-col-4">@Translate("Billing address")</div>

				<div class="g-col-7">@addressString</div>

				<div class="g-col-1">
					<a href="@editStep" class="btn btn-small btn-link fs-8">
						<span class="text-uppercase">@Translate("Edit")</span>
					</a>
				</div>
			</div>
		</div>
	}
}
