@helper RenderStepSummaryOrderCustomer() {
	List<string> contact = new List<string>();
	if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Email")) || !string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")))
	{
		if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Email")))
		{
			contact.Add(GetString("Ecom:Order.Delivery.Email"));
		}
		if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")))
		{
			contact.Add(GetString("Ecom:Order.Delivery.Phone"));
		}
	}

	string contactString = (string.Join(",", contact.Select(x => x.ToString()).ToArray())).Replace(",", ", ");
	string userAccountPage = Pageview.CurrentParagraph.Item["UserAccountPageLink"] != null ? Pageview.CurrentParagraph.Item["UserAccountPageLink"].ToString() + "&GoBackToPage=" + Pageview.Page.ID : "";


	if (!string.IsNullOrEmpty(contactString)) {
		<div class="list-group-item d-flex justify-content-between align-items-baseline py-2 fs-7 bg-light">
			<div class="me-3 w-100">
				<dl class="grid mb-0">
					<dt class="g-col-md-4 mb-lg-0 lh-base fs-7 fw-normal">@Translate("Contact")</dt>
					<dd class="g-col-md-8 mb-0">@contactString</dd>
				</dl>
			</div>
			
			<a href="@userAccountPage" class="btn btn-small btn-link me-n3 fs-8">
				<span class="text-uppercase">@Translate("Edit")</span>
			</a>
		</div>
	}

}
