@helper RenderSummarySidebar()
{
	<div class="summary-sidebar col-lg-4 position-relative py-2 py-lg-5 ps-lg-5 border-start" id="summarySidebar">
		<div class="position-relative">

			@RenderOrderSummaryToggleButton()
			@RenderOrderSummaryContent()

		</div>
	</div>
}

@Include("OrderSummaryContent.cshtml")
@Include("OrderSummaryToggleButton.cshtml")
