@helper RenderSummarySidebar()
{
	<div class="g-col-12 g-col-lg-4 py-2 p-3 p-lg-4 p-xl-5" id="summarySidebar">
		@RenderOrderSummaryToggleButton()
		@RenderOrderSummaryContent()
	</div>
}

@Include("OrderSummaryContent.cshtml")
@Include("OrderSummaryToggleButton.cshtml")
