@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="g-col-12 g-col-lg-4 py-2 p-3 p-lg-4 p-xl-5" id="summarySidebar">
	@Include("OrderSummaryToggleButton.cshtml")
	@Include("OrderSummaryContent.cshtml")
</div>
