@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="d-lg-block h-lg-auto collapse pt-2 pt-lg-0" id="deliverySummary">
    <div>
    <p>Dispatch to:</p>
	<strong>@GetString("Ecom:Order.Delivery.Address"), @GetString("Ecom:Order.Delivery.City"), @GetString("Ecom:Order.Delivery.Zip")</strong>
    <div>@ReadFile(stepsIconPath + "dhl.svg")</div>
    </div>
    <button type="submit" name="CartV2.GotoStep1">Edit</button>
</div>


<style>
#deliverySummary {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    height: 100% !important;
    padding-bottom: 20px;
}

#deliverySummary div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#deliverySummary p {
    margin-bottom: 0px;
}
  
strong {
    color: #3B3E41;
    font-weight: 700;
    font-size: 16px;
}

button {
    background-color: white;
    border: 2px solid #D5352D;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 96px;
    height: 50px;
    color: #D5352D;
}

@@media (max-width: 998px) {
    #deliverySummary {
        justify-content: revert;
        gap: 20px;
    }

    #deliverySummary svg{
        width: 80px;
    }

}

</style>