@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
string orderReference = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.Reference")) ? GetString("Ecom:Order.Reference") : string.Empty;
bool disableOrderReference = Pageview.CurrentParagraph.Item["DisableOrderReference"] != null ? (Boolean)Pageview.CurrentParagraph.Item["DisableOrderReference"] : false;

if (!disableOrderReference)
{
<div class="container container-no-padding">
	<div class="row">
		<div class="col d-flex flex-column">
			<label class="text-label-black" for="EcomOrderReference">@Translate("PO Number")</label>
			<input class="text-input-field" type="text" name="EcomOrderReference" id="EcomOrderReference"
			       value="@orderReference" placeholder="@Translate("Order reference")">
		</div>
	</div>
</div>
}
}
