@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
	string comment = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Comment")) ? GetString("Ecom:Order.Customer.Comment") : string.Empty;
	bool disableComment = Pageview.CurrentParagraph.Item["DisableComments"] != null ? (Boolean)Pageview.CurrentParagraph.Item["DisableComments"] : true;

	if (!disableComment)
	{
		<div class="container container-no-padding">
			<div class="row">
				<div class="col d-flex flex-column">
					<label class="text-label-black" for="EcomOrderCustomerComment">@Translate("Order comments")</label>
					<textarea class="text-input-field" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" style="min-height: 100px" placeholder="@Translate("Add description")">@comment</textarea>
				</div>
			</div>
		</div>
	}
}
