@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div id="summarySidebar">
	<h3>Cart</h3>
	@Include("TSDOrderSummaryContent.cshtml")
</div>


<style>

h3 {
	color: #D5352D;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

#summarySidebar {
	padding: 20px;
	background-color: white;
}
</style>
