[data-dw-button] {
    --bs-btn-padding-x: var(--dw-btn-padding-x);
    --bs-btn-padding-y: var(--dw-btn-padding-y);    
    --bs-btn-border-radius: var(--dw-btn-border-radius);
    --bs-btn-border-width: var(--dw-btn-border-width);
}
