// General colorschemes implementation
[data-dw-colorscheme]:not([data-dw-colorscheme=""]) {
  --bs-bg-opacity: 1;
  --bs-text-opacity: 1;
  --bs-body-color: var(--dw-color-foreground);
  --bs-body-color-rgb: var(--dw-color-foreground-rgb);
  --bs-heading-color: var(--dw-color-foreground);
  --bs-body-bg: var(--dw-color-background);
  --bs-body-bg-rgb: var(--dw-color-background-rgb);
  --bs-border-color: rgba(var(--bs-body-color-rgb), .15);

  & {
    color: var(--bs-body-color);

    &:not([data-swift-gridcolumn]){
      background-color: var(--bs-body-bg);
    }
    
    &[data-swift-gridcolumn]:not(:has(.card)) {
      background-color: var(--bs-body-bg);

      & > *:not(swift-video-player,.card,figure,script,:has(.card)){
        padding: var(--swift-content-padding);
      }

      & > [data-swift-poster] {
        padding: var(--swift-poster-padding);
      }
    }
  }
}

// General padding for content
[data-swift-gridcolumn] > * {

  &:not(swift-video-player,.card, script){

    &:has(+ figure) {
      padding-block-end: var(--swift-content-padding);
    }
    
    &:where(figure + *) {
      padding-block-start: var(--swift-content-padding);
    }
  }
}

[data-dw-colorscheme]:not([data-dw-colorscheme=""]) {

  // Buttons
  .btn-primary, [data-dw-button="primary"] {
    --bs-btn-color: var(--dw-color-button-primary-contrast);
    --bs-btn-border-color: var(--dw-color-button-primary);
    --bs-btn-bg: var(--dw-color-button-primary);
    --bs-btn-border-color: var(--dw-color-button-primary);
    --bs-btn-hover-color: var(--dw-color-button-primary-contrast);
    --bs-btn-hover-bg: color-mix(in srgb, var(--dw-color-button-primary) 75%, var(--dw-color-background));
    --bs-btn-hover-border-color: rgba(var(--dw-color-button-primary-rgb), 0.7);
    --bs-btn-focus-shadow-rgb: var(--dw-color-button-primary-rgb);
    --bs-btn-active-bg: rgba(var(--dw-color-button-primary-rgb), 0.8);
    --bs-btn-active-border-color: rgba(var(--dw-color-button-primary-rgb), 0.7);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dw-color-button-primary-contrast);
    --bs-btn-disabled-bg: rgba(var(--dw-color-button-primary-rgb), 0.5);
    --bs-btn-disabled-border-color: rgba(var(--dw-color-button-primary-rgb), 0.6);
  }

  .btn-secondary, [data-dw-button="secondary"] {
    --bs-btn-color: var(--dw-color-button-secondary-contrast);
    --bs-btn-border-color: var(--dw-color-button-secondary);
    --bs-btn-bg: var(--dw-color-button-secondary);
    --bs-btn-border-color: var(--dw-color-button-secondary);
    --bs-btn-hover-color: var(--dw-color-button-secondary-contrast);
    --bs-btn-hover-bg: color-mix(in srgb, var(--dw-color-button-secondary) 75%, var(--dw-color-background));
    --bs-btn-hover-border-color: rgba(var(--dw-color-button-secondary-rgb), 0.7);
    --bs-btn-focus-shadow-rgb: var(--dw-color-button-secondary-rgb);
    --bs-btn-active-bg: rgba(var(--dw-color-button-secondary-rgb), 0.8);
    --bs-btn-active-border-color: rgba(var(--dw-color-button-secondary-rgb), 0.7);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dw-color-button-secondary-contrast);
    --bs-btn-disabled-bg: rgba(var(--dw-color-button-secondary-rgb), 0.5);
    --bs-btn-disabled-border-color: rgba(var(--dw-color-button-secondary-rgb), 0.6);
  }

  .btn-outline-primary, [data-dw-button="outline-primary"] {
    --bs-btn-color: var(--dw-color-button-primary);
    --bs-btn-border-color: var(--dw-color-button-primary);
    --bs-btn-bg: transparent;
    --bs-btn-hover-color: var(--dw-color-button-primary-contrast);
    --bs-btn-hover-bg: var(--dw-color-button-primary);
    --bs-btn-hover-border-color: var(--dw-color-button-primary);
    --bs-btn-focus-shadow-rgb: var(--dw-color-button-primary-rgb);
    --bs-btn-active-color: var(--dw-color-button-primary-contrast);
    --bs-btn-active-bg: var(--dw-color-button-primary);
    --bs-btn-active-border-color: var(--dw-color-button-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dw-color-button-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
  }

  .btn-outline-secondary, [data-dw-button="outline-secondary"]  {
    --bs-btn-color: var(--dw-color-button-secondary);
    --bs-btn-border-color: var(--dw-color-button-secondary);
    --bs-btn-bg: transparent;
    --bs-btn-hover-color: var(--dw-color-button-secondary-contrast);
    --bs-btn-hover-bg: var(--dw-color-button-secondary);
    --bs-btn-hover-border-color: var(--dw-color-button-secondary);
    --bs-btn-focus-shadow-rgb: var(--dw-color-button-secondary-rgb);
    --bs-btn-active-color: var(--dw-color-button-secondary-contrast);
    --bs-btn-active-bg: var(--dw-color-button-secondary);
    --bs-btn-active-border-color: var(--dw-color-button-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--dw-color-button-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
  }

  .btn-link, [data-dw-button="link"]  {
    --bs-btn-color: var(--dw-color-foreground);
    --bs-btn-bg: transparent;
    --bs-btn-hover-color: var(--dw-color-foreground);
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-color: var(--dw-color-foreground);
    --bs-btn-active-bg: transparent;
  }

  .btn-check:checked {
    & + .btn-primary {
      --bs-btn-bg: rgba(var(--dw-color-button-primary-rgb), 0.8);
      --bs-btn-border-color: rgba(var(--dw-color-button-primary-rgb), 0.9);
      --bs-btn-color: var(--dw-color-button-primary-contrast);
    }

    & + .btn-secondary {
      --bs-btn-bg: var(--swift-button-secondary-hover-background-color);
      --bs-btn-border-color: rgba(var(--dw-color-button-secondary-rgb), 0.9);
      --bs-btn-color: rgba(var(--dw-color-button-secondary-rgb), 0.8);
    }
  }

  // Link colors
  a:not(.btn):not(.page-link):not(.dropdown-item) {
		color: var(--dw-color-foreground);
	}

  .nav-link {
    --bs-nav-link-color: var(--dw-color-foreground);
    --bs-nav-link-hover-color: var(--dw-color-foreground);
  }

  .link-secondary {
    --bs-secondary-rgb: var(--dw-color-foreground-rgb);
  }

  .icon-link {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
  }

  // Component colors
  .card {
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-border-color: var(--bs-border-color);
    --bs-card-spacer-x: var(--swift-content-padding);
    --bs-card-spacer-y: var(--swift-content-padding);

    .img-thumbnail {
      background-color: var(--bs-card-bg);
    }
  }

  &.offcanvas {
    --bs-offcanvas-bg: var(--dw-color-background);
  }

  .offcanvas-navigation {
    .nav {
      background-color: var(--bs-offcanvas-bg);
    }
  }

  .variant-option.active {
		color: var(--dw-color-button-primary-contrast);
		background-color: var(--dw-color-button-primary);
		border-color: rgba(var(--dw-color-button-primary-rgb), 0.9);
	}
}
