[data-swift-container] {
	--dw-container-width: 100%;
	--dw-container-gutter: calc(#{$spacer * 2});
	width: 100%;
	margin-inline: auto;
	max-width: calc(var(--dw-container-width) - var(--dw-container-gutter));

    // Prevent double gutter in nested containers
    @include media-breakpoint-down(lg){
        [data-swift-container] {
            --dw-container-gutter: 0;
        }
    }
    
    // Prevent double gutter in nested containers in App paragraph
    :where([data-dw-itemtype="swift-v2_app"]) {
        [data-swift-container] {
            --dw-container-gutter: 0;
        }
    }
}

[data-dw-container-width="4"] {
    --dw-container-width: 100% !important;
    --dw-container-gutter: 0rem;
}

// Visual editor, header & footer 
:is(
    header, [data-dw-itemtype="swift-v2_header"],
    footer, [data-dw-itemtype="swift-v2_footer"]) {
    [data-dw-container-width="4"] {
        --dw-container-gutter: calc(#{$spacer * 2});
    }
}

@include media-breakpoint-up(lg){
    [data-swift-container] {
        --dw-container-width: 90vw;
    }
    [data-dw-container-width="1"] {
        --dw-container-width: var(--swift-text-width);
    }
    [data-dw-container-width="2"] {
        --dw-container-width: 65vw;
    }
}

@include media-breakpoint-up(xxl){
    [data-swift-container] {
        --dw-container-width: min(105rem, 100%);
    }

    [data-dw-container-width="1"] {
        --dw-container-width: var(--swift-text-width);
    }
    
    [data-dw-container-width="2"] {
        --dw-container-width: 65vw;
    }
}