// Row spacer
[swift-gridrow] {
	--dw-row-space-top: 0;
	--dw-row-space-bottom: 0;
	--dw-row-gap-column: 0;
	--dw-row-gap-row: 0;

	@each $key, $value in $spacers {
		&[data-dw-row-space-top="#{$key}"] {
			--dw-row-space-top: #{$value};
		}
		&[data-dw-row-space-bottom="#{$key}"] {
			--dw-row-space-bottom: #{$value};
		}
		&[data-dw-row-gap-column="#{$key}"] {
			--dw-row-gap-column: #{$value};
		}
		&[data-dw-row-gap-row="#{$key}"] {
			--dw-row-gap-row: #{$value};
		}
	}
	padding-block-start: var(--dw-row-space-top);
	padding-block-end: var(--dw-row-space-bottom);

	[swift-container] {
		column-gap: var(--dw-row-gap-column);
		row-gap: var(--dw-row-gap-row);
	}
}
