// Row spacer
[data-swift-gridrow] {
	--dw-row-space-top: 0;
	--dw-row-space-bottom: 0;

	@each $key, $value in $spacers {
		&[data-dw-row-space-top="#{$key}"] {
		--dw-row-space-top: #{$value};
		}
		&[data-dw-row-space-bottom="#{$key}"] {
		--dw-row-space-bottom: #{$value};
		}
	}
	padding-block-start: var(--dw-row-space-top);
	padding-block-end: var(--dw-row-space-bottom);
}
