// Row spacer
[data-swift-gridrow] {
	--dw-row-space-top: 3rem;
	--dw-row-space-bottom: 3rem;
	--dw-row-column-gap: 1rem;

	@each $key, $value in $spacers {
		&[data-dw-row-space-top="#{$key}"] {
		--dw-row-space-top: #{$value};
		}
		&[data-dw-row-space-bottom="#{$key}"] {
		--dw-row-space-bottom: #{$value};
		}
		&[data-dw-row-column-gap="#{$key}"] {
		--dw-row-column-gap: #{$value};
		}
	}
	padding-block-start: var(--dw-row-space-top);
	padding-block-end: var(--dw-row-space-bottom);

	.grid {
		gap: var(--dw-row-column-gap);
	}
}

[data-swift-container] {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;

	--dw-container-width: 1520px;
	max-width: var(--dw-container-width);
}

[data-dw-container-width="1"] {
	--dw-container-width: 60ch;
}

@media (min-width: 1200px) {
	[data-swift-container] {
		--dw-container-width: 1140px;
	}

	[data-dw-container-width="2"] {
		--dw-container-width: 860px;
	}
	
	[data-dw-container-width="3"] {
		--dw-container-width: 1140px;
	}
}

@media (min-width: 1600px) {
	[data-swift-container] {
		--dw-container-width: 1520px;
	}

	[data-dw-container-width="2"] {
		--dw-container-width: 1280px;
	}
	
	[data-dw-container-width="3"] {
		--dw-container-width: 1520px;
	}
}

[data-dw-container-width="4"] {
	--dw-container-width: 100%;
	margin: 0;
	padding-right: 0;
    padding-left: 0;
}
