// Responsive column text
:where([data-swift-text]) {
    max-inline-size: var(--swift-text-width);

    // Ensures proper spacing between text and buttons
    & + :has(.btn),
    :has(.btn) {
        margin-block-start: 1.5rem;
    }
}

// Body Typography
body, .body {
    --dw-font-size: var(--dw-base-font-size); // Based on Base Font Size
    --bs-body-font-family: var(--dw-font-family);
    --bs-body-font-size: var(--dw-font-size);
    --bs-body-font-weight: var(--dw-font-weight);
    --bs-body-line-height: var(--dw-line-height);
    font-style: var(--dw-font-style);
    letter-spacing: var(--dw-letter-spacing);
    text-transform: var(--dw-text-transform);

    @include media-breakpoint-between(xs,lg) {
        --dw-type-scale: 1.200 !important; // Sensible default
    }
}

// Headings
:is(h1, .h1, .dw-h1,
    h2, .h2, .dw-h2,
    h3, .h3, .dw-h3, 
    h4, .h4, .dw-h4, 
    h5, .h5, .dw-h5, 
    h6, .h6, .dw-h6) {
    font-family: var(--dw-font-family);
    font-size: var(--dw-font-size);
    font-weight: var(--dw-font-weight);
    font-style: var(--dw-font-style);
    line-height: var(--dw-line-height);
    letter-spacing: var(--dw-letter-spacing);
    text-transform: var(--dw-text-transform);
    
	&:not(:empty) {
        margin-block-end: calc($headings-margin-bottom * 2 + .1vw);
    }
}

// Paragraphs
:is(.dw-paragraph-0)    {font-size: calc(var(--dw-font-size) * .875);}
:is(.dw-paragraph)      {font-size: var(--dw-font-size);}
:is(.dw-paragraph-1)    {font-size: calc(var(--dw-font-size) * 1.25);}

// Type Scale - based on https://type-scale.com/
h1, .h1, .dw-h1 {--dw-font-size: calc(var(--dw-base-font-size) * pow(var(--dw-type-scale), 5));}
h2, .h2, .dw-h2 {--dw-font-size: calc(var(--dw-base-font-size) * pow(var(--dw-type-scale), 4));}
h3, .h3, .dw-h3 {--dw-font-size: calc(var(--dw-base-font-size) * pow(var(--dw-type-scale), 3));}
h4, .h4, .dw-h4 {--dw-font-size: calc(var(--dw-base-font-size) * pow(var(--dw-type-scale), 2));}
h5, .h5, .dw-h5 {--dw-font-size: calc(var(--dw-base-font-size) * pow(var(--dw-type-scale), 1));}
h6, .h6, .dw-h6 {--dw-font-size: var(--dw-base-font-size);}

// Buttons
[data-dw-button] {
	--bs-btn-font-family: var(--dw-font-family);
	--bs-btn-font-size: var(--dw-font-size);
	--bs-btn-font-weight: var(--dw-font-weight);
	--bs-btn-line-height: var(--dw-line-height);
	letter-spacing: var(--dw-letter-spacing);
	text-transform: var(--dw-text-transform);

	&.btn-sm {
		--bs-btn-font-size: calc(var(--dw-font-size) * .875);
	}

	&.btn-lg {
		--bs-btn-font-size: calc(var(--dw-font-size) * 1.25);
	}
}
