@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>

@if (!Pageview.IsVisualEditorMode) {
	@RenderNodes(Model.Nodes)
} else if (Model.Nodes.Count() == 0) { 
	<div class="alert alert-dark m-0" role="alert">
		<span>@Translate("Breadcrumb navigation: The navigation will be shown here, if any")</span>
	</div>
}


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    <ol class="breadcrumb small mb-0">
        @foreach (var node in nodes)
		{
			<li class="breadcrumb-item">
				@node.Name
			</li>
		}
    </ol>
}
