@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb
@using Dynamicweb.Ecommerce.Orders
@using System.IO
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.Common
@using System.Text

<p>IM THE CREDIT SCREEN</p>