@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<p>Error occured during payment: <pre>@GetString("CheckoutHandler:ErrorMessage")</pre></p>