@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string moduleOutput = Model.GetModuleOutput();

	string layout = Model.Item.GetRawValueString("Layout", "center");
	layout = layout == "top" || layout == "alignLeftMiddle" ? "" : layout;
	layout = layout == "center" || layout == "alignLeft" ? "d-flex align-items-center text-start" : layout;
}

@if (!string.IsNullOrWhiteSpace(moduleOutput))
{
	if (!string.IsNullOrEmpty(layout))
	{
		<div class="@(layout) h-100 item_@Model.Item.SystemName.ToLower()">
			<div class="w-100">
				@moduleOutput
			</div>
		</div>
	}
	else
	{
		<div class="item_@Model.Item.SystemName.ToLower()">
			@moduleOutput
		</div>
	}
}

@if (Pageview.IsVisualEditorMode && string.IsNullOrEmpty(moduleOutput))
{
	<div class="alert alert-info" role="alert">
		<span>@Translate("App: Edit this column to configure")</span>
	</div>
}

