@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Environment

@{ 
	string moduleOutput = Model.GetModuleOutput();
}

@if (Pageview.IsVisualEditorMode && !string.IsNullOrEmpty(moduleOutput)) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("App: Edit this column to configure")</span>
    </div>
}

<div class="item_@Model.Item.SystemName.ToLower()">
	@moduleOutput
</div>
