<h2>Detail for '<!--@UserManagement:Group.Name-->'</h2>
<table>
	<tr>
		<th align="left"><!--@Translate(Groupname, "Group name")-->: </th>
		<td><!--@UserManagement:Group.Name--></td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Subgroups, "Subgroups")-->: </th>
		<td>
			<!--@LoopStart(Groups)-->
				<!--@HeaderStart-->
					<ul>
				<!--@HeaderEnd-->
					<li>
						<a href="<!--@UserManagement:Group.DetailUrl-->"><!--@UserManagement:Group.Name--></a>
					</li>
				<!--@FooterStart-->
					</ul>
				<!--@FooterEnd-->
			<!--@LoopEnd(Groups)-->
		</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Users, "Users")-->: </th>
		<td>
			<!--@LoopStart(Users)-->
				<!--@HeaderStart-->
					<ul>
				<!--@HeaderEnd-->
					<li>
						<a href="<!--@UserManagement:User.DetailUrl-->"><!--@UserManagement:User.Name--></a>
					</li>
				<!--@FooterStart-->
					</ul>
				<!--@FooterEnd-->
			<!--@LoopEnd(Users)-->
		</td>
	</tr>
</table>