<!--@LoopStart(Groups)-->
	<!--@HeaderStart-->
		<h2>
			<!--@Translate(usermanagementheader, "User Management")-->
		</h2>
		<h3>
			<!--@Translate(listgroupheader, "Groups")-->
		</h3>
		<ul id="usermanagementlist">
	<!--@HeaderEnd-->
		<li>
			<a href="<!--@UserManagement:Group.DetailUrl-->"><!--@UserManagement:Group.Name--></a>
		</li>
	<!--@FooterStart-->
		</ul>
	<!--@FooterEnd-->
<!--@LoopEnd(Groups)-->
<!--@LoopStart(Users)-->
	<!--@HeaderStart-->
		<h3>
			<!--@Translate(listuserheader, "Users")-->
		</h3>
		<ul>
	<!--@HeaderEnd-->
		<li>
			<a href="<!--@UserManagement:User.DetailUrl-->"><!--@UserManagement:User.Name--></a>
		</li>
	<!--@FooterStart-->
		</ul>
	<!--@FooterEnd-->
<!--@LoopEnd(Users)-->