<!--@LoopStart(AllUsers)-->
	<!--@HeaderStart-->
		<h2>
			<!--@Translate(listuserheader, "Users")-->
		</h2>
	<!--@HeaderEnd-->

        <!--@UserManagement:Search.Form-->

		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td rowspan="4" valign="top" align="left">
				<!--@If Defined(UserManagement:User.Image.Clean)-->
					<a href="<!--@UserManagement:User.DetailUrl-->">
						<img src="/admin/public/getimage.aspx?fmImage_path=<!--@UserManagement:User.Image.Clean-->&amp;width=50" alt="<!--@UserManagement:User.Name-->" border="0" />
					</a>
				<!--@EndIf(UserManagement:User.Image.Clean)-->
				<!--@If Not Defined(UserManagement:User.Image.Clean)-->
					<img src="/Admin/Images/Nothing.gif" width="50" alt="" border="0" />
				<!--@EndIf(UserManagement:User.Image.Clean)-->
			</td>
			<td rowspan="4" valign="top" align="left">
				<img src="/Admin/Images/Nothing.gif" width="10" alt="" border="0" />
			</td>
			<th align="left"><!--@Translate(Name, "Name")-->: </th>
			<td rowspan="4" valign="top" align="left">
				<img src="/Admin/Images/Nothing.gif" width="10" alt="" border="0" />
			</td>
			<td width="100%"><a href="<!--@UserManagement:User.DetailUrl-->"><!--@UserManagement:User.Name--></a></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Email, "Email")-->: </th>
			<td><!--@UserManagement:User.Email--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Phone, "Phone")-->: </th>
			<td><!--@UserManagement:User.Phone--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Department, "Department")-->: </th>
			<td><!--@UserManagement:User.Department--></td>
		</tr>
		<tr>
			<td colspan="5">
				<hr />
			</td>
		</tr>
		</table>
<!--@LoopEnd(AllUsers)-->
<div class="paging">
	<p>Now showing page <!--@AllUsers.DwPaging.CurrentPage--> of <!--@AllUsers.DwPaging.PageCount--></p>
	<!--@If Defined(AllUsers.DwPaging.PreviousButtonText)-->
		<a class="previouslink" href="<!--@AllUsers.DwPaging.FirstPageLink-->">
			First page
		</a>
		<a class="previouslink" href="<!--@AllUsers.DwPaging.PreviousPageLink-->">
		    <!--@AllUsers.DwPaging.PreviousButtonText-->
		</a>
	<!--@EndIf(AllUsers.DwPaging.PreviousButtonText)-->
	<!--@LoopStart(AllUsers.DwPaging.LoopPageGroup)-->
		<!--@HeaderStart-->
			<ul>
		<!--@HeaderEnd-->
			<li class="activepage_<!--@PageGroup.ActivePage-->">
				<a href="<!--@PageGroup.PageLink-->">
					<!--@PageGroup.PageNumber-->
				</a>
			</li>
		<!--@FooterStart-->
			</ul>
		<!--@FooterEnd-->
	<!--@LoopEnd(AllUsers.DwPaging.LoopPageGroup)-->
	<!--@If Defined(AllUsers.DwPaging.NextButtonText)-->
		<a class="nextlink" href="<!--@AllUsers.DwPaging.NextPageLink-->">
		    <!--@AllUsers.DwPaging.NextButtonText-->
		</a>
		<a class="nextlink" href="<!--@AllUsers.DwPaging.LastPageLink-->">
			Last page
		</a>
	<!--@EndIf(AllUsers.DwPaging.NextButtonText)-->
</div>
