<script type="text/javascript">
    window.onload = function () {
        var list = document.getElementById("CountryCode");
        if (list != null && list.options != null) {
            for (i = 0; i < list.options.length; i++) {
                if (list.options[i].value == '<!--@UserManagement:User.UserAddress.CountryCode.Value-->') {
                    list.options[i].selected = true;
                    break;
                }
            }
        }
    };
</script>
<h2>
    <!--@If Defined(UserManagement:User.ManageAddresses.AddAddress)-->
    <!--@Translate(addAddress, "Add address")-->
    <!--@EndIf(UserManagement:User.ManageAddresses.AddAddress)-->
    <!--@If Defined(UserManagement:User.ManageAddresses.UpdateAddress)-->
    <!--@Translate(updateAddress, "Update address")-->
    <!--@EndIf(UserManagement:User.ManageAddresses.UpdateAddress)-->
</h2>
<br />

<!--@LoopStart(FormValidationErrors)-->
<!--@HeaderStart-->
<div id="errormessages">
    <ul>
        <!--@HeaderEnd-->
        <li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
        <!--@FooterStart-->
    </ul>
</div>
<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->
<!--@UserManagement:User.ManageAddresses.FormStart-->
<table>
    <tr>
        <th align="left"><!--@Translate(Description, "Description")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Description--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address, "Address")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Address--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address2, "Address2")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Address2--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(ZipCode, "Zip code")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Zip--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(City, "City")-->: </th>
        <td><!--@UserManagement:User.UserAddress.City--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(State, "State")-->: </th>
        <td><!--@UserManagement:User.UserAddress.State--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Country, "Country")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Country--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(BillingCountryCode, "Billing country code")-->: </th>
        <td>
            <select id="CountryCode" name="CountryCode">
                <option value="">None</option>
                <!--@LoopStart(UserManagement.CountryList)-->
                <option value="<!--@Country.Code2-->"><!--@Country.Name--></option>
                <!--@LoopEnd(UserManagement.CountryList)-->
            </select>
        </td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Default, "Default")-->: </th>
        <td><!--@UserManagement:User.UserAddress.Default--></td>
    </tr>
</table>
<br />
<!--@If Defined(UserManagement:User.ManageAddresses.AddAddress)-->
<input type="submit" id="submitter" value="<!--@Translate(addaddress, " Add address")-->" />
<!--@EndIf(UserManagement:User.ManageAddresses.AddAddress)-->
<!--@If Defined(UserManagement:User.ManageAddresses.UpdateAddress)-->
<input type="submit" id="submit1" value="<!--@Translate(updateaddress, " Update address")-->" />
<!--@EndIf(UserManagement:User.ManageAddresses.UpdateAddress)-->
<!--@UserManagement:User.ManageAddresses.FormEnd-->
<br />
<!--@If Defined(UserManagement:User.ManageAddresses.DetailUrl)-->
<a href="<!--@UserManagement:User.ManageAddresses.DetailUrl-->">Back to addresses</a>
<!--@EndIf(UserManagement:User.ManageAddresses.DetailUrl)-->