<h2><!--@Translate(manageAddresses, "Manage Addresses")--></h2>
<br />
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="70px" align="left" />
        <col width="70px" align="left" />
        <col width="70px" align="left" />
        <col width="100px" align="center" />
        <col width="70px" align="left" />
    </colgroup>
    <thead>
        <tr>
            <td><b>Description</b></td>
            <td><b>Address</b></td>
            <td><b>Address2</b></td>
            <td><b>Zip code</b></td>
            <td><b>City</b></td>
            <td><b>State</b></td>
            <td><b>Country</b></td>
            <td><b>Country Code</b></td>
            <td><b>Billing country</b></td>
            <td><b>Default</b></td>
        </tr>
    </thead>
    <tbody>
        <!--@LoopStart(UserManagement:User.UserAddresses)-->
        <tr>
            <td><!--@UserManagement:User.UserAddress.Description-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.Address-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.Address2-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.Zip-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.City-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.State-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.Country-->&nbsp;</td>
            <td><!--@UserManagement:User.UserAddress.CountryCode--></td>
            <td><!--@UserManagement:User.UserAddress.Culture.CountryName--></td>
            <td>
                <!--@If Defined(UserManagement:User.UserAddress.Default)-->
                <img src="/Admin/images/Check.gif" align="middle" style="vertical-align: middle;border:0px;">
                <!--@EndIf(UserManagement:User.UserAddress.Default)-->
            </td>
        </tr>
        <!--@LoopEnd(UserManagement:User.UserAddresses)-->
    </tbody>
</table>
<br />
<!--@If Defined(UserManagement:User.DetailUrl)-->
<a href="<!--@UserManagement:User.DetailUrl-->">Back to detail view</a>
<!--@EndIf(UserManagement:User.DetailUrl)-->