.collapse-icon {
	content: url(/Files/Templates/Designs/R4/Assets/icons/minus.svg);
	width: 3rem;
	height: 3rem;
	padding: 1rem;
}

.collapse-icon.collapsed {
	content: url(/Files/Templates/Designs/R4/Assets/icons/plus.svg);
}

.collapse-chevron-icon {
	content: url(/Files/Templates/Designs/R4/Assets/icons/chevron-down.svg);
	width: 0.75rem;
	height: 0.75rem;
	transition: all 0.2s ease-out;
}

.card-header.collapsed .collapse-chevron-icon {
	transform: rotate(-180deg);
}
