/* Colorbox */

.colorbox {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	height: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.colorbox input {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
}

.colorbox-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	pointer-events: none;
	border: 1px solid $gray-200;
}

.colorbox input:checked ~ .colorbox-background {
	border: 1px solid $gray-500;
}

.colorbox-background:after {
	content: "";
	position: absolute;
	display: none;
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	font-size: 22px;
}

.colorbox input:checked ~ .colorbox-background:after {
	display: block;
}

.colorbox-icon {
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
}
