/* Definition lists */
  
@media ( min-width: 768px ) {

	.definition-list-item {
		display: flex;

		dd {
			flex: 1 1 auto !important;
		}

		dt {
			width: 170px;
			min-width: 170px;
			max-width: 170px;
		}
	}
}
