/* Form checks that fully support the Theme system */

.form-check-input {
	position: relative;
	border-color: var(--r4-foreground-color);
}

.form-check-input[ type='checkbox' ]:checked:after {
	content: '';
	position: absolute;
	left: 0.25em;
	top: 0.05em;
	width: 0.4em;
	height: 0.6em;
	border-style: solid;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	border-color: var(--r4-background-color);
}

.form-check-input[ type='radio' ]:checked:after {
	content: '';
	position: absolute;
	top: 0.19em;
	left: 0.19em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: var(--r4-background-color);

}
