.has-megamenu {
	position: static !important;

	.megamenu {
		width: 100%;
		background-color: var(--r4-background-color);
		color: var(--r4-foreground-color);
		border: 0;
		border-radius: 0;
	}

	.dropdown-menu {
		background-color: var(--r4-background-color);
		color: var(--r4-foreground-color);

		.dropdown-item {
			color: inherit;
			padding: 0.5rem 1rem;

			&:hover,
			&:focus {
				background-color: inherit;
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}
