.has-megamenu {
	position: static !important;
}

.megamenu {
	position: absolute;
	width: 100%;
	transform: none !important;
	inset: auto auto auto 0 !important;
	background-color: var(--r4-background-color);
	color: var(--r4-foreground-color);

	.megamenu-link {
		position: relative;

		&:hover,
		&:focus {
			text-decoration: underline !important;
		}
	}
}

.megamenu-item {
	position: static;
}
