/* Mini cart */

.mini-cart-quantity {
	display: inline-block;
	transform: scale(1);
	transition: transform 0.25s ease-in;
}

.mini-cart-quantity-added {
	transform: scale(1.5);
	transition: transform 0.33s ease-out;
}
