.offcanvas-backdrop::before {
	backdrop-filter: blur(4px);
}

.offcanvas-body {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.offcanvas-navigation {
	display: none;
	background-color: transparent;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;

	.nav {
		background-color: var(--r4-background-color);
		height: auto;
		top: 0;
		left: 0;
		width: 100vw;
		max-width: $offcanvas-horizontal-width;
		margin: 0;
		padding: 0;
		transition: all .3s;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		z-index: 500;

		&__inner {
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.nav-item {
			display: flex;
			align-items: center;
			width: 100%;
		}

		.nav-link {
			position: relative;

			&.active,
			&.in-path {
				

				&::before {
					content: "";
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					width: 3px;
					background-color: var(--r4-forground-color);
				}
			}
		}

		&.sub-nav {
			position: absolute;
			height: 100%;
			left: $offcanvas-horizontal-width;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
		
		.sub-nav-check:checked ~ .sub-nav {
			opacity: 1;
			visibility: visible;
			will-change: opacity, transform;
			pointer-events: all;
			left: 0;
		}
	}
}

.offcanvas.show .offcanvas-navigation {
	display: block;
}
