/* Preloaders */

.preloader {
	text-align: center;
	padding: 0.5em;
	width: 100%;
	color: $gray-300;
	min-height: 54px;
	position: relative;
	height: 100%;

	&::after {
		content: '';
		background-color: $dark;
		mask-image: url('../../icons/refresh-cw.svg');
		width: 42px;
		height: 42px;
		color: $dark;
		animation: preloader-spin 2s infinite linear;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}

.preloader-overlay {

	content: '';
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 8;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader-overlay-icon {

	width: 100px;
	height: 104px;
}

.preloader-overlay-icon::after {
	content: '';
	background-color: $white;
	mask-image: url('../../icons/refresh-cw.svg');
	width: 1.5rem;
	height: 1.5rem;
	color: $white;
	animation: preloader-spin 2s infinite linear;
	position: absolute;
	text-align: center;
}

@-webkit-keyframes preloader-spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
