.product-list__item {

	&:hover,
	&:focus,
	&:focus-within {

		.product-list__variants .product-list__item {
			transform: translateY(0);
		}
	}
}

.product-list__variants .product-list__item {
	transform: translateY(100%);
	transition: transform var(--animation-speed-in) ease-in-out;
}
