@import "~tiny-slider/src/tiny-slider";

.tns {
	
	&-slider,
	&-ovh,
	&-outer,
	&-inner {
		height: 100%;
	}

	&-ovh {
		margin-bottom: 1rem;
	}

	&-slider {
		display: flex;
	}
}

.tns-nav {
	display: flex;
	width: 100%;
	text-align: center;
	margin: 0;
	justify-content: space-evenly;

	> button {
		flex: 1;
		height: .125rem;
		padding: 0;
		margin: 0;
		border-radius: 4px;
		background: $gray-300;
		border: 0;
		pointer-events: initial;
	}

	.tns-nav-active {
		background: $gray-900;
	}
}

.tns-outer {
	position: relative;
	display: flex;
	flex-direction: column;

	.tns-controls {
		outline: none;
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		z-index: 1;
		pointer-events: none;

		button {
			background: 0;
			border: 0;
			padding: 0;
			width: 100px;
			opacity: 0;
			pointer-events: initial;

			&:disabled {
				visibility: hidden;
			}

			.tns-controls-icon {
				background: $white;
				fill: $gray-900;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				box-shadow: 0 0 16px 16px rgba(0,0,0,0.1);
			}
		}
	}

	&:hover {

		.tns-controls button {
			opacity: 1;
			transition: opacity .3s ease-in-out;
		}
	}
}

.tns-item {

	.card {
		border-color: transparent;
		transition: border .3s;
	}

	&:hover {

		.card {
			border: 1px solid $gray-300;
		}
	}
}
