.product-list-item {

	&:hover,
	&:focus,
	&:focus-within {

		.static-variants {
			transform: translateY(0);

			.variant-option {
				opacity: 1;
			}
		}
	}
}

.static-variants {
	pointer-events: none;
	transform: translateY(100%);
	transition: transform 0.2s ease-out; 

	.variant-option {
		opacity: 0;
		transition: opacity var(--animation-speed-in) ease-in-out;
	}
}
