.summary-sidebar {

	&::before {
		background-color: $gray-200;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		@include media-breakpoint-up(lg) {
			width: 100vw;
		}
	}
}
