.js-type-ahead-dropdown {

	.js-type-ahead-field {
		background-color: transparent;
		border-radius: 0;
		color: currentColor;
		padding-left: 42px !important; // "42" because silly math
		
		&.theme {
			background-color: var(--r4-background-color, transparent);
			color: var(--r4-foreground-color, #{$dropdown-color});
		}

		&:not(:placeholder-shown) + .reset-search {
			opacity: 1 !important;
			transition: all 0.2s ease-in-out;
			visibility: visible !important;
		}
	}

	&.show {

		.js-suggest-form { // The form, wrapping the search field

			@include media-breakpoint-up(lg) {

				&::before { // The backdrop behind the search field
					background-color: var(--r4-background-color);
					border-radius: 0;
					border-top-left-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius});
					border-top-right-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius});
					content: "";
					display: block;
					position: absolute;
					top: -0.5rem;
					right: -0.5rem;
					bottom: -0.5rem;
					left: -0.5rem;
					z-index: -1;
				}
			}
		}
		
		.dropdown-menu {
			border-width: 0;
			color: var(--r4-foreground-color, #{$dropdown-color});
			margin-top: 0.5rem;

			@include media-breakpoint-up(lg) {

				&::before { // The Dropdown background
					background-color: var(--r4-background-color);
					border-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius});
					content: "";
					display: block;
					position: absolute;
					top: -54px;
					right: -0.5rem;
					bottom: -0.5rem;
					left: -0.5rem;
					z-index: -1;
				}

				&::after {
					background-color: $modal-backdrop-bg;
					content: "";
					cursor: pointer;
					display: block;
					opacity: $modal-backdrop-opacity;
					position: fixed;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -2;
				}
			}
		}

		.dropdown-item {
			color: var(--r4-search-foreground-color, #{dropdown-color});

			&:hover,
			&.active {
				background-color: var(--r4-search-dropdown-hover-background-color, #{$dropdown-link-hover-bg});
				color: var(--r4-search-dropdown-hover-foreground-color, #{$dropdown-link-hover-color});
			}
		}
	}

	mark {
		background-color: initial;
		color: currentColor;
		font-weight: 700;
		padding: initial;
	}
}
