.js-type-ahead-dropdown {

	.js-type-ahead-field {
		background-color: var(--r4-search-background-color, #{$dropdown-bg});
		color: var(--r4-search-foreground-color, #{$dropdown-color});
	}

	&.show {

		.js-suggest-form { // The form, wrapping the search field

			@include media-breakpoint-up(lg) {

				&::before { // The backdrop behind the search field
					background-color: var(--r4-search-background-color, #{dropdown-bg});
					border-radius: 0;
					border-top-left-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius}); // TODO: handle this with Item Type setting
					border-top-right-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius}); // TODO: handle this with Item Type setting
					content: "";
					display: block;
					position: absolute;
					top: 0.5rem;
					right: 0.5rem;
					bottom: 0.5rem;
					left: 0.5rem;
				}
			}
		}
		
		.dropdown-menu {
			border-width: 0;
			color: var(--r4-search-foreground-color, #{$dropdown-color});
			margin-top: 0.5rem;

			@include media-breakpoint-up(lg) {

				&::before {
					background-color: var(--r4-search-background-color, #{$dropdown-bg});
					border-radius: 0;
					border-bottom-right-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius}); // TODO: handle this with Item Type setting
					border-bottom-left-radius: var(--r4-search-dropdown-border-radius, #{$dropdown-border-radius}); // TODO: handle this with Item Type setting
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: -0.5rem;
					bottom: -0.5rem;
					left: -0.5rem;
					z-index: -1;
				}
			}
		}

		.dropdown-item {
			color: var(--r4-search-foreground-color, #{dropdown-color});

			&:hover,
			&.active {
				background-color: var(--r4-search-dropdown-hover-background-color, #{$dropdown-link-hover-bg});
				color: var(--r4-search-dropdown-hover-foreground-color, #{$dropdown-link-hover-color});
			}
		}
	}

	mark {
		background-color: initial;
		color: currentColor;
		font-weight: 700;
		padding: initial;
	}
}
