:root {
	--dropdown-shadow-width-x: -0.75rem;
	--dropdown-shadow-width-y: -0.5rem;
	--dropdown-shadow-border-radius: 0.5rem;
}

.js-type-ahead-dropdown {

	&.show {

		.js-suggest-form {

			&::before {
				background-color: var(--r4-background-color);
				border-top-left-radius: var(--dropdown-shadow-border-radius);
				border-top-right-radius: var(--dropdown-shadow-border-radius);
				content: "";
				display: block;
				position: absolute;
				top: var(--dropdown-shadow-width-y);
				right: var(--dropdown-shadow-width-x);
				bottom: var(--dropdown-shadow-width-y);
				left: var(--dropdown-shadow-width-x);
			}
		}
		
		.js-type-ahead-field {
			position: relative;
		}
		
		.dropdown-menu {
			border-width: 0;
			color: var(--r4-foreground-color);
			margin-top: 0.5rem;
			
			&::before {
				background-color: var(--r4-background-color);
				border-bottom-right-radius: var(--dropdown-shadow-border-radius);
				border-bottom-left-radius: var(--dropdown-shadow-border-radius);
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: var(--dropdown-shadow-width-x);
				bottom: var(--dropdown-shadow-width-y);
				left: var(--dropdown-shadow-width-x);
				z-index: -1;
			}
		}
		
		.dropdown-item {
			color: var(--r4-foreground-color);
		}
	}
}

// .type-ahead {
// 	background-image: url(/Files/Icons/search.svg);
// 	background-position: 0.8rem 50%;
// 	background-repeat: no-repeat;
// 	background-size: 1.2rem;
// 	padding-left: 2.5rem;
// 	border-radius: 1.2rem;

// 	&::-webkit-search-cancel-button {
// 		appearance: none;
// 		background-image: url(/Files/Icons/x.svg);
// 		background-position: 0 50%;
// 		background-repeat: no-repeat;
// 		background-size: 1.2rem;
// 		width: 1rem;
// 		height: 1rem;
// 		display: block;
// 	}

// 	&:focus {
// 		box-shadow: none;
// 	}

// }

// .type-ahead-dropdown {
	
// 	&.show {

// 		.type-ahead {
// 			border: none !important;
// 			box-shadow: $box-shadow;
// 			border-bottom-left-radius: 0 !important;
// 			border-bottom-right-radius: 0 !important;
// 		}
// 	}
// }

// .type-ahead-menu {
	
// 	&.show {
// 		border-bottom-left-radius: 1.2rem !important;
// 		border-bottom-right-radius: 1.2rem !important;

// 		&::before {
// 			content: "";
// 			width: 100%;
// 			display: block;
// 			height: .5rem;
// 			margin: auto;
// 			top: -0.5rem;
// 			background: var(--r4-background-color);
// 			position: absolute;
// 			padding: 0 1rem;
// 			border-bottom: 1px solid var(--r4-border-color);
// 		}
// 	}
// }
