@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb
@using Dynamicweb.Frontend
@{ 
	string contentPadding = Model.Item?.GetRawValueString("contentPadding") != null ? Model.Item.GetRawValueString("contentPadding") : "";
	string moduleOutput = Model.GetModuleOutput();
}

@if (Pageview.IsVisualEditorMode && !string.IsNullOrEmpty(moduleOutput)) {
    <div class="alert alert-info" role="alert">
        <span>@Translate("App: Edit this column to configure")</span>
    </div>
}

<div class="@(contentPadding) item_@Model.Item.SystemName.ToLower()">
	@moduleOutput
</div>


