@inherits Dynamicweb.Rendering.ViewModelTemplate<ParagraphViewModel>
@using Dynamicweb.Frontend

@{
    var widgetTitle = Model?.Item?.GetString("Title") ?? "Total spent";
    var baseUrl = string.Empty;
    var icon = "/Files/Images/Icons/dollar.svg";
    
    if((Model?.Item?.TryGetLink("BaseLink", out var baseLinkViewModel) ?? false)) {
        baseUrl = baseLinkViewModel.Url;
        var basePageId = baseLinkViewModel?.PageId ?? 0;
        var basePage = Dynamicweb.Content.Services.Pages.GetPage(basePageId);
        var basePageIcon = basePage?.Icon;
        icon = basePageIcon is not null ? basePageIcon : icon;
    }    
}

<div class="card h-100" style="--swift-content-padding: 1.25rem;">
    <div class="card-body">
        <div class="hstack flex-wrap gap-2 mb-2">
            <div class="d-grid p-2 rounded-2 bg-success bg-opacity-10">
                <span class="icon fs-5 text-success">@ReadFile(icon)</span>
            </div>
            <span class="fs-7 fw-semibold text-body text-opacity-75">@(Translate(widgetTitle))</span>
        </div>
        <div class="fs-3 fw-bold text-price" data-swift-htmx-widget="@(Model?.ID)"
            hx-get="/dwapi/ecommerce/orders/search?Type=order&PageSize=999" 
            hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_CustomerCenter_Dashboard/ResponseTemplates/Mini_MonthlySpent.cshtml", "accept": "text/html"}'
            hx-ext="swift-auth"
            hx-trigger="revealed delay:100ms"
            hx-swap="innerHTML">
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>