.dynamicweb-map {
  overflow: hidden;
  *zoom: 1;
}
.dynamicweb-map > .map,
.dynamicweb-map > .map > div {
  height: 100%;
}
.dynamicweb-map .map img {
  max-width: none;
  height: auto;
}
.dynamicweb-map.list-hidden > .list {
  display: none;
}
.dynamicweb-map.list-left > .map {
  float: right;
  padding-left: 1em;
}
.dynamicweb-map.list-right > .map {
  float: left;
  padding-right: 1em;
}
.dynamicweb-map .list ol, .dynamicweb-map .list ul, .dynamicweb-map .list li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 100%;
}
.dynamicweb-map .list ol li, .dynamicweb-map .list ul li {
  padding: .5em;
  background: #dddddd;
  margin-bottom: 1em;
}
.dynamicweb-map .list li.hidden {
  display: none;
}
.dynamicweb-map .list .current {
  background: #eeeeee;
}
.dynamicweb-map form {
  margin: 1em 0;
}
