<script type="text/javascript">
    function setOptInCookie(optInLevel) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var div = document.getElementById("cookieWarningDiv");
                div.parentNode.removeChild(div);
            }
        }
        xmlhttp.open("GET", "/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel, true);
        xmlhttp.send();
    }

    function setOptInCookieAndRefresh(optInLevel) {
        setOptInCookie(optInLevel);
        setTimeout(function () { location.reload(true); }, 100);
        return false;
    }

    document.write('<div id="CookieWarning">');
    document.write('<h1 class="CookieWarning_Header"><!--@Translate(CookieWarning_Header, "Accept cookies from this site", global)--></h1>');
    document.write('<div class="CokieWarning_Info"><!--@Translate(CokieWarning_Info, "This website uses cookies to track your behavior and to improve your experience on the site<br />You can always delete saved cookies by visiting the advanced settings of your browser", global)--></div>');
    document.write('<div class="CookieWarning_Buttons">');
    document.write('<input type="button" class="CookieWarning_DoNotAccept" href="#" onclick="return setOptInCookieAndRefresh(0);" value="<!--@Translate(CookieWarning_DoNotAccept, "Do not accept cookies", global)-->" />');
    document.write('<input type="button" class="CookieWarning_FunctionelOnly" href="#" onclick="return setOptInCookieAndRefresh(1);" value="<!--@Translate(CookieWarning_FunctionelOnly, "Only accept functional cookies", global)-->" />');
    document.write('<input type="button" class="CookieWarning_AcceptAll" href="#" onclick="return setOptInCookieAndRefresh(2);" value="<!--@Translate(CookieWarning_AcceptAll, "Accept all cookies", global)-->" />');
    document.write('</div>');
    document.write('</div>');
</script>
<style type="text/css">
    body {
        padding-top: 90px;
        background-position: 0px 90px;
    }

    #CookieWarning {
        z-index: 9001;
        background-color: white;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        font: 12px/18px arial;
        color: rgb(51, 51, 51);
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        padding: 10px;
        height: 90px;
    }

    .CookieWarning_Header {
        font: bold 16px/24px arial;
        padding: 10px;
    }

    .CokieWarning_Info {
        margin: 0px 0px 0px 10px;
    }

    .CookieWarning_Buttons {
        text-align: right;
        position: absolute;
        right: 20px;
        bottom: 15px;
    }

    .CookieWarning_DoNotAccept, .CookieWarning_FunctionelOnly, .CookieWarning_AcceptAll {
        display: inline-block;
        margin-right: 10px;
    }

    .Cookiewarning_AcceptAll {
        background-color: rgb(7, 214, 60);
        display: inline-block;
        color: black;
        border: 1px solid rgb(4, 132, 37);
        padding: 3px 8px;
        margin-right: 0px;
    }
</style>
