<div id="cookieWarningDiv">
    <script type="text/javascript">
        function setOptInCookie(optInLevel) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            }
            else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var div = document.getElementById("cookieWarningDiv");
                    div.parentNode.removeChild(div);
                    return false;
                }
            }
            xmlhttp.open("GET", "/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel, true);
            xmlhttp.send();
            return false;
        }
    </script>
    <div style="position: absolute; top: 0px; left: 0px; z-index: 9000; width: 100%; opacity: 0.3; height: 100%; background-color: black;"></div>
    <div style="z-index: 9001; left: 50%; margin-left: -250px; position: absolute; top: 50%; margin-top: -100px; background-color: white; box-shadow: 0px 0px 5px black; padding: 20px; width: 460px; height: 160px; font: 12px/18px arial; color: #333;">
	    <p>This website uses cookies to track your behavior and to improve your experience on the site</p>
	    <p>You can always delete saved cookies by visiting the advanced settings of your browser</p>
	    <div style="text-align: right; position: absolute; right: 20px; bottom: 15px;">
		    <a href="#" onclick="return setOptInCookie(0);" style="margin-right: 10px; text-decoration: none; color: #1b67e2;">Do not accept cookies</a>
		    <a href="#" onclick="return setOptInCookie(1);" style="margin-right: 10px; text-decoration: none; color: #1b67e2;">Only accept functional cookies</a>
		    <a href="#" onclick="return setOptInCookie(2);" style="background-color: #07D63C; display: inline-block; color: black; border: 1px solid #048425; padding: 3px 8px; text-decoration: none;">Accept all cookies</a>
	    </div>
    </div>
</div>