<div id="cookieWarningDiv" style="z-index: 9001; background-color: white; box-shadow: 0px 0px 5px rgb(0, 0, 0); font: 12px/18px arial; color: rgb(51, 51, 51); position: fixed; left: 0px; top: 0px; width: 100%; padding-top: 10px; height: 90px;">
    <script type="text/javascript">
        function setOptInCookie(optInLevel) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            }
            else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var div = document.getElementById("cookieWarningDiv");
                    div.parentNode.removeChild(div);
                    return false;
                }
            }
            xmlhttp.open("GET", "/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel, true);
            xmlhttp.send();
            return false;
        }
    </script>
    <h1 style="font: bold 16px/24px arial; margin: 0px 0px 0px 10px;">Accept cookies from this site</h1>
	<p style="margin: 0px 0px 0px 10px;">This website uses cookies to track your behavior and to improve your experience on the site</p>
	<p style="margin: 0px 0px 0px 10px;">You can always delete saved cookies by visiting the advanced settings of your browser</p>
	<div style="text-align: right; position: absolute; right: 20px; bottom: 15px;">
		<a href="#" onclick="return setOptInCookie(0);" style="margin-right: 10px;">Do not accept cookies</a>
		<a href="#" onclick="return setOptInCookie(1);" style="margin-right: 10px;">Only accept functional cookies</a>
		<a href="#" onclick="return setOptInCookie(2);" style="background-color: rgb(7, 214, 60); display: inline-block; color: black; border: 1px solid rgb(4, 132, 37); padding: 3px 8px;">Accept all cookies</a>
	</div>
    <style>body { padding-top: 90px; background-position: 0px 90px;}</style>
</div>