@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.QueryPublisher.QueryResultViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend

@{
    string paragraphId = Dynamicweb.Context.Current?.Request.QueryString.Get("ParagraphId") ?? string.Empty;
    string queryPath = "/dwapi/content/pages";

    var pageIdsString = string.Join(", ", Model.Results
    .SelectMany(dict => dict.Where(kvp => kvp.Key == "PageId")
                            .Select(kvp => kvp.Value)));
}

<div>
    FACETS
</div>
<div>
    @foreach (var result in Model.Results) {
        foreach (var property in result)
        {
            if (property.Key == "PageId") {
                <div id="post-@(property.Value)-@(paragraphId)" hx-get="@(queryPath)/@property.Value" 
                    hx-trigger="intersect once threshold:0.1 root:htmx-@(paragraphId)" 
                    hx-target="#post-@(property.Value)-@(paragraphId)"  
                    hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/GridItem.cshtml", "accept": "text/html"}'>
                </div>
            }
        }
    }
</div>

@*
    <div hx-get="@queryPath" 
        hx-trigger="intersect once threshold:0.1 root:htmx-@(paragraphId)" 
        hx-target="#posts-list-@(paragraphId)"  
        hx-vals='{"PageId": "6869"}'
        hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/GridItem.cshtml", "accept": "text/html"}'>

        <div>
            FACETS
            
        </div>
        <div>
            @foreach (var result in Model.Results) {
                foreach (var property in result)
                {
                    if (property.Key == "PageId") {
                        <div id="#post-@(property.Value)-@(paragraphId)" hx-get="@(queryPath)/@property.Value" 
                            hx-trigger="intersect once threshold:0.1 root:htmx-@(paragraphId)" 
                            hx-target="#post-@(property.Value)-@(paragraphId)"  
                            hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/GridItem.cshtml", "accept": "text/html"}'>
                        </div>
                    }
                }
            }
        </div>
    </div>
*@