@inherits ViewModelTemplate<ProductViewModel>
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.Products

@{ 	
	string priceMin = Model?.VariantInfo?.PriceMin?.PriceFormatted != null ? Model.VariantInfo.PriceMin.PriceFormatted : string.Empty;
	string priceMax = Model?.VariantInfo?.PriceMax?.PriceFormatted != null ? Model.VariantInfo.PriceMax.PriceFormatted : string.Empty;
	string? price = priceMin != priceMax ? price = priceMin + " - " + priceMax : Model?.Price.PriceFormatted;
}

<div class="d-flex flex-wrap justify-content-end gap-2">
	<span itemprop="priceCurrency" content="@Model?.Price.CurrencyCode" class="d-none"></span>
	<span itemprop="price" content="@Model?.Price.Price" class="d-none"></span>
	@if (Model?.HasDiscount())
	{
		<span class="text-decoration-line-through opacity-75 text-price DDD">@Model?.PriceBeforeDiscount?.PriceFormatted</span>
	}
	<span class="text-price">@price</span>
	@if (Model.Price.GetVatMode() == PriceVatMode.ExclusiveVat) {
		<small class="opacity-85 fst-normal">@Translate(Model.Price.GetVatLabel())</small>
	}
</div>