<div id="cookieWarningContainer" style="position: absolute; top:0; left:0; width:100%; height:100%; background-color: rgba(0, 0, 0, .3);">

    <form id="cookieWarningForm" method="post" action="/Admin/Public/CookieOptInLevelConfig.aspx" onsubmit="return setOptInCookie();" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; color: #000; background-color: #fff; border: 1px solid #999; border-radius: 10px; box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);">
        <input type="hidden" name="cmd" value="SetCookieOptInLevel" />

        <fieldset>
            <legend>Cookies</legend>
            <p>This website uses cookies to track your behavior and to improve your experience on the site.</p>
            <p><label><input type="radio" name="OptInLevel" value="2" checked="checked" onchange="toggleCategories(!this.checked)" /> All</label></p>
            <p><label><input type="radio" name="OptInLevel" value="0" onchange="toggleCategories(!this.checked)" /> None</label></p>
            <p><label><input type="radio" name="OptInLevel" value="1" onchange="toggleCategories(this.checked)" /> Selected</label></p>
            <div id="cookieWarningCategories" style="margin-left: 20px; display:none">
                <!--@LoopStart(Categories)-->
                <p><label><input type="checkbox" name="OptInCategory" value="<!--@Category-->" /> <!--@Category--></label></p>
                <!--@LoopEnd(Categories)-->
            </div>
        </fieldset>

        <button type="submit">Save preferences</button>
    </form>

    <script>
        function toggleCategories(show) {
            document.getElementById("cookieWarningCategories").style.display = show ? "" : "none";
        }

        function setOptInCookie() {
            var formElement = document.getElementById("cookieWarningForm");
            var formData = new FormData(formElement);

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var container = document.getElementById("cookieWarningContainer");
                    container.parentNode.removeChild(container);
                    return false;
                }
            }

            xmlhttp.open(formElement.method, formElement.action);
            xmlhttp.send(formData);

            return false;
        }
    </script>
</div>