@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Pageview.User != null)
{
	<h2 class="m-0">
		@if (Model.Item.TryGetString("Title", out string title))
		{
			<span>@title</span>
		}
		<span>@Pageview.User.Name</span> 
	</h2>
}
