@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Pageview.User != null)
{
	<div>
		@if (Model.Item.TryGetString("Title", out string title))
		{
			<div>@title</div>
		}
		<h2 class="m-0">@Pageview.User.Name</h2>
	</div>
}
