@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Pageview.User != null)
{
	<h2 class="m-0">
		@if (Model.Item.TryGetString("Title", out string title))
		{
			<span class="d-block">@title</span>
		}
		<span class="d-block">@Pageview.User.Name</span>
	</h2>
}
