<style type="text/css">
	.formtable td {
		padding: 3px;
	}

	.formtable .columnCell {
		vertical-align: top;
	}

	.formtable .labelCell {
		vertical-align: top;
		padding-right: 10px;
		width:33%;
		text-align:right;
		opacity:0.6;
	}


</style>

<table class="formtable">
	@foreach (LoopItem field in GetLoop("FieldValues"))
    {
        int fieldId = field.GetInteger("Field.ID");
        string fieldHtmlId = field.GetString("Field.HtmlId");
        string fieldName = field.GetString("Field.Name");
        string fieldControl = field.GetString("Field.Control");
        string fieldDescription = field.GetString("Field.Description");
        bool fieldIsButton = field.GetBoolean("Field.IsButton");
        bool fieldIsOther = field.GetBoolean("Field.IsOther");
        string submitValue = field.GetString("SubmitData.Value");
        string submitOptionText = field.GetString("SubmitData.Value.OptionText");
        if (!fieldIsButton && !fieldIsOther)
        {
			<tr class="fieldRow">
				<td class="labelCell">@fieldName</td>
				<td class="columnCell">
					@if (!string.IsNullOrEmpty(submitOptionText))
					{
						@submitOptionText
					}
					else
					{
						@submitValue.Replace(Environment.NewLine, "<br>")
					}
				</td>
		</tr>
		}
	}
</table>