<style type="text/css">
    .formtable td {
        padding: 3px;
    }

    .formtable .columnCell {
        vertical-align: top;
    }

    .formtable .labelCell {
        vertical-align: top;
        padding-right: 10px;
        width: 33%;
        text-align: right;
        opacity: 0.6;
    }
</style>

<table class="formtable">
    <!--@LoopStart(Fields)-->
        <!--@If(Field.IsButton="" && Field.IsOther="")-->
            <tr class="fieldRow">
                <td class="labelCell"><!--@fieldName--></td>
                <td class="columnCell">
                    <!--@If Defined(SubmitData.Value.OptionText)-->
                    <!--@SubmitData.Value.OptionText-->
                    <!--@Else-->
                    <!--@SubmitData.Value-->
                    <!--@EndIf-->
                </td>
            </tr>
        <!--@EndIf-->
    <!--@LoopEnd(Fields)-->
</table>