:root {
	--header-height: 100px;
	// Animations
	--animation-speed-in: 0.1s;
	--animation-speed-out: 0.2s;
	//Badges
	--swift-badge-label: "";
	//Variants
	--variantoption-check-color: white;
	// Padding
    --swift-content-padding: clamp(5%, 10%, 2rem);
}
