:root {
	--header-height: 100px;
	//Themes
	--swift-foreground-color: var(--bs-dark);
	--swift-foreground-color-rgb: var(--bs-dark-rgb);
	--swift-background-color: var(--bs-white);
	--swift-background-color-rgb: var(--bs-white-rgb);
	--swift-button-primary-background-color: var(--bs-dark);
	--swift-button-primary-background-color-rgb: var(--bs-dark-rgb);
	--swift-button-primary-foreground-color: var(--bs-white);
	--swift-button-primary-foreground-color-rgb: var(--bs-white-rgb);
	--swift-button-primary-border-background-color: none;
	--swift-button-secondary-background-color: var(--bs-dark);
	--swift-button-secondary-background-color-rgb: var(--bs-dark-rgb);
	--swift-button-secondary-foreground-color: var(--bs-white);
	--swift-button-secondary-foreground-color-rgb: var(--bs-white-rgb);
	--swift-button-secondary-border-background-color: none;
	--swift-button-link-color: var(--swift-foreground-color);
	--swift-button-link-color-rgb: var(--swift-foreground-color-rgb);
	--swift-ally-outline-color: rgba(0, 0, 0, 0.5);
	//Brand
	--swift-header-font: var(--bs-font-sans-serif);
	--swift-header-font-weight: initial;
	--swift-header-casing: initial;
	--swift-header-line-height: initial;
	--swift-header-letter-spacing: initial;
	--swift-display-font: var(--bs-font-sans-serif);
	--swift-display-font-weight: initial;
	--swift-display-casing: initial;
	--swift-display-line-height: initial;
	--swift-display-letter-spacing: initial;
	--swift-body-font: var(--bs-font-sans-serif);
	--swift-body-font-weight: initial;
	--swift-body-casing: initial;
	--swift-body-line-height: initial;
	--swift-body-letter-spacing: initial;
	//Button
	--swift-button-primary-font-weight: initial;
	--swift-button-primary-casing: initial;
	--swift-button-primary-font-size: initial;
	--swift-button-primary-padding-x: 0.75rem;
	--swift-button-primary-padding-y: 0.375rem;
	--swift-button-secondary-font-weight: initial;
	--swift-button-secondary-casing: initial;
	--swift-button-secondary-font-size: initial;
	--swift-button-secondary-padding-x: 0.75rem;
	--swift-button-secondary-padding-y: 0.375rem;
	// Animations
	--animation-speed-in: 0.1s;
	--animation-speed-out: 0.2s;
	--bs-gap: 1rem;
	//Badges
	--swift-badge-label: "";
	//Variants
	--variantoption-check-color: white;
}
