:root {
	--header-height: 100px;

	//Brand
	--swift-header-font: var(--bs-font-sans-serif);
	--swift-header-font-weight: initial;
	--swift-header-casing: initial;
	--swift-header-line-height: initial;
	--swift-header-letter-spacing: initial;
	--swift-display-font: var(--bs-font-sans-serif);
	--swift-display-font-weight: initial;
	--swift-display-casing: initial;
	--swift-display-line-height: initial;
	--swift-display-letter-spacing: initial;
	--swift-body-font: var(--bs-font-sans-serif);
	--swift-body-font-weight: initial;
	--swift-body-casing: initial;
	--swift-body-line-height: initial;
	--swift-body-letter-spacing: initial;

	// Animations
	--animation-speed-in: 0.1s;
	--animation-speed-out: 0.2s;
	--bs-gap: 1rem;
	//Badges
	--swift-badge-label: "";
	//Variants
	--variantoption-check-color: white;
}
