$table-group-separator-color: $table-border-color;

// Override link colors in tables.
// 
// This is necessary when we have a table inside a themes row/column

.table a,
.table a:hover {
	color: currentColor;
}

// Linked Rows
//
// Link table rows. Link any content in <td>, add tabindex="-1" to all links except the first in each row
// CSS move the padding from the <td> to the <a>

.table-linked {

	tr:focus-within {
		background-color: $table-hover-bg;
		outline: $ally-outline;

		a {
			outline: none;
		}
	}

	td {
		padding: 0 !important;
	}

	a {
		padding: $table-cell-padding-y $table-cell-padding-x;
	}
}

// Clean Design
//
// Smaller padding and no border on <tr>

.table-clean {

	& > :not(caption) > * > * {
		padding: calc(#{$table-cell-padding-y} / 2) $table-cell-padding-x !important;
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: $table-border-color !important;
	}

	tr:not(:last-child) {

		th,
		td {
			border-bottom: none !important;
		}
	}
}

// Combination of Linked Rows and Clean Design
// 

.table-linked.table-clean {

	th,
	td {
		padding: 0 !important;
	}

	a {
		padding: calc(#{$table-cell-padding-y} / 2) $table-cell-padding-x !important;
	}

	tr:first-child th a,
	tr:first-child td a {
		padding-top: $table-cell-padding-y !important;
	}

	tr:last-child th a,
	tr:last-child td a {
		padding-bottom: $table-cell-padding-y !important;
	}
}
