@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Ecommerce.Frontend

<div class="fs-3 fw-bold">@(Model?.TotalOrdersCount ?? 0)</div>

@if(Model?.Orders?.Count > 0 && Model.Orders.Select(o => o.Price.CurrencyCode).Distinct().Count() == 1)
{
    <div class="fs-8 text-muted text-price">@(Model.Orders.Sum(o => o.Price.Price).ToString("C")) @Translate("total value")</div>
}