@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation

@if (!Model.Nodes.Any()) return;

<div class="offcanvas-header offcanvas-animate-in z-2 bg-body pe-4" style="grid-area: Header;">
    <button type="button" class="btn icon-3 p-2" @@click="$dispatch('close-offcanvas');">
        @ReadFile("/Files/Images/Icons/chevron-left.svg")
    </button>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body offcanvas-animate-in z-2 bg-body px-4" style="grid-area: Body;">

    <ul class="navbar-nav flex-wrap flex-row gap-2">
        @foreach (var node in Model.Nodes.Where(n => n.ShowInMenu))
        {        
            <li class="hstack">
                <a href="@(node.Link)" class="btn btn-sm btn-primary hstack gap-2 py-2 px-3" data-dw-button="primary">
                    @if (node.GetPagePropertyItem()?.TryGetString("Icon", out var icon) ?? false)
                    {
                        @if (icon.EndsWith(".svg", StringComparison.OrdinalIgnoreCase))
                        {
                            <span class="icon-2">
                                @ReadFile(icon)                   
                            </span>
                        }
                    }
                    <span class="fw-bold">@node.Name</span>
                </a>

            </li>
        }
    </ul>

</div>