@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation

@if (!Model.Nodes.Any()) return;

<div class="offcanvas-header offcanvas-animate-in z-2 bg-body pe-4" style="grid-area: Header;">
    <button type="button" class="btn icon-3 p-2" @@click="$dispatch('close-offcanvas');">
        @ReadFile("/Files/Images/Icons/chevron-left.svg")
    </button>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body offcanvas-animate-in z-2 bg-body px-4" style="grid-area: Body;">

    <ul class="navbar-nav pb-5 gap-3 d-grid" style="grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));">
        
        @foreach (var node in Model.Nodes.Where(n => n.ShowInMenu))
        {
            var isEcom = node.IsEcommerceGroup();
            var group = isEcom ? Dynamicweb.Ecommerce.Services.ProductGroups?.GetGroup(node.GroupId, Dynamicweb.Ecommerce.Common.Context.LanguageID) : null;
            var link = node.IsClickable ? SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={node.PageId}{(isEcom ? $"&GroupID={node.GroupId}" : null)}") : null;
            var image = $"/Admin/Public/GetImage.ashx?Image={group?.LargeImage}&height=375&width=500&crop=0";

            <li class="vstack gap-2 position-relative text-center">
                <img src="@(image)" class="rounded" style="object-fit: cover;aspect-ratio: 4/3;" loading="eager">
                <a href="@(link)" class="flex-fill text-decoration-none text-body text-opacity-75 stretched-link pt-2 pb-4 fs-7">@group?.Name</a>
            </li>
        }
    </ul>

<div>