@inherits Dynamicweb.Rendering.ViewModelTemplate<UserViewModel>
@using Dynamicweb.Frontend


@if (Model?.ID is null) return;

<div class="hstack me-auto position-relative" hx-swap-oob="true outerHTML:[data-swift-avatar-mini-image]" data-swift-avatar-mini-image>
    
    @if(Model.TryGetImageFile(out ImageFileViewModel? image))
    {
        <div style="height:2rem; aspect-ratio:1;">
            <img src="@image.ToGetImage(new(){ Width = 32, Ratio = "1/1" })" alt="@Model.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
        </div>
    }
    else 
    {
        <div class="btn btn-primary rounded-circle hstack justify-content-center p-0" style="height:2rem; aspect-ratio:1;" data-dw-button>
            <div class="d-flex float-start fs-8 fw-bold lh-1 m-0 text-decoration-none">
                @(Model.GetTwoLetterInitials())
            </div>
        </div>
    }

    @if ((!string.IsNullOrEmpty(Model?.FirstName) && !string.IsNullOrEmpty(Model?.LastName)) || (!string.IsNullOrEmpty(Model?.Name))) {
        <div class="text-nowrap ms-2">@((!string.IsNullOrEmpty(Model?.FirstName) && !string.IsNullOrEmpty(Model?.LastName)) ? $"{Model.FirstName} {Model.LastName}" : Model?.Name)</div>
    }
    
</div>