.accordion {
    --bs-accordion-active-color: var(--dw-color-foreground);
    --bs-accordion-active-bg: color-mix(in hsl, var(--dw-color-background) 95%, var(--dw-color-foreground));
    --bs-accordion-btn-icon: url('/Files/Images/Icons/chevron-down.svg');
    --bs-accordion-btn-active-icon: url('/Files/Images/Icons/chevron-down.svg');
    
    .accordion-button {
        
        &::after {
            background-color: var(--bs-accordion-btn-color);
            background-image: none;
            mask-image: var(--bs-accordion-btn-icon);
            mask-size: var(--bs-accordion-btn-icon-width);
        }
        &:not(.collapsed)::after {
            mask-image: var(--bs-accordion-btn-active-icon);
        }

    }

    &:is(.btn-icon-color) {
        --btn-icon-color: var(--dw-color-button-primary);

        .accordion-button {
            &::after {
                background-color: var(--btn-icon-color);
            }
        }
    }

    &:is(.btn-icon-bg-color) {
        --btn-icon-bg-color: var(--dw-color-button-primary);
        --btn-icon-color: var(--dw-color-button-primary-contrast);
        --btn-icon-bg-width: 2.25rem;
        --bs-accordion-btn-icon-width: .875rem;

        .accordion-button {

            &::before {
                content: "";
                position: absolute;
                display: flex;
                width: var(--btn-icon-bg-width);
                height: var(--btn-icon-bg-width);
                border-radius: 50rem;
                background-color: color-mix(in hsl, var(--btn-icon-bg-color), transparent 90%);
                right: var(--bs-accordion-btn-padding-x);
                transition: background-color 0.2s ease-in-out;
            }
            &::after {
                background-color: var(--btn-icon-bg-color);
                margin-inline-end: calc((var(--btn-icon-bg-width) / 2) - (var(--bs-accordion-btn-icon-width) / 2));
            }
    
            &:not(.collapsed)::before {
                background-color: var(--btn-icon-bg-color);
            }
            &:not(.collapsed)::after {
                background-color: var(--btn-icon-color);
            }
        }
    }
}