.accordion-button::after,
.accordion-button:not(.collapsed)::after {
	background-color: var(--swift-foreground-color);
	content: "";
	mask-image: url('../../icons/chevron-down.svg');
	mask-repeat: no-repeat;
	mask-size: $accordion-icon-width $accordion-icon-width;
	mask-position: center;
}
