.badge {
	
	&::before {
		position: relative;
	}

	&:empty {
		display: inline-block;
	}

	&.badge-no-label::before {
		display: none;
	}

	// Neutral badges in combination with .badge class for inheritance
	&.badge-neutral {
		--swift-badge-neutral-brightness: 30%;
		--swift-badge-neutral-color: var(--bs-body-color);
		--swift-badge-neutral-bg: var(--bs-body-bg);
		--bs-badge-color: var(--swift-badge-neutral-color); // Extending --bs property
		background-color: color-mix(in srgb, var(--swift-badge-neutral-color) var(--swift-badge-neutral-brightness), var(--swift-badge-neutral-bg));

		&-light {
			--swift-badge-neutral-brightness: 8%;
		}

		&-dark {
			--swift-badge-neutral-brightness: 70%;
			--bs-badge-color: var(--swift-badge-neutral-bg);
		}
	}
}
