.badge {
	
	&::before {
		position: relative;
	}

	&:empty {
		display: inline-block;
	}

	&.badge-no-label::before {
		display: none;
	}

	// Neutral badges — base styling applied to all neutral variants
	&.badge-neutral,
	&.badge-neutral-light,
	&.badge-neutral-dark {
		--swift-badge-neutral-brightness: 30%;
		--swift-badge-neutral-color: var(--bs-body-color);
		--swift-badge-neutral-bg: var(--bs-body-bg);
		--bs-badge-color: var(--swift-badge-neutral-color); // Extending --bs property
		background-color: color-mix(in srgb, var(--swift-badge-neutral-color) var(--swift-badge-neutral-brightness), var(--swift-badge-neutral-bg));
	}

	&.badge-neutral-light {
		--swift-badge-neutral-brightness: 8%;
	}

	&.badge-neutral-dark {
		--swift-badge-neutral-brightness: 70%;
		--bs-badge-color: var(--swift-badge-neutral-bg);
	}
}
