.btn {

    // Icon buttons
    &:where(.btn-icon) {
        --btn-icon-color: var(--bs-body-color, inherit);
        --btn-icon-bg-color: transparent;
        --btn-icon-hover-bg-color: color-mix(in srgb, var(--bs-body-color) 7.5%, transparent);
        --btn-icon-active-bg-color: color-mix(in srgb, var(--bs-body-color) 10%, transparent);
        --btn-icon-disabled-bg-color: color-mix(in srgb, var(--bs-body-color) 5%, transparent);
        --btn-icon-disabled-color: color-mix(in srgb, var(--bs-body-color) 30%, transparent);

        --bs-btn-border-width: 0;
        --bs-btn-padding-x: .5rem;
        --bs-btn-padding-y: .5rem;
        --bs-btn-hover-color: var(--btn-icon-color);
        --bs-btn-hover-bg: var(--btn-icon-hover-bg-color);
        --bs-btn-active-color: var(--btn-icon-color);
        --bs-btn-active-bg: var(--btn-icon-active-bg-color);
        --bs-btn-disabled-color: var(--btn-icon-color);
        --bs-btn-disabled-bg: var(--btn-icon-disabled-bg-color);

        width: calc(1rem + var(--bs-btn-padding-x) * 2);
        height: calc(1rem + var(--bs-btn-padding-y) * 2);
        display: inline-grid;
        place-items: center;
    }

    // Hide check icon in btn-check labels unless selected
    .btn-check:not(:checked) + & {
        .icon {
            display: none;
        }
    }
}