

[swift-gridcolumn] {
	container-name: gridcolumn;
	container-type: inline-size;
}

.card {
	container-name: card;
	container-type: inline-size;

	--swift-card-offset: -4rem;
}

@container gridcolumn (width > 760px) {
	.card-body { 
		--bs-card-spacer-x: calc(#{$spacer * 2});
		--bs-card-spacer-y: calc(#{$spacer * 2});
	}
}

@container gridcolumn (width > 1280px) {
	.card-body {  
		--bs-card-spacer-x: calc(#{$spacer * 3});
		--bs-card-spacer-y: calc(#{$spacer * 3});
	}
}

.card-body p:last-of-type {
	margin-bottom: 0;
}
