.collapse-icon {
	content: "";
	mask-image: url('../../icons/minus.svg');
	mask-repeat: no-repeat;
	mask-size: 1rem 1rem;
	mask-position: center;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.15rem;
	background-color: var(--bs-body-color);
}

.collapse-icon.collapsed {
	mask-image: url('../../icons/plus.svg');
}

.collapse-chevron-icon {
	content: '';
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");;
	mask-repeat: no-repeat;
	mask-size: .75rem .75rem;
	mask-position: center;
	width: .75rem;
	height: .75rem;
	background-color: var(--bs-body-color);
	transform: rotate(-180deg);
	transition: all 0.2s ease-out;
}										  

.collapsed .collapse-chevron-icon {
	transform: rotate(0deg);
}
