.collapse-icon {
	content: "";
	mask-image: url('/Files/Images/Icons/minus.svg');
	mask-repeat: no-repeat;
	mask-size: 1rem 1rem;
	mask-position: center;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.15rem;
	background-color: var(--bs-body-color);
}

.collapse-icon.collapsed {
	mask-image: url('/Files/Images/Icons/plus.svg');
}

.collapse-chevron-icon {
	content: '';
	mask-image: url('/Files/Images/Icons/chevron-down.svg');;
	mask-repeat: no-repeat;
	mask-size: .75em .75em;
	mask-position: center;
	width: 1em;
	height: 1em;
	background-color: var(--bs-body-color);
	transform: rotate(0deg);
	transition: all 0.2s ease-out;
}										  

[aria-expanded="true"] .collapse-chevron-icon {
	transform: rotate(-180deg);
}
