[data-swift-customer-center] {
    --swift-customer-center-thead-bg: rgba(var(--bs-body-color-rgb), .0275);
    --swift-customer-center-thead-color: rgba(var(--bs-body-color-rgb), 0.5);
    --swift-customer-center-dropdown-min-width: 18rem;


    .table {

        thead {
            --bs-table-bg: var(--swift-customer-center-thead-bg);
            --bs-table-color: var(--swift-customer-center-thead-color);
        }

    }
    
    // Dropdown min-width when appearing in a Customer Center and but only in contexts where it is not a child of a table cell, e.g. filters, action buttons, etc.
    .dropdown-menu:not(table .dropdown-menu) {
        --bs-dropdown-min-width: var(--swift-customer-center-dropdown-min-width);
    }

    // Dropdown font size when appearing in a Customer Center and related contexts
    .card:has(.dropdown-menu),
    td:has(.dropdown-menu) {
        .dropdown-menu {
            @extend .fs-7;
        }
    }
}