[data-swift-customer-center] {
    --swift-customer-center-thead-bg: rgba(var(--bs-body-color-rgb), .0275);
    --swift-customer-center-thead-color: rgba(var(--bs-body-color-rgb), 0.5);
    --swift-customer-center-dropdown-min-width: 18rem;
    --swift-customer-center-list-group-grid-layout: 40px 2fr 1fr 1fr 1fr 1fr;


    .table {
        @extend .table-md, .table-hover, .align-middle, .fs-7;

        thead {
            --bs-table-bg: var(--swift-customer-center-thead-bg);
            --bs-table-color: var(--swift-customer-center-thead-color);
        }

        .collapse, .collapsing {

            td {
                --bs-table-bg: rgba(var(--bs-body-color-rgb), .02);
            }
            
            .list-group {
                --bs-list-group-border-width: 0;
                --bs-list-group-item-padding-x:.5rem;
    
                .list-group-item {
                    border-radius: var(--bs-list-group-border-radius);
                    grid-template-columns: var(--swift-customer-center-list-group-grid-layout);
                }
            }
        }

        button[data-bs-toggle="collapse"] {
            svg {
                font-size: calc(1rem * .75);
                transition: transform .2s ease;
            }

            &[aria-expanded="true"] svg {
                transform: rotate(180deg);
            }
        }
    }
    
    // Dropdown min-width when appearing in a Customer Center and but only in contexts where it is not a child of a table cell, e.g. filters, action buttons, etc.
    .dropdown-menu:not(table .dropdown-menu, .card .dropdown-menu) {
        --bs-dropdown-min-width: var(--swift-customer-center-dropdown-min-width);
        @extend .dropdown-menu-shadow;
    }

    // Dropdown font size when appearing in a Customer Center and related contexts
    .card:has(.dropdown-menu),
    td:has(.dropdown-menu) {
        .dropdown-menu {
            @extend .dropdown-menu-shadow, .fs-7;
        }
    }

    .breadcrumb {
        --bs-breadcrumb-divider: '>';
        --bs-breadcrumb-item-padding-x: 1rem;
        --bs-breadcrumb-font-size: 0.875em;
    }

}