// Dropdown menu - hidden dynamic offset pointer event area between dropdown toggler and dropdown menu 

.dropdown-menu:where(.mouseover)::before {
	content: '';
	display: block;
	width: 100%;
	position: absolute;
	height: calc(var(--swift-dynamic-offset) + 1px);
	top: calc(calc(var(--swift-dynamic-offset) + 1px) * -1);
}

// Dropdown utilities

.dropdown-menu-shadow {
	box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
}
