// Dropdown menu - hidden dynamic offset pointer event area between dropdown toggler and dropdown menu 

.dropdown-menu {
	--bs-dropdown-border-color: var(--bs-border-color);
	--bs-dropdown-divider-bg: var(--bs-border-color);
	--bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: rgba(var(--bs-body-color-rgb), .05);
    --bs-dropdown-link-active-bg: rgba(var(--bs-body-color-rgb), .15);
    --bs-dropdown-link-active-color: var(--bs-body-color);

	max-height: 80vh; // Prevent overflow cut off when viewport is too small
	overflow-y: auto; // Enable scrolling when content is too long

	li:has(hr) + li:has(hr) {
		display: none; // Prevent duplicate dividers
		visibility: hidden;
	}
}

.dropdown-menu:where(.mouseover)::before {
	content: '';
	display: block;
	width: 100%;
	position: absolute;
	height: calc(var(--swift-dynamic-offset) + 1px);
	top: calc(calc(var(--swift-dynamic-offset) + 1px) * -1);
}

// Dropdown utilities

.dropdown-menu-shadow {
	box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
}
