
.dropdown-menu {
	--bs-dropdown-border-color: var(--bs-border-color);
	--bs-dropdown-divider-bg: var(--bs-border-color);
	--bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: rgba(var(--bs-body-color-rgb), .05);
    --bs-dropdown-link-active-bg: rgba(var(--bs-body-color-rgb), .10);
    --bs-dropdown-link-active-color: var(--bs-body-color);
	--bs-dropdown-min-width: 12rem;
	--bs-dropdown-padding-y: 0.25rem;
	--bs-dropdown-padding-x: 0.25rem;
	--bs-dropdown-divider-margin-y: 0.25rem;
	--bs-dropdown-item-border-radius: 0.25rem;
	--bs-dropdown-item-padding-x: 0.5rem;
	--bs-dropdown-header-color: rgba(var(--bs-body-color-rgb), .5);
	--bs-dropdown-header-padding-x: 0.5rem;
	--bs-dropdown-header-padding-y: 0.5rem;
	--bs-dropdown-font-size: var(--bs-body-font-size);
	
	max-height: 80vh; // Prevent overflow cut off when viewport is too small
	overflow-y: auto; // Enable scrolling when content is too long
	
	li:has(hr) + li:has(hr) {
		display: none; // Prevent duplicate dividers
		visibility: hidden;
	}
	
	.dropdown-item {
		@extend .pe-4;
	}

	.dropdown-header {
		margin-bottom: 0 !important;
		@extend .fs-8;
		@extend .text-uppercase;
	}
}

// Dropdown menu - hidden dynamic offset pointer event area between dropdown toggler and dropdown menu

.dropdown:has(.dropdown-menu:where(.mouseover)) > [data-bs-toggle="dropdown"] {
	position: relative !important;

	&::after {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		height: calc(var(--swift-dynamic-offset));
		bottom: calc(calc(var(--swift-dynamic-offset)) * -1);
		pointer-events: all;
	}
}

// Dropdown utilities

.dropdown-menu-shadow {
	box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
}
