// Empty state for e.g. empty list, widgets, orderlines etc.
[data-swift-empty-state] {
    --swift-empty-state-color: var(--bs-body-color);
    --swift-empty-state-icon-color: color-mix(in srgb, var(--bs-body-color) 50%, transparent);
    --swift-empty-state-icon-bg: color-mix(in srgb, var(--bs-body-color) 2.7%, transparent);
    --swift-empty-state-icon-size: 1.25rem;

    color: var(--swift-empty-state-color);

    [data-swift-empty-state-icon] {
        background-color: var(--swift-empty-state-icon-bg);
        display: inline-grid;
        place-items: center;
        font-size: var(--swift-empty-state-icon-size);
        @extend .rounded-circle, .p-3, .fw-semibold, .mb-2;

        svg {
            color: var(--swift-empty-state-icon-color);
        }
    }
}