.form-thumb {

	.form-thumb-label:is(:hover, :active, :focus, :focus-within) {
		background: rgba(var(--swift-foreground-color-rgb), 0.05);
	}

	.form-thumb-input:checked ~ .form-thumb-label {
		outline: 3px solid var(--swift-foreground-color);
	}
}

.form-control {
	// Quantity selector (number input)
	&[ type="number" ][ data-qty ] {
		min-width: 5ch;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		-moz-appearance: textfield;

		&:disabled {
			background-color: inherit !important;
			pointer-events: none;
			opacity: 0.65;
		}
	}
}
