.form-thumb {

	.form-thumb-label:is(:hover, :active, :focus, :focus-within) {
		background: rgba(var(--swift-foreground-color-rgb), 0.05);
	}

	.form-thumb-input:checked ~ .form-thumb-label {
		outline: 3px solid var(--swift-foreground-color);
	}
}

.form-control {

	background-clip: inherit; // Prevent background from leaking out of the border

	// Search input (close button)
	&[type="search"]::-webkit-search-cancel-button {
		appearance: none;
	}

	// Quantity selector (number input)
	&[ type="number" ][ data-qty ] {
		min-width: 5ch;
		max-width: 5ch;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		appearance: textfield;
		-moz-appearance: textfield;

		&:disabled {
			background-color: inherit !important;
			pointer-events: none;
			opacity: 0.65;
		}
	}

	&::placeholder {
		color: rgba(var(--bs-body-color-rgb), 0.3);
	}
}

.form-floating>label {
	color: rgba(var(--bs-body-color-rgb), 0.3);
}

.input-primary-button-group .form-control,
.input-secondary-button-group .form-control {
	
	min-width: 3rem;
}
