.list-group {
    --bs-list-group-active-bg: color-mix(in srgb, var(--bs-body-color) 10%, var(--bs-body-bg));
    --bs-list-group-active-color: var(--bs-body-color);
    --bs-list-group-action-hover-color: var(--bs-body-color);
    --bs-list-group-action-hover-bg: color-mix(in srgb, var(--bs-body-color) 2.7%, var(--bs-body-bg));
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: color-mix(in srgb, var(--bs-body-color) 7%, var(--bs-body-bg));
}