.gm-style-iw-chr {
	align-items: center;

	.gm-style-iw-ch {
		font-size: 1.25rem;
		padding: 0;
	}
}

@media ( orientation: portrait ) {

	.map {
		height: 40vh;
	}
}

@media ( orientation: landscape ) {

	.map {
		height: 50vh;
	}
}

@media ( min-width: 992px ) {

	.map {
		height: 80vh;
	}
}
