.megamenu-wrapper {

	.megamenu {
		width: 100%;
		border: 0;
		border-radius: 0;
		box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
		background-color: var(--bs-body-bg);
		color: var(--bs-body-color);

		.overflow-y-auto {
			scrollbar-width: thin;
		}

		[swift-container] {
			max-height: 70vh;
		}

		.megamenu-grid {
			grid-template-columns: repeat(auto-fill, minmax(auto, 14rem));
		}

		.megamenu-col {

			width: min(14rem, 100%);
			
			&.border-end {
				border-right-color: rgba(var(--bs-body-color-rgb), .3) !important;
			}
		}
	}
}
