.megamenu-wrapper {

	.megamenu {
		width: 100%;
		border: 0;
		border-radius: 0;
		box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
		background-color: var(--bs-body-bg);
		color: var(--bs-body-color);

		.overflow-y-auto {
			scrollbar-width: thin;
		}

		& > .container-xl {
			max-height: 70vh;
		}
	}
}

.megamenu-col {
	min-width: 14.66rem;
	max-width: 14.66rem;

	&.border-end {
		border-right-color: rgba(var(--bs-body-color-rgb), .3) !important;
	}
}

.megamenu-product-group-image-col {
	min-width: 13rem;
	max-width: 13rem;
}
