
.modal {
	--bs-modal-bg: var(--bs-body-bg);
	--bs-modal-padding: 1.5rem;

	.modal-header {
		--bs-modal-header-border-width: 0;
		--bs-modal-header-padding: var(--bs-modal-padding) var(--bs-modal-padding) 0;

		.modal-title {
			margin-block-end: 0 !important;
		}
		
		.btn-close {
			font-size: .75rem;
			margin-block-start: 0;
			align-self: flex-start;

		}
	}

	.modal-footer {
		--bs-modal-footer-border-width: 0;
		padding-block-start: 0;
	}
}