
.modal {
	--bs-modal-bg: var(--bs-body-bg);

	.modal-header {
		--bs-modal-header-border-width: 0;

		.modal-title {
			margin-block-end: 0 !important;
		}
		
		.btn-close {
			font-size: calc(var(--dw-font-size) * .75);
			height: calc(var(--dw-font-size) * 1.5);
			align-self: start;
		}
	}

	.modal-footer {
		--bs-modal-footer-border-width: 0;
	}
}