@use 'sass:math';

.nav-wrapper {

	.dropdown-menu:empty {
		padding: 0;
	}

	.dropdown-toggle::after {
		content: unset;
	}
}

// Navigation-wrapper - Adds negative margin for better alignment

[swift-container] .nav-wrapper {
	margin-inline: calc(#{math.div($spacer, 2)} * -1);
}
