.offcanvas {
	--swift-offcanvas-width: 345px;
	--bs-offcanvas-bg: var(--bs-body-bg);

	@include media-breakpoint-up(lg) {
		--swift-offcanvas-width: 30rem;
	}
}

.offcanvas-navigation {
	background-color: transparent;

	.nav {
		background-color: var(--bs-offcanvas-bg);
		transition: all .3s;
		z-index: 500;

		.nav-link {
			color: var(--bs-body-color);

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.active,
			&.in-path {

				&::before {
					content: "";
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					width: 3px;
					background-color: var(--bs-body-color);
				}
			}
		}

		&.sub-nav {
			max-width: var(--swift-offcanvas-width);
			position: fixed !important;
			top: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			transform: translateX(-100%);
			will-change: opacity, transform;
		}

		.sub-nav-check:checked ~ .sub-nav {
			left: 0;
			opacity: 1 !important;
			visibility: visible !important;
			pointer-events: all !important;
			will-change: opacity, transform;
			transform: none;
		}
	}
}

.offcanvas.show .offcanvas-navigation {
	display: block !important;
}

// Directional transform setting
.offcanvas.offcanvas-end .sub-nav {
	transform: translateX(100%);
}
.offcanvas.offcanvas-end .sub-nav-check:checked ~ .sub-nav {
	left: auto;
	right: 0;
}
