[data-swift-poster] {
	--swift-poster-height: 15vh;
	--swift-poster-gradient-color: var(--dw-color-background);
	--swift-poster-gradient: none;
	min-height: var(--swift-poster-height);
	padding: var(--swift-poster-padding);

	&:is([data-swift-poster="bottom-left"]) {
		--swift-poster-gradient: linear-gradient(to right top, var(--swift-poster-gradient-color), 50%, transparent);
	}
	&:is([data-swift-poster="bottom-right"]) {
		--swift-poster-gradient: linear-gradient(to left top, var(--swift-poster-gradient-color), 50%, transparent);
	}
	&:is([data-swift-poster="middle-left"]) {
		--swift-poster-gradient: linear-gradient(to right, var(--swift-poster-gradient-color), 50%, transparent);
	}
	&:is([data-swift-poster="middle-center"]) {
		--swift-poster-gradient: radial-gradient(circle at center, var(--swift-poster-gradient-color), 50%, transparent);
	}
	&:is([data-swift-poster="middle-right"]) {
		--swift-poster-gradient: linear-gradient(to left, var(--swift-poster-gradient-color), 50%, transparent);
	}
	&:not([data-swift-poster=""]) {
		&:has(figure) {
			&:before {
				content: "";
				position: absolute;
				inset:0;
				width: 100%;
				height: 100%;
				background-image: var(--swift-poster-gradient);
				opacity: 0.6;
				z-index: 1;
				pointer-events: none;
				user-select: none;
			}
		}
	}
}

[data-swift-poster-height="2"] {
	--swift-poster-height: 35vh;
}

[data-swift-poster-height="3"] {
	--swift-poster-height: 55vh;
}

[data-swift-poster-height="4"] {
	--swift-poster-height: 85vh;
}
