[swift-poster] {
	--swift-poster-height: 15vh;
	min-height: var(--swift-poster-height);
	padding: var(--swift-content-padding);
}

[data-swift-poster-height="2"] {
	--swift-poster-height: 35vh;
}

[data-swift-poster-height="3"] {
	--swift-poster-height: 55vh;
}

[data-swift-poster-height="4"] {
	--swift-poster-height: 85vh;
}