.table {
    --swift-table-cell-padding-y: .5rem;
    --swift-table-cell-padding-x: .5rem;
    --bs-table-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(var(--bs-body-color-rgb), .0275);
}

$table-group-separator-color: $table-border-color;

// Override link colors in tables.
//
// This is necessary when we have a table inside a themes row/column

.table a,
.table a:hover {
    color: currentColor;
}

// Linked Rows
//
// Link table rows. Link any content in <td>, add tabindex="-1" to all links except the first in each row
// CSS move the padding from the <td> to the <a>

.table-linked {

    tr:focus-within {
        background-color: $table-hover-bg;

        a {
            outline: none;
        }
    }

    td {
        padding: 0 !important;
    }

    a {
        padding: $table-cell-padding-y $table-cell-padding-x;
    }
}

// Clean Design
//
// Smaller padding and no border on <tr>

.table-clean {

    --swift-table-cell-padding-y: .25rem;

    & > :not(:last-child) > :last-child > * {
        border-bottom-color: $table-border-color !important;
    }

    tr:not(:last-child) {

        th,
        td {
            border-bottom: none !important;
        }
    }
}

// Combination of Linked Rows and Clean Design
//

.table-linked.table-clean {

    th,
    td {
        padding: 0 !important;
    }

    a {
        padding: calc(#{$table-cell-padding-y} / 2) $table-cell-padding-x !important;
    }

    tr:first-child th a,
    tr:first-child td a {
        padding-top: $table-cell-padding-y !important;
    }

    tr:last-child th a,
    tr:last-child td a {
        padding-bottom: $table-cell-padding-y !important;
    }
}

// Large Design
//
// Large padding, great for list tables <tr>

.table-lg {
    --swift-table-cell-padding-x: 2rem;
}

// Medium Design
//
// Slightly larger padding, great for designed tables <tr>

.table-md {
    --swift-table-cell-padding-y: 1rem;
    --swift-table-cell-padding-x: 1rem;
}

//Render tables from Quill Editor in the same way as in backend....
table.ql-table-better {
    table-layout: fixed;
    border-collapse: collapse;

    td {
        border: 1px solid #000;
        padding: 2px 5px;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

// Table inside card (and .table-responsive - but not inside .card-body)
//
// Remove bottom border from last row in table and add top border
// Remove bottom border to second to last row in table if it has a collapse or collapsing sibling
:where(.card > *:not(.card-body)) > .table > tbody > tr {
    
    &:last-child > td {
        border-top-width: var(--bs-border-width) !important;
        border-bottom-width: 0 !important;
    }

    &:has(+ tr:last-child:is(.collapse, .collapsing)) > td {
        border-bottom-width: 0 !important;
    }
}