@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@* https://testgateway.altapaysecure.com/merchant/help/FrontendIntegration#Credit_Card_Token_form_styling_example *@
<style type="text/css">
    .FormTypeButton {
        float: left;
        position: relative;
        top: 0px;
        margin-left: 10px;
        background-color: white;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 0px;
        z-index: 50;
    }

        .FormTypeButton.Selected {
            background-color: #eeeeee;
            z-index: 100;
        }

    form#CreditCard {
        z-index: 75;
        top: 19px;
        background-color: #eeeeee;
        width: 550px;
        padding: 20px;
        border: 1px solid black;
    }
</style>
<noscript>
    <style type="text/css">
        .FormTypeButton {
            float: none;
            position: relative;
            top: auto;
            margin-left: 10px;
            background-color: white;
            border: 0px;
            z-index: auto;
            font-size: 20px;
        }

            .FormTypeButton.Selected {
                background-color: white;
                z-index: auto;
            }

        form {
            z-index: auto;
            position: relative;
            top: auto;
            background-color: #eeeeee;
            width: 550px;
            border: 1px solid black;
        }
    </style>
</noscript>

<h4>Payment form:</h4>
<form id="PensioPaymentForm">
    All content in here will be replaced by the actual payment form
</form>