<div class="StockLocationServicePoints">
	<div>
		<b><!--@Translate(Service_points_can_pickup_your_products, "Here you can pickup your products")--></b>
	</div>
	<div class="service-points" id="<!--@FieldPrefix-->service-points">
		<!--@LoopStart(ServicePoints)-->
		<div class="service-point radio" data-id="<!--@ServicePointId-->">
			<!--@If(ServicePoints.LoopCounter==1)-->
			<input type="radio" name="<!--@FieldPrefix-->ServicePointId" value="<!--@ServicePointId-->" id="<!--@FieldPrefix-->_<!--@ServicePointId-->" checked="checked"/>
			<!--@Else-->
			<input type="radio" name="<!--@FieldPrefix-->ServicePointId" value="<!--@ServicePointId-->" id="<!--@FieldPrefix-->_<!--@ServicePointId-->"/>
			<!--@EndIf-->
			<label for="<!--@FieldPrefix-->_<!--@ServicePointId-->">
				<span><b><!--@Name--></b></span>
				<div class="adr">
					<span class="street-address"><!--@Address--></span>,
					<span class="street-address"><!--@Address2--></span>	
					<span class="city-name"><!--@CityName--></span>						
					<span class="postal-code"><!--@ZipCode--></span>
					<span class="country-name"><!--@CountryCode--></span>
					<span class="phone"><!--@Phone--></span>
					<span class="phone-mobile"><!--@PhoneMobile--></span>
				</div>			
			</label>				
		</div>
		<!--@LoopEnd(ServicePoints)-->
	</div>
</div>
