<!--@If Not Defined(Order.IsComplete)-->
<div class="UnifaunServicePoints">
	<!--@If Defined(Order.Customer.Address)-->
	<!--@If Defined(Order.Customer.ZipCode-->
	<div>
		<!--@Translate(Service_points_near_address, "Service points near address")--> <span class="location"><!--@Order.Customer.Address--> <!--@Order.Customer.ZipCode--></span>
	</div>
	<!--@EndIf(Order.Customer.ZipCode-->
	<!--@EndIf(Order.Customer.Address)-->

	<div class="service-points" id="<!--@FieldPrefix-->service-points">
		<!--@LoopStart(ServicePoints)-->
		<div class="service-point" data-id="<!--@ServicePointId-->">
			<div class="ctrl">
                <!--@If Defined(IsSelected)-->
				<input type="radio" name="<!--@FieldPrefix-->ServicePointId" value="<!--@ServicePointId-->" id="<!--@FieldPrefix-->_<!--@ServicePointId-->" checked="checked"/>
				<!--@Else-->
				<input type="radio" name="<!--@FieldPrefix-->ServicePointId" value="<!--@ServicePointId-->" id="<!--@FieldPrefix-->_<!--@ServicePointId-->"/>
				<!--@EndIf-->
			</div>
			<div class="content">
				<div class="name"><label for="<!--@FieldPrefix-->_<!--@ServicePointId-->"><!--@Name--></label></div>
				<div class="adr">
					<div class="street-address"><!--@Address1--></div>
					<span class="postal-code"><!--@ZipCode--></span>
					<span class="locality"><!--@City--></span>
					<div class="country-name"><!--@CountryCode--></div>
					<div class="phone"><!--@Phone--></div>
				</div>
			</div>
		</div>
		<!--@LoopEnd(ServicePoints)-->
	</div>
</div>
<!--@EndIf-->
