@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div>
	@foreach (LoopItem orderline in GetLoop("OrderLines"))
	{
		string name = orderline.GetString("Ecom:Order:OrderLine.ProductName");

		<div>@name</div>
	}
</div>
