<script language="JavaScript">
function checkform(){
    if (document.getElementById('ExtUserForm').RepeatPassword.value.length <= 0 || document.getElementById('ExtUserForm').Password.value.length <= 0) {
		alert('Both fields are required');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
    } else if (document.getElementById('ExtUserForm').Password.value == document.getElementById('ExtUserForm').OldPassword.value) {
		alert('Password is the same as before');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
    } else if (document.getElementById('ExtUserForm').RepeatPassword.value != document.getElementById('ExtUserForm').Password.value) {
		alert('Passwords do not match');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
	}
	return true;
}
</script>
<tr>
	<td></td>
	<td align="center" colspan="12">
		<table cellSpacing="0" cellPadding="0" border="0">
			<form name="ExtUserForm" id="ExtUserForm" onsubmit="return checkform();" action="<!--@DWExtranetAction-->" method="post">
				<TBODY>
					<tr>
						<td colSpan="2"><span class="h1"><br>User <!--@DWExtranetUsername--></span>
						<input type="hidden" name="ChangePassword" id="ChangePassword" value="ChangePassword">
						<input type="hidden" name="OldPassword" id="OldPassword" value="<!--@DWOldPassowrd-->">
						</td>
					</tr>
					<tr>
						<td colSpan="2"><span class="h2"><br>Your password has expired. Take a new</span></td>
					</tr>
					<tr>
						<td colSpan="2">&nbsp;</td>
					</tr>
					<tr>
						<td>Password&nbsp;</td>
						<td><input style="WIDTH: 200px" type="password" value="" name="Password"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Repeat password&nbsp;</td>
						<td><input style="WIDTH: 200px" type="password" value="" name="RepeatPassword"></td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="DWextranet_ErrorCode1" Style="display:<!--@DWextranet_AccessUserPasswordErrorField1-->;">The password must be a minimum <!--@DWextranet_AccessUserPasswordErrorFieldData1--> characters in length</div>
							<div id="DWextranet_ErrorCode2" Style="display:<!--@DWextranet_AccessUserPasswordErrorField2-->;">Password must contain numbers and letters</div>
							<div id="DWextranet_ErrorCode3" Style="display:<!--@DWextranet_AccessUserPasswordErrorField3-->;">Password should include numbers, uppercase and lowercase letters and special characters</div>
							<div id="DWextranet_ErrorCode4" Style="display:<!--@DWextranet_AccessUserPasswordErrorField4-->;">The password has been used and may not be used for <!--@DWextranet_AccessUserPasswordErrorFieldData2--> times, or after <!--@DWextranet_AccessUserPasswordErrorFieldData3--> days</div>
						</td>
					</tr>
					<tr>
						<td align="right" colSpan="2"><input type="submit" value="    OK    "></td>
					</tr></form>
			</TBODY></table>
	</td>
</tr>
