<script language="JavaScript">
function checkform(){
    if (document.getElementById('ExtUserForm').RepeatPassword.value.length <= 0 || document.getElementById('ExtUserForm').Password.value.length <= 0) {
		alert('Begge felter skal udfyldes');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
    } else if (document.getElementById('ExtUserForm').Password.value == document.getElementById('ExtUserForm').OldPassword.value) {
		alert('Passwordet er det samme som før');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
    } else if (document.getElementById('ExtUserForm').RepeatPassword.value != document.getElementById('ExtUserForm').Password.value) {
		alert('Passwords ikke ens');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
	}
	return true;
}
</script>
<tr>
	<td></td>
	<td align="center" colspan="12">
		<table cellSpacing="0" cellPadding="0" border="0">
			<form name="ExtUserForm" id="ExtUserForm" onsubmit="return checkform();" action="<!--@DWExtranetAction-->" method="post">
				<TBODY>
					<tr>
						<td colSpan="2"><span class="h1"><br>Bruger <!--@DWExtranetUsername--></span>
						<input type="hidden" name="ChangePassword" id="ChangePassword" value="ChangePassword">
						<input type="hidden" name="OldPassword" id="OldPassword" value="<!--@DWOldPassowrd-->">
						</td>
					</tr>
					<tr>
						<td colSpan="2"><span class="h2"><br>Dit password er udløbet. Indtag et nyt</span></td>
					</tr>
					<tr>
						<td colSpan="2">&nbsp;</td>
					</tr>
					<tr>
						<td>Kodeord&nbsp;</td>
						<td><input style="WIDTH: 200px" type="password" value="" name="Password"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Gentag kodeord&nbsp;</td>
						<td><input style="WIDTH: 200px" type="password" value="" name="RepeatPassword"></td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="DWextranet_ErrorCode1" Style="display:<!--@DWextranet_AccessUserPasswordErrorField1-->;">Password'et skal være minimum <!--@DWextranet_AccessUserPasswordErrorFieldData1--> karakterer langt</div>
							<div id="DWextranet_ErrorCode2" Style="display:<!--@DWextranet_AccessUserPasswordErrorField2-->;">Password'et skal indeholde tal og bogstaver</div>
							<div id="DWextranet_ErrorCode3" Style="display:<!--@DWextranet_AccessUserPasswordErrorField3-->;">Password'et skal indeholde tal, store og små bogstaver samt special tegn</div>
							<div id="DWextranet_ErrorCode4" Style="display:<!--@DWextranet_AccessUserPasswordErrorField4-->;">Password'et har været brugt og må først bruges efter <!--@DWextranet_AccessUserPasswordErrorFieldData2--> gange eller efter <!--@DWextranet_AccessUserPasswordErrorFieldData3--> dage</div>
						</td>
					</tr>
					<tr>
						<td align="right" colSpan="2"><input type="submit" value="    OK    "></td>
					</tr></form>
			</TBODY></table>
	</td>
</tr>
