<!--@If(Global:Extranet.UserID==0)-->

    <h3><!--@Translate(CustomerLogin, 'Customer login')--></h3>
		<div class="login-box-mode" data-login-box-mode="login">
			<!--@If(Global:Extranet.UserID==0)-->
			    <!--@If(Server:Request.username<defined> || Server:Request.password<defined>)-->
                <div class="loginbox-login-failed alert alert-error">                
                    <!--@Translate(Invalid_username_or_password, "Invalid username or password")-->                
                </div>
                <!--@Else-->
			    <div class="loginbox-login-failed alert alert-error">                    
                    <!--@DW_extranet_error_uk-->                    
                </div>
			    <!--@EndIf-->
			<!--@EndIf-->

			<form class="form-horizontal" method="post" onsubmit="">
				<input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />				
				<div class="control-group">
					<input type="text" id="login-username" name="username" spellcheck="false" placeholder="<!--@Translate(Username, 'Username')-->" value="<!--@If(Server:Request.username<defined>)--><!--@Server:Request.username--><!--@EndIf-->"/>
				</div>
				<div class="control-group">
					<input type="password" id="login-password" name="password" placeholder="<!--@Translate(Password, 'Password')-->" value="<!--@If(Server:Request.password<defined>)--><!--@Server:Request.password--><!--@EndIf-->"/>
				</div>				
                <input type="submit" value="Login" />
			</form>
		</div>
    <br />
    <!--@LoopStart(DWExtranetExternalLoginProviders)-->
        <!--@HeaderStart-->
            <h3><!--@Translate(External_account_log_in, "External account log in")--></h3>
            <table border="0" cellpadding="5">                
                <tr>
                    <th><!--@Translate(Provider_name, "Provider name")--></th>
                    <th></th>
                </tr>
        <!--@HeaderEnd-->
            <tr>
                <td><!--@ProviderName--></td>
                <td>
                    <a href="/Admin/Public/Social/ExternalLogin.aspx?action=login&providerID=<!--@ProviderID-->"
                        style="font: normal 12px Arial; text-decoration: none; background-color: #EEEEEE; color: #333333; padding: 2px 6px 2px 6px; border: 1px solid #CCCCCC;">
                        <!--@ProviderType-->
                    </a>
                </td>
            </tr>        
        <!--@FooterStart-->
            </table>
        <!--@FooterEnd-->
    <!--@LoopEnd(DWExtranetExternalLoginProviders)-->
<!--@Else-->
    <a class="btn" href="/Admin/Public/ExtranetLogoff.aspx?ID=<!--@DwPageID-->"><!--@Translate(Logout, 'Logout')--></a>
<!--@EndIf-->