<script language="JavaScript">
    function checkform() {
        if (document.getElementById('ExtUserForm').ForgotPassword.checked) {
            if ((document.getElementById('ExtUserForm').ForgotPassword.checked) && (document.getElementById('ExtUserForm').Username.value.length <= 0)) {
                alert('To recieve your password, please specify email adress.');
                document.getElementById('ExtUserForm').Username.focus();
                return false;
            }
        }
        else {
            if (document.getElementById('ExtUserForm').Username.value.length <= 0) {
                alert('Specify username');
                document.getElementById('ExtUserForm').Username.focus();
                return false;
            }


            if (document.getElementById('ExtUserForm').Password.value.length <= 0) {
                alert('Specify password');
                document.getElementById('ExtUserForm').Password.focus();
                return false;
            }
        }

        return true;
    }

    function ToggleForgotPassword() {
        if (document.getElementById('ExtUserForm') && document.getElementById('ExtUserForm').Password)
            document.getElementById('ExtUserForm').Password.disabled = document.getElementById('ExtUserForm').ForgotPassword.checked;

        var text = document.getElementById("UsernameText");
        if (document.getElementById('ExtUserForm').ForgotPassword.checked)
            text.innerHTML = "Specify E-mail";
        else
            text.innerHTML = "Username";
    }

</script>
<tr>
    <td></td>
    <td colspan=12 align=center>
        <table border="0" cellpadding=0 cellspacing=0>
            <form name="ExtUserForm" id="ExtUserForm" method="post" action="<!--@DWExtranetAction-->" onsubmit="return checkform();">
                <tr>
                    <td colspan="2"><span class="h1"><br>Login</span></td>
                </tr>
                <tr>
                    <td colspan="2"><span class="h2"><br>Specify username and password.</span></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><span id="UsernameText">Username</span>&nbsp;</td>
                    <td><input type="text" tabindex="1" name="Username" style="width:200px;"></td>
                </tr>
                <tr>
                    <td><span id="ShowPasswordText">Password</span>&nbsp;</td>
                    <td><input type="password" id="ShowPasswordText" tabindex="2" name="Password" style="width:200px;"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" onclick="javascript:ToggleForgotPassword();" name="ForgotPassword" value="True">I've forgot my password!</td>
                    <input type="hidden" name="ForgotPasswordConfirm" value="Your password have been send to you by mail.">
                    <input type="hidden" name="ForgotPasswordConfirmUserNotActive" value="This user is not active!">
                <tr>
                <tr>
                    <td colspan="2" align="right"><input type="submit" tabindex="3" value="    OK    "></td>
                </tr>
            </form>
        </table>
    </td>
</tr>