<script language="JavaScript">
function checkform(){
    if (document.getElementById('ExtUserForm').Username.value.length <= 0) {
		alert('Angiv brugernavn');
		document.getElementById('ExtUserForm').Username.focus();
		return false;
	}

    if (document.getElementById('ExtUserForm').Password.value.length <= 0) {
		alert('Angiv kodeord');
		document.getElementById('ExtUserForm').Password.focus();
		return false;
	}
	return true;
}
</script>
<tr>
	<td></td>
	<td colspan=12 align=center>
		<table border="0" cellpadding=0 cellspacing=0>
			<form name="ExtUserForm" id="ExtUserForm" method="post" Action="<!--@DWExtranetAction-->" onSubmit="return checkform();">
			<tr>
				<td colspan="2"><span class=h1><br>Login</span></td>
			</tr>
			<tr>
				<td colspan="2"><span class=h2><br>Indtast brugernavn og kodeord.</span></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td>Brugernavn&nbsp;</td>
				<td><input type="text" tabindex="1" name="Username" style="width:200px;" value="<!--@DWExtranetUsername-->"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" value="True" name="DWExtranetUsernameRemember" <!--@DWExtranetUsernameRemember-->> Husk brugernavn</td>
			</tr>
			<tr>
				<td>Kodeord&nbsp;</td>
				<td><input type="password" tabindex="2" name="Password" style="width:200px;" value="<!--@DWExtranetPassword-->"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" value="True" name="DWExtranetPasswordRemember" <!--@DWExtranetPasswordRemember-->> Husk kodeord</td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" tabindex="3" value="    OK    "></td>
			</tr>
			</form>
		</table>
	</td>
</tr>