@inherits ViewModelTemplate<UserGroupListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend
@using Dynamicweb.Users.Frontend.UserGroups

@{
    string baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview.Page.ID}");
}

<header class="hstack gap-3 mb-4">
    <h1 class="h4 mb-0">@(Pageview.Page.GetDisplayName())</h1>
</header>


@foreach (var group in Model.Groups)
{
    <div>hej</div>
}