@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card shadow-lg">
    <figure class="card-body p-5 text-center" itemscope itemtype="https://schema.org/Quotation">       
        @if (Model.Item.TryGetString("Quote", out string quote))
        {
            <i class="icon-5 pe-none text-body text-opacity-25 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                    <path
                        d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
                </svg>
            </i>
            <blockquote class="blockquote m-0" itemprop="text">
                <div class="fs-3 lh-sm mb-0-last-child text-body">
                    @quote
                </div>
            </blockquote>
        }
    </figure>
    <div class="card-footer text-center">
        @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
        {
            <div class="mt-n5">
                <img src="@authorImage.Path" alt="@authorImage.Name" class="img-thumbnail object-fit-cover rounded-circle" style="width: 80px;height: 80px;" style="object-position: @authorImage.GetFocalPointPercentage()">
            </div>
        }
        <div class="my-3">
            @if (Model.Item.TryGetString("Author", out string author))
            {
                <figcaption class="blockquote-footer fs-6 m-0 text-body text-opacity-75" itemprop="author">
                    @author
                </figcaption>
            }
        </div>
    </div>
</div>
