@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card flex-row" itemscope itemtype="https://schema.org/Quotation">
	@if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
	{
		<figure class="ratio m-0" style="--bs-aspect-ratio: 133%;min-width:25%;max-width:33.33%;">
			<img class="card-img object-fit-cover" src="@authorImage.ToGetImage(new(){ Height = 400, Quality = 90 })" style="clip-path: ellipse(68% 68% at 28% 38%);object-position: @authorImage.GetFocalPointPercentage()" alt="@authorImage.Name">
		</figure>
	}
	<div class="card-body m-auto">
		@if (Model.Item.TryGetString("Quote", out string quote))
		{
			<blockquote class="blockquote fs-5 lh-sm" itemprop="text">
				@quote
			</blockquote>
		}
		@if (Model.Item.TryGetString("Author", out string author))
		{
			<div class="text-muted text-opacity-75 fs-6 m-0" itemprop="author">@author</div>
		}
	</div>
</div>
