@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="h-100 ps-5" style="border-left: 4px solid var(--bs-body-color)">
    <div itemscope itemtype="https://schema.org/Quotation">
        @if (Model.Item.TryGetString("Quote", out string quote))
        {
            <blockquote class="blockquote fs-5 lh-sm position-relative" itemprop="text">
                <span class="mb-0-last-child">
                    @quote
                </span>
            </blockquote>
        }

        <div class="d-flex gap-3">
            @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
            {
                <div class="ratio ratio-1x1" style="max-width: 60px;">
                    <img class="img-thumbnail rounded-circle object-fit-cover" src="@authorImage.Path" alt="@authorImage.Name" height="60" width="60" style="object-position: @authorImage.GetFocalPointPercentage()">
                </div>
            }

            @if (Model.Item.TryGetString("Author", out string author))
            {
                <figcaption class="fs-6 m-0 text-body text-opacity-75" itemprop="author">
                    @author
                </figcaption>
            }
        </div>
    </div>
</div>
