@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card" style="border-left: .4rem solid rgba(var(--bs-body-color-rgb), .25);">
  <figure class="card-body p-5" itemscope itemtype="https://schema.org/Quotation">
    @if (Model.Item.TryGetString("Quote", out string quote))
    {
      <blockquote class="blockquote">
          <p class="icon-5 opacity-25">
            @ReadFile("/Files/Templates/Designs/Swift-v2/Assets/icons/quote-left.svg")
          </p>
          <span class="fs-4" itemprop="text">
            @quote
          </span>
          <hr>
      </blockquote>
    }

    <div class="align-items-center d-flex flex-row gap-3">
      @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
      {
          <img class="rounded-circle object-fit-cover" height="50" width="50" src="@authorImage.Path" alt="Image"> 
      }

      @if (Model.Item.TryGetString("Author", out string author))
      {
        <figcaption class="blockquote-footer fs-6 m-0 opacity-85" itemprop="author">
          @author
        </figcaption>
      }
    </div>
  </figure>
</div>
