@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card">
    <div class="card-body">
        @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
        {
            <div class="text-center mb-4">
                <img class="rounded-circle" src="@authorImage.Path" alt="Image alt text" width="80">
            </div>
        }

        <figure class="text-center mb-0" itemscope itemtype="https://schema.org/Quotation">

            @if (Model.Item.TryGetString("Quote", out string quote))
            {
                <blockquote class="blockquote" itemprop="text">
                    <i class="icon-2">@ReadFile("/Files/Templates/Designs/Swift-v2/Assets/icons/quote-left.svg")</i>
                    <span class="d-inline-block fs-4 mb-0-last-child">
                        @quote
                    </span>
                    <i class="icon-2">@ReadFile("/Files/Templates/Designs/Swift-v2/Assets/icons/quote-right.svg")</i>
                </blockquote>
            }

            @if (Model.Item.TryGetString("Author", out string author))
            {
                <figcaption class="blockquote-footer fs-6 m-0 text-body text-opacity-75" itemprop="author">
                    @author
                </figcaption>
            }
        </figure>
    </div>
</div>
