@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card flex-row">
	@if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
	{
		<div class="ratio" style="--bs-aspect-ratio: 133%; max-width:33.33%;">
			<img src="@authorImage.Path" style="clip-path: ellipse(68% 68% at 28% 38%);object-position: @authorImage.GetFocalPointPercentage()" class="object-fit-cover rounded-start"
				alt="Image">
		</div>
	}
	<figure class="card-body m-auto mb-0-last-child p-4" itemscope itemtype="https://schema.org/Quotation">
		@if (Model.Item.TryGetString("Quote", out string quote))
		{
			<blockquote class="blockquote fs-3 lh-sm" itemprop="text">
				@quote
			</blockquote>
		}
		@if (Model.Item.TryGetString("Author", out string author))
		{
			<figcaption class="blockquote-footer text-body fs-6 text-opacity-75" itemprop="author">@author</figcaption>
		}
	</figure>
</div>
