@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card grid d-grid" style="min-height: 300px;">
	@if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
	{
		<div class="g-col-4 h-100">
			<img src="@authorImage.Path" style="clip-path: ellipse(68% 68% at 28% 38%);" class="img-fluid object-fit-cover h-100 rounded-start"
				alt="Image">
		</div>
	}
	<div class="g-col-8 card-body text-center m-auto" itemscope itemtype="https://schema.org/Quotation">
		@if (Model.Item.TryGetString("Quote", out string quote))
		{
			<blockquote class="blockquote text-center" itemprop="text">
				@quote
			</blockquote>
		}
		@if (Model.Item.TryGetString("Author", out string author))
		{
			<div class="fs-7 opacity-75" itemprop="author">@author</div>
		}
	</div>
</div>
