@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

		@if (Model.Item.TryGetString("Quote", out string quote)) 
    {
      <blockquote class="blockquote fs-6" itemprop="text">
          @quote
      </blockquote>
    }

      <div class="d-flex gap-3 align-items-center m-0">
          @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage)) {
              <img src="@authorImage.Path" width="50" height="50" class="rounded-circle object-fit-cover" alt="Image" loading="lazy" decoding="async">
          }

          @if (Model.Item.TryGetString("Author", out string author)) {

            <div class="opacity-85 fs-7" itemprop="author">
              @author
            </div>
          }
			</div>
