@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="card quote-fancy" itemscope itemtype="https://schema.org/Quotation">
  <blockquote class="card-body m-0 fs-6">
    @if (Model.Item.TryGetString("Quote", out string quote))
    {
      <p class="quote-fancy-icon icon-5">
        @ReadFile("/Files/Templates/Designs/Swift-v2/Assets/icons/quote-left.svg")
      </p>

      @quote
      <hr>
    }

    <div class="align-items-center d-flex flex-row gap-3">
      @if (Model.Item.TryGetImageFile("AuthorImage", out ImageFileViewModel authorImage))
      {
        <div>
          <img class="quote-fancy-img" src="@authorImage.Path" alt="Image">
        </div>
      }

      @if (Model.Item.TryGetString("Author", out string author))
      {

        <div class="opacity-85 fs-7" itemprop="author">
          @author
        </div>
        
      }
    </div>
  </blockquote>
</div>
