<div class="d-grid">
    @for (var i = 0; i < 5; i++)
    {
        <div class="hstack gap-3 placeholder-glow py-3">
            <div class="vstack gap-1 flex-grow-1 min-w-0">
                <div class="placeholder bg-primary-subtle rounded-pill w-25"></div>
                <div class="placeholder bg-primary-subtle rounded-pill w-50"></div>
            </div>
            <div class="placeholder bg-primary-subtle rounded-pill w-100" style="max-width: 35px;"></div>
            <div class="placeholder bg-primary-subtle rounded-pill w-100" style="max-width: 90px;"></div>
        </div>
    }
</div>