@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<p>Hello, @GetString("User.UserName")</p>
<p>Your payment for order: @GetString("Order.ID") was not successful and the order has been cancelled.</p>