@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation
@{
	var region = new System.Globalization.RegionInfo(Pageview?.Area?.CultureInfo?.LCID ?? 0);

	string? title = null;
	if (Model.Item?.GetBoolean("ShowLanguageName") ?? false) 
	{
		if (Model.Item?.TryGetString("LanguageNameFormat", out var languageNameFormat) ?? false)
		{
			if (languageNameFormat == "short")
			{
				title = region.TwoLetterISORegionName;
			}
			else
			{
				title = region.DisplayName;
			}
		}
	}
	if (Model.Item?.TryGetString("Title", out var customTitle) ?? false)
	{
		title = customTitle;
	}
	string? currency = null;
	if (Model.Item?.GetBoolean("ShowLanguageCurrency") ?? false) 
	{
		currency = region.CurrencySymbol;
	}

	string? pageIcon = null;
	if (Model.Item?.TryGetString("Icon", out var icon) ?? false)
	{
		pageIcon = icon;
	}
	if (Model.Item?.GetBoolean("ShowLanguageFlag") ?? false) 
	{
		pageIcon = $"/Files/Images/Icons/Flags/{region.Name}.svg";
	}
}

<div class="nav-wrapper">
	<button type="button" class="nav-link hstack p-2 gap-2 text-nowrap text-decoration-underline-hover"
		hx-get
		hx-vals='{"LayoutTemplate": "/Designs/Swift-v2/Paragraph/Swift-v2_LanguageSelector/Modals/LanguageModal.cshtml"}'
		hx-target="main"
		hx-swap="beforeend">
		@if (!string.IsNullOrEmpty(pageIcon) && pageIcon.EndsWith(".svg", StringComparison.OrdinalIgnoreCase))
		{
			<span class="icon-3 pe-none">@ReadFile(pageIcon)</span>
		}
		@if (!string.IsNullOrEmpty(title))
		{
			<span>@title</span>
		}
		@if (!string.IsNullOrEmpty(currency))
		{
			<span class="vr"></span>
			<span class="text-uppercase opacity-50">@(currency)</span>
		}
	</button>
</div>