<form name="<!--@Ecom:Product.ID-->" id="PRODFORM_<!--@Ecom:Product.ID-->" method="get" action="Default.aspx?ID=<!--@Ecom:Product:Page.ID-->">
    <!--@Ecom:Product.Form.Clean-->
    <div id="productdetails">
        <h2><!--@Ecom:Product.Name--></h2>

        <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank"><!--@Ecom:Product.ImageMedium.Default--></a>
        <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->

        <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <!--@Ecom:Product.ImageMedium.Default-->
        <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->

        <span class="price">
            <!--@Ecom:Product.Price-->
        </span>

        <span>
            <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
        </span>

        <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
        <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>

        <!---------------------------Variants------------------------------------------------->

        <br />
        <br />
        <h3>Product variant groups properties</h3>
        <!--@LoopStart(VariantGroups)-->
            <!--@HeaderStart-->
            <!--@HeaderEnd-->
                <b><!--@Ecom:VariantGroup.Name--> (<!--@Ecom:VariantGroup.ID-->):</b>
            <!--@LoopStart(VariantOptions)-->
                <!--@If(Ecom:VariantOption.Selected = "True")-->
                    <table style='border: 1px solid black'>
                        <tr>
                            <th colspan="2"><!--@Ecom:VariantGroup.Name--> is "<!--@Ecom:VariantOption.Name-->"</th>
                        </tr>
                        <tr>
                            <th>Property name</th>
                            <th>Property value</th>
                        </tr>
                        <!--@LoopStart(VariantGroupProperties)-->
                        <tr>
                            <td align='center'><!--@Ecom:VariantGroupProperty.Name--></td>
                            <td align='center'><!--@Ecom:VariantGroupProperty.Value--></td>
                        </tr>
                        <!--@LoopEnd(VariantGroupProperties)-->
                    </table>
                    <br />
                <!--@EndIf-->
            <!--@LoopEnd(VariantOptions)-->
        <!--@LoopEnd(VariantGroups)-->

        <!--@LoopStart(VariantCombinations)-->
            <!--@EmptyLoopStart-->
                <h3>Productvariants</h3><br />
                No product variants for <!--@Ecom:Product.Name-->  (<!--@Parent(Ecom:Product.Number)-->)
            <!--@EmptyLoopEnd-->

            <!--@HeaderStart-->
                <h3>Productvariants</h3>        
            <!--@HeaderEnd-->

                <ul>
                    <li class="listitem<!--@VariantCombinations.LoopMod2-->">
                        <h3><a href="Default.aspx?ID=<!--@Ecom:VariantCombination.Page.ID-->&amp;ProductID=<!--@Ecom:VariantCombination.Product.ID-->&amp;variantid=<!--@Ecom:VariantCombination.VariantID-->"><!--@Ecom:VariantCombination.Product.Name--> - <!--@Ecom:VariantCombination.VariantText--> </a> (stock: <!--@Ecom:VariantCombination.Product.Stock-->)</h3>
                        <span class="price">
                            <!--@Ecom:Product.Price-->
                        </span>
                        <a href="Default.aspx?ID=<!--@Ecom:VariantCombination.Page.ID-->&amp;ProductID=<!--@Ecom:VariantCombination.Product.ID-->&amp;variantid=<!--@Ecom:VariantCombination.VariantID-->&amp;cartcmd=add">Add to basket</a>
                    </li>
                </ul>     
           
            <!--@FooterStart-->
            <!--@FooterEnd-->

        <!--@LoopEnd(VariantCombinations)--> <br /><br />
    </div>

</form>
