<div id="productdetails">
    <h3><!--@Ecom:Product.Name--></h3>
    <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
            <!--@Ecom:Product.ImageMedium.Default-->
    <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
    <span class="price">
        <!--@Ecom:Product.Price-->
    </span>
    <span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add"><!--@Translate(addtobasket, "Add to basket")--></a>
    </span>
	<!--@If(Ecom:Product.Stock<=0)-->
        <!--@If(Ecom:Product.NotificationRegistered<>'True')-->
		    <span>
			    <!--@If Defined(Global:Extranet.UserName)-->
			    &nbsp;&nbsp;&nbsp;
                <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;VariantID=<!--@Ecom:Product.VariantID-->&amp;LanguageID=<!--@Ecom:Product.LanguageID-->&amp;cartcmd=createnotificationforthisproduct"><!--@Translate(createnotification, "Create notification")--></a>
			    <!--@EndIf(Global:Extranet.UserName)-->
			    <!--@If Not Defined(Global:Extranet.UserName)-->
                <form name="<!--@Ecom:Product.ID-->" id="NotificationForm_<!--@Ecom:Product.ID-->" method="post" action="/Default.aspx?ID=<!--@Ecom:Product:Page.ID-->">
                    <input type="hidden" name="ProductID" id="ProductID" value="<!--@Ecom:Product.ID-->" />
                    <input type="hidden" name="VariantID" id="VariantID" value="<!--@Ecom:Product.VariantID-->" />
                    <input type="hidden" name="LanguageID" id="LanguageID" value="<!--@Ecom:Product.LanguageID-->" />
                    <input type="hidden" name="CartCmd" id="CartCmd" value="createnotificationforthisproduct" />
                    <label for="NotificationEmail"><!--@Translate(email, "Email")--></label>
                    <input type="email" required="required" id="NotificationEmail" name="NotificationEmail" value="">
                    <input type="submit" value="<!--@Translate(createnotification, "Create notification")-->"/>
                </form>
			    <!--@EndIf(Global:Extranet.UserName)-->
		    </span>	
        <!--@Else-->
            <br />
            <br />
            <span>
                 <!--@Translate(notificationCreated, "Notification created")-->
            </span>	    
        <!--@EndIf-->
    <!--@EndIf-->
    <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
    <span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog"><!--@Translate(addtocatalog, "Add to catalog")--></a>
    </span>
    <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
    <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
    <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>
</div>