<div id="productdetails">
    <form name="<!--@Ecom:Product.ID-->" id="<!--@Ecom:Product.ID-->" method="post">
        <!--@Ecom:Product.Form.Clean-->
        <h3><!--@Ecom:Product.Name--></h3>
        <!--@If Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <a href="<!--@Ecom:Product.ImageLarge.Default.Clean-->" target="_blank">
            <!--@Ecom:Product.ImageMedium.Default-->
        </a>
        <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
        <!--@If Not Defined(Ecom:Product.ImageLarge.Default.Clean)-->
        <!--@Ecom:Product.ImageMedium.Default-->
        <!--@EndIf(Ecom:Product.ImageLarge.Default.Clean)-->
        <span class="price">
            <!--@If(Ecom:Product.Type=3)-->
                <input type="text" name="Amount" id="Amount" value="<!--@Ecom:Product.Price.Price-->"><!--@Ecom:Product.Price.Currency.Symbol--></input>
            <!--@Else-->
                <!--@Ecom:Product.Price-->
            <!--@EndIf-->
        </span>
        <span>
            <a href="javascript:document.<!--@Ecom:Product.ID-->.submit();">Add to basket</a>
        </span>
        <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
        <span>
            <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog">Add to catalog</a>
        </span>
        <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
        <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
        <span class="longdescription"><!--@Ecom:Product.LongDescription--></span>
    </form>
</div>