.feature-block-icon-top,
.feature-block-icon-left,
.feature-block-icon-right,
.feature-block-icon-background {

	.feature-block-icon svg {
		display: inline-block;
		height: auto;
		vertical-align: baseline;
		width: 100%;
	}
}
