.feature-block {
	display: grid;
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	height: 100%;
	overflow: hidden;
	padding: 2rem;
	position: relative;
	text-align: center;

	&__icon {
		grid-area: icon;

		svg {
			display: inline-block;
			height: 3rem;
			vertical-align: baseline;
			width: 3rem;
		}
	}

	&__heading {
		grid-area: heading;
	}

	&__body {
		grid-area: body;
	}

	/* Variant:
		Icon On Top
	*/

	&--icon-top {
		grid-template-rows: auto auto 1fr;
		grid-template-areas:
			"icon"
			"heading"
			"body";
	}

	/* Variants:
		Icon On Left
		Icon On Right
	*/

	&--icon-left,
	&--icon-right {
		grid-template-rows: auto 1fr;

		.feature-block__icon svg {
			height: 2rem;
			width: 2rem;
		}
	}

	/* Variant:
		Icon On Left
	*/

	&--icon-left {
		grid-template-columns: 2rem 1fr;
		grid-template-areas:
			"icon heading"
			".    body";
		text-align: left;
	}

	/* Variant:
		Icon On Right
	*/

	&--icon-right {
		grid-template-columns: 1fr 2rem;
		grid-template-areas:
			"heading icon"
			"body    .";
		text-align: right;
	}

	/* Variant:
		Icon As Background
	*/

	&--icon-background {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-items: center;

		.feature-block__icon {
			--icon-offset: -2rem;
			bottom: var(--icon-offset);
			left: var(--icon-offset);
			position: absolute;
			right: var(--icon-offset);
			top: var(--icon-offset);

			svg {
				height: 100%;
				opacity: 0.1;
				width: 100%;
				z-index: -1;
			}
		}
	}
}
