.has-megamenu {
	position: static !important;
}

.megamenu {
	position: absolute;
	width: 100%;
	transform: none !important;
	inset: auto auto auto 0 !important;
}

.megamenu-item {
	position: static;
}
