/* Finetuning on top of https://github.com/somewebmedia/hc-offcanvas-nav */

.hc-nav-trigger {
	position: relative;
	top: 0;
}

$hc-offcanvas-nav-background-color: #fff !default;
$hc-offcanvas-nav-text-color: #231f20 !default;
$hc-offcanvas-nav-border-color: var(--bs-gray);

.hc-offcanvas-nav {

	.nav-title {
		margin: 0;
	}

	.nav-container,
	.nav-wrapper,
	ul {
		background: $hc-offcanvas-nav-background-color;
	}

	.nav-content > .nav-close:first-child a, .hc-offcanvas-nav .nav-title + .nav-close a.has-label, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a {
		background: $hc-offcanvas-nav-background-color;
		border-top: 1px solid $hc-offcanvas-nav-border-color;
		border-bottom: 1px solid $hc-offcanvas-nav-border-color;
	}

	.first-nav, .second-nav {
		border: none !important;
	}

	.nav-content {

		& > {

			h2,
			h3,
			h4,
			h5,
			h6 {
				color: $hc-offcanvas-nav-text-color;

				&:not(.nav-title):not(.level-title) {
					color: darken($hc-offcanvas-nav-text-color, 30%);
				}
			}
		}

		> .nav-close:first-child a, .hc-offcanvas-nav .nav-title + .nav-close a.has-label, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a {
			background: $hc-offcanvas-nav-background-color;
			border-top: 1px solid $hc-offcanvas-nav-border-color;
			border-bottom: 1px solid $hc-offcanvas-nav-border-color;
		}
	}

	.nav-wrapper > .nav-content > ul:first-of-type > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link {
		border-top: 1px solid $hc-offcanvas-nav-border-color;
	}

	.nav-item-link,
	.hc-offcanvas-nav li.nav-close a,
	.hc-offcanvas-nav .nav-back a {
		border-bottom: 1px solid #e7e7e7;
	}

	.nav-item-link,
	li.nav-close a,
	.nav-back a {
		color: $hc-offcanvas-nav-text-color;

		&[disabled] {
			color: rgba($hc-offcanvas-nav-text-color, .5);
		}
	}

	&:not(.touch-device) {
		li:not(.nav-item-custom) {
			a:not([disabled]) {
				&:hover {
					background: lighten($hc-offcanvas-nav-background-color, 3%);
				}
			}
		}
	}

	.nav-highlight {
		& > .nav-item-wrapper .nav-item-link {
			background: lighten($hc-offcanvas-nav-background-color, 4%);
		}
	}

	li {
		color: $hc-offcanvas-nav-text-color;

		&.nav-close,
		&.nav-back {
			a {
				&:hover {
					background: darken($hc-offcanvas-nav-background-color, 6.5%);
				}
			}
		}
	}

	.nav-close-button {
		span {
			&::before,
			&::after {
				border-top: 2px solid $hc-offcanvas-nav-border-color;
				border-left: 2px solid $hc-offcanvas-nav-border-color;
			}
		}
	}

	.nav-content > .nav-close {
		a {
			color: $hc-offcanvas-nav-text-color;

			&:hover {
				background: lighten($hc-offcanvas-nav-background-color, 2%);
			}
		}
	}

	a.nav-next {
		position: relative;

		&:before {
			background: darken($hc-offcanvas-nav-text-color, 70%);
		}
	}

	.nav-next,
	.nav-back {
		span {
			&::before {
				border-top: 2px solid $hc-offcanvas-nav-border-color;
				border-left: 2px solid $hc-offcanvas-nav-border-color;
			}
		}
	}


	&.nav-levels-expand li.level-open > .nav-wrapper,
	&.nav-levels-none li .nav-wrapper {
		&::before {
			background: darken($hc-offcanvas-nav-text-color, 70%);
		}
	}

	ul.bottom-nav {
		position: absolute;
		z-index: 10;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		border-top: 1px solid #2c5d8f;
	}

	ul.bottom-nav li {
		flex: auto;
	}

	ul.bottom-nav li a {
		padding: 10px;
		text-align: center;
		height: 100%;
		border-bottom: none;
	}
}

