.tns-item {
	padding-right: 32px;
}

.tns-nav {
	text-align: center;
	margin: 10px 0;

	> button {
		width: 12px;
		height: 12px;
		padding: 0;
		margin: 0 6px;
		border-radius: 50%;
		background: $gray-300;
		border: 0;
		pointer-events: initial;
	}

	.tns-nav-active {
		background: $gray-900;
	}
}

.tns-controls {
	outline: none;
	position: absolute;
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	z-index: 1;
	pointer-events: none;

	button {
		background: 0;
		border: 0;
		padding: 0;
		width: 100px;
		opacity: 0;
		pointer-events: initial;

		.tns-controls-icon {
			transform: translateY(-100%);
			background: $white;
			fill: $gray-900;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}

		&:hover {
			opacity: 1;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}
	}
}

.tns-outer {
	position: relative;
}

.mini-product-image-slider {

	.tns-nav {
		display: flex;
		text-align: center;
		margin: 10px 0;
	}

	.tns-nav button {
		width: 100%;
		border: 0;
		border-radius: 0;
		height: 3px;
		margin: 0;
	}
}
