<form action="/Default.aspx" method="get">

    <input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />

	<fieldset>
		<table border="0" width="100%">
			<tr>
				<td align="center">
					<table border="0" cellspacing="0" cellpadding="2">
						<tr>
							<td align="left">
								<!--@Translate(UserManagement:Search.Label, "Search")-->:&nbsp;<input name="SearchWord" value="<!--@UserManagement:Search.Query-->" />
							</td>
							<td align="right">
								<input type="submit" value="<!--@Translate(UserManagement:Search.Button, "Search")-->" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
            <tr>
	            <td align="center">
		            <table border="0">
			            <tr>
				            <td>
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=A">A</a>|
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=B">B</a>|
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=C">C</a>|
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=D">D</a>|
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=E">E</a>|
                                <a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;char=F-Z">F-Z</a>
                            </td>
			            </tr>
		            </table>
	            </td>
            </tr>
		</table>
	</fieldset>
</form>