<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />
<!--@Ecom:CustomerCenter.Menu-->
<br />
<fieldset style="border-right: 1px dashed; border-top: 1px dashed; border-left: 1px dashed; border-bottom: 1px dashed">
    <table>
        <tr>
            <td>ID</td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.ID--></td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>Points</td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Points--></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Date--></td>
        </tr>
        <tr>
            <td>Expiration</td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.ExpirationDate--></td>
        </tr>
        <tr>
            <td>Comment</td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Comment--></td>
        </tr>
    </table>
    <a href="<!--@Ecom:CustomerCenter.LoyaltyPoints.BaseUrl-->">Back</a>
</fieldset>