<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />
<!--@Ecom:CustomerCenter.Menu-->
<table class="table">
    <tbody>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">
                ID
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td style="background-color: Gray;">
                Points
                <!--@Ecom:CustomerCenter.SortByPoints.Desc-->
                <!--@Ecom:CustomerCenter.SortByPoints.Asc-->
            </td>
            <td style="background-color: Gray;">
                Date
                <!--@Ecom:CustomerCenter.SortByTransactionDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByTransactionDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                Expiration
                <!--@Ecom:CustomerCenter.SortByExpirationDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByExpirationDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                Comment
            </td>
        </tr>
        <!--@LoopStart(Ecom:CustomerCenter.LoyaltyPoints.TransactionList)-->
        <!--@EmptyLoopStart-->
        <tr id="trNoOrdersFound">
            <td colspan="5"><strong>No transactions found</strong></td>
        </tr>
        <!--@EmptyLoopEnd-->
        <!--@HeaderStart--><!--@HeaderEnd-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><a href="<!--@Ecom:CustomerCenter.LoyaltyPoints.DetailsURL-->"><!--@Ecom:LoyaltyPoints.Transaction.ID--></a></td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Points--></td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Date--></td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.ExpirationDate--></td>
            <td><!--@Ecom:LoyaltyPoints.Transaction.Comment--></td>
        </tr>
        <!--@LoopEnd(Ecom:CustomerCenter.LoyaltyPoints.TransactionList)-->
        <!--@If Defined(Ecom:CustomerCenter.Paging.Show)-->
        <tr>
            <td align="center" colspan="5" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="5">
                Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.Paging.Show)-->
    </tbody>
</table>
<div>Loyalty points count: <!--@Ecom:CustomerCenter.LoyaltyPoints.TransactionList.TotalPoints--></div>
<div>Transactions count: <!--@Ecom:CustomerCenter.LoyaltyPoints.TransactionList.Count--></div>