<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />

<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="70px" align="left" />
        <col width="100x" align="left" />
        <col width="100x" align="left" />
        <col width="100px" align="right" />
        <col width="110px" align="right" />
        <col width="80px" align="right" />
        <col width="120px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">
                <!--@Translate(id, "ID")-->
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(startDate, "Start Date")-->
                <!--@Ecom:CustomerCenter.SortByStartDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByStartDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(endDate, "End Date")-->
                <!--@Ecom:CustomerCenter.SortByEndDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByEndDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(frequency, "Frequency")-->
                <!--@Ecom:CustomerCenter.SortByFrequency.Desc-->
                <!--@Ecom:CustomerCenter.SortByFrequency.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(nextDelivery, "Next Delivery")-->
                <!--@Ecom:CustomerCenter.SortByNextDelivery.Desc-->
                <!--@Ecom:CustomerCenter.SortByNextDelivery.Asc-->
            </td>
            <td style="background-color: Gray;"></td>
            <td style="background-color: Gray;"></td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.RecurringOrders.EmptyList)-->
        <tr id="trNoOrdersFound">
            <td colspan="6"><strong><!--@Translate(norecurrings, "No recurring orders found")--></strong></td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.RecurringOrders.EmptyList)-->
        <!--@If Not Defined(Ecom:CustomerCenter.RecurringOrders.EmptyList)-->
        <!--@LoopStart(RecurringOrders)-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><!--@Ecom:RecurringOrder.ID-->&nbsp;</td>
            <td><!--@Ecom:RecurringOrder.StartDate-->&nbsp;</td>
            <td><!--@If Defined(Ecom:RecurringOrder.EndDate)--><!--@Ecom:RecurringOrder.EndDate--><!--@Else--><!--@Translate(never, "Never")--><!--@EndIf(Ecom:RecurringOrder.EndDate)-->&nbsp;</td>
            <td>
                <!--@Translate(Every, "Every")--> <!--@Ecom:RecurringOrder.Interval-->&nbsp;
                <!--@If(Ecom:RecurringOrder.IntervalUnit=0)--><!--@Translate(days, "Days")--><!--@EndIf-->
                <!--@If(Ecom:RecurringOrder.IntervalUnit=1)--><!--@Translate(weeks, "Weeks")--><!--@EndIf-->
                <!--@If(Ecom:RecurringOrder.IntervalUnit=2)--><!--@Translate(months, "Months")--><!--@EndIf-->&nbsp;
            </td>
            <td><!--@Ecom:RecurringOrder.NextDelivery-->&nbsp;</td>
            <td>
                <a href="<!--@Ecom:CustomerCenter.RecurringOrders.RecurringOrderDetailsURL-->" title="View recurring order details"><!--@Translate(details, "Details")--></a>
            </td>
            <td>
                <!--@If Defined(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->
                <a href="<!--@Ecom:CustomerCenter.RecurringOrders.DeleteUrl-->" title="Cancel recurring order" onclick="return confirm('Are you sure to cancel recurring order? All future deliveries will be cancelled.');"><!--@Translate(cancelSubscription, "Cancel subscription")--></a>
                <!--@EndIf(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->
                <!--@If Not Defined(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->
                <!--@Translate(Ended, "Ended")-->
                <!--@EndIf(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->
            </td>
        </tr>
        <!--@LoopEnd(RecurringOrders)-->
        <!--@If Defined(Ecom:CustomerCenter.RecurringOrders.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="6">
                Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.RecurringOrders.Paging.Show)-->
        <!--@EndIf(Ecom:CustomerCenter.RecurringOrders.EmptyList)-->
    </tbody>
</table>