<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />
<!--@Ecom:CustomerCenter.Menu-->
<br />
<fieldset style="border-right: 1px dashed; border-top: 1px dashed; border-left: 1px dashed;
    border-bottom: 1px dashed">
    <table cellpadding="0" cellspacing="0" border="0" height="100%" style="margin-left: 10px;">
        <tr>
            <td>
                ID:
            </td>
            <td>
                <!--@Ecom:Order.ID-->
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Created date:
            </td>
            <td>
                <!--@Ecom:Order.Date-->
            </td>
        </tr>
        <tr>
            <td>
                Frequency:
            </td>
            <td>
                <!--@Ecom:CustomerCenter.RecurringOrder.Frequency-->
            </td>
        </tr>
        <tr>
            <td>
                Start date:
            </td>
            <td>
                <!--@Ecom:CustomerCenter.RecurringOrder.StartDate-->
            </td>
        </tr>
        <tr>
            <td>
                End date:
            </td>
            <td>
                <!--@If Defined(Ecom:CustomerCenter.RecurringOrder.EndDate)--><!--@Ecom:CustomerCenter.RecurringOrder.EndDate--><!--@Else--><!--@Translate(never, "Never")--><!--@EndIf(Ecom:CustomerCenter.RecurringOrder.EndDate)-->
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Customer company:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Company-->
            </td>
        </tr>
        <tr>
            <td>
                Att.:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Name-->
            </td>
        </tr>
        <tr>
            <td>
                Customer address:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Address-->
            </td>
        </tr>
        <tr>
            <td>
                Postal code / City:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Zip-->
                &nbsp;<!--@Ecom:Order.Customer.City-->
            </td>
        </tr>
        <tr>
            <td>
                Country:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Country-->
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Email-->
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                <!--@Ecom:Order.Customer.Phone-->
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
    <table border="0" cellpadding="2" cellspacing="0" width='97%' style="margin-left: 10px;">
        <tr>
            <td colspan="5" style="border-bottom: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="5%">
                Quantity
            </td>
            <td width="20%">
                Product nr.
            </td>
            <td width="45%">
                Description
            </td>
            <td width="15%" align="right">
                Unit price
            </td>
            <td width="15%" align="right">
                Total price
            </td>
        </tr>
        <tr>
            <td colspan="5" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <!--@LoopStart(OrderLines)--><!--@DwTemplateTags-->
        <tr style='height: 25px;'>
            <td>
                <!--@Ecom:Order:OrderLine.Quantity-->
            </td>
            <td>
                <!--@Ecom:Order:OrderLine.ProductNumber-->
            </td>
            <td>
                <!--@Ecom:Order:OrderLine.ProductName.Short-->
                <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
                <br />
                <!--@Ecom:Order:OrderLine.ProductVariantText-->
                <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
            </td>
            <td align="right">
                <!--@Ecom:Order:OrderLine.UnitPrice-->
            </td>
            <td align="right">
                <!--@Ecom:Order:OrderLine.TotalPrice-->
            </td>
        </tr>
        <!--@LoopEnd(OrderLines)-->
        <tr>
            <td colspan="5" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Total price excluding sales tax
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.PriceWithoutFees.PriceWithoutVATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Payment
                <!--@If Defined(Ecom:Order.PaymentMethod)-->
                &nbsp;: <span class='disableText' style='font-size: 9px;'>(<!--@Ecom:Order.PaymentMethod-->)</span>
                <!--@EndIf(Ecom:Order.PaymentMethod)-->
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.PaymentFee.PriceFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Shipping
                <!--@If Defined(Ecom:Order.ShippingMethod)-->
                &nbsp;: <span class='disableText' style='font-size: 9px;'>(<!--@Ecom:Order.ShippingMethod-->)</span>
                <!--@EndIf(Ecom:Order.ShippingMethod)-->
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.ShippingFee.PriceFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Sub-total excluding sales tax
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.Price.PriceWithoutVATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                Sales tax
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <!--@Ecom:Order.Price.VATFormatted-->
            </td>
        </tr>
        <tr style='height: 25px;'>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                <span style="font-weight: bold;">Total price including sales tax</span>
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                <span style="font-weight: bold;">
                    <!--@Ecom:Order.Price.PriceFormatted-->
                </span>
            </td>
        </tr>
    </table>
</fieldset>
<br/>

<!--@If Defined(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->
<a href="<!--@Ecom:CustomerCenter.RecurringOrders.DeleteUrl-->" title="Cancel this recurring order" onclick="return confirm('Are you sure to cancel recurring order? All future deliveries will be cancelled.');"><!--@Translate(cancelSubscription, "Cancel subscription")--></a>
&nbsp;|&nbsp;
<!--@EndIf(Ecom:CustomerCenter.RecurringOrders.DeleteUrl)-->

<!--@If Defined(Ecom:CustomerCenter.RecurringOrder.FutureDeliveriesURL)-->
<a href="<!--@Ecom:CustomerCenter.RecurringOrder.FutureDeliveriesURL-->" title="View future deliveries"><!--@Translate(futureDeliveries, "Future Deliveries")--></a>
<!--@EndIf(Ecom:CustomerCenter.RecurringOrder.FutureDeliveriesURL)-->

<!--@If(Ecom:CustomerCenter.RecurringOrderDetails.CurrentView=future)-->
<a href="<!--@Ecom:CustomerCenter.RecurringOrder.PreviousRecurringOrdersURL-->"<!--@If Not Defined(Ecom:CustomerCenter.RecurringOrder.PreviousRecurringOrdersURL)-->style="pointer-events: none; cursor: default; color: grey;"<!--@EndIf(Ecom:CustomerCenter.RecurringOrder.PreviousRecurringOrdersURL)--> <title ="View previously created recurring orders"><!--@Translate(previousDeliveries, "Previous Deliveries")--></a>
<!--@EndIf-->

<br />
<!--@If(Ecom:CustomerCenter.RecurringOrderDetails.CurrentView=future)-->
<br />
<b><!--@Translate(futureDeliveries, "Future Deliveries")--></b>
<br />
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col />
        <col />
        <col width="100px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">
                <!--@Translate(deliveryDate, "Delivery Date")-->
                <!--@Ecom:CustomerCenter.SortByDeliveryDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDeliveryDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(canceled, "Canceled")-->
                <!--@Ecom:CustomerCenter.SortByCanceled.Desc-->
                <!--@Ecom:CustomerCenter.SortByCanceled.Asc-->
            </td>
            <td style="background-color: Gray;"></td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.FutureRecurringOrders.EmptyList)-->
        <tr id="trNoOrdersFound">
            <td colspan="6"><strong><!--@Translate(norecurrings, "No recurring orders found")--></strong></td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.FutureRecurringOrders.EmptyList)-->
        <!--@If Not Defined(Ecom:CustomerCenter.FutureRecurringOrders.EmptyList)-->
        <!--@LoopStart(FutureRecurringOrders)-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><!--@Ecom:FutureRecurringOrder.Date-->&nbsp;</td>
            <td><!--@If Defined(Ecom:FutureRecurringOrder.Canceled)--><!--@Translate(canceled, "Canceled")--><!--@EndIf(Ecom:FutureRecurringOrder.Canceled)-->&nbsp;</td>            
            <td>
                <a href="<!--@Ecom:CustomerCenter.FutureRecurringOrder.ToggleUrl-->" title="Toggle delivery this recurring order"><!--@If Defined(Ecom:FutureRecurringOrder.Canceled)--><!--@Translate(restoreDelivery, "Restore delivery")--><!--@Else--><!--@Translate(cancelDelivery, "Cancel  delivery")--><!--@EndIf(Ecom:FutureRecurringOrder.Canceled)--></a>
            </td>
        </tr>
        <!--@LoopEnd(FutureRecurringOrders)-->
        <!--@If Defined(Ecom:CustomerCenter.FutureRecurringOrders.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="6">
                Page&nbsp;<!--@Ecom.CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom.CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.FutureRecurringOrders.Paging.Show)-->
        <!--@EndIf(Ecom:CustomerCenter.FutureRecurringOrders.EmptyList)-->
    </tbody>
</table>
<!--@EndIf-->
<!--@If(Ecom:CustomerCenter.RecurringOrderDetails.CurrentView=previous)-->
<br />
<b><!--@Translate(previousDeliveries, "Previous Deliveries")--></b>
<br />
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <thead>
        <tr class="CustomerCenterMenu">
            <td>
                Date
                <!--@Ecom:CustomerCenter.SortByDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDate.Asc-->
            </td>
            <td>
                Order ID
                <!--@Ecom:CustomerCenter.SortByID.Desc-->
                <!--@Ecom:CustomerCenter.SortByID.Asc-->
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.PreviousRecurringOrders.EmptyList)-->
        <tr id="trNoOrdersFound">
            <td colspan="6"><strong>No recurring orders found</strong></td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.PreviousRecurringOrders.EmptyList)-->
        <!--@If Not Defined(Ecom:CustomerCenter.PreviousRecurringOrders.EmptyList)-->
        <!--@LoopStart(PreviousRecurringOrders)-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><!--@Ecom:Order.Date-->&nbsp;</td>
            <td><!--@Ecom:Order.ID-->&nbsp;</td>
            <td>
                <a href="<!--@Ecom:CustomerCenter.PreviousRecurringOrder.OrderDetailsURL-->" title="View order details"><!--@Translate(details, "Details")--></a>
            </td>
        </tr>
        <!--@LoopEnd(PreviousRecurringOrders)-->
        <!--@If Defined(Ecom:CustomerCenter.PreviousRecurringOrders.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="6">
                Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom.CustomerCenter.PreviousRecurringOrders.Paging.Show)-->
        <!--@EndIf(Ecom.CustomerCenter.PreviousRecurringOrders.EmptyList)-->
    </tbody>
</table>
<!--@EndIf-->