<!--@Ecom:CustomerCenter.Menu-->
<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/CustomerCenter/OrderList.css" />

<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="80px" align="right" />
        <col width="80px" align="right" />
        <col width="200px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td style="background-color: Gray;">
                <!--@Translate(date, "Date")-->
                <!--@Ecom:CustomerCenter.SortByDate.Desc-->
                <!--@Ecom:CustomerCenter.SortByDate.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(order, "Order")-->
                <!--@Ecom:CustomerCenter.SortByOrder.Desc-->
                <!--@Ecom:CustomerCenter.SortByOrder.Asc-->
            </td>
            <td style="background-color: Gray;">
                <!--@Translate(errors, "Errors")-->
                <!--@Ecom:CustomerCenter.SortByMessage.Desc-->
                <!--@Ecom:CustomerCenter.SortByMessage.Asc-->
            </td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.SavedCardLog.EmptyList)-->
        <tr id="trNoOrdersFound">
            <td colspan="6"><strong><!--@Translate(noerrors, "No errors")--></strong></td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.SavedCardLog.EmptyList)-->
        <!--@If Not Defined(Ecom:CustomerCenter.SavedCardLog.EmptyList)-->
        <!--@LoopStart(SavedCardLog)-->
        <tr class="<!--@Ecom:CustomerCenter.Paging.EvenRowClass-->">
            <td><!--@Ecom:SavedCardLog.Date-->&nbsp;</td>
            <td><!--@Ecom:SavedCardLog.Order-->&nbsp;</td>
            <td><!--@Ecom:SavedCardLog.Errors-->&nbsp;</td>
        </tr>
        <!--@LoopEnd(SavedCardLog)-->

        <!--@If Defined(Ecom:CustomerCenter.SavedCards.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:CustomerCenter.Paging.Back.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Back.URL-->"><!--@Ecom:CustomerCenter.Paging.Back--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Back.URL)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.HasPages)-->
                &nbsp;&nbsp;
                <!--@LoopStart(Ecom:CustomerCenter.Paging.Pages)-->
                <a class="<!--@Ecom:CustomerCenter.Paging.PageClass-->" href="<!--@Ecom:CustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:CustomerCenter.Paging.PageIndex--></a>&nbsp;
                <!--@LoopEnd(Ecom:CustomerCenter.Paging.Pages)-->
                &nbsp;&nbsp;
                <!--@EndIf(Ecom:CustomerCenter.Paging.HasPages)-->
                <!--@If Defined(Ecom:CustomerCenter.Paging.Forward.URL)-->
                <a href="<!--@Ecom:CustomerCenter.Paging.Forward.URL-->"><!--@Ecom:CustomerCenter.Paging.Forward--></a>
                <!--@EndIf(Ecom:CustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
            <td align="center" colspan="6">
                Page&nbsp;<!--@Ecom:CustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:CustomerCenter.Paging.NumPages-->
            </td>
        </tr>
        <!--@EndIf(Ecom:CustomerCenter.SavedCards.Paging.Show)-->
        <!--@EndIf(Ecom:CustomerCenter.SavedCardLog.EmptyList)-->
    </tbody>
</table>