@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@*
    1. This template sendes a request to dwapi/query to get the facets
    2. The response is a partial template that renders the facets and makes a new request to dwapi/content/pages
    3. The response is a partial template that renders the posts
*@


@* delay:500ms; debounce:500ms; trigger:change, keyup, keydown, focusout, focusin, htmx:configRequest *@

@{
    string queryName = "PostsSearch";
    string repositoryName = "Posts";
    int areaId = Pageview.Area.ID;
    string queryPath = $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={areaId}&ParagraphId={Model.ID}";
}

<div hx-get="@queryPath" 
     hx-trigger="intersect once threshold:0.1 root:htmx-@(Model.ID)" 
     hx-target="#posts-facets-@(Model.ID)"  
     hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/Facets.cshtml", "accept": "text/html"}'>

    <div class="grid">
        <div class="g-col-12 g-col-lg-3" id="posts-facets-@(Model.ID)"></div>
        <div class="g-col-12 g-col-lg-9 grid-2 grid-lg-4" id="posts-list-@(Model.ID)"></div>
    </div>
</div>