@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@* delay:500ms; debounce:500ms; trigger:change, keyup, keydown, focusout, focusin, htmx:configRequest *@

<div hx-get="/dwapi/query" 
     hx-trigger="intersect once threshold:0.1 root:htmx-@(Model.ID)" 
     hx-target="#posts-@(Model.ID)"  
     hx-vals='{ "QueryName": "Content search", "RepositoryName": "Content" }'
     hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/GridItem.cshtml", "accept": "text/html"}'>

    <div id="posts-@(Model.ID)" class="grid grid-2 grid-lg-4">
        @foreach (var placeholder in Enumerable.Range(1, 4))
        {
            <div>Placeholder</div>
        }
    </div>
</div>