@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@*
    1. This template sendes a request to dwapi/query to get the facets
    2. The facets partial does not render enything, but makes a new request to dwapi/content/pages
    3. The response is a partial template that renders the posts
*@


@* delay:500ms; debounce:500ms; trigger:change, keyup, keydown, focusout, focusin, htmx:configRequest *@

@{
    string queryName = "PostsSearch";
    string repositoryName = "Posts";
    int areaId = Pageview.Area.ID;
    string queryPath = $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={areaId}";
}

<div hx-get="/dwapi/query?QueryName=PostsSearch&RepositoryName=Posts&AreaId=3" 
     hx-trigger="intersect once threshold:0.1 root:htmx-@(Model.ID)" 
     hx-target="#posts-@(Model.ID)"  
     hx-vals='{ "QueryName": "Content search", "RepositoryName": "Content" }'
     hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_Posts/Partials/GridAndFacets.cshtml", "accept": "text/html"}'>

    <div id="posts-@(Model.ID)" class="grid grid-2 grid-lg-4">
        @foreach (var placeholder in Enumerable.Range(1, 4))
        {
            <div>Placeholder</div>
        }
    </div>
</div>