@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@*
	WARNING: All this code that prints out ugly things is in here so you do not accidently include this custom code to the solution.
*@

@*
	This razor file is an example of how custom code can be injected to the <head> section in Swift_master.cshtml
	If this file is chosen on the website settings "Custom header include", it is injected with RenderPartial so that the current instance of the PageViewModel is available in this template.
	Use this file to inject custom js, css and other things in the head section.
	This file is called on all pages, so think about performance.
*@

@*Include custom or external js*@
<script src="/Files/Templates/Designs/Swift/Assets/js/custom.js" crossorigin="anonymous" defer></script>

@*Include custom or external css*@
<link href="/Files/Templates/Designs/Swift/Assets/css/custom.css" rel="stylesheet" media="all" />

@*Use data from the pageviewmodel - markup comes out in the head section, so this is completely wrong - but an example of how to get hold of data from the current pageview*@
@{
	var currentPageid = Model.ID;
	var page = Dynamicweb.Services.Pages.GetPage(currentPageid);
	var pagename = page.MenuText;
}
<h1>This comes from your custom header file</h1>
<h2>This page has the name: @pagename</h2>
@{
	//Check if cookies are accepted in Dynamicweb Cookie dialog and check the level that has been accepted. Scripts that sets cookies should respect these settings.
	//Scripts that does not set cookies, should just be included without any checks
	bool allowCookies = (Dynamicweb.Environment.CookieManager.CookieOptInLevelExists && Dynamicweb.Environment.CookieManager.GetCookieOptInLevel() != Dynamicweb.Environment.CookieOptInLevel.None);
	if (allowCookies)
	{
		var cookieLevel = Dynamicweb.Environment.CookieManager.GetCookieOptInLevel();
		if (cookieLevel == Dynamicweb.Environment.CookieOptInLevel.Functional)
		{
			//This is including a script containing only feature related cookies
			@*<script src="https://fancy-feature.com/feature-script.min.js" crossorigin="anonymous" defer></script>*@
		}


		if (cookieLevel == Dynamicweb.Environment.CookieOptInLevel.All)
		{
			//This is including a script that sets tracking or marketing cookies
			@*<script src="https://tracking-script.com/fancy-tracking.min.js" crossorigin="anonymous" defer></script>*@
		}
	}
}

