@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@if (GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines") && GetBoolean("Ecom:CustomerCenter.RMA.HasAddComment"))
{
	<div class="p-3 js-comment">
		<div class="form-floating">
			<textarea class="form-control" id="RMAComment" rows="3" name="@(GetString("ParagraphID") + "RMAComment")" required></textarea>
			<label for="RMAComment" class="u-pull--left">@($"{Translate("Additional Info")} ({Translate("required")})")</label>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request[GetString("ParagraphID") + "RMAOrderID"]))
{
	<button class="btn btn-primary m-3" onclick="createRMARequest()" type="button">@Translate("Create request")</button>

	<div class="alert alert-warning d-none" id="SelectRmaProducts">
		@Translate("Please select products for the Request")
	</div>
}

<script>
	function createRMARequest() {
		let selectProductWarning = document.getElementById("SelectRmaProducts");
		let checkedProducts = document.querySelectorAll(".js-rma-item-checkbox:checked");
		let form = document.getElementById("RMAForm");

		if (checkedProducts.length === 0) {
			selectProductWarning.classList.remove("d-none");
			return;
		}

		selectProductWarning.classList.add("d-none");

		if (!form.reportValidity()) {
			return;
		}

		form.submit();
	}
</script>
