<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items">
    <div class="item-details">
        <div class="item-details-fields-outer">
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <div class="item-details-field">
                <div class="item-details-field-name"><!--@ItemPublisher:Item.Field.Name--></div>
                <div class="item-details-field-value">
                    <!--@If Defined(ItemPublisher:Item.Field.Value)-->
                    <!--@ItemPublisher:Item.Field.Value-->
                    <!--@EndIf(ItemPublisher:Item.Field.Value)-->

                    <!--@If Not Defined(ItemPublisher:Item.Field.Value)-->
                    <span class="item-details-field-novalue">(<!--@Translate(ItemPublisher:Details.NotSpecified, "not specified")-->)</span>
                    <!--@EndIf(ItemPublisher:Item.Field.Value)-->
                </div>
            </div>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
        </div>

        <div class="item-details-controls">
            <input type="button" value='<!--@Translate(ItemPublisher:Details.GoBack, "Go back")-->' onclick="javascript:window.history.go(-1);" />
        </div>

        <div class="items-clear"></div>
    </div>
</div>