@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel>
@using Dynamicweb.Ecommerce.Orders
@using System.Text.RegularExpressions

<li class="nav-item dropdown">TEST</li>
