@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

<section class="py-6" data-dw-colorscheme="@Model.ColorScheme?.Id" data-swift-gridrow>
	<div class="container-xl grid">
		@foreach(var column in Model.Columns)
		{
			<div class="g-col-12 g-col-lg-@column.ColumnWidth d-flex flex-column justify-content-center" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id">
				@column.Output()
			</div>
		}
	</div>
</section>

