@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@if (!string.IsNullOrEmpty(Model.ColorScheme?.Id)) {
	<div class="w-100" data-dw-colorscheme="@Model.ColorScheme?.Id">
		<div class="grid container-xl h-100 mt-5 mb-5">
			@foreach(var column in Model.Columns)
			{
				<div class="g-col-12 g-col-lg-@column.ColumnWidth h-100" >
					@column.Output()
				</div>
			}
		</div>
	</div>
}
else
{
	<div class="grid container-xl h-100 mt-5 mb-5">
		@foreach(var column in Model.Columns)
		{
			<div class="g-col-12 g-col-lg-@column.ColumnWidth h-100" >
				@column.Output()
			</div>
		}
	</div>
}

