@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@if (Model.Item.TryGetString("Address", out string address)) {
	if (Model.Item.TryGetString("CompanyName", out string companyName)) {
		<div class="h-100 w-100">
			@if (Model.Item.TryGetString("Title", out string title))
			{
				@title
			}
			<iframe class="w-100 border-0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=@(address)+@(companyName)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" height="450" allowfullscreen="" loading="lazy"></iframe>
		</div>
	}
}
