.has-megamenu {
	position: static !important;

	.megamenu {
		width: 100%;
		border: 0;
		border-radius: 0;
	}
}


.megamenu-link {
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		color: var(--r4-foreground-color, inherit);
		text-decoration: underline;
	}
}


.megamenu-dropdown-menu {
	background-color: var(--r4-background-color, inherit);
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);
	}
}

.megamenu-dropdown-item {
	background-color: var(--r4-background-color, inherit);
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);
		text-decoration: underline;
	}
}

