.nav-link-clean {

	&:after {
		display: none;
		color: #fff;
	}
}

.navigation-link {
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		color: var(--r4-foreground-color, inherit);
		text-decoration: underline;
	}
}


.navigation-dropdown-menu {
	background-color: var(--r4-background-color, inherit);
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);
	}
}

.navigation-dropdown-item {
	background-color: var(--r4-background-color, inherit);
	color: var(--r4-foreground-color, inherit);

	&:hover,
	&:focus {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);
		text-decoration: underline;
	}
}
