.nav-wrapper {

	.nav-link-clean {

		&:after {
			display: none;
			color: #fff;
		}
	}

	.nav-link-underline {

		:hover,
		:focus {
			text-decoration: underline;
		}
	}

	.nav-link {
		color: var(--r4-foreground-color, inherit);

		&:hover,
		&:focus {
			color: var(--r4-foreground-color, inherit);
		}
	}

	.dropdown-menu {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);

		&:hover,
		&:focus {
			background-color: var(--r4-background-color, inherit);
			color: var(--r4-foreground-color, inherit);
		}
	}

	.dropdown-item {
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);

		&:hover,
		&:focus {
			background-color: var(--r4-background-color, inherit);
			color: var(--r4-foreground-color, inherit);
		}
	}
}
