.theme {

	.offcanvas-header {

		&::after {
			background-color: var(--r4-foreground-color);
		}
	}

	.offcanvas-navigation {

		.nav {

			.nav-link {

				&.active,
				&.in-path {

					&::before {
						background-color: var(--r4-foreground-color);
					}
				}
			}
		}
	}
}

.offcanvas-backdrop::before {
	backdrop-filter: blur(4px);
}

.offcanvas-header {
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $border-color;
		opacity: .3;
	}
}

.offcanvas-body {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.offcanvas-navigation {
	display: none;
	background-color: transparent;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;

	.nav {
		background-color: var(--r4-background-color);
		height: auto;
		top: 0;
		left: 0;
		width: 100vw;
		max-width: $offcanvas-horizontal-width;
		margin: 0;
		padding: 0;
		transition: all .3s;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		z-index: 500;

		.nav-inner {
			display: block;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.nav-header {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.2);
			}
		}

		.nav-item {
			display: flex;
			align-items: center;
			width: 100%;
		}

		.nav-link {
			position: relative;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.active,
			&.in-path {

				&::before {
					content: "";
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					width: 3px;
					background-color: var(--r4-foreground-color);
				}
			}
		}

		&.sub-nav {
			position: absolute;
			height: 100%;
			left: $offcanvas-horizontal-width;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		.sub-nav-check:checked ~ .sub-nav {
			opacity: 1;
			visibility: visible;
			will-change: opacity, transform;
			pointer-events: all;
			left: 0;
		}
	}
}

.offcanvas.show .offcanvas-navigation {
	display: block;
}
