.type-ahead-dropdown { // Search field styling
	background-color: var(--r4-background-color, inherit);
	color: var(--r4-foreground-color, inherit);

	.type-ahead-field {
		background-color: inherit;
		color: inherit;

		&::placeholder {
			color: var(--r4-foreground-color, inherit);
			opacity: 1;
		}

		&:not(:placeholder-shown) + .reset-search {
			opacity: 1 !important;
			transition: all 0.2s ease-in-out;
			visibility: visible !important;
			color: var(--r4-foreground-color, inherit);
			margin-right: 0.25rem;
		}
	}

	&.show {
		z-index: 0;

		&::after { // The backdrop behind the search field
			background-color: $modal-backdrop-bg;
			content: "";
			cursor: pointer;
			display: block;
			opacity: $modal-backdrop-opacity;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
		}
	}

	mark {
		background-color: initial;
		color: currentColor;
		font-weight: 700;
		padding: initial;
	}

	.type-ahead-menu { //Search result styling
		background-color: var(--r4-background-color, inherit);
		color: var(--r4-foreground-color, inherit);

		.dropdown-item {
			background-color: var(--r4-background-color, inherit);
			color: var(--r4-foreground-color, inherit);

			&:hover,
			&.active {
				color: var(--r4-background-color, #{$dropdown-link-hover-color} );
				background-color: var(--r4-foreground-color, #{$dropdown-link-hover-bg});
			}
		}

		&.show {
			transform: translate(0%, -3rem) !important;
			z-index: -1;
			padding-top: 3.5rem;
			padding-bottom: 0;

			&::before { // The Dropdown background
				background-color: var(--r4-background-color);
				border-radius: $dropdown-border-radius;
				content: "";
				display: block;
				position: absolute;
				top: -1rem;
				right: -1rem;
				bottom: -1rem;
				left: -1rem;
				z-index: -1;
			}
		}
	}
}
