.type-ahead-dropdown {

	.type-ahead-field { // Search field styling
		background-color: var(--r4-background-color);
		color: var(--r4-foreground-color);

		&::placeholder { //Styles the placeholder text in search field
			color: var(--r4-foreground-color);
			opacity: 1;
		}

		&:not(:placeholder-shown) + .reset-search { //Styles the search input clear(x) icon
			opacity: 1 !important;
			transition: all 0.2s ease-in-out;
			visibility: visible !important;
			color: var(--r4-foreground-color);
			margin-right: 0.25rem;
		}
	}

	&.show {
		z-index: 0;

		@include media-breakpoint-up(lg) {

			&::after { // The backdrop behind the search field
				background-color: $modal-backdrop-bg;
				content: "";
				cursor: pointer;
				display: block;
				opacity: $modal-backdrop-opacity;
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -2;
			}
		}
	}

	mark { //Makes search suggestions more visible
		background-color: initial;
		color: currentColor;
		font-weight: 700;
		padding: initial;
	}

	.type-ahead-menu { //Search dropdown result styling
		background-color: var(--r4-background-color);
		color: var(--r4-foreground-color);

		.dropdown-item {
			color: var(--r4-foreground-color);

			&:hover,
			&:focus,
			&:active,
			&.active {
				color: var(--r4-background-color);
				background-color: var(--r4-foreground-color);
			}
		}

		&.show { //Moves the dropdown a but up and behind the search field
			transform: translate(0%, -3rem) !important;
			z-index: -1;
			padding-top: 3.5rem;
			padding-bottom: 0;

			&::before { // The dropdown background
				background-color: var(--r4-background-color);
				border-radius: $dropdown-border-radius;
				content: "";
				display: block;
				position: absolute;
				top: -1rem;
				right: -1rem;
				bottom: -1rem;
				left: -1rem;
				z-index: -1;
			}
		}
	}

	[ type="search" ]::-webkit-search-cancel-button,
	[ type="search" ]::-webkit-search-decoration { //Remove the search input clear(x) icon
		-webkit-appearance: none;
		appearance: none;
	}
}

.search-modal {

	.search-icon { //Modal search icon
		color: var(--r4-foreground-color);
	}

	.show {

		.modal-content { //styling the background of the search modal
			background-color: var(--r4-background-color, #{$modal-content-bg});
			color: var(--r4-foreground-color, #{$modal-content-color});
		}
	}
}
