@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div id="summarySidebar">
	@Include("OrderSummaryToggleButton.cshtml")
	@Include("OrderSummaryContent.cshtml")
</div>
