@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div id="deliverySummarySidebar">
	<h3>Delivery</h3>
	@Include("TSDDeliverySummaryContent.cshtml")
</div>


<style>

h3 {
	color: #D5352D;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

#deliverySummarySidebar {
	padding: 20px;
	background-color: white;
}

</style>
