@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


<div class="d-lg-block h-lg-auto collapse pt-2 pt-lg-0" id="orderSummary">
    <div>
	<strong>@GetInteger("Ecom:Order.OrderLines.TotalQuantity") Items</strong>
    <p>At a total cost of</p>
    <strong>@GetString("Ecom:Order.OrderLines.Total.PriceWithVAT")</strong>
    <p>Including shipping and @GetString("Ecom:Order.VAT") VAT</p>
    </div>
    <button onclick="location.href='/cart'">
        <span class="text-uppercase">@Translate("Edit")</span>
    </button>
</div>


<style>
#orderSummary {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    height: 100% !important;
    padding-bottom: 20px;
}
    strong {
     color: #3B3E41;
     font-weight: 700;
     font-size: 16px;
    }

button {
    background-color: white;
    border: 2px solid #D5352D;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 96px;
    height: 50px;
    color: #D5352D;
}

@@media (max-width: 998px) {
    #orderSummary {
        justify-content: revert;
    }
}

</style>