Dear 
<!--@If Defined(PIM:EmailNotification.UserFirstName)-->
    <!--@PIM:EmailNotification.UserFirstName--> <!--@PIM:EmailNotification.UserLastName-->
<!--@EndIf(PIM:EmailNotification.UserFirstName)-->    
<!--@If Not Defined(PIM:EmailNotification.UserFirstName)-->
    <!--@PIM:EmailNotification.UserName-->
<!--@EndIf(PIM:EmailNotification.UserFirstName)-->
<br />
Notification "<!--@PIM:EmailNotification.Title-->" with
the query "<!--@PIM:EmailNotification.Query.Name-->" was executed.<br />
Query results count: <!--@PIM:EmailNotification.Query.TotalCount-->.<br />

<a href="<!--@PIM:Dynamicweb.Host-->/Admin/Module/eCom_Catalog/dw7/PIM/PimProductList.aspx?QueryID=<!--@PIM:EmailNotification.Query.ID-->">"<!--@PIM:EmailNotification.Query.Name-->" query products</a>
<br />
<br />
<!--@LoopStart(PIM:EmailNotification.Query.Results)-->
Query result #<!--@PIM:EmailNotification.Query.Results.LoopCounter--><br />
<table>
    <colgroup>
        <col width="150px" />
        <col width="150px" />        
        <col width="150px" />        
    </colgroup>
    <thead>
        <tr>
            <td>
                <span><b>System Name</b></span>
            </td>
            <td>
                <span><b>Name</b></span>
            </td>
            <td>
                <span><b>Value</b></span>
            </td>            
        </tr>
    </thead>
    <tbody>
        <!--@LoopStart(Fields)-->
        <tr>
            <td><!--@FieldSystemName--></td>
            <td><!--@FieldName--></td>
            <td><!--@FieldValue--></td>
        </tr>
        <!--@LoopEnd(Fields)-->

        <tr>
            <td>Placeholder1</td>
            <td></td>
            <td><!--@Placeholder1--></td>
        </tr>
        <tr>
            <td>Placeholder2</td>
            <td></td>
            <td><!--@Placeholder2--></td>
        </tr>
        <tr>
            <td>Placeholder3</td>
            <td></td>
            <td><!--@Placeholder3--></td>
        </tr>
        <tr>
            <td>Placeholder4</td>
            <td></td>
            <td><!--@Placeholder4--></td>
        <tr>
            <td>Placeholder5</td>
            <td></td>
            <td><!--@Placeholder5--></td>
        </tr>        
</table><br />
<!--@LoopEnd(PIM:EmailNotification.Query.Results)-->