@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.ProductCatalog

@{
  int uniqueId = Guid.NewGuid().GetHashCode();
  string toastTitle = "Test";
  string toastMessage = "Test";
}

@if (Model.CartCommandResult != Dynamicweb.Ecommerce.Frontend.Cart.CartResultType.None) {
  <div aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 end-0 p-4 z-3"
    hx-on::load="bootstrap.Toast.getOrCreateInstance('#cartToast_@(uniqueId)').show()">
      
      <div id="cartToast_@(uniqueId)" class="toast toast-animate-in bg-body" role="status" aria-live="polite" aria-atomic="true">
          <div class="toast-header border-0">
              <strong class="me-auto hstack gap-2">
                <span class="icon-2 text-success">
                  @ReadFile("/Files/Images/Icons/circle-check.svg")
                </span>
                <span class="fs-6">@toastTitle</span>
              </strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="background-size: .5rem;"></button>
          </div>
          <div class="toast-body pt-2 text-muted lh-sm fs-7">
              @toastMessage
          </div>
      </div>
  </div>
}