@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderErrors()
{
	string errorMessage;

	if (GetString("CheckoutHandler:ErrorType") == "SavedCard")
	{
		errorMessage = Translate("The credit card is no longer attached to this shop. The credit card token is expired or deleted. Make a new payment in order to save the credit card again");
	} 
	else if (!string.IsNullOrEmpty(GetString("CheckoutHandler:ErrorMessage")))
	{
		errorMessage = Translate(GetString("CheckoutHandler:ErrorMessage"));
	}
	else
	{
		errorMessage = Translate("You have cancelled your operation");
	}
	
	<div class="alert alert-warning" role="alert">
		<p class="fw-bold">@Translate("An error has happened")</p>
		<p>@errorMessage</p>
	</div>
}
