@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Core.Encoders
@using Dynamicweb

@{
	string searchTerm = string.Empty;
	if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["q"]))
	{
		searchTerm = Dynamicweb.Context.Current.Request["q"].Trim();
	}
}

<div class="grid gap-3">
	@foreach (var article in GetLoop("QueryResultItem"))
    {
        var resultProperties = article.GetLoop("Properties").ToDictionary(x => x.GetString("Name"), y => y.GetString("Value"));

		var pageId = article.GetString("PageId");
		var title = resultProperties.ContainsKey("PageMenuText") ? resultProperties["PageMenuText"] : "";
		title = !string.IsNullOrEmpty(article.GetString("PageMetaTitle")) ? article.GetString("PageMetaTitle") : title;

        <div class="g-col-6 g-col-lg-3">
			@article.TemplateTags()
			@*
            @foreach (var property in resultProperties) {
				<div>
					@property.Key
				</div>
			}
			*@
        </div>
    }
</div>


