@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderChargeLogicForm()
{
	<iframe src="@GetString("ChargeLogic.HostedPaymentURL")/?HostedPaymentID=@GetString("ChargeLogic.HostedPaymentID")" width="100%" height="215" scrolling="no" id="paymentMethodIFrame"></iframe>
	<br />
	<div id="paymentErrorMessage" class="alert alert-warning p-0"></div>
}
