@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<p>Hello, @GetString("User.UserName")</p>
<p>Your payment for order: @GetString("Order.ID") was successful and the order is marked as completed.</p>