<div>
    <ul>
        @foreach (var group in GetLoop("DataDefinition.Groups"))
        {
            <li>
                @group.GetString("DataGroup.Name")
                <ul>
                    @foreach (var itemType in group.GetLoop("DataGroup.ItemTypes"))
                    {
                        <li>@itemType.GetString("DataItemType.Name")</li>
                    }
                </ul>
            </li>
        }
    </ul>

    <form method="post">
        <input name="DataAction" value="Download" type="hidden" />
        <button type="submit">@Translate("Download")</button>
    </form>
</div>