Thanks for your interest.
You have submitted the following data.

<table>
    <thead>
        <tr>
            <th>Group name</th>
        </tr>
    </thead>
    <tbody>
        <!--@LoopStart(ItemCreator:Item.Groups)-->
        <tr>
            <td>
                <!--@ItemCreator:Item.Group.Name-->
                <table>
                    <thead>
                        <tr>
                            <th>Field name</th>
                            <th>Field value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--@LoopStart(ItemCreator:Item.Group.Fields)-->
                        <tr>
                            <td><!--@ItemCreator:Item.Field.Name--></td>
                            <td><!--@ItemCreator:Item.Field.Value--></td>
                        </tr>
                        <!--@LoopEnd(ItemCreator:Item.Group.Fields)-->
                    </tbody>
                </table>
            </td>
        </tr>
        <!--@LoopEnd(ItemCreator:Item.Groups)-->
    </tbody>
</table>