.btn {

	&:focus {
		box-shadow: none;
	}

	&:focus-visible {
		outline: $ally-outline;
		outline-offset: 2px;
	}

	[ class^="icon-" ]:is(.icon-auto) {

		svg {
			height: 1em;
			width: 1em;
		}
	}
}

.input-primary-button-group .form-control,
.input-secondary-button-group .form-control {

	min-width: 3rem;
}
