.map {
	background-color: $gray-200;
	min-height: 360px;
	width: 100%;
}

.locations-list {
	height: 100%;
}

@media ( orientation: portrait ) {

	.map {
		height: 40vh;
	}
}

@media ( orientation: landscape ) {

	.map {
		height: 50vh;
	}
}

@media ( min-width: 992px ) {

	.map {
		height: 80vh;
	}

	.locations-list {
		overflow-y: auto;
		height: 80vh;
	}
}
