<div id="payment-details-placeholder" class="hidden">
<div class="account-payment-box" >
	<p>@Translate($"A Total of {GetString("Ecom:Order.Price")} will be deducted from your current account balance of {GetString("Customer.CreditBalance")}")</p>
</div>
<div class="hidden" id="account-pay-button-text">@Translate("Pay with Account Balance")</div>
</div>

