/* Button modifier to make buttons huge */

.btn-giant,
.btn-giant:hover {
	padding: 0.75em 1.5em;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0.3);
	border-radius: 0;
	text-transform: uppercase;
}

.btn-giant:hover {
	background-color: rgba(0,0,0,0.6);
}

.btn.active {
	background-color: #1a1a1a;
	color: #fff;
}

.btn-primary,
.btn-primary:hover {
	padding: 0.75em 1.5em;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0;
	text-transform: uppercase;
}

.btn-primary:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/* Max-width in content */

.max-w-75ch {
	max-width: 75ch;
}

.min-h-500px {
	min-height: 500px;
}
