<?xml version="1.0"?>
<Globalsettings>
  <Settings>
    <CommonInformation>
      <SolutionTitle>
      </SolutionTitle>
      <Partner>Dynamicweb Software A/S</Partner>
      <Email>noreply@dynamicweb.dk</Email>
      <CopyrightMetaInformation>Dynamicweb Software A/S</CopyrightMetaInformation>
      <SolutionLastReportDate>
      </SolutionLastReportDate>
      <SolutionFilesize>23790</SolutionFilesize>
      <SolutionDatabaseSize>80</SolutionDatabaseSize>
      <SolutionLastFileSizeReportDate>2020-11-25 14:17:07</SolutionLastFileSizeReportDate>
    </CommonInformation>
    <TextEditor>
      <UseProviderBasedEditors>True</UseProviderBasedEditors>
    </TextEditor>
    <Paragraph>
      <MaximumLockingInMinutes>15</MaximumLockingInMinutes>
    </Paragraph>
    <Performance>
      <AllNavigationImagesInTheSameJavascript>False</AllNavigationImagesInTheSameJavascript>
      <ActivateDublinCore>False</ActivateDublinCore>
      <ActivateMouseoverTextsOnMenuItems>False</ActivateMouseoverTextsOnMenuItems>
      <ActivateTitleTextsOnMenuItems>False</ActivateTitleTextsOnMenuItems>
      <DeactivateBrowserCache>False</DeactivateBrowserCache>
      <DeactivateParagraphAnchor>True</DeactivateParagraphAnchor>
    </Performance>
    <CustomerAccess>
      <LockStylesheet>False</LockStylesheet>
      <LockTemplateFolder>False</LockTemplateFolder>
      <LockNavigationFolder>False</LockNavigationFolder>
      <LockSystemFolder>False</LockSystemFolder>
      <ShowAreabox>True</ShowAreabox>
      <LockDeveloperTools>False</LockDeveloperTools>
      <LockMgmtCenter>False</LockMgmtCenter>
      <HideRememberFeatures>False</HideRememberFeatures>
      <LockAccessToItems>True</LockAccessToItems>
    </CustomerAccess>
    <MyPage>
      <HideStat>False</HideStat>
    </MyPage>
    <PageNotFound>
      <RedirectTo>
      </RedirectTo>
    </PageNotFound>
    <DynamicwebLoginUrl>www.dynamicweb.dk</DynamicwebLoginUrl>
    <IE8>
      <Mode>IE8Standards</Mode>
    </IE8>
    <Page>
      <Edit>
        <ShowLogoAlt>False</ShowLogoAlt>
        <DisablePopupCalendar>False</DisablePopupCalendar>
      </Edit>
      <ContentTypes>text/html,application/atom+xml,text/css,text/javascript,image/jpeg,application/json,application/pdf,application/rss+xml; charset=ISO-8859-1,text/plain,text/xml</ContentTypes>
    </Page>
    <ContentEditor>
      <UseNew>True</UseNew>
      <ParagraphList>
        <ShowUpdatedDate>True</ShowUpdatedDate>
        <ShowUpdatedUser>True</ShowUpdatedUser>
        <ShowValidTo>False</ShowValidTo>
        <ShowValidFrom>False</ShowValidFrom>
      </ParagraphList>
      <UseSimpleParagraphList>False</UseSimpleParagraphList>
      <UseNavigationCancel>False</UseNavigationCancel>
    </ContentEditor>
    <DwInclude>
      <DisablePerformanceComment>True</DisablePerformanceComment>
      <DisableHrefNameParser>True</DisableHrefNameParser>
      <DisableDwscript>True</DisableDwscript>
      <EnablePageAndParagraphCompatibilityParsing>False</EnablePageAndParagraphCompatibilityParsing>
    </DwInclude>
    <Designs>
      <IgnoreAllModuleJsAndCss>False</IgnoreAllModuleJsAndCss>
      <UseOnlyDesignsAndLayouts>True</UseOnlyDesignsAndLayouts>
      <DoNotIncludeBaseHref>False</DoNotIncludeBaseHref>
      <OptimizeNavigationXml>True</OptimizeNavigationXml>
    </Designs>
    <Logging>
      <Disable71Logging>True</Disable71Logging>
      <DBRetentionSettings>
        <ColumnNameAudit>AuditTimestamp</ColumnNameAudit>
        <RetentionAudit>1095</RetentionAudit>
        <TableNames>Audit</TableNames>
      </DBRetentionSettings>
    </Logging>
    <Updates>
      <DisableTemplateUpdates>False</DisableTemplateUpdates>
    </Updates>
    <LastSeenVersion>
      <Version>9.10.0</Version>
    </LastSeenVersion>
    <Dictionary>
      <HideOldTranslationButton>false</HideOldTranslationButton>
      <DisableTranslationMarksForAngel>False</DisableTranslationMarksForAngel>
    </Dictionary>
    <Auditing>
      <EnableAuditing>False</EnableAuditing>
    </Auditing>
  </Settings>
  <Modules>
    <Filemanager>
      <FilesInDropdown>150</FilesInDropdown>
      <RememberFolder>
        <Timeout>500</Timeout>
      </RememberFolder>
      <AutoResize>
        <JpegCompression>90</JpegCompression>
        <GifColors>256</GifColors>
      </AutoResize>
    </Filemanager>
    <Users>
      <PasswordExpireDays>never</PasswordExpireDays>
      <ReusePassword>
        <AfterNumberOfTimes>0</AfterNumberOfTimes>
        <AfterNumberOfDays>allways</AfterNumberOfDays>
      </ReusePassword>
      <PasswordSecurity>low</PasswordSecurity>
      <MinimumOfCharacters>0</MinimumOfCharacters>
      <PasswordMode>show</PasswordMode>
      <NumberOfLines>12</NumberOfLines>
      <UseInAdministration>False</UseInAdministration>
      <EncryptPassword>False</EncryptPassword>
      <UseExtendedComponent>False</UseExtendedComponent>
      <WithSearchOption>False</WithSearchOption>
      <SecureFolderName>
      </SecureFolderName>
      <AutoLoginCookie>
        <ValideForDays>
        </ValideForDays>
      </AutoLoginCookie>
    </Users>
    <Extranet>
      <PasswordExpireDays>never</PasswordExpireDays>
      <ReusePassword>
        <AfterNumberOfTimes>0</AfterNumberOfTimes>
        <AfterNumberOfDays>allways</AfterNumberOfDays>
      </ReusePassword>
      <PasswordSecurity>low</PasswordSecurity>
      <MinimumOfCharacters>0</MinimumOfCharacters>
      <UseWithExtranet>False</UseWithExtranet>
      <EncryptPassword>False</EncryptPassword>
    </Extranet>
    <LanguagePack>
      <DefaultLanguage>2</DefaultLanguage>
    </LanguagePack>
    <Statistics>
      <RemoteHostVariable>
      </RemoteHostVariable>
      <DisablePageStatistics>False</DisablePageStatistics>
      <DisableStatistics>False</DisableStatistics>
    </Statistics>
    <OMC>
      <LeadStates>Received a call,Email sent</LeadStates>
      <LeadsListPayload>0</LeadsListPayload>
      <Notifications>
        <ReportsSendInterval>7</ReportsSendInterval>
        <ReportsSendFrom>3</ReportsSendFrom>
        <ReportsSendTo>5</ReportsSendTo>
        <ReturningVisitorsSendTo>5</ReturningVisitorsSendTo>
        <ReturningVisitorsSendFrom>3</ReturningVisitorsSendFrom>
        <ReturningVisitorsSendInterval>1</ReturningVisitorsSendInterval>
        <SplitTestsSendInterval>7</SplitTestsSendInterval>
        <SplitTestsSendFrom>3</SplitTestsSendFrom>
        <SplitTestsSendTo>5</SplitTestsSendTo>
        <SplitTestsSendCRThreshold>5</SplitTestsSendCRThreshold>
        <SplitTestsSendImprovementLimit>20</SplitTestsSendImprovementLimit>
      </Notifications>
      <VisitorEngagement>
        <TimeFrame>14</TimeFrame>
        <Pageviews>15</Pageviews>
        <PageviewsPoints>5</PageviewsPoints>
        <NumberOfVisits>10</NumberOfVisits>
        <NumberOfVisitsPoints>7</NumberOfVisitsPoints>
        <LastVisit>2</LastVisit>
        <LastVisitPoints>8</LastVisitPoints>
        <SearchContains>
        </SearchContains>
        <SearchContainsPoints>0</SearchContainsPoints>
        <InteractionSubmitForm>9</InteractionSubmitForm>
        <InteractionPlaceOrder>10</InteractionPlaceOrder>
        <InteractionViewProduct>8</InteractionViewProduct>
        <InteractionDownloadFile>7</InteractionDownloadFile>
        <InteractionSearch>6</InteractionSearch>
        <InteractionViewNews>5</InteractionViewNews>
        <InteractionUnknown>
        </InteractionUnknown>
        <InteractionAddToCart>
        </InteractionAddToCart>
        <Disable>False</Disable>
      </VisitorEngagement>
      <IgnoreProviders>TDC</IgnoreProviders>
      <LeadsListKeepTemporarilyApproved>True</LeadsListKeepTemporarilyApproved>
      <EmailEngagement>
        <OpenMail>5</OpenMail>
        <ClickLink>10</ClickLink>
        <AddingProductsToCart>20</AddingProductsToCart>
        <SigningNewsletter>16</SigningNewsletter>
        <UnsubscribesNewsletter>-20</UnsubscribesNewsletter>
      </EmailEngagement>
      <EmailMarketing>
        <DefaultRecipientsListCount>-1</DefaultRecipientsListCount>
      </EmailMarketing>
    </OMC>
    <UserManagement>
      <EncryptNewPasswords>true</EncryptNewPasswords>
      <UploadedImages>
        <EnableMaxWidth>False</EnableMaxWidth>
        <EnableMaxHeight>False</EnableMaxHeight>
        <DefineWhere>Globally</DefineWhere>
        <ImagesFolder>/Billeder/UM</ImagesFolder>
        <MaxWidth>
        </MaxWidth>
        <MaxHeight>
        </MaxHeight>
      </UploadedImages>
      <UploadedCustomFiles>
        <DefineWhere>OnUser</DefineWhere>
        <FilesFolder>/Files</FilesFolder>
      </UploadedCustomFiles>
      <ExtranetPasswordSecurity>
        <PeriodLoginFailure>10</PeriodLoginFailure>
        <BlockingPeriod>10</BlockingPeriod>
        <LoginAttempts>3</LoginAttempts>
        <RecoveryTokenTimeout>24</RecoveryTokenTimeout>
      </ExtranetPasswordSecurity>
    </UserManagement>
    <LanguageManagement>
      <DeactivateParagraphOnNew>False</DeactivateParagraphOnNew>
      <DeactivatePageOnNew>False</DeactivatePageOnNew>
      <AllowNewParagraphs>False</AllowNewParagraphs>
      <AllowGlobalParagraphs>False</AllowGlobalParagraphs>
      <AllowNewPages>1</AllowNewPages>
      <InheritPageChanges>False</InheritPageChanges>
      <InheritParagraphChanges>False</InheritParagraphChanges>
      <CompareParagraphAsText>False</CompareParagraphAsText>
      <UseAreaNamesForDropdowns>False</UseAreaNamesForDropdowns>
    </LanguageManagement>
    <ImportExport>
      <checkToken>True</checkToken>
    </ImportExport>
  </Modules>
  <System>
    <MailServer>
      <Type>smtp</Type>
      <Server>smtp.dynamic-systems.lan</Server>
      <DoNotUsePickup>False</DoNotUsePickup>
      <Port>
      </Port>
      <Username>
      </Username>
      <Password>
      </Password>
    </MailServer>
    <ActiveDirectory>
      <ADSI-Domain>
      </ADSI-Domain>
      <UserName>
      </UserName>
      <Password>
      </Password>
    </ActiveDirectory>
    <Version>
      <CurrentVersion>9.10.0.0</CurrentVersion>
      <PerformedOncePackages>
        <updates.xml>2119,2114,2082,2029,2028,2023,2021</updates.xml>
        <ecom.xml>2029,2028,2027</ecom.xml>
      </PerformedOncePackages>
    </Version>
    <Url>
      <Type>Path</Type>
      <TypePageID>
        <Prefix>Page</Prefix>
      </TypePageID>
      <UseAreaNameInPath>False</UseAreaNameInPath>
      <ParseContentURL>True</ParseContentURL>
      <TrimSpaces>Hyphen</TrimSpaces>
      <EmailMunging>False</EmailMunging>
      <CaseInsensitive>True</CaseInsensitive>
      <DisableRobotsOnDwUrl>True</DisableRobotsOnDwUrl>
      <UniqueForEachLanguage>False</UniqueForEachLanguage>
      <DisableRobotsOnPrinterFriendly>False</DisableRobotsOnPrinterFriendly>
      <ParseContentURLWithParamsMethod>Slashes</ParseContentURLWithParamsMethod>
      <EnsureUniquePath>True</EnsureUniquePath>
      <UseAreaRegionalInPath>False</UseAreaRegionalInPath>
      <ParseContentURLWithParams>False</ParseContentURLWithParams>
      <UseCanoncial>False</UseCanoncial>
      <NoAreaName>False</NoAreaName>
      <UrlInlcudeAreaType>UseAreaNameInPath</UrlInlcudeAreaType>
      <PathEncode>False</PathEncode>
      <Providers>Dynamicweb.Frontend.UrlProviders.eComGroupPathProvider,Dynamicweb.Frontend.UrlProviders.eComProductProvider,Dynamicweb.Frontend.UrlProviders.NewsItemProvider,Dynamicweb.Modules.Forum.ForumUrlProvider,Dynamicweb.Frontend.UrlProviders.eComProductAndVariantProvider</Providers>
      <ReplaceSlash>False</ReplaceSlash>
      <LatinNormalize>True</LatinNormalize>
      <AmpEncode>False</AmpEncode>
      <UseStrictURLRecognition>True</UseStrictURLRecognition>
      <Page404ForProductsNotInWebsiteShop>True</Page404ForProductsNotInWebsiteShop>
      <PlaceAllPagesInRoot>False</PlaceAllPagesInRoot>
      <Page404ForProductsNotInWebsiteLang>True</Page404ForProductsNotInWebsiteLang>
      <ExtensionLess>False</ExtensionLess>
      <UseCanonicalInEcommerce>True</UseCanonicalInEcommerce>
      <IncludeProductIdInUrlNames>False</IncludeProductIdInUrlNames>
    </Url>
    <http>
      <DisableBaseHrefPort>False</DisableBaseHrefPort>
      <DisableSQLInjectionCheck>False</DisableSQLInjectionCheck>
      <Compression>
        <Type>gzip</Type>
      </Compression>
      <AddLastModifiedHeader>False</AddLastModifiedHeader>
    </http>
    <Security>
      <FormAntiSpam>True</FormAntiSpam>
      <FormAntiSpamReportTo>
      </FormAntiSpamReportTo>
      <AngelLocked>False</AngelLocked>
      <DoNotBanIps>False</DoNotBanIps>
      <SQLInjectionSkip>
      </SQLInjectionSkip>
    </Security>
    <Searching>
      <EntryIndexingDelay>0</EntryIndexingDelay>
      <AlertEmailSendParams>3</AlertEmailSendParams>
    </Searching>
    <Filesystem>
      <ImagesFolderName>Images</ImagesFolderName>
      <FilesFolderName>Files</FilesFolderName>
    </Filesystem>
    <dblgnforna>False</dblgnforna>
    <dblgnfornafe>False</dblgnfornafe>
    <Clustering>
      <LocalMachineName>
      </LocalMachineName>
      <LocalUrl>
      </LocalUrl>
      <RemoteMachineName>
      </RemoteMachineName>
      <RemoteUrl>
      </RemoteUrl>
    </Clustering>
    <dblgnfornafemsg>
    </dblgnfornafemsg>
    <AddIns>
      <AllowLoad>True</AllowLoad>
    </AddIns>
    <Tracking>
      <TableTimeInterval>None</TableTimeInterval>
      <EnableTracking>False</EnableTracking>
      <EnableLogging>True</EnableLogging>
    </Tracking>
  </System>
  <Ecom>
    <Picture>
      <NoPicture>
        <Medium>
        </Medium>
        <Large>/Images/missing_image.jpg</Large>
        <Small>
        </Small>
        <Large_path>/Files/Images/missing_image.jpg</Large_path>
        <Medium_path>
        </Medium_path>
        <Small_path>
        </Small_path>
      </NoPicture>
      <Autoscale>
        <Medium>
          <Height>
          </Height>
          <Width>
          </Width>
          <Active>False</Active>
        </Medium>
        <Large>
          <Height>
          </Height>
          <Active>False</Active>
          <Width>
          </Width>
        </Large>
        <Small>
          <Active>False</Active>
          <Width>
          </Width>
          <Height>
          </Height>
        </Small>
      </Autoscale>
    </Picture>
    <Order>
      <ShippingFee>
        <UseDeliveryCountryOnShippingFee>False</UseDeliveryCountryOnShippingFee>
      </ShippingFee>
      <PaymentFee>
        <UseDeliveryCountryOnPaymentFee>False</UseDeliveryCountryOnPaymentFee>
      </PaymentFee>
      <ConsolidateTaxesForProducts>False</ConsolidateTaxesForProducts>
      <ConsolidateTaxesForOrder>False</ConsolidateTaxesForOrder>
      <AllowEditOrderForUsers>False</AllowEditOrderForUsers>
    </Order>
    <Cookie>
      <DaysToSave>30</DaysToSave>
    </Cookie>
    <ProductGroup>
      <CacheProductCollection>False</CacheProductCollection>
      <CacheProductCollectionMinutes>15</CacheProductCollectionMinutes>
    </ProductGroup>
    <Product>
      <DontAllowLinksToProductIfNotActive>True</DontAllowLinksToProductIfNotActive>
      <ProductNotActivePage>
      </ProductNotActivePage>
      <DontShowProductIfHasNoPrice>False</DontShowProductIfHasNoPrice>
      <DontShowProductIfNotOnStock>False</DontShowProductIfNotOnStock>
      <DontUseDefaultLanguageIsNoProductExists>True</DontUseDefaultLanguageIsNoProductExists>
      <DontShowVariantIfNotOnStock>False</DontShowVariantIfNotOnStock>
      <DontAllowLinksToVariantIfNotActive>False</DontAllowLinksToVariantIfNotActive>
      <ActivateProductsOnAllLanguageVersions>False</ActivateProductsOnAllLanguageVersions>
      <DontShowVariantIfHasNoPrice>False</DontShowVariantIfHasNoPrice>
      <MinutesReserved>0</MinutesReserved>
      <ReserveMode>modeCheckout</ReserveMode>
      <ShowVariantDefault>False</ShowVariantDefault>
      <Details>
        <Extensions>jpg,jpeg,png,bmp,tiff,pdf,docx,xlsx,ppt,avi</Extensions>
      </Details>
    </Product>
    <PageTitle>
      <Fix>PRE</Fix>
      <ShowProductName>False</ShowProductName>
      <Seperator>
      </Seperator>
      <RemoveOldTitle>False</RemoveOldTitle>
      <ChangeTitle>False</ChangeTitle>
    </PageTitle>
    <Unit>
      <Volume>m³</Volume>
      <Weight>kg</Weight>
      <Dimensions>cm</Dimensions>
    </Unit>
    <ProductLanguageControl>
      <Variant>
        <ProductImageLarge>True</ProductImageLarge>
        <ProductActive>True</ProductActive>
        <ProductLongDescription>True</ProductLongDescription>
        <ProductVolume>True</ProductVolume>
        <ProductStock>True</ProductStock>
        <ProductImageSmall>True</ProductImageSmall>
        <ProductStockGroup>True</ProductStockGroup>
        <ProductWeight>True</ProductWeight>
        <ProductName>True</ProductName>
        <ProductPrice>False</ProductPrice>
        <ProductLink1>True</ProductLink1>
        <ProductShortDescription>True</ProductShortDescription>
        <ProductVATGroup>True</ProductVATGroup>
        <ProductNumber>True</ProductNumber>
        <ProductLink2>True</ProductLink2>
        <test1>True</test1>
        <croporigin>True</croporigin>
        <quantity>True</quantity>
        <ProductPeriod>True</ProductPeriod>
        <newproduct>True</newproduct>
        <ProductManufacturer>True</ProductManufacturer>
        <ProductImageMedium>True</ProductImageMedium>
        <discount>False</discount>
        <relationgroup>False</relationgroup>
        <TaxCode>False</TaxCode>
        <ItemCode>False</ItemCode>
        <rims>False</rims>
        <HideForGroup>True</HideForGroup>
        <ProductMetaTitle>True</ProductMetaTitle>
        <ProductMetaDescription>True</ProductMetaDescription>
        <ProductMetaKeywords>True</ProductMetaKeywords>
        <ProductMetaUrl>True</ProductMetaUrl>
        <ProductMetaCanonical>True</ProductMetaCanonical>
        <ProductUpdated>True</ProductUpdated>
      </Variant>
      <Language>
        <ProductManufacturer>True</ProductManufacturer>
        <newproduct>True</newproduct>
        <ProductName>True</ProductName>
        <ProductLongDescription>True</ProductLongDescription>
        <quantity>True</quantity>
        <ProductPrice>True</ProductPrice>
        <ProductShortDescription>True</ProductShortDescription>
        <ProductVolume>True</ProductVolume>
        <ProductNumber>True</ProductNumber>
        <test1>True</test1>
        <ProductStockGroup>True</ProductStockGroup>
        <ProductPeriod>True</ProductPeriod>
        <ProductImageLarge>True</ProductImageLarge>
        <croporigin>True</croporigin>
        <ProductLink1>True</ProductLink1>
        <ProductLink2>True</ProductLink2>
        <ProductStock>True</ProductStock>
        <ProductImageSmall>True</ProductImageSmall>
        <ProductActive>True</ProductActive>
        <ProductImageMedium>True</ProductImageMedium>
        <ProductWeight>True</ProductWeight>
        <ProductVATGroup>True</ProductVATGroup>
        <discount>False</discount>
        <rims>False</rims>
        <relationgroup>False</relationgroup>
        <TaxCode>False</TaxCode>
        <ItemCode>False</ItemCode>
        <HideForGroup>True</HideForGroup>
        <ProductMetaTitle>True</ProductMetaTitle>
        <ProductMetaDescription>True</ProductMetaDescription>
        <ProductMetaKeywords>True</ProductMetaKeywords>
        <ProductMetaUrl>True</ProductMetaUrl>
        <ProductMetaCanonical>True</ProductMetaCanonical>
        <ProductUpdated>True</ProductUpdated>
      </Language>
      <ChoicesMade>True</ChoicesMade>
    </ProductLanguageControl>
    <Cart>
      <SkipMethodStep>False</SkipMethodStep>
      <StepValidate>False</StepValidate>
      <SavedForLaterValidTime>1</SavedForLaterValidTime>
      <DontUseFixedOrderLineTypeWhenReordered>True</DontUseFixedOrderLineTypeWhenReordered>
    </Cart>
    <UseNew>True</UseNew>
    <C5>
      <WriteOrderToFile>false</WriteOrderToFile>
      <OrderFilePath>
      </OrderFilePath>
      <FileExtension>C5</FileExtension>
    </C5>
    <ProductCategories>
      <HasBeenConverted>True</HasBeenConverted>
    </ProductCategories>
    <Navigation>
      <ApplyOnliyIfPageIsInPath>False</ApplyOnliyIfPageIsInPath>
      <MaxNumberOfProducts>10</MaxNumberOfProducts>
      <CacheProductsMinutes>10</CacheProductsMinutes>
      <CalcProductCountForGroup>true</CalcProductCountForGroup>
    </Navigation>
    <RelatedProducts>
      <LimitOfLinksToAppearOnTheList>5</LimitOfLinksToAppearOnTheList>
    </RelatedProducts>
    <Users>
      <IncludeShopIdInExtranetLogIn>1</IncludeShopIdInExtranetLogIn>
    </Users>
    <Price>
      <List>
        <UseCustomColumns>False</UseCustomColumns>
        <CustomColumns>
        </CustomColumns>
        <UseCustomOrder>False</UseCustomOrder>
        <CustomOrder>
        </CustomOrder>
      </List>
      <AllowNegativeOrderTotalPrice>False</AllowNegativeOrderTotalPrice>
    </Price>
    <Integration>
      <DisableCreationNewProductVariant>False</DisableCreationNewProductVariant>
      <DisableCreationNewGroups>False</DisableCreationNewGroups>
      <EditGroupId>False</EditGroupId>
    </Integration>
    <EconomicIntegration>
      <Credentials>
        <DynamicwebAppPublicToken>ZzHUKtTtEeHebMlr0a6Egfp4Wt6g0zT5hXZv6fpW74E1</DynamicwebAppPublicToken>
        <DynamicwebAppSecretToken>B2AnlqBqny40mmMLBk5tp12Bxw0zMNDiFb68sFF4kRo1</DynamicwebAppSecretToken>
      </Credentials>
    </EconomicIntegration>
    <Required>
      <ProductCategories>
        <ChannableFieds.Brand>True</ChannableFieds.Brand>
        <ChannableFieds.Ean>True</ChannableFieds.Ean>
      </ProductCategories>
    </Required>
  </Ecom>
  <ItemTypes>
    <MetadataSource>files</MetadataSource>
    <HasBeenConverted>True</HasBeenConverted>
    <GoogleFontApiKey>AIzaSyC_AeYoZz8_ia1EqDZUILjLkbqEWmm8a_0</GoogleFontApiKey>
  </ItemTypes>
</Globalsettings>