@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
    string queryName = "PostsCurrentPage";
    string repositoryName = "Post";
    string layout = "PostGridWidthDate";
    int parentPageId = Model.Item.GetLink("ParentPage")?.PageId != null ? Model.Item.GetLink("ParentPage").PageId : Pageview.Page.ID;

    string queryPath =
    $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={Pageview?.Area.ID}&ParentPageID={parentPageId}";
    queryPath += !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("postq")) ?
    $"&postq={Dynamicweb.Context.Current.Server.UrlEncode(Dynamicweb.Context.Current.Request.QueryString.Get("postq"))}" :
    string.Empty;
}

<div>
    <div hx-get="@queryPath" hx-trigger="intersect once" hx-headers='{"x-dw-template": "/Designs/Swift-v2/QueryPublisher/@(layout).cshtml", "accept": "text/html"}'>
        <div class="d-grid gap-2" style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr))">
            @for (var i = 0; i < 4; i++)
            {
                <div class="card" aria-hidden="true">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text placeholder w-75"></p>
                        <div class="opacity-75 fs-7">@DateTime.Now.ToShortDateString()</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>