@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
    string queryName = "PostsCurrentPage";
    string repositoryName = "Post";
    string layout = "PostListWithDate";
    int parentPageId = Pageview.Page.ID;

    string queryPath =
    $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={Pageview?.Area.ID}&ParentPageID={parentPageId}";
    queryPath += !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("postq")) ?
    $"&postq={Dynamicweb.Context.Current.Server.UrlEncode(Dynamicweb.Context.Current.Request.QueryString.Get("postq"))}" :
    string.Empty;
}

<div>
    <div hx-get="@queryPath" hx-trigger="intersect once" hx-headers='{"x-dw-template": "/Designs/Swift-v2/QueryPublisher/@(layout).cshtml", "accept": "text/html"}'>
        <div class="grid gap-4">
            @for (var i = 0; i < 4; i++)
            {
                <div class="g-col-12 card text-decoration-none">
                    <div class="grid gap-0">
                        <div class="g-col-12 g-col-md-4">
                            <img src="https://placehold.co/600x400" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="g-col-12 g-col-md-8">
                            <div class="card-body">
                                <p class="card-text placeholder w-75"></p>
                                <div class="opacity-75 fs-7">@DateTime.Now.ToShortDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>