@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
    string queryName = "PostsCurrentPage";
    string repositoryName = "Post";
    string layout = "PostGridWidthDate";
    int parentPageId = Pageview.Page.ID;

    string queryPath =
    $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={Pageview?.Area.ID}&ParentPageID={parentPageId}&Title={Dynamicweb.Context.Current.Server.UrlEncode(Model.Item.GetString("Title"))}";
    queryPath += !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("postq")) ?
    $"&postq={Dynamicweb.Context.Current.Server.UrlEncode(Dynamicweb.Context.Current.Request.QueryString.Get("postq"))}" :
    string.Empty;
}

<div>
    <div hx-get="@queryPath" hx-trigger="intersect once threshold:0.1 root:htmx-@(Model.ID)"
        hx-target="#posts-@(Model.ID)"
        hx-headers='{"x-dw-template": "/Designs/Swift-v2/QueryPublisher/@(layout).cshtml", "accept": "text/html"}'>

        <div id="posts-@(Model.ID)"></div>
    </div>
</div>