@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
    string queryName = "PostsCurrentPage";
    string repositoryName = "Post";
    string layout = "PostGrid";
    string facetGroup = "PostFacets";
    int parentPageId = Model.Item.GetLink("ParentPage")?.PageId != null ? Model.Item.GetLink("ParentPage").PageId : Pageview.Page.ID;

    string queryPath = $"/dwapi/query?QueryName={queryName}&RepositoryName={repositoryName}&AreaId={Pageview?.Area.ID}&FacetGroupNames={facetGroup}";
    queryPath += Dynamicweb.Context.Current?.Request.Url.Query.Replace("?", "&");
    queryPath += !queryPath.ToLower().Contains("parentpageid") ? $"&ParentPageID={parentPageId}" : string.Empty;
}

<div>
    <div hx-get="@queryPath"
        hx-trigger="intersect once"
        hx-replace-url="false"
        hx-headers='{"x-dw-template": "/Designs/Swift-v2/QueryPublisher/@(layout).cshtml", "accept": "text/html"}'
        hx-on:htmx:response-error="this.innerHTML = document.querySelector('#response-error-@(Model.ID)').innerHTML">
        <div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
            @for (var i = 0; i < 4; i++)
            {
                <div class="card" aria-hidden="true">
                    <div class="card-img-top bg-body text-body bg-opacity-10 icon-6" style="aspect-ratio: 16/9; --bs-body-bg-rgb: var(--dw-color-foreground-rgb); --bs-text-opacity: .25;">
                        @ReadFile("/Files/Images/Icons/image.svg")
                    </div>
                    <div class="card-body">
                        <p class="card-text placeholder w-75"></p>
                        <p class="card-text placeholder w-50"></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<template id="response-error-@(Model.ID)">
    <div class="alert alert-dark w-100 text-center" role="alert">
        @Translate("Error")
    </div>
</template>