 <div id="payment-details-placeholder" class="hidden">

<div id="wallet-container">
	<div id="express-checkout-element">
		<!-- Express Checkout Element will be inserted here -->
	</div>
	<div id="error-message">
		<!-- Display error message to your customers here -->
	</div>
</div>
</div>
