.colorbox {
	display: inline-block;
	position: relative;
	width: 2.625rem;
	height: 2.625rem;
	cursor: pointer;
	user-select: none;
}

.colorbox-sm {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;		  
	cursor: unset;
	user-select: none;
}

.colorbox input {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 2.625rem;
	height: 2.625rem;
}

.colorbox-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 2.625rem;
	width: 2.625rem;
	background-color: #eee;
	pointer-events: none;
	border: 1px solid $gray-200;
}

.colorbox input:checked ~ .colorbox-background {
	border: 1px solid $gray-500;
}

.colorbox-background:after {
	content: "";
	position: absolute;
	display: none;
	left: 1rem;
	top: 0.625rem;
	width: 0.625rem;
	height: 1rem;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.colorbox input:checked ~ .colorbox-background:after {
	display: block;
}

.colorbox-icon {
	width: 1.125rem;
	height: 1.125rem;
	display: inline-block;
	vertical-align: middle;
}
