@import 'accordion','buttons','type-ahead','preloader','megamenu','mini-cart','nav','offcanvas-nav','collapse','colorbox','static-variants','variant-option','product-list','video-player','cookie-notice','map','swiffy-slider','carousel';
