.megamenu-wrapper {

	.megamenu {
		width: 100%;
		border: 0;
		border-radius: 0;
		box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
		max-height: 70vh;
		overflow-y: auto;
	}
}

.megamenu-col {
	min-width: 14.66rem;
	max-width: 14.66rem;

	&.border-end {
		border-right-color: rgba(var(--swift-foreground-color-rgb), .3) !important;
	}
}
