.megamenu-content-wrapper {
	width: 100%;
	left: 0;
	top: 0;
	box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.08);
	position: absolute;
}

.nav-link {
	&:hover {
		color: var(--swift-accent-color);
	}
}

@mixin hover-underline-animation($transform-origin-on-hover, $initial-transform-origin: $transform-origin-on-hover) {
	display: inline-block;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 7px;
		left: 0;
		background-color: var(--swift-accent-color);
		transform-origin: $initial-transform-origin;
		transition: transform 0.25s ease-out;
	}

	&:hover {
		&::after {
			transform: scaleX(1);
			transform-origin: $transform-origin-on-hover;
		}
	}
}

.hover-underline-animation-left {
	@include hover-underline-animation(bottom left, bottom right);
}

.hover-underline-animation-right {
	@include hover-underline-animation(bottom right, bottom left);
}

.hover-underline-animation-center {
	@include hover-underline-animation(center);
}
