.megamenu-wrapper {

	.dropdown {

		.dropdown-toggle:hover {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				margin-bottom: -0.5rem;
			}
		}

		.megamenu {
			width: 100%;
			border: 0;
			border-radius: 0;
			box-shadow: 0 0.5rem 0.5rem rgba($black, .08);
		}
	}

	.nav-link-clean {

		&::after {
			display: none;
		}
	}
}
