/* Mini cart */

.nav-link:has(.mini-cart-quantity) {
	position: relative;
}

.mini-cart-quantity {
	display: inline-flex;
	transform: scale(1);
	transition: transform .25s ease-in;
	position: absolute;
	top: 0;
	right: -.125rem;
	background-color: var(--swift-foreground-color);
	color: var(--swift-background-color);
	border-radius: 50rem;
	padding: 0.125rem;
	font-size: 0.75em;
	place-content: center;
	place-items: center;
	text-align: center;
	aspect-ratio: 1/1;
	height: 1rem;
	line-height: 1;
}

.mini-cart-quantity-added {
	transform: scale(1.35);
	transition: transform .25s ease-out;
}
