.nav-wrapper {

	.nav-link-clean {

		&::after {
			display: none;
		}
	}

	.dropdown {

		.dropdown-toggle {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				margin-bottom: -0.5rem;
			}
		}

		.dropdown-menu {
			margin-top: 0;
		}

		&:hover {

			.dropdown-menu {
				display: block;
				left: 0;
				top: 100%;
			}
		}
	}

	.nav-link-underline {

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
