.nav-wrapper {

	.nav-link-clean {

		&::after {
			display: none;
		}
	}

	.dropdown {

		.dropdown-menu {
			margin-top: 0;
			top: auto;
			left: auto;
			padding: 0;
		}

		&.dropdown-item:first-of-type {
			margin-top: .5rem;
		}

		&.dropdown-item:last-of-type {
			margin-bottom: .5rem;
		}

		.dropdown-toggle {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				margin-bottom: -0.5rem;
			}
		}
	}

	.nav-link-underline {

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
