.nav-wrapper {

	.nav-link-clean {

		&::after {
			display: none;
		}
	}

	.dropdown {

		.dropdown-menu:empty {
			padding: 0;
		}

		.dropdown-toggle:hover {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				margin-bottom: -0.5rem;
			}
		}
	}
}
