.offcanvas {
	--swift-offcanvas-width: 320px;

	@include media-breakpoint-up(lg) {
		--swift-offcanvas-width: 30rem;
	}
}

.offcanvas-navigation {
	background-color: transparent;

	.nav {
		background-color: var(--swift-background-color);
		transition: all .3s;
		z-index: 500;

		.nav-header {

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.2);
			}
		}

		.nav-link {
			color: var(--swift-foreground-color);

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.active,
			&.in-path {

				&::before {
					content: "";
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					width: 3px;
					background-color: var(--swift-foreground-color);
				}
			}
		}

		&.sub-nav {
			max-width: var(--swift-offcanvas-width);
			position: fixed !important;
			top: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			transform: translateX(-100%);
			will-change: opacity, transform;
		}

		.sub-nav-check:checked ~ .sub-nav {
			opacity: 1 !important;
			visibility: visible !important;
			pointer-events: all !important;
			will-change: opacity, transform;
			transform: none;
		}
	}
}

.offcanvas.show .offcanvas-navigation {
	display: block !important;
}
