/* stylelint-disable */
@import "~tiny-slider/src/tiny-slider";
/* stylelint-enable */

.tns {

	&-slider,
	&-ovh,
	&-outer,
	&-inner {
		height: 100%;
	}

	&-slider {
		display: flex;

		&.tns-vertical {
			display: block;
		}
	}
}

.tns-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: $carousel-control-width;
	margin-bottom: 1rem;
	margin-left: $carousel-control-width;
	list-style: none;

	@include media-breakpoint-up(lg) {
		opacity: 0;
	}

	> button { 
		box-sizing: content-box;
		flex: 0 1 auto;
		width: $carousel-indicator-width;
		height: $carousel-indicator-height;
		padding: 0;
		margin-right: $carousel-indicator-spacer;
		margin-left: $carousel-indicator-spacer;
		text-indent: -999px;
		cursor: pointer;
		background-color: $carousel-indicator-active-bg;
		background-clip: padding-box;
		border: 0;
		border-top: $carousel-indicator-hit-area-height solid transparent;
		border-bottom: $carousel-indicator-hit-area-height solid transparent;
		opacity: $carousel-indicator-opacity;
		@include transition($carousel-indicator-transition);
	}

	.tns-nav-active {
		opacity: $carousel-indicator-active-opacity;
	}
}

.tns-outer {
	position: relative;
	display: flex;
	flex-direction: column;

	.tns-controls {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		z-index: 1;
		pointer-events: none;

		button {
			background: 0;
			border: 0;
			padding: 0;
			width: 100px;
			pointer-events: initial;
			
			@include media-breakpoint-up(lg) {
				opacity: 0;
			}

			&:disabled {
				visibility: hidden;
			}

			.tns-controls-icon {
				background: $white;
				fill: $gray-900;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.1);
			}
		}
	}

	@include media-breakpoint-up(lg) {

		&:hover {
	
			.tns-controls button {
				opacity: 1;
				transition: opacity .3s ease-in-out;
			}
	
			.tns-nav {
				opacity: 1;
				transition: opacity .3s ease-in-out;
				transition-delay: .2s;
			}
		}
	}

}

.tns-item {

	.card {
		border: none;
	}

	& > a {

		&:focus-visible {
			outline: 2px dotted var(--swift-a11y-outline-color, rgba(0, 0, 0, 0.3)) !important;
		}
	}
}
