.tns-outer {
	position: relative;

	.tns-controls {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		z-index: 1;
		pointer-events: none;

		button {
			background: 0;
			border: 0;
			padding: 0;
			width: 100px;
			pointer-events: initial;
			
			@include media-breakpoint-up(lg) {
				opacity: 0;
			}

			&:disabled {
				visibility: hidden;
			}

			.tns-controls-icon {
				background: $white;
				fill: $gray-900;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.1);
			}
		}
	}

	@include media-breakpoint-up(lg) {

		&:hover {
	
			.tns-controls button {
				opacity: 1;
				transition: opacity .3s ease-in-out;
			}
		}
	}

}

.tns-nav-thumbnails {

	.tns-nav-thumbnail-item {
		opacity: .5;
	}
	
	.tns-nav-active {
		opacity: 1;
	}
}

.tns-item {

	.card {
		border: none;
	}

	& > a {

		&:focus-visible {
			outline: 2px dotted var(--swift-a11y-outline-color, rgba(0, 0, 0, 0.3)) !important;
		}
	}
}
