.slider-nav-round .slider-nav:after {
	mask: $slider-nav-round-icon;
}

.swiffy-slider.slider-nav-scrollbar .slider-container {
	padding-bottom: 1rem !important;
}

.swiffy-slider:not(.slider-indicators-outside).slider-nav-scrollbar .slider-indicators {
	margin-bottom: calc(2rem + var(--swiffy-slider-track-height)) !important;
}

.swiffy-slider ::-webkit-scrollbar-track {
	background: rgba(var(--swift-foreground-color-rgb), var(--swiffy-slider-track-opacity)) !important;
}

.swiffy-slider ::-webkit-scrollbar-thumb {
	background: rgba(var(--swift-foreground-color-rgb), 0.4) !important;
}

.swiffy-slider ::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--swift-foreground-color-rgb), 0.6) !important;
}

.swiffy-slider .slider-container {
	overflow-y: hidden;
	scrollbar-color: rgba(var(--swift-foreground-color-rgb), 0.4) rgba(var(--swift-foreground-color-rgb), var(--swiffy-slider-track-opacity)) !important;
}
