/* stylelint-disable */
@import "~swiffy-slider/dist/css/swiffy-slider.min.css";
/* stylelint-enable */

.slider-nav::before {
	background: var(--swift-background-color);
}

.slider-nav-round .slider-nav::after {
	mask: url('../../icons/arrow-left.svg');
	mask-repeat: no-repeat;
	background-color: var(--swift-foreground-color);
	mask-position: center;
}
