.type-ahead-dropdown {

	[ type="search" ]::-webkit-search-cancel-button,
	[ type="search" ]::-webkit-search-decoration { //Remove the search input clear(x) icon
		-webkit-appearance: none;
		appearance: none;
	}

	.suggest-form {
		color: inherit;

		.search-icon {
			color: inherit;
		}

		.type-ahead-field {
			color: inherit;
			border-radius: 1.5rem;

			&::placeholder { //Styles the placeholder text in search field
				color: inherit;
				opacity: 1;
			}

			&:not(:placeholder-shown) + .reset-search { //Styles the search input clear(x) icon
				color: inherit;
				opacity: 1 !important;
				transition: all 0.2s ease-in-out;
				visibility: visible !important;
				margin-right: 0.25rem;
			}
		}
	}

	.type-ahead-menu {
		color: var(--bs-body-color);
		background-color: var(--bs-white);

		mark { //Makes search suggestions more visible
			background-color: initial;
			color: currentColor;
			font-weight: 700;
			padding: initial;
		}

		.dropdown-item {
			color: currentColor;
			cursor: pointer;
			padding-left: 3rem;

			&.active,
			&:active {
				background-color: rgba(var(--bs-dark-rgb), 0.3);
			}
		}

		.dropdown-item-search-icon,
		.dropdown-item-arrow-icon {
			width: 3rem;
			padding-inline: 1rem;

			&::before {
				background-color: currentColor;
				content: "";
				display: block;
				height: 1rem;
				mask-repeat: no-repeat;
				mask-size: 1rem 1rem;
				mask-position: center;
				width: 1rem;
			}
		}

		.dropdown-item-search-icon {

			&::before {
				mask-image: url('../../icons/search.svg');
			}
		}

		.dropdown-item-arrow-icon {

			&::before {
				mask-image: url('../../icons/arrow-up-left.svg');
			}
		}
	}

	&.show {
		color: $body-color;

		.type-ahead-field {
			color: $body-color;
			background-color: var(--bs-white);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
			border-color: rgba(var(--bs-dark-rgb), 0.2);
			box-shadow: $box-shadow;
		}

		.type-ahead-menu.show {
			margin-block-start: -1px;
			border-radius: 0 0 1.5rem 1.5rem;
			box-shadow: $box-shadow;
			border-color: rgba(var(--bs-dark-rgb), 0.2);
		}
	}
}

.search-modal {

	.modal-header {
		border-color: rgba(var(--swift-foreground-color-rgb), 0.3);
	}

	.modal-content {
		background-color: var(--swift-background-color);
	}

	.search-icon {
		color: inherit;
	}
}
