/* Variant options */

.theme {

	.variant-option.active {
		color: var(--swift-button-primary-foreground-color);
		background-color: var(--swift-button-primary-background-color);
		border-color: var(--swift-button-primary-border-color);
	}
}

.variant-option.active img {
	border-radius: .25rem;
}

.variant-option.colorbox.active:after {
	content: "";
	position: absolute;
	display: block;
	left: 15px;
	top: 10px;
	width: 10px;
	height: 16px;
	border: solid white;
	border-color: var(--variantoption-check-color);
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
	left: 50%;
	top: 50%;
}

.variant-option.in-active:not(option) {
	position: relative;
	opacity: 0.2;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: red;
		height: 0.25rem;
		margin: auto;
	}
}

option.variant-option.in-active {
	color: $gray-300;
}
