/* Variant options */

.theme {

	.variant-option.active {
		color: var(--swift-button-primary-foreground-color);
		background-color: var(--swift-button-primary-background-color);
		border-color: var(--swift-button-primary-border-color);
	}
}

.variant-option.colorbox.active:after {
	content: "";
	position: absolute;
	display: block;
	left: 15px;
	top: 10px;
	width: 10px;
	height: 16px;
	border: solid white;
	border-color: var(--variantoption-check-color);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.variant-option.in-active {
	opacity: 0.2;
}
