@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@MasterPageFile("Swift-v2_MasterNoLayout.cshtml")

<div class="container my-5">
	<div class="grid grid-1 grid-lg-3 gap-3">
		@Model.Placeholder("content", "content", "default:true;sort:1")
	</div>
</div>

@{

	string tmpPath =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_css_styles_{Model.Area.ID}.tmp");
	string cssPathCss =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_css_styles_{Model.Area.ID}.css");
	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(tmpPath),
	cssPathCss, false);
	System.IO.File.Delete(tmpPath);

	string cssPathBranding =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_branding_styles_{Model.Area.ID}.css");
	string cssPathTheme =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_theme_styles_{Model.Area.ID}.css");
	string cssPathFont =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_font_styles_{Model.Area.ID}.css");
	string cssPathEcommerceBadges =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_ecommerce_badge_styles_{Model.Area.ID}.css");
	string cssPathCombined =
	Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift-v2/_parsed/Swift_css/Swift_styles_{Model.Area.ID}.min.css");

	string combinedCss = Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathBranding);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathTheme);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathFont);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathEcommerceBadges);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathCss);
	combinedCss = System.Text.RegularExpressions.Regex.Replace(combinedCss, @"\{([\s\S]*?)\}", match =>
	{
		string content = match.Groups[1].Value;
		content = System.Text.RegularExpressions.Regex.Replace(content, @"\s+", " "); // Collapse multiple spaces to a single
		space
	return "{" + content.Trim() + "}";
	});

	combinedCss = System.Text.RegularExpressions.Regex.Replace(combinedCss, @"\t|\n|\r", "");
	combinedCss = combinedCss.Replace("\00a0", " "); //Re-insert spaces for content text
	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(combinedCss, cssPathCombined, false);
}
