@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("Swift-v2_EmailBase.cshtml")

@if (this.Pageview is object)
{
	var currentPage = Dynamicweb.Content.Services.Pages.GetPage(Model.ID);
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(currentPage.Parent)?.Item ?? null;
	bool isEmail = Model.Item?.SystemName == "Swift-v2_Email";

	if (settings is not null)
	{
		int headerPageId = settings?.GetLink("Header")?.PageId ?? 0;
		int footerPageId = settings?.GetLink("Footer")?.PageId ?? 0;
		
		if (Pageview.IsVisualEditorMode)
		{
			<div style="height:100px;"></div>
		}

		if (isEmail)
		{
			<span class="preheader" style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;visibility:hidden;width:0;">{{EmailMarketing:Email.PreHeader.Clean}}</span>
		}

		if (isEmail && headerPageId != 0)
		{
			var headerPage = Dynamicweb.Content.Services.Pages.GetPage(headerPageId);
			var headerPageColorScheme = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(headerPage)?.ColorScheme ?? null;
			string headerPageBackgroundColor = $"background-color:{headerPageColorScheme?.BackgroundColor?.Hex ?? string.Empty};";
			string headerPageForegroundColor = $"color:{headerPageColorScheme?.ForegroundColor?.Hex ?? string.Empty};";

			<div class="email-header-wrapper" role="presentation" style="border:0;margin:0;outline:0;padding:0;@(headerPageBackgroundColor)@(headerPageForegroundColor)">
				@RenderGrid(headerPageId)
			</div>
		}

		<div class="email-content-wrapper" role="presentation" style="border:0;margin:0;outline:0;padding:0;">
			@Model.Grid("Grid", "Email Grid", "default:true;sort:1", "Email")
		</div>

		if (isEmail && footerPageId != 0)
		{
			var footerPage = Dynamicweb.Content.Services.Pages.GetPage(footerPageId);
			var footerPageColorScheme = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(footerPage)?.ColorScheme ?? null;
			string footerPageBackgroundColor = $"background-color:{footerPageColorScheme?.BackgroundColor?.Hex ?? string.Empty};";
			string footerPageForegroundColor = $"color:{footerPageColorScheme?.ForegroundColor?.Hex ?? string.Empty};";

			<div class="email-footer-wrapper" role="contentinfo" style="border:0;margin:0;outline:0;padding:0;@(footerPageBackgroundColor)@(footerPageForegroundColor)">
				@RenderGrid(footerPageId)
			</div>
		}
	}
}
