@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System
@using Dynamicweb.Frontend
@MasterPageFile("Swift-v2_Master.cshtml")

<div class="min-vh-100 p-4" style="background-color: hsl(0, 0%, 97%);">
    <div style="padding-block-start: 10dvh;">
        <div class="fs-6 mb-2 pe-none user-select-none">
            @Model.Title
        </div>
        <div class="bg-white w-100 p-2 shadow-sm">
            <div data-dw-colorscheme="@Model.ColorScheme?.Id">
                @Model.Grid("Grid", "Grid", "default:true;sort:1", "Page")
            </div>
        </div>
    </div>
</div>
