<h2>Subscribe for email</h2>
<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->

<!--@UserManagement:User.FormStart-->
	<table>
		<tr>
			<th align="left"><!--@Translate(Name, "Name")-->: </th>
			<td><!--@UserManagement:User.Name.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Email, "Email")-->: </th>
			<td><!--@UserManagement:User.Email.Input--></td>
		</tr>
      	<tr style="display: none;">
      		<th align="left"><!--@Translate(confirmnewsletter, "I want to sign up")-->: </th>
			<td>
                <input name="<!--@UserManagement:User.EmailAllowed.InputName-->" type="checkbox" id="<!--@UserManagement:User.EmailAllowed.InputName-->" value="True" checked="checked" />
				<!--@UserManagement:User.EmailAllowed.Hidden.Input-->
			</td>
      	</tr>
	</table>
	<input type="submit" id="submitter" value="<!--@Translate(subscribe, "Subscribe")-->">
<!--@UserManagement:User.FormEnd-->