<h2>Create new user</h2>
<!--@LoopStart(FormValidationErrors)-->
<!--@HeaderStart-->
<div id="errormessages">
    <ul>
        <!--@HeaderEnd-->
        <li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
        <!--@FooterStart-->
    </ul>
</div>
<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->
<!--@UserManagement:User.FormStart-->
<table>
    <tr>
        <th align="left"><!--@Translate(Name, "Name")-->: </th>
        <td><!--@UserManagement:User.Name.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Email, "Email")-->: </th>
        <td><!--@UserManagement:User.Email.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Username, "Username")-->: </th>
        <td><!--@UserManagement:User.UserName.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(newpassword, "New password")-->: </th>
        <td><!--@UserManagement:User.NewPassword.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(confirmpassword, "Confirm password")-->: </th>
        <td><!--@UserManagement:User.NewPasswordConfirm.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Department, "Department")-->: </th>
        <td><!--@UserManagement:User.Department.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Phone, "Phone")-->: </th>
        <td><!--@UserManagement:User.Phone.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhonePrivate, "Private phone")-->: </th>
        <td><!--@UserManagement:User.PhonePrivate.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneBusiness, "Business phone")-->: </th>
        <td><!--@UserManagement:User.PhoneBusiness.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
        <td><!--@UserManagement:User.PhoneMobile.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Fax, "Fax")-->: </th>
        <td><!--@UserManagement:User.Fax.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address, "Address")-->: </th>
        <td><!--@UserManagement:User.Address.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address2, "Address 2")-->: </th>
        <td><!--@UserManagement:User.Address2.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Zip, "Zip")-->: </th>
        <td><!--@UserManagement:User.Zip.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(City, "City")-->: </th>
        <td><!--@UserManagement:User.City.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Country, "Country")-->: </th>
        <td><!--@UserManagement:User.Country.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(BillingCountryCode, "Billing country code")-->: </th>
        <td>
            <select id="UserManagement_Form_CountryCode" name="UserManagement_Form_CountryCode">
                <option value="">None</option>
                <!--@LoopStart(UserManagement.CountryList)-->
                <option value="<!--@Country.Code2-->"><!--@Country.Name--></option>
                <!--@LoopEnd(UserManagement.CountryList)-->
            </select>
        </td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(JobTitle, "Jobtitle")-->: </th>
        <td><!--@UserManagement:User.JobTitle.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Company, "Company")-->: </th>
        <td><!--@UserManagement:User.Company.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(VATIN, "VATIN")-->: </th>
        <td><!--@UserManagement:User.VatRegNumber--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
        <td><!--@UserManagement:User.Image.Uploader--></td>
    </tr>
    <!--@LoopStart(SelectableGroups)-->
    <!--@HeaderStart-->
    <tr>
        <th valign="top"><!--@Translate(memberof, "Member of")-->: </th>
        <td valign="top">
            <!--@HeaderEnd-->
            <!--@UserManagement:User.SelectableGroup.Input-->
            <label for="<!--@UserManagement:User.SelectableGroup.InputName-->"><!--@UserManagement:User.SelectableGroup.Name--></label></br>
            <!--@FooterStart-->
        </td>
    </tr>
    <!--@FooterEnd-->
    <!--@LoopEnd(SelectableGroups)-->
</table>
<input type="submit" id="submitter" value="<!--@Translate(createnewuser, " Create new user")-->">
<!--@UserManagement:User.FormEnd-->