/* Slider style */

.tns-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 1;

    button {
        background: 0;
        border: 0;
        padding: 0;
        width: 100px;
        opacity: 0;

        .tns-controls-icon {
            transform: translateY(-100%);
            background: $white;
            fill: $gray-900;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}

.tns-nav {
    text-align: center;
    margin: 10px 0;

    > button {
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0 6px;
        border-radius: 50%;
        background: $gray-400;
        border: 0;
    }

    .tns-nav-active {
        background: $gray-900;
    }
}

.tns-outer {
    position: relative;

    &:hover {

        > button {
            opacity: 1;
            -webkit-transition: all 800ms ease-in-out;
            -moz-transition: all 800ms ease-in-out;
            -ms-transition: all 800ms ease-in-out;
            -o-transition: all 800ms ease-in-out;
            transition: all 800ms ease-in-out;
        }
    }
}
