@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation

@if (!Model.Nodes.Any()) return;

<ul class="navbar-nav">
    @foreach (var node in Model.Nodes.Where(n => n.ShowInMenu))
    {        
        <li class="hstack">
            <a href="@(node.Link)" class="hstack gap-3 flex-fill text-decoration-none">
                @if (node.GetPagePropertyItem()?.TryGetString("Icon", out var icon) ?? false)
                {
                    @if (icon.EndsWith(".svg", StringComparison.OrdinalIgnoreCase))
                    {
                        <span class="icon-4">
                            @ReadFile(icon.ToString())                   
                        </span>
                    }
                }
                <span class="fw-bold">@node.Name</span>
            </a>

        </li>
    }
</ul>