@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderPartialPaymentForm()
{
	<form class="m-0" action="@GetString("AuthorizeNet.FormAction")" name="authorizeNetForm" method="Post">
		<input type="hidden" id="dataValue" name="dataValue">
		<input type="hidden" id="dataDescriptor" name="dataDescriptor">
		<button class="AcceptUI form-pay-button d-none btn btn--primary" type="button"
		        data-billingaddressoptions="{'show':true, 'required':false}"
		        data-apiloginid="@GetString("AuthorizeNet.ApiLoginId")"
		        data-clientkey="@GetString("AuthorizeNet.PublicClientKey")"
		        data-acceptuiformbtntxt="Pay"
		        data-acceptuiformheadertxt="Payment Information"
		        data-paymentoptions="{'showCreditCard': true, 'showBankAccount': false}"
		        data-responsehandler="responseHandler">@Translate("Pay")
		</button>
	</form>
}
