@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>
@{ 
	string pushDown = "";
	string columnPosition = Model.Item.GetRawValueString("ColumnPosition", "align-items-center").ToLower();
	if (columnPosition == "bottom")
	{
		pushDown = "mt-auto";
	}

	string spaceBetweenRows = Model.Item.GetRawValueString("SpaceBetweenRows", "spacing");
	string sectionClass = "";
	sectionClass = spaceBetweenRows == "spacing" ? "py-2" : sectionClass;
	sectionClass = spaceBetweenRows == "spacing-large" ? "py-3 py-lg-4" : sectionClass;
	sectionClass = spaceBetweenRows == "spacing-top" ? "pt-3 pt-lg-4" : sectionClass;
	sectionClass = spaceBetweenRows == "spacing-bottom" ? "pb-3 pb-4" : sectionClass;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="@theme @pushDown">
	<div class="@sectionClass">
		@Model.Column(1).Output()
	</div>
</div>
