@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@{ 
	bool isVisualEdit = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;

	string rowClass = "gap-3";
	string spaceBetweenColumns = Model.Item.GetRawValueString("SpaceBetweenColumns", "").ToLower();

	if (spaceBetweenColumns == "stick")
	{
		rowClass = "gap-0";
	}
	if (spaceBetweenColumns == "spacing-large")
	{
		rowClass = "gap-1 gap-md-4 gap-lg-5";
	}

	string columnPosition = Model.Item.GetRawValueString("columnPosition", "align-items-center").ToLower();
	if (columnPosition == "top")
	{
		columnPosition = "align-items-start";
	}
	if (columnPosition == "center")
	{
		columnPosition = "align-items-center";
	}
	if (columnPosition == "bottom")
	{
		columnPosition = "align-items-end";
	}

	string rowHeight = Model.Item.GetRawValueString("RowHeight", "0").ToLower();
	rowHeight = "py-" + rowHeight;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string column1 = Model.Column(1).Output();
	string column2 = Model.Column(2).Output();
	string column3 = Model.Column(3).Output();
	string column4 = Model.Column(4).Output();
	string column5 = Model.Column(5).Output();
	string column6 = Model.Column(6).Output();
	string column7 = Model.Column(7).Output();
	string column8 = Model.Column(8).Output();
	string column9 = Model.Column(9).Output();
	string column10 = Model.Column(10).Output();
}

<div class="@rowHeight @theme">
	<div class="overflow-hidden">
		<div class="d-flex flex-column flex-lg-row @rowClass @columnPosition">
			@if (!string.IsNullOrEmpty(column1) || isVisualEdit) { 
				<div class="col flex-grow-0 w-100 w-lg-auto">
					<div class="d-flex align-items-center justify-content-center">
						@column1
					</div>
				</div>
			}
			<div class="col flex-grow-1 w-100 w-lg-auto grid gap-3 @columnPosition">
				@if (!string.IsNullOrEmpty(column2) || !string.IsNullOrEmpty(column3) || !string.IsNullOrEmpty(column4) || isVisualEdit) {
					string columnWidth = string.IsNullOrEmpty(column5) && string.IsNullOrEmpty(column6) && string.IsNullOrEmpty(column7) ? "" : "g-col-lg-6";

					<div class="g-col-12 @columnWidth d-flex flex-column gap-1">
						@if (!string.IsNullOrEmpty(column2) || isVisualEdit) {
							<div> 
								@column2
							</div>
						}
						@if (!string.IsNullOrEmpty(column3) || isVisualEdit) { 
							<div>
								@column3
							</div>
						}
						@if (!string.IsNullOrEmpty(column4) || isVisualEdit) { 
							<div>
								@column4
							</div>
						}
					</div>
                }
				@if (!string.IsNullOrEmpty(column5) || !string.IsNullOrEmpty(column6) || !string.IsNullOrEmpty(column7) || isVisualEdit) {
					string columnWidth = string.IsNullOrEmpty(column2) && string.IsNullOrEmpty(column3) && string.IsNullOrEmpty(column4) ? "" : "g-col-lg-6";

					<div class="g-col-12 g-col-lg-6 d-flex flex-column gap-1">
						@if (!string.IsNullOrEmpty(column5) || isVisualEdit) {
							<div> 
								@column5
							</div>
						}
						@if (!string.IsNullOrEmpty(column6) || isVisualEdit) { 
							<div>
								@column6
							</div>
						}
						@if (!string.IsNullOrEmpty(column7) || isVisualEdit) { 
							<div>
								@column7
							</div>
						}
					</div>
				}
			</div>
			@if (!string.IsNullOrEmpty(column8) || !string.IsNullOrEmpty(column9) || !string.IsNullOrEmpty(column10))
			{
				<div class="col flex-grow-0 w-100 w-lg-auto">
					<div class="grid @columnPosition" style="row-gap: 0.25rem">
						@if (!string.IsNullOrEmpty(column8) || isVisualEdit) {
							<div class="g-col-12">
								@column8
							</div>
                        }
						@if (!string.IsNullOrEmpty(column9) || isVisualEdit) {
							<div class="g-col-12">
								@column9
							</div>
                        }
						@if (!string.IsNullOrEmpty(column10) || isVisualEdit) {
							<div class="g-col-12">
								@column10
							</div>
                        }
					</div>
				</div>
			}
		</div>
	</div>
</div>
