@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@foreach(LoopItem item in GetLoop("ItemPublisher:Items.List")) { 
	@item.TemplateTags()
	<div>
		@item.GetString("ItemPublisher:Item.Excerpt")
	</div>
}
