<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h3>Your profile settings are:</h3>
    <table width="300" border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td>Login:</td>
            <td><!--@DWUsers:User:Username--></td>
        </tr>
        <tr>
            <td>Reset Password:</td>
            <td>
                <a href="<!--@DWUsers:User:PasswordRecoveryUrl-->">Reset</a>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><!--@DWUsers:User:Name--></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><!--@DWUsers:User:Email--></td>
        </tr>
    </table>
</body>
</html>