.image-zoom {
	transform: scale(1);
	transition: all 0.35s ease-in;

	&:hover,
	&:focus {
		transform: scale(1.1);
		transition: all 0.5s ease-out;
	}
}

@include media-breakpoint-up(md) {

	.image-zoom-lg {
		transform: scale(1);
		transition: all 0.35s ease-in;

		&:hover,
		&:focus {
			transform: scale(1.1);
			transition: all 0.5s ease-out;
		}
	}
}
