/* Image filters */

.image-filter {

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--r4-background-color);
		opacity: 0.3;
	}
} 

.image-filter-blur,
.image-filter-lighten,
.image-filter-darken,
.image-filter-grayscale,
.image-filter-sepia,
.image-filter-overexposure {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: inherit;
	}
} 

.image-filter-blur {
	filter: blur(5px);
	transform: scale(1.2);
}

.image-filter-lighten {
	background-color: rgba(255,255,255,0.2);
}

.image-filter-darken {
	background-color: rgba(0,0,0,0.3);
}

.image-filter-grayscale {
	filter: grayscale(100%);
}

.image-filter-sepia {
	filter: sepia(1);
}

.image-filter-overexposure {
	filter: brightness(1.2);
}

.image-zoom {
	transform: scale(1);
	transition: all 0.35s ease-in;

	&:hover,
	&:focus {
		transform: scale(1.1);
		transition: all 0.5s ease-out;
	}
}
						   
@include media-breakpoint-up(md) {

	.image-zoom-lg {
		transform: scale(1);
		transition: all 0.35s ease-in;

		&:hover,
		&:focus {
			transform: scale(1.1);
			transition: all 0.5s ease-out;
		}
	}
}
