@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="accordion" id="accordion-@(Model.ID)">
    @if (Model.Item.TryGetItems("Accordion_Items", out var accordionItems))
    {
        foreach (var item in accordionItems)
        {
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed mb-0-last-child" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model.ID-@item.Id" aria-expanded="false" aria-controls="collapse-@Model.ID-@item.Id">
                        @if (item.TryGetString("Icon", out string icon))
                        {
                            <span class="icon-3 me-3">
                                @ReadFile(icon)
                            </span>
                        }
                        @if (item.TryGetString("Title", out string title))
                        {
                            @title
                        }
                    </button>
                </div>
                <div id="collapse-@Model.ID-@item.Id" class="accordion-collapse collapse">
                    <div class="accordion-body mb-0-last-child opacity-75">
                        @if (item.TryGetString("Content", out string content))
                        {
                            @content
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
