@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="accordion accordion-flush" id="accordion-@(Model.ID)" style="
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 1.5rem;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 2rem;">

    @if (Model.Item.TryGetItems("Accordion_Items", out var accordionItems))
    {
        foreach (var item in accordionItems)
        {
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button shadow-none gap-3 collapsed mb-0-last-child" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model.ID-@item.Id" aria-expanded="false" aria-controls="collapse-@Model.ID-@item.Id">
                        @if (item.TryGetString("Icon", out string icon))
                        {
                            <span class="icon-2">
                                @ReadFile(icon)
                            </span>
                        }                        
                        @if (item.TryGetString("Title", out string title))
                        {
                            @title
                        }
                    </button>
                </div>
                <div id="collapse-@Model.ID-@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordion-@Model.ID">
                    <div class="accordion-body pt-0 mb-0-last-child opacity-75">
                        @if (item.TryGetString("Text", out string text))
                        {
                            @text
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
