<script type="text/javascript" >
    var forumTemplatesText = {
        AuthorRequiredText: '<!--@Translate(Forum:Post.Validation.AuthorRequired, "Please specify your name.")-->',
        NameRequiredText: '<!--@Translate(Forum:Post.Validation.NameRequired, "Please specify a subject.")-->',
        PostActionText: '<!--@Forum:Post.Action-->',
        PostDeleteFileText: '<!--@Translate(Forum:Post.DeleteFile, "Delete")-->',
        ThreadDeleteText: '<!--@Translate(Forum:Thread.Delete, "Are you sure you want to delete this thread?")-->'
    }
</script>

<script type="text/javascript" src="Files\Templates\BasicForum\Dialog.js"></script>
<script type="text/javascript" src="Files\Templates\BasicForum\functions.js"></script>

<!--@If Not Defined(Forum:Global.Category.IsModerated)-->
<div id="divSubscriptionSettings" style="display: none" class="forum-dialog">
	<h3 class="forum-dialog-title">
		<span><!--@Translate(Forum:Thread.SubscriptionSettings, "E-mail notifications")--></span>
		<a href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(false);">&nbsp;</a>
	</h3>
	<div class="forum-dialog-content">
		<form method="post" id="frmSubscriptionSettings" action="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Thread.CategoryID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=subscribe">
			<table border="0">
				<tr>
					<td style="width: 120px">
						<!--@Translate(Forum:Subscription.Email, "E-mail")-->
					</td>
					<td>
						<input type="text" id="txEmail" name="Email" value="<!--@Forum:Global.User.Email-->" style="width: 230px" />
					</td>
				</tr>
				<tr>
					<td valign="top">
						<!--@Translate(Forum:Subscription.Settings, "Settings")-->
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" name="state" id="stateTrue" value="True" checked="checked" />
								<label for="stateTrue">
									<!--@Translate(Forum:Subscription.Subscribe, "I'd like to be informed of the updates")-->
								</label>
							</li>
							<li>
								<input type="radio" name="state" id="stateFalse" value="False" />
								<label for="stateFalse">
									<!--@Translate(Forum:Subscription.UnSubscribe, "Don't bother me with any emails")-->
								</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="submit" id="cmdSubmit" value="<!--@Translate(Forum:Subscription.OK, "OK")-->" />&nbsp;
						<input type="button" onclick="setSubscriptionDialogVisibility(false);" value="<!--@Translate(Forum:Subscription.Cancel, "Cancel")-->" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<!--@EndIf(Forum:Global.Category.IsModerated)-->

<div class="forum-post-breadcrumb"><a href="/Default.aspx?ID=<!--@Global:Page.ID-->">Forum</a>&nbsp;&raquo;&nbsp;<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->"><!--@Forum:Category.Name--></a>&nbsp;&raquo;&nbsp;<span class="forum-post-breadcrumb-current"><!--@Forum:Thread.Name--></span></div>

<div class="forum-container">
	<div class="forum-thread">
		<div class="forum-threadlist-split">
			<h3><!--@Forum:Thread.Name--></h3>
			<!--@If Not Defined(Forum:Global.Category.IsModerated)-->
			<a class="subscription-settings" href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(true);"><!--@Translate(Forum:Thread.SubscriptionSettings, "E-mail notifications")--></a>
			<!--@EndIf(Forum:Global.Category.IsModerated)-->
		</div>
		<div class="forum-post-clear">&nbsp;</div>
		<div class="forum-thread-begin">&nbsp;</div>
		
		<div class="forum-thread-original">
			<table border="0" class="forum-thread-post" cellspacing="0" cellpadding="0">
				<tr>
					<td class="forum-thread-post-user" valign="top">
						<div class="forum-thread-post-image">
							<!--@If Defined(Forum:Thread.Author.Image.HasImage)-->
							<img src="/Admin/Public/GetImage.aspx?Width=96&Image=<!--@Forum:Thread.Author.Image.Clean-->" alt="<!--@Forum:Thread.Author-->" 
								title="<!--@Forum:Thread.Author-->" border="0" />
							<!--@EndIf(Forum:Thread.Author.Image.HasImage)-->
							<!--@If Not Defined(Forum:Thread.Author.Image.HasImage)-->
							<img class="forum-image-anonymous" src="/Files/Templates/BasicForum/anonymous.png" alt="" title="" border="0" />
							<!--@EndIf(Forum:Thread.Author.Image.HasImage)-->
						</div>
						<div class="forum-thread-post-name">
							<!--@Forum:Thread.Author-->
						</div>
					</td>
					<td class="forum-thread-post-message" valign="top">
						<div>
							<!--@Forum:Thread.Body-->
							
							<!--@If Defined(Forum:Thread.HasImages)-->
							<div class="forum-thread-post-images">
									<div class="forum-thread-post-images-inner">
									<!--@LoopStart(Forum:Thread.Images)-->
									<a href="<!--@Forum:Thread.Image.Clean-->"><img src="<!--@Forum:Thread.Image.Clean-->" style="width: 100px" alt="<!--@Forum:Thread.Image.Name-->" title="<!--@Forum:Thread.Image.Name-->" /></a>
									<!--@LoopEnd(Forum:Thread.Images)-->
									<div class="forum-post-clear">&nbsp;</div>
									</div>
								</div>
							<!--@EndIf(Forum:Thread.HasImages)-->
							
							<!--@If Defined(Forum:Thread.HasFiles)-->
							<div class="forum-thread-post-files">
							<!--@LoopStart(Forum:Thread.Files)-->
								<div class="forum-thread-post-file">
									<a href="<!--@Forum:Thread.File.Url-->" title="<!--@Forum:Thread.File.Name-->"><!--@Forum:Thread.File.Name--></a>
								</div>
								<!--@LoopEnd(Forum:Thread.Files)-->
							</div>
							<!--@EndIf(Forum:Thread.HasFiles)-->
						</div>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<div class="forum-thread-post-misc">
                            <!--@If Defined(Global:Extranet.UserName)-->
							<div class="forum-thread-post-buttons">
								<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=createPost&ReplyID=<!--@Forum:Thread.ID-->" title="<!--@Translate(Forum:Thread.ReplyTitle, "Reply to this post")-->"><!--@Translate(Forum:Thread.Reply, "Reply")--></a>
							</div>
                            <!--@EndIf(Global:Extranet.UserName)-->
							
							<!--@If Defined(Forum:Thread.CanDelete)-->
							<div class="forum-thread-post-buttons forum-thread-post-delete">
								<a onclick="return bfComfirmDelete();" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=deletePost" alt="<!--@Translate(Forum:Thread.DeleteTopic, "Delete this post")-->" title="<!--@Translate(Forum:Thread.DeleteTopic, "Delete this post")-->"><!--@Translate(Forum:Thread.Delete, "Delete")--></a>
							</div>
							<!--@EndIf(Forum:Thread.CanDelete)-->
							
							<!--@If Defined(Forum:Thread.CanEdit)-->
							<div class="forum-thread-post-buttons forum-thread-post-edit">
								<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Thread.ID-->&amp;CMD=editPost" alt="<!--@Translate(Forum:Thread.EditPost, "Edit this post")-->" title="<!--@Translate(Forum:Thread.EditPost, "Edit this post")-->"><!--@Translate(Forum:Thread.Edit, "Edit")--></a>
							</div>
							<!--@EndIf(Forum:Thread.CanEdit)-->
							
							<div class="forum-thread-post-date">
								<!--@Translate(Forum:Thread.PostedOn, "Posted on")-->&nbsp;<!--@Forum:Thread.Created.ShortDate-->,&nbsp;<!--@Forum:Thread.Created.ShortTime-->
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

        <div class="forum-threadlist-split">
			<h3><!--@Translate(Forum:Thread.Replies, "Replies")--></h3>
		</div>
		<div class="forum-post-clear">&nbsp;</div>		
		<div class="forum-thread-begin">&nbsp;</div>
		<div class="forum-thread-replies">
		<!--@LoopStart(Replies)-->
		<a class="forum-reply-anchor" name="Reply<!--@Forum:Reply.ID-->" href="">&nbsp;</a>
		<table border="0" <!--@If Defined(Forum:Reply.IsAnswer)-->title="<!--@Translate(Forum:Thread.IsAnswerTitle, "This post has been marked as an answer")-->"<!--@EndIf(Forum:Reply.IsAnswer)--> class="forum-thread-post<!--@If Defined(Forum:Reply.IsAnswer)--> forum-thread-post-answer<!--@EndIf(Forum:Reply.IsAnswer)-->" cellspacing="0" cellpadding="0">
			<tr>
				<td class="forum-thread-post-user" valign="top">
					<div class="forum-thread-post-image">
						<!--@If Defined(Forum:Reply.Author.Image.HasImage)-->
						<img src="/Admin/Public/GetImage.aspx?Width=96&Image=<!--@Forum:Reply.Author.Image.Clean-->" alt="<!--@Forum:Reply.Author-->" 
							title="<!--@Forum:Reply.Author-->" border="0" />
						<!--@EndIf(Forum:Reply.Author.Image.HasImage)-->
						<!--@If Not Defined(Forum:Reply.Author.Image.HasImage)-->
						<img class="forum-image-anonymous" src="/Files/Templates/BasicForum/anonymous.png" alt="" title="" border="0" />
						<!--@EndIf(Forum:Reply.Author.Image.HasImage)-->
					</div>
					<div class="forum-thread-post-name">
						<!--@Forum:Reply.Author-->
					</div>
				</td>
				<td class="forum-thread-post-message" valign="top">
					<div>
						<!--@Forum:Reply.Body-->
						
						<!--@If Defined(Forum:Reply.HasImages)-->
						<div class="forum-thread-post-images">
								<div class="forum-thread-post-images-inner">
								<!--@LoopStart(Forum:Reply.Images)-->
								<a href="<!--@Forum:Reply.Image.Clean-->"><img src="<!--@Forum:Reply.Image.Clean-->" style="width: 100px" alt="<!--@Forum:Reply.Image.Name-->" title="<!--@Forum:Reply.Image.Name-->" /></a>
								<!--@LoopEnd(Forum:Reply.Images)-->
								<div class="forum-post-clear">&nbsp;</div>
								</div>
							</div>
						<!--@EndIf(Forum:Reply.HasImages)-->
						
						<!--@If Defined(Forum:Reply.HasFiles)-->
						<div class="forum-thread-post-files">
						<!--@LoopStart(Forum:Reply.Files)-->
							<div class="forum-thread-post-file">
								<a href="<!--@Forum:Reply.File.Url-->" title="<!--@Forum:Reply.File.Name-->"><!--@Forum:Reply.File.Name--></a>
							</div>
							<!--@LoopEnd(Forum:Reply.Files)-->
						</div>
						<!--@EndIf(Forum:Reply.HasFiles)-->
					</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<div class="forum-thread-post-misc">
                        <!--@If Defined(Global:Extranet.UserName)-->
						<div class="forum-thread-post-buttons">
							<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Reply.ParentID-->&amp;CMD=createPost&ReplyID=<!--@Forum:Reply.ID-->" title="<!--@Translate(Forum:Thread.ReplyTitle, "Reply to this post")-->"><!--@Translate(Forum:Thread.Reply, "Reply")--></a>
						</div>
                        <!--@EndIf(Global:Extranet.UserName)-->
						
						<!--@If Defined(Forum:Reply.CanDelete)-->
						<div class="forum-thread-post-buttons forum-thread-post-delete">
							<a onclick="return bfComfirmDelete();" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Reply.ParentID-->&amp;CMD=deletePost&ReplyID=<!--@Forum:Reply.ID-->" alt="<!--@Translate(Forum:Thread.DeleteTopic, "Delete this post")-->" title="<!--@Translate(Forum:Thread.DeleteTopic, "Delete this post")-->"><!--@Translate(Forum:Thread.Delete, "Delete")--></a>
						</div>
						<!--@EndIf(Forum:Reply.CanDelete)-->
						
						<!--@If Defined(Forum:Reply.CanEdit)-->
						<div class="forum-thread-post-buttons forum-thread-post-edit">
							<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Reply.ParentID-->&amp;CMD=editPost&ReplyID=<!--@Forum:Reply.ID-->" alt="<!--@Translate(Forum:Thread.EditTopic, "Edit this post")-->" title="<!--@Translate(Forum:Thread.EditTopic, "Edit this topic")-->"><!--@Translate(Forum:Thread.Edit, "Edit")--></a>
						</div>
						<!--@EndIf(Forum:Reply.CanEdit)-->
						
						<!--@If Not Defined(Forum:Reply.IsAnswer)-->
						<!--@If Defined(Forum:Reply.CanMarkAnswer)-->
						<div class="forum-thread-post-buttons forum-thread-post-mark">
							<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Reply.ParentID-->&amp;CMD=mark&ReplyID=<!--@Forum:Reply.ID-->&answer=true" title="<!--@Translate(Forum:Thread.MarkAsAnswer, "Mark this post as an answer")-->"><!--@Translate(Forum:Thread.IsAnswer, "Mark as answer")--></a>
						</div>
						<!--@EndIf(Forum:Reply.CanMarkAnswer)-->
						<!--@EndIf(Forum:Reply.IsAnswer)-->
						
						<!--@If Defined(Forum:Reply.IsAnswer)-->
						<!--@Translate(Forum:Reply.NumberOfVotesForAnswer, "Votes for this answer: ")--><!--@Forum:Reply.NumberOfVotes-->
                        <!--@If Defined(Forum:Reply.CanMarkAnswer)-->
						<div class="forum-thread-post-buttons forum-thread-post-mark">
							<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:Reply.ParentID-->&amp;CMD=mark&ReplyID=<!--@Forum:Reply.ID-->&answer=true" title="<!--@Translate(Forum:Thread.VoteForAnswer, "Vote for this answer")-->"><!--@Translate(Forum:Reply.VoteForAnswer, "Vote for this answer")--></a>
						</div>
						<!--@EndIf(Forum:Reply.CanMarkAnswer)-->
						<!--@EndIf(Forum:Reply.IsAnswer)-->
													
						<div class="forum-thread-post-date">
							<!--@Translate(Forum:Thread.PostedOn, "Posted on")-->&nbsp;<!--@Forum:Reply.Created.ShortDate-->,&nbsp;<!--@Forum:Reply.Created.ShortTime-->
						</div>
					</div>
				</td>
			</tr>
		</table>
		<!--@LoopEnd(Replies)-->
		</div>
		
		<!--@If Defined(DwPaging.Pageable)-->
		<div class="forum-paging">
			<!--@LoopStart(DwPaging.LoopAllPages)-->
				<a<!--@If Defined(AllPages.ActivePage)--> class="forum-paging-active"<!--@EndIf(AllPages.ActivePage)--> title="<!--@Translate(Forum:ThreadList.Page.GoToPage, "Page <!--@AllPages.PageNumber-->")-->" href="<!--@AllPages.PageLink-->"><!--@AllPages.PageNumber--></a>
			<!--@LoopEnd(DwPaging.LoopAllPages)-->
		</div>
		<div class="forum-post-clear">&nbsp;</div>
		<!--@EndIf(DwPaging.Pageable)-->		
		
		<!--@Forum:Thread.EditPostForm-->
				
	</div>
</div>

