@*
	DO NOT USE!
	This is a Work In Progress
*@

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
}

<button type="button" class="btn btn-primary d-block w-100">
	@* <span class="icon-3">
		@ReadFile(iconPath + "shopping-cart.svg")
	</span> *@
	<span class="">@Translate("Add to cart")</span>
</button>
