@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	@* string productId = product.Id; *@
}

<button type="button" class="btn btn-secondary">
	<span class="icon-2">
		@ReadFile(iconPath + "heart-filled.svg")
	</span>
</button>

@* @PageView.User.IsProductInAnyFavoriteList(productId) *@
