@inherits ViewModelTemplate<ProductViewModel>
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string productId = Model.Id;
	bool isInFavoriteList = Pageview.User.IsProductInAnyFavoriteList(productId);
}

<form action="">
	@if(isInFavoriteList)
	{
		<button type="button" class="btn btn-secondary" data-id="@productId">
			<span class="icon-2">
				@ReadFile(iconPath + "heart-filled.svg")
			</span>
		</button>
	}
	else
	{
		<button type="button" class="btn btn-secondary" data-id="@productId">
			<span class="icon-2">
				@ReadFile(iconPath + "heart.svg")
			</span>
		</button>
	}
</form>
