<p>Good day,</p>
    <!--@LeadsMail:PotentialLeads.AdditionalMessage-->
<p>
	There are several potential leads appeared since <!--@LeadsMail:PotentialLeads.LastSendDate-->. From your website: <!--@LeadsMail:PotentialLeads.HostHeaderName-->.
</p>

<table cellspacing="0" cellpadding="2" border="0" style="table-layout: fixed; border: none; border: 1px solid #92a4cd">
	<tr style="background-color: #eaf0ff;">
		<th style="width: 35px; text-align: left; border-bottom: 1px solid #92a4cd">#</th>
		<th style="width: 50px; text-align: left; border-bottom: 1px solid #92a4cd">Visits</th>
		<th style="width: 135px; text-align: left; border-bottom: 1px solid #92a4cd">Last visit</th>
		<th style="width: 100px; align: center; border-bottom: 1px solid #92a4cd">Pageviews</th>
		<th style="width: 60px; align: center; border-bottom: 1px solid #92a4cd">EI</th>
		<th style="width: 165px; text-align: left; border-bottom: 1px solid #92a4cd">Company</th>
		<th style="width: 200px; text-align: left; border-bottom: 1px solid #92a4cd">Actions</th>
	</tr>
	<!--@LoopStart(LeadsMail:PotentialLeads)-->
	<tr>
		<td><!--@LeadsMail:PotentialLeads.Number--></td>
		<td><!--@LeadsMail:PotentialLeads.TotalVisits--></td>
		<td><!--@LeadsMail:PotentialLeads.LastVisit--></td>
		<td style="text-align: center"><!--@LeadsMail:PotentialLeads.TotalPageViews--></td>
		<td style="text-align: center"><!--@LeadsMail:PotentialLeads.EngagementIndex--></td>
		<td><!--@LeadsMail:PotentialLeads.Company--></td>
		<td><!--@LeadsMail:PotentialLeads.Actions--></td>
	</tr>
	<!--@LoopEnd(LeadsMail:PotentialLeads)-->
</table>

<p style="margin-top: 25px">
Best Regards,<br />
Dynamicweb Software A/S
</p>

<small style="display: block; margin-top: 25px">
	You receive this notification because the website administrator has set it up for you.
</small>