<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LeadsMail</title>
</head>
<body>
    <p>Good day,</p>

    <p>
    There is a statistics report of following potential lead.
    </p>

    <br>
    <!--@LeadsMail:AdditionalMessage-->
    <br>
    <br>
    <!--@If Defined(LeadsMail:MailBody.Exist)-->
    <!--@LoopStart(LeadsMail:MailBody)-->
    <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%;">
    <tbody>
	    <tr style="padding: 0; margin: 0;">
	    <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">
		    <span style="display: inline-block; width: 30%;">Company:  </span><!--@LeadsMail:Company-->
	    </td>
	    <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">
		    <span style="display: inline-block; width: 30%;">Engagement Index:  </span><!--@LeadsMail:EngagementIndex-->
	    </td>
	    </tr>
	    <tr style="padding: 0; margin: 0;">
	    <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">
		    <span style="display: inline-block; width: 30%;">Last visit:  </span><!--@LeadsMail:LastVisit-->
	    </td>
	    <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">
		    <span style="display: inline-block; width: 30%;">Page views:  </span><!--@LeadsMail:PageViews-->
	    </td>
	    </tr>
    </tbody>
    </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Pages visited</h2>
        <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%; margin: 10px;">
          <thead style="background-color: #ecf4fc; border-bottom: 1px solid #bdcce0; color: #15428b; font-weight: bold;">
            <tr style="padding: 0; margin: 0;">
              <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%">Name</td>
              <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%">Website/Language</td>
              <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%">View page</td>
            </tr>
          </thead>
          <tbody>
    			<!--@If Defined(LeadsMail:PagesVisited.Exist)-->
    	  		<!--@LoopStart(LeadsMail:PagesVisited)-->
    			<tr style="padding: 0; margin: 0;">
    			  <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;"><!--@LeadsMail:PagesVisited.PageName--></td>
    			  <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;"><a href="<!--@LeadsMail:PagesVisited.ViewPageLink-->"><!--@LeadsMail:PagesVisited.WebSite--></a></td>
    			  <td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;"><a href="<!--@LeadsMail:PagesVisited.ViewPageLink-->">View</a></td>
    			</tr>
    	  		<!--@LoopEnd(LeadsMail:PagesVisited)-->
    			<!--@EndIf(LeadsMail:PagesVisited.Exist)-->
    			<!--@If Not Defined(LeadsMail:PagesVisited.Exist)-->
    			<tr style="padding: 0; margin: 0;">
    				<td style="padding: 2px 5px; margin: 0; border-top: 1px solid #bdcce0;" colspan="3" class="error">
    				  No files found
    				</td>
    			</tr>
    			<!--@EndIf(LeadsMail:PagesVisited.Exist)-->
    		<tbody>
        </table>
      </td>
    </tr>
  </table>
  
  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Downloads</h2>
    	  <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%; margin: 10px;">
    		<thead style="background-color: #ecf4fc; border-bottom: 1px solid #bdcce0; color: #15428b; font-weight: bold;">
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">Path</td>
    		  </tr>
    		</thead>
    		<tbody>
    		  <!--@If Defined(LeadsMail:Downloads.Exist)-->
    		  <!--@LoopStart(LeadsMail:Downloads)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;">
    			  <!--@LeadsMail:Downloads.File-->
    			</td>
    		  </tr>
    		  <!--@LoopEnd(LeadsMail:Downloads)-->
    		  <!--@EndIf(LeadsMail:Downloads.Exist)-->
    		  <!--@If Not Defined(LeadsMail:Downloads.Exist)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" class="error">
    			  No files found
    			</td>
    		  </tr>
    		  <!--@EndIf(LeadsMail:Downloads.Exist)-->
    		</tbody>
    	  </table>
      </td>
    </tr>
  </table>
  
  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Referrer</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">URL:</td>
            <td><!--@LeadsMail:Referrer.URL--></td>
          <tr>
          <tr>
            <td width="200">Host:</td>
            <td><!--@LeadsMail:Referrer.Host--></td>
          </tr>
          <tr>
            <td width="200">Domain:</td>
            <td><!--@LeadsMail:Referrer.Domain--></td>
          </tr>
          <tr>
            <td width="200">Path:</td>
            <td><!--@LeadsMail:Referrer.Path--></td>
          </tr>
          <tr>
            <td width="200">Keywords:</td>
            <td><i style="color: #999"><!--@LeadsMail:Referrer.Keywords--></i></td>
          </tr>
          <tr>
            <td width="200">Page number:</td>
            <td><i style="color: #999"><!--@LeadsMail:Referrer.PageNumber--></i></td>
          </tr>
          <tr>
            <td width="200">Position:</td>
            <td><i style="color: #999"><!--@LeadsMail:Referrer.Position--></i></td>
          </tr>
        </table>
    	  <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%; margin: 10px;">
    		<thead style="background-color: #ecf4fc; border-bottom: 1px solid #bdcce0; color: #15428b; font-weight: bold;">
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%">Name</td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%">Value</td>
    		  </tr>
    		</thead>
    		<tbody>
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" colspan="2" class="error">No parameters found</td>
    		  </tr>
    		</tbody>
    	  </table>
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Profiles</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Primary profile:</td>
            <td><!--@LeadsMail:Profile.PrimaryProfile--></td>
          <tr>
          <tr>
            <td width="200">Secondary profile:</td>
            <td><!--@LeadsMail:Profile.SecondaryProfile--></td>
          </tr>
        </table>        
    	  <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%; margin: 10px;">
    		<thead style="background-color: #ecf4fc; border-bottom: 1px solid #bdcce0; color: #15428b; font-weight: bold;">
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%">Name</td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%">points earned</td>
    		  </tr>
    		</thead>
    		<tbody>
    		  <!--@If Defined(LeadsMail:Profile.Exist)-->
    		  <!--@LoopStart(LeadsMail:Profile)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%"><!--@LeadsMail:Profile.ProfileName--></td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="50%"><!--@LeadsMail:Profile.PointsEarned--></td>
    		  </tr>
    		  <!--@LoopEnd(LeadsMail:Profiles)-->
    		  <!--@EndIf(LeadsMail:Profile.Exist)-->
    		  <!--@If Not Defined(LeadsMail:Profile.Exist)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" colspan="2" class="error">No parameters found</td>
    		  </tr>
    		  <!--@EndIf(LeadsMail:Profile.Exist)-->
    		</tbody>
    	  </table>
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Location</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">IP-address:</td>
            <td><!--@LeadsMail:Location.IPAddress--></td>
          <tr>
          <tr>
            <td width="200">ISP:</td>
            <td><!--@LeadsMail:Location.ISP--></td>
          </tr>
          <tr>
            <td width="200">Domain:</td>
            <td><!--@LeadsMail:Location.Domain--></td>
          </tr>
          <tr>
            <td width="200">Company:</td>
            <td><!--@LeadsMail:Location.Company--></td>
          </tr>
          <tr>
            <td width="200">Zip code:</td>
            <td><!--@LeadsMail:Location.ZipCode--></td>
          </tr>
          <tr>
            <td width="200">City:</td>
            <td><!--@LeadsMail:Location.City--></td>
          </tr>
          <tr>
            <td width="200">Region:</td>
            <td><!--@LeadsMail:Location.Region--></td>
          </tr>
          <tr>
            <td width="200">Country:</td>
            <td><!--@LeadsMail:Location.Country--></td>
          </tr>
          <tr>
            <td width="200">Coordinates:</td>
            <td><!--@LeadsMail:Location.Coordinates--></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Advertising</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Campaign:</td>
            <td><!--@LeadsMail:Advertising.Campaign--></td>
          <tr>
          <tr>
            <td width="200">Medium:</td>
            <td><!--@LeadsMail:Advertising.Medium--></td>
          </tr>
          <tr>
            <td width="200">Source:</td>
            <td><!--@LeadsMail:Advertising.Source--></td>
          </tr>
          <tr>
            <td width="200">Term:</td>
            <td><!--@LeadsMail:Advertising.Term--></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Visits</h2>
    	  <table style="font: normal 14px/21px arial; color: #333333; border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; font-size: 12px; width: 100%; margin: 10px">
    		<thead style="background-color: #ecf4fc; border-bottom: 1px solid #bdcce0; color: #15428b; font-weight: bold;">
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%">IP-address</td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%">Visit date</td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="15%">Pageviews</td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="35%">Company</td>
    		  </tr>
    		</thead>
    		<tbody>
    		  <!--@If Defined(LeadsMail:Visits.Exist)-->
    		  <!--@LoopStart(LeadsMail:Visits)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%"><!--@LeadsMail:Visits.IPAddress--></td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="25%"><!--@LeadsMail:Visits.VisitDate--></td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="15%"><!--@LeadsMail:Visits.PageViews--></td>
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" width="35%"><!--@LeadsMail:Visits.Country--></td>
    		  </tr>
    		  <!--@LoopEnd(LeadsMail:Visits)-->
    		  <!--@EndIf(LeadsMail:Visits.Exist)-->
    		  <!--@If Not Defined(LeadsMail:Visits.Exist)-->
    		  <tr style="padding: 0; margin: 0;">
    			<td style="padding: 2px 5px; margin: 0; border-left: 1px solid #bdcce0;" colspan="4" class="error">No parameters found</td>
    		  </tr>
    		  <!--@EndIf(LeadsMail:Visits.Exist)-->

    		</tbody>
    	  </table>
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Session</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Id:</td>
            <td><!--@LeadsMail:Session.Id--></td>
          <tr>
          <tr>
            <td width="200">Visitor Id:</td>
            <td><!--@LeadsMail:Session.VisitorId--></td>
          </tr>
          <tr>
            <td width="200">Period:</td>
            <td><!--@LeadsMail:Session.Period--></td>
          </tr>
          <tr>
            <td width="200">Duration:</td>
            <td><!--@LeadsMail:Session.Duration--></td>
          </tr>
        </table>        
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Activity</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Website/Language:</td>
            <td><!--@LeadsMail:Activity.WebSite--></td>
          <tr>
          <tr>
            <td width="200">Landing page:</td>
            <td><!--@LeadsMail:Activity.LandingPage--></td>
          </tr>
          <tr>
            <td width="200">Exit page:</td>
            <td><!--@LeadsMail:Activity.ExitPage--></td>
          </tr>
          <tr>
            <td width="200">Pageviews:</td>
            <td><!--@LeadsMail:Activity.PageViews--></td>
          </tr>
          <tr>
            <td width="200">Average time on page:</td>
            <td><!--@LeadsMail:Activity.AverageTimeOnPage--></td>
          </tr>
        </table>        
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width: 100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">System</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Operating system:</td>
            <td><!--@LeadsMail:System.OperatingSystem--></td>
          </tr>
          <tr>
            <td width="200">Screen settings:</td>
            <td><!--@LeadsMail:System.ScreenSettings--></td>
          </tr>
        </table>        
      </td>
    </tr>
  </table>

  <table style="border-collapse: collapse; border-spacing: 0; border: 1px solid #bdcce0; width:100%; padding:20px; margin: 10px 0;">
    <tr>
      <td>
        <h2 style="font: bold 14px/21px arial; margin: 10px; color: #15428b;">Browser</h2>
        <table style="font: normal 14px/16px arial; color: #333333;  margin: 10px; font-size: 12px;">
          <tr style="padding: 0; margin: 0;">
            <td width="200">Name:</td>
            <td><!--@LeadsMail:Browser.Name--></td>
          </tr>
          <tr>
            <td width="200">Is mobile</td>
            <td><!--@LeadsMail:Browser.IsMobile--></td>
          </tr>
          <tr>
            <td width="200">Language:</td>
            <td><!--@LeadsMail:Browser.Language--></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
    <br>
    <br>
  <!--@LoopEnd(LeadsMail:MailBody)-->
  <!--@EndIf(LeadsMail:MailBody.Exist)-->  
<p style="margin-top: 25px">
Best Regards,<br />
Dynamicweb Software A/S
</p>

<small style="display: block; margin-top: 25px">
	You receive this notification because the website administrator has set it up for you.
</small>

  </body>
</html>