<p>Good day,</p>

<p>
	There are several visitors that has returned to the website <a href="<!--@OMC:Notification.Website-->"><!--@OMC:Notification.Website--></a> since <!--@OMC:Notification.PreviousDate-->.
</p>

<table cellspacing="0" cellpadding="2" border="0" style="table-layout: fixed; border: none; border: 1px solid #92a4cd">
	<tr style="background-color: #eaf0ff;">
		<th style="width: 85px; text-align: left; border-bottom: 1px solid #92a4cd">IP-address</th>
		<th style="width: 200px; text-align: left; border-bottom: 1px solid #92a4cd">ISP</th>
		<th style="width: 125px; text-align: left; border-bottom: 1px solid #92a4cd">Last visit</th>
		<th style="width: 100px; align: center; border-bottom: 1px solid #92a4cd">Visits</th>
		<th style="width: 100px; align: center; border-bottom: 1px solid #92a4cd">Pageviews</th>
		<th style="width: 200px; text-align: left; border-bottom: 1px solid #92a4cd">Referrer, domain</th>
		<th style="width: 200px; text-align: left; border-bottom: 1px solid #92a4cd">Search keywords</th>
	</tr>
	<!--@LoopStart(OMC:Notification.Visitors)-->
	<tr>
		<td><!--@OMC:Notification.Visitor.IPAddress--></td>
		<td><!--@OMC:Notification.Visitor.ISP--></td>
		<td><!--@OMC:Notification.Visitor.LastVisit--></td>
		<td style="text-align: center"><!--@OMC:Notification.Visitor.TotalVisits--></td>
		<td style="text-align: center"><!--@OMC:Notification.Visitor.TotalPageViews--></td>
		<td><!--@OMC:Notification.Visitor.ReferrerDomain--></td>
		<td><!--@OMC:Notification.Visitor.SearchKeywords--></td>
	</tr>
	<!--@LoopEnd(OMC:Notification.Visitors)-->
</table>

<p style="margin-top: 25px">
Best Regards,<br />
Dynamicweb Software A/S
</p>

<small style="display: block; margin-top: 25px">
	You receive this notification because the website administrator has set it up for you. Notification name is "<!--@OMC:Notification.Name-->".
</small>