body {
	font-family: var(--swift-body-font);
	font-weight: var(--swift-body-font-weight);
	line-height: var(--swift-body-line-height);
	letter-spacing: var(--swift-body-letter-spacing);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--swift-header-font);
	font-weight: var(--swift-header-font-weight);
	text-transform: var(--swift-header-casing);
	line-height: var(--swift-header-line-height);
	letter-spacing: var(--swift-header-letter-spacing);
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: var(--swift-display-font);
	font-weight: var(--swift-display-font-weight);
	text-transform: var(--swift-display-casing);
	line-height: var(--swift-display-line-height);
	letter-spacing: var(--swift-display-letter-spacing);
}

.btn-primary {
	font-weight: var(--swift-button-primary-font-weight);
	text-transform: var(--swift-button-primary-casing);
	border-radius: var(--swift-button-primary-shape);
	padding-block: var(--swift-button-primary-padding-y);
	padding-inline: var(--swift-button-primary-padding-x);

	&.btn-sm {
		padding-block: calc(var(--swift-button-primary-padding-y) / 3 * 2);
		padding-inline: calc(var(--swift-button-primary-padding-x) / 3 * 2);
	}

	&.btn-lg {
		padding-block: calc(var(--swift-button-primary-padding-y) / 3 * 4);
		padding-inline: calc(var(--swift-button-primary-padding-x) / 3 * 4);
	}
}

.btn-secondary {
	font-weight: var(--swift-button-secondary-font-weight);
	text-transform: var(--swift-button-secondary-casing);
	border-radius: var(--swift-button-secondary-shape);
	padding-block: var(--swift-button-secondary-padding-y);
	padding-inline: var(--swift-button-secondary-padding-x);

	&.btn-sm {
		padding-block: calc(var(--swift-button-secondary-padding-y) / 3 * 2);
		padding-inline: calc(var(--swift-button-secondary-padding-x) / 3 * 2);
	}

	&.btn-lg {
		padding-block: calc(var(--swift-button-secondary-padding-y) / 3 * 4);
		padding-inline: calc(var(--swift-button-secondary-padding-x) / 3 * 4);
	}
}

a:not(.btn) {
	font-weight: var(--swift-link-font-weight);
	text-transform: var(--swift-link-casing);
}

.input-primary-button-group .form-control {
	border-radius: var(--swift-button-primary-shape);
}

.input-secondary-button-group .form-control {
	border-radius: var(--swift-button-secondary-shape);
}
