@use 'sass:math';

$icon-size-base: 1rem;

$icon-sizes: (
	"auto": 100%,
	"1": math.div($icon-size-base, 1.33),
	"2": $icon-size-base,
	"3": $icon-size-base * 1.5,
	"4": $icon-size-base * 2,
	"5": $icon-size-base * 3,
	"6": $icon-size-base * 4,
	"7": $icon-size-base * 5
);
	
@each $name, $size in $icon-sizes {
	.icon-#{$name} {
		display: inline-block;
		vertical-align: middle;
	}
	.icon-#{$name} svg {
		height: $size;
		width: $size;
		display: block;
		vertical-align: baseline;
	}
}
