.theme {
	background-color: var(--swift-background-color);
	color: var(--swift-foreground-color, inherit);
	box-shadow: inset 0 0 0 .0833rem var(--swift-border-color);
	//Primary button themes

	.btn-primary {
		background-color: var(--swift-button-primary-background-color);
		color: var(--swift-button-primary-foreground-color);
		border: .0833rem solid var(--swift-button-primary-border-color);

		&:hover,
		&:focus {
			background-color: var(--swift-button-primary-hover-background-color);
			color: var(--swift-button-primary-hover-foreground-color);
			border: .0833rem solid var(--swift-button-primary-hover-border-color);
		}
	}
	//Secondary button themes

	.btn-secondary {
		background-color: var(--swift-button-secondary-background-color);
		color: var(--swift-button-secondary-foreground-color);
		border: .0833rem solid var(--swift-button-secondary-border-color);

		&:hover,
		&:focus {
			background-color: var(--swift-button-secondary-hover-background-color);
			color: var(--swift-button-secondary-hover-foreground-color);
			border: .0833rem solid var(--swift-button-secondary-hover-border-color);
		}
	}
	//Primary button outline themes

	.btn-primary-outline {
		background-color: initial;
		color: var(--swift-button-primary-background-color);
		border-color: var(--swift-button-primary-border-color);

		&:hover {
			background-color: var(--swift-button-primary-hover-background-color);
			color: var(--swift-button-primary-hover-foreground-color);
			border-color: var(--swift-button-primary-hover-border-color);
		}

		&.btn-check:focus {
			box-shadow: 0 0 .375rem 0 var(--swift-button-primary-background-color);
		}

		&.btn:focus {
			box-shadow: 0 0 .375rem 0 var(--swift-button-primary-background-color);
		}
	}
	//Primary button outline themes

	.btn-secondary-outline {
		background-color: initial;
		color: var(--swift-button-secondary-background-color);
		border-color: var(--swift-button-secondary-background-color);

		&:hover {
			background-color: var(--swift-button-secondary-background-color);
			color: var(--swift-button-secondary-foreground-color);
			border-color: var(--swift-button-secondary-background-color);
		}

		&.btn-check:focus {
			box-shadow: 0 0 .375rem 0 var(--swift-button-secondary-background-color);
		}

		&.btn:focus {
			box-shadow: 0 0 .375rem 0 var(--swift-button-secondary-background-color);
		}
	}
	//Theming the close button eg. in modal in facets

	.btn-close {
		background: none;
		background-color: var(--swift-foreground-color);
		mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='black' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat 50% 50%;
	}
	//Add theming transition when header position is set to be above content and an alternative theme is selected

	.theme-animated {
		transition: all 0.1s ease-in;
	}
	//Adds color to form labels when a theme is selected so it doesn't inherit the theme foreground color.

	.form-label {
		color: $input-color;
	}

	a {
		color: var(--swift-foreground-color);
	}
}
