<script type="text/javascript" src="Files\Templates\BasicForum\Dialog.js"></script>
<script type="text/javascript" src="Files\Templates\BasicForum\functions.js"></script>
<link href="Files\Templates\BasicForum\Styles.css" rel="stylesheet" type="text/css" />


<!--@If Not Defined(Forum:Global.Category.IsModerated)-->
<div id="divSubscriptionSettings" style="display: none" class="forum-dialog">
	<h3 class="forum-dialog-title">
		<span><!--@Translate(Forum:Thread.SubscriptionSettings, "E-mail notifications")--></span>
		<a href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(false);">&nbsp;</a>
	</h3>
	<div class="forum-dialog-content">
		<form method="post" id="frmSubscriptionSettings" action="">
			<table border="0">
				<tr>
					<td style="width: 120px">
						<!--@Translate(Forum:Subscription.Email, "E-mail")-->
					</td>
					<td>
						<input type="text" id="txEmail" name="Email" value="<!--@Forum:Global.User.Email-->" style="width: 230px" />
					</td>
				</tr>
				<tr>
					<td valign="top">
						<!--@Translate(Forum:Subscription.Settings, "Settings")-->
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" name="state" id="stateTrue" value="True" checked="checked" />
								<label for="stateTrue">
									<!--@Translate(Forum:Subscription.Subscribe, "I'd like to be informed of the updates")-->
								</label>
							</li>
							<li>
								<input type="radio" name="state" id="stateFalse" value="False" />
								<label for="stateFalse">
									<!--@Translate(Forum:Subscription.UnSubscribe, "Don't bother me with any emails")-->
								</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="submit" id="cmdSubmit" value="<!--@Translate(Forum:Subscription.OK, "OK")-->" />&nbsp;
						<input type="button" onclick="setSubscriptionDialogVisibility(false);" value="<!--@Translate(Forum:Subscription.Cancel, "Cancel")-->" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<!--@EndIf(Forum:Global.Category.IsModerated)-->

<div class="forum-container">
	<div class="forum-categories">
		<!--@LoopStart(Categories)-->
		<div class="forum-category">
			<a class="forum-category-name" href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->"><!--@Forum:Category.Name--></a>
            <input type="hidden" id="curCategoryID" value="<!--@Forum:Category.ID-->"/>
			<p><!--@Forum:Category.Description--></p>
            <!--@If Defined(Forum:Category.IsSubscribed)-->
            <span style="float: right;margin-right:250px;">
		        <a class="subscription-settings" href="javascript:void(0);" onclick="location.href = '/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=subscribe&amp;redirectToList=categories';">
                <img src="/Admin/Images/Ribbon/Icons/Small/flag_red.png" alt="<!--@Translate(Forum:Category.Unsubscribe, "Unsubscribe email notification")-->" title="<!--@Translate(Forum:Category.Unsubscribe, "Unsubscribe email notification")-->" /></a>
            </span>
            <!--@EndIf(Forum:Category.IsSubscribed)-->
            <!--@If Not Defined(Forum:Category.IsSubscribed)-->
            <span style="float: right;margin-right:250px;">
                <a class="subscription-settings" href="javascript:void(0);" onclick="setSubscriptionDialogVisibility(true, '/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->&amp;CMD=subscribe&amp;redirectToList=categories');">
                <img src="/Admin/Images/Ribbon/Icons/Small/flag_green.png" alt="<!--@Translate(Forum:Category.Subscribe, "Subscribe email notification")-->" title="<!--@Translate(Forum:Category.Subscribe, "Subscribe email notification")-->" /></a>
            </span>
		    <!--@EndIf(Forum:Category.IsSubscribed)-->
			<div class="forum-category-fields">
				<div class="forum-category-stats">
					<div class="forum-category-fields-header">
						<div><!--@Translate(Forum:Category.Activity, "Activity")--></div>
					</div>
					<div class="forum-category-numbers">
						<!--@Translate(Forum:Category.TotalThreads, "Total threads:")-->&nbsp;<strong><!--@Forum:Category.Threads.Count--></strong>,&nbsp;<!--@Translate(Forum:Category.Replies, "Total replies:")-->&nbsp;<strong><!--@Forum:Category.Replies.Count--></strong>
					</div>
					<!--@If Defined(Forum:LastReply.Name)-->
					<div class="forum-category-lastreply">
						<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:LastReply.ParentID-->&amp;ShowLast=1&#Reply<!--@Forum:LastReply.ID-->"><!--@Translate(Forum:Category.LastPost, "Last post")--></a>&nbsp;<!--@Translate(Forum:Category.By, "by")-->&nbsp;<!--@Forum:LastReply.Author-->
						<!--@If Defined(Forum:LastThread.Name)-->
						<!--@Translate(Forum:Category.PostedOn, "posted on")-->&nbsp;<!--@Forum:LastReply.Created.ShortDate-->,&nbsp;<!--@Forum:LastReply.Created.ShortTime-->:<br />
						<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:LastThread.ID-->"><!--@Forum:LastThread.Name--></a>
						<!--@EndIf(Forum:LastThread.Name)-->
					</div>
					<!--@EndIf(Forum:LastReply.Name)-->
					
					<!--@If Not Defined(Forum:LastReply.Name)-->
					<!--@If Defined(Forum:LastThread.Name)-->
					<div class="forum-category-lastreply">
						<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:LastThread.ID-->"><!--@Translate(Forum:Category.LastPost, "Last post")--></a>&nbsp;<!--@Translate(Forum:Category.By, "by")-->&nbsp;<!--@Forum:LastThread.Author-->&nbsp;<!--@Translate(Forum:Category.PostedOn, "posted on")-->&nbsp;<!--@Forum:LastThread.Created.ShortDate-->,&nbsp;<!--@Forum:LastThread.Created.ShortTime-->:<br />
						<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;ThreadID=<!--@Forum:LastThread.ID-->"><!--@Forum:LastThread.Name--></a>
					</div>
					<!--@EndIf(Forum:LastThread.Name)-->
					<!--@EndIf(Forum:LastReply.Name)-->
				</div>
				<div class="forum-category-moderators">
					<div class="forum-category-fields-header">
						<div><!--@Translate(Forum:Category.Moderators, "Moderators")--></div>
					</div>
					<!--@If Not Defined(HasModerators)-->
						<div class="forum-category-nomoderators"><!--@Translate(Forum:Category.NoModeratos, "Nobody is moderating this category.")--></div>
					<!--@EndIf(HasModerators)-->
					
					<!--@If Defined(HasModerators)-->
					<!--@LoopStart(Moderators)-->
					<div class="forum-category-moderator">
						<!--@If Defined(Category:Moderator.Image.Clean)-->
						<img width="32" src="<!--@Category:Moderator.Image.Clean-->" alt="<!--@Category:Moderator.Name-->" title="<!--@Category:Moderator.Name-->" />
						<!--@EndIf(category:Moderator.Image.Clean)-->
						<!--@If Not Defined(Category:Moderator.Image.Clean)-->
						no image
						<!--@EndIf(category:Moderator.Image.Clean)-->
						<div><!--@Category:Moderator.Name--></div>
					</div>
					<div class="forum-post-clear">&nbsp;</div>
					<!--@LoopEnd(Moderators)-->
					<!--@EndIf(HasModerators)-->
					
				</div>
			</div>
			<div class="forum-post-clear">&nbsp;</div>
		</div>
		<!--@LoopEnd(Categories)-->
	</div>
</div>