@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="d-flex align-items-start">
	@if (Model.Item.TryGetString("Icon", out string icon))
	{
		<div class="d-inline-flex align-self-start align-items-center justify-content-center me-3 p-2 text-body bg-body bg-opacity-25" style="--bs-body-bg-rgb: var(--bs-body-color-rgb);">
			<div class="icon-3 p-1">
				@ReadFile(icon)
			</div>
		</div>
	}
	<div>
		@if (Model.Item.TryGetString("Title", out string title))
		{
			@title
		}
		@if (Model.Item.TryGetString("Text", out string text))
		{
			@text
		}
		<a href="#" class="btn btn-primary">
			Primary button
		</a>
	</div>
</div>
