@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO
@using Dynamicweb.Frontend;


<div class="swift-v2_feature d-flex gap-3 text-end" data-dw-colorscheme="@Model.ColorScheme?.Id">
	<div class="d-flex flex-column flex-grow-1 justify-content-center mb-0-last-child">
			@if (Model.Item.TryGetString("Text", out string text))
			{
				@text
			}
	</div>

		@if (Model.Item.TryGetImageFile("Icon", out ImageFileViewModel icon) || true)
		{
			<div class="icon-auto">
				@* <object data="@icon.Path" type="image/svg+xml"></object> *@
				<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1713_26190)">
						<path
							d="M20.5672 6.66634C21.8695 6.92043 23.0664 7.55735 24.0046 8.49559C24.9429 9.43383 25.5798 10.6307 25.8339 11.933M20.5672 1.33301C23.2729 1.63359 25.796 2.84524 27.7222 4.76902C29.6484 6.69279 30.8632 9.21435 31.1672 11.9197M29.8339 22.5597V26.5597C29.8354 26.931 29.7593 27.2986 29.6106 27.6388C29.4618 27.979 29.2436 28.2845 28.97 28.5355C28.6964 28.7865 28.3733 28.9777 28.0216 29.0966C27.6698 29.2156 27.2971 29.2598 26.9272 29.2263C22.8243 28.7805 18.8832 27.3785 15.4206 25.133C12.199 23.0859 9.46768 20.3546 7.42056 17.133C5.1672 13.6546 3.76489 9.69433 3.32723 5.57301C3.29391 5.2043 3.33773 4.83269 3.4559 4.48184C3.57406 4.13099 3.76399 3.80859 4.01358 3.53517C4.26318 3.26175 4.56697 3.04329 4.90562 2.8937C5.24426 2.74412 5.61035 2.66669 5.98056 2.66634H9.98056C10.6276 2.65997 11.255 2.88911 11.7456 3.31105C12.2362 3.73299 12.5567 4.31894 12.6472 4.95967C12.8161 6.23976 13.1292 7.49664 13.5806 8.70634C13.76 9.18357 13.7988 9.70223 13.6924 10.2008C13.5861 10.6995 13.339 11.1572 12.9806 11.5197L11.2872 13.213C13.1853 16.5511 15.9492 19.3149 19.2872 21.213L20.9806 19.5197C21.3431 19.1612 21.8008 18.9141 22.2994 18.8078C22.798 18.7015 23.3167 18.7403 23.7939 18.9197C25.0036 19.3711 26.2605 19.6842 27.5406 19.853C28.1883 19.9444 28.7798 20.2706 29.2026 20.7697C29.6254 21.2687 29.8501 21.9058 29.8339 22.5597Z"
							stroke="#525351" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
					</g>
					<defs>
						<clipPath id="clip0_1713_26190">
							<rect width="32" height="32" fill="white" transform="translate(0.5)"></rect>
						</clipPath>
					</defs>
				</svg>
			</div>
		}
</div>
