@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

<div class="d-flex align-items-start">
	@if (Model.Item.TryGetString("Icon", out string icon))
	{
		<div class="me-3">
			<div class="icon-3">
				@ReadFile(icon)
			</div>
		</div>
	}
	<div>
		@if (Model.Item.TryGetString("Title", out string title))
		{
			<span class="d-block mb-0-last-child mb-3">
				@title
			</span>
		}
		@if (Model.Item.TryGetString("Text", out string text))
		{
			<span class="d-block mb-0-last-child mb-3">
				@text
			</span>
		}
	</div>
</div>
