@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend;

@if (Model.Item.TryGetString("Icon", out string icon))
{
    <div class="d-inline-flex align-self-start align-items-center justify-content-center mb-3 p-3" style="background-color:var(--bs-body-color);color:var(--bs-body-bg);">
        <div class="icon-4">
            @ReadFile(icon)
        </div>
    </div>
}

@if (Model.Item.TryGetString("Title", out string title))
{
    <span class="d-block mb-0-last-child mb-3">
        @title
    </span>
}
@if (Model.Item.TryGetString("Text", out string text))
{
    <span class="d-block mb-0-last-child mb-3">
        @text
    </span>
}

<a href="#" class="icon-link">
    Call to action
</a>
