/* List Product card */
.card-product {
	width: 24.75rem;
	min-height: 24.75rem;
	height: auto;
	border-radius: 1rem;

	/* Related Product Slider Items*/
	&.card-product-item-slider {
		width: 21.75rem;

		& .card-product-badge {
			top: -9px;
		}
	}

	& .card-product-badge {
		position: absolute;
		top: -20px;
		left: 0;
		width: 2.75rem;
		height: 2.125rem;
		font-size: .7rem;
		font-weight: 500;

		&.new-item {
			background-color: #a67d2b;
		}

		&.sale-item {
			background-color: #dc3545;
		}
	}

	& .card-product-info {
		font-size: .625rem;
		font-weight: 600;
	}

	& .card-product-image {
		max-height: 8.75rem;

		& > img {
			height: 100%;
			object-fit: contain;
		}
	}

	& h2, .card-product-title {
		font-size: 1.125rem;
		font-weight: 700;
	}

	& div, .card-product-subtitle {
		font-size: .875rem;
		font-weight: 500;
	}

	& .card-product-form {
		& button, input {
			background-color: #e8e8eb;
		}

		& input {
			border-right: none;
			border-left: none;
			font-size: 1.125rem;
			font-weight: 700;
		}

		& button.card-product-form-minus {
			border-top-left-radius: .5rem;
			border-bottom-left-radius: .5rem;
			cursor: pointer;
		}

		& button.card-product-form-plus {
			border-top-right-radius: .5rem;
			border-bottom-right-radius: .5rem;
			cursor: pointer;
		}
	}

	& .card-product-footer-ratings-count {
		padding-top: 4px;
		font-size: .875rem;
		font-weight: 700;
		color: #D5352D;
	}
}
/*********************/

.swiffy-slider {

	& .slider-indicators {

		& > button {
			background-color: #ced3db;
		}
		
		& > button.active {
			background-color: #dc3545;
		}
	}
}