<style type="text/css">
	.spellingchanged
	{
		font-weight: bold;
		font-style: italic;
	}
</style>
<form action="Default.aspx" method="get" id="SearchForm1">
	<input type="hidden" name="ID" value="<!--@DwPageID-->" />
	<table>
		<tr>
			<td>Søg efter:</td>
			<td>
				<input type="text" name="q" id="q" value="<!--@DwSearchPhrase-->" size="30" /></td>
			<td>
				<input type="submit" value="Søg" /></td>
		</tr>
		<tr>
			<td colspan="3">
				<!--@If Defined(DwSpellSuggest)-->
				Mente du: <a href="Default.aspx?ID=<!--@DwPageID-->&q=<!--@DwSpellSuggest.UrlEncoded-->">
					<!--@DwSpellSuggest.Html-->
				</a>
				<!--@EndIf(DwSpellSuggest)-->
			</td>
		</tr>
	</table>
</form>
