<div class="panel-body">
	<p>All transactions are secure and encrypted. Credit card information is never stored</p>

	<div class="form-group card">
		<label class="col-sm-2 control-label">Card number</label>
		<div class="col-sm-6">
			<input class="form-control" type="text" maxlength="19" placeholder="9999 9999 9999 9999" autocomplete="off" data-quickpay="cardnumber">
		</div>
		<div class="card-brand"></div>							
	</div>						

	<div class="form-group">
		<label class="col-sm-2 control-label">Expiration</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" maxlength="5" placeholder="MM / YY" autocomplete="off" data-quickpay="expiration">
		</div>
		<label class="col-sm-2 control-label">CVV/CVD</label>	
		<div class="col-sm-2">
			<input class="form-control" type="text" maxlength="4" autocomplete="off" data-quickpay="cvd">
		</div>		
	</div>	
</div>
				
<style type="text/css">
  .card {
    position: relative;
  }

  .card-brand {
    position: absolute;
    right: 35px;
    top: 5px;
    font-weight: bold;
  }

  input.error {
    border: 1px solid red;
  }
</style>

<script src="https://payment.quickpay.net/embedded/v2/quickpay.js"></script>
<script type="text/javascript">
  QuickPay.Embedded.Form(document.querySelector('#ordersubmit'), {
    merchant_id: @GetValue("QuickPayPaymentWindow.merchant_id"),
    agreement_id: @GetValue("QuickPayPaymentWindow.agreement_id"),
    brandChanged: function(brand) {
      document.querySelector(".card-brand").innerHTML = brand;
    },
    beforeCreate: function(form) {
      var button = document.querySelector("#ordersubmit button.btn-pay");
      button.setAttribute("disabled", "disabled");
      button.innerHTML = "Please wait...";

      var inputs = document.querySelectorAll("input.error");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].classList.remove("error");
      }
    },
    success: function(form, data) {
      return true; // Return false to prevent form submit
    },
    failure: function(form, type, message, data) {
      switch (type) {
        case "validation":
          for (var i = 0; i < data.length; i++) {
            document.querySelector('input[data-quickpay=' + data[i] + ']').classList.add('error');
          }
          break;
        default:
          alert(type + ': ' + message);
      }

      var button = document.querySelector("#ordersubmit button.btn-pay");
	  button.removeAttribute("disabled");
      button.innerHTML = "@Translate("Create Order", "Create Order")";
    }
  });
</script>				