<style type="text/css">
.GalleryImg
{
	
	border-collapse:collapse;
}

.GalleryImg td
{
	border: solid 1px #c1c1c1;
	padding:5px;
}
.GalleryInfo
{
	background-color:#f6f6f6;
}
</style>
<table cellpadding="0" cellspacing="0" style="margin:5px;width:<!--@Gallery.Picture.MaxWidth-->px;" class="GalleryImg">
	<tr>
		<td valign="top" width="<!--@Gallery.Picture.MaxWidth-->">
			<!--@Gallery.Image.Thumb.Large-->
		</td>
	</tr>
	<tr>
		<td valign="top" class="GalleryInfo">
		<div><!--@Gallery.Image.Name-->, <!--@Gallery.Image.Width--> x <!--@Gallery.Image.Height--> px. - <!--@Gallery.Image.DownloadLink--> (<!--@Gallery.Image.Size-->)</div>
		<div align="right"><a href="javascript:history.go(-1)">Back</a></div>
		</td>
	</tr>
</table>