<script type="text/javascript">

    function fakeUploadFile() {
        document.getElementById('UserManagement_Form_ImageUploader').click();
    }

    function setValue() {
        var filename = document.getElementById('UserManagement_Form_ImageUploader').value;
        if (filename.length > 0) {
            document.getElementById('FakeImageUploader').style.display = 'none';
        }
    }

    window.onload = function () {
        if (navigator.product == 'Gecko') {
            document.getElementById('UserManagement_Form_ImageUploader').addEventListener('change', setValue, false);
        }
        else {
            document.getElementById('UserManagement_Form_ImageUploader').attachEvent('change', setValue);
        }
        var list = document.getElementById("UserManagement_Form_CountryCode");
        if (list != null && list.options != null) {
            for (i = 0; i < list.options.length; i++) {
                if (list.options[i].value == '<!--@UserManagement:User.CountryCode-->') {
                    list.options[i].selected = true;
                    break;
                }
            }
        }
    }
</script>

<h2>Edit user '<!--@UserManagement:User.Name-->'</h2>
<!--@LoopStart(FormValidationErrors)-->
<!--@HeaderStart-->
<div id="errormessages">
    <ul>
        <!--@HeaderEnd-->
        <li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
        <!--@FooterStart-->
    </ul>
</div>
<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->
<!--@UserManagement:User.FormStart-->
<table>
    <tr>
        <th align="left"><!--@Translate(Name, "Name")-->: </th>
        <td><!--@UserManagement:User.Name.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Email, "Email")-->: </th>
        <td><!--@UserManagement:User.Email.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(oldpassword, "Old password")-->: </th>
        <td><!--@UserManagement:User.OldPassword.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(newpassword, "New password")-->: </th>
        <td><!--@UserManagement:User.NewPassword.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(confirmpassword, "Confirm new password")-->: </th>
        <td><!--@UserManagement:User.NewPasswordConfirm.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Department, "Department")-->: </th>
        <td><!--@UserManagement:User.Department.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Phone, "Phone")-->: </th>
        <td><!--@UserManagement:User.Phone.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhonePrivate, "Private phone")-->: </th>
        <td><!--@UserManagement:User.PhonePrivate.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneBusiness, "Business phone")-->: </th>
        <td><!--@UserManagement:User.PhoneBusiness.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
        <td><!--@UserManagement:User.PhoneMobile.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Fax, "Fax")-->: </th>
        <td><!--@UserManagement:User.Fax.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(AddressTitle, "Address title")-->: </th>
        <td><!--@UserManagement:User.AddressTitle.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address, "Address")-->: </th>
        <td><!--@UserManagement:User.Address.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address2, "Address 2")-->: </th>
        <td><!--@UserManagement:User.Address2.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Zip, "Zip")-->: </th>
        <td><!--@UserManagement:User.Zip.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(City, "City")-->: </th>
        <td><!--@UserManagement:User.City.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Country, "Country")-->: </th>
        <td><!--@UserManagement:User.Country.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(BillingCountryCode, "Billing country code")-->: </th>
        <td>
            <select id="UserManagement_Form_CountryCode" name="UserManagement_Form_CountryCode">
                <option value="">None</option>
                <!--@LoopStart(UserManagement.CountryList)-->
                <option value="<!--@Country.Code2-->"><!--@Country.Name--></option>
                <!--@LoopEnd(UserManagement.CountryList)-->
            </select>
        </td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(JobTitle, "Jobtitle")-->: </th>
        <td><!--@UserManagement:User.JobTitle.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Company, "Company")-->: </th>
        <td><!--@UserManagement:User.Company.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(VATIN, "VATIN")-->: </th>
        <td><!--@UserManagement:User.VatRegNumber.Input--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
        <td><!--@UserManagement:User.Image.Uploader--></td>
    </tr>

    <!--@LoopStart(SelectableGroups)-->
    <!--@HeaderStart-->
    <tr>
        <th valign="top"><!--@Translate(memberof, "Member of")-->: </th>
        <td valign="top">
            <!--@HeaderEnd-->
            <!--@UserManagement:User.SelectableGroup.Input-->
            <label for="<!--@UserManagement:User.SelectableGroup.InputName-->"><!--@UserManagement:User.SelectableGroup.Name--></label></br>
            <!--@FooterStart-->
        </td>
    </tr>
    <!--@FooterEnd-->
    <!--@LoopEnd(SelectableGroups)-->
</table>
<input type="submit" id="submitter" value="<!--@Translate(updateuser, " Update user")-->">
<!--@UserManagement:User.FormEnd-->
<!--@If Defined(Server:Request.objectid)-->
<!--@If Defined(UserManagement:User.DetailUrl)-->
<a href="<!--@UserManagement:User.DetailUrl-->">Back to detail view</a>
<!--@EndIf(UserManagement:User.DetailUrl)-->
<!--@EndIf(Server:Request.objectid)-->