<h2>Detail for '<!--@UserManagement:User.Name-->'</h2>
<table>
    <tr>
        <th align="left"><!--@Translate(Name, "Name")-->: </th>
        <td><!--@UserManagement:User.Name--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Email, "Email")-->: </th>
        <td><!--@UserManagement:User.Email--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Username, "Username")-->: </th>
        <td><!--@UserManagement:User.UserName--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Department, "Department")-->: </th>
        <td><!--@UserManagement:User.Department--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Phone, "Phone")-->: </th>
        <td><!--@UserManagement:User.Phone--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhonePrivate, "Private phone")-->: </th>
        <td><!--@UserManagement:User.PhonePrivate--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneBusiness, "Business phone")-->: </th>
        <td><!--@UserManagement:User.PhoneBusiness--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
        <td><!--@UserManagement:User.PhoneMobile--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Fax, "Fax")-->: </th>
        <td><!--@UserManagement:User.Fax--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address, "Address")-->: </th>
        <td><!--@UserManagement:User.Address--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Address2, "Address 2")-->: </th>
        <td><!--@UserManagement:User.Address2--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Zip, "Zip")-->: </th>
        <td><!--@UserManagement:User.Zip--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(City, "City")-->: </th>
        <td><!--@UserManagement:User.City--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Country, "Country")-->: </th>
        <td><!--@UserManagement:User.Country--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(BillingCountryCode, "Billing country code")-->: </th>
        <td><!--@UserManagement:User.CountryCode--></td>
    </tr>
    <!--@If Defined(UserManagement:User.Culture.CountryName)-->
    <tr>
        <th align="left"><!--@Translate(BillingCountry, "Billing country")-->: </th>
        <td><!--@UserManagement:User.Culture.CountryName--></td>
    </tr>
    <!--@EndIf(UserManagement:User.Culture.CountryName)-->
    <tr>
        <th align="left"><!--@Translate(JobTitle, "Jobtitle")-->: </th>
        <td><!--@UserManagement:User.JobTitle--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(Company, "Company")-->: </th>
        <td><!--@UserManagement:User.Company--></td>
    </tr>
    <tr>
        <th align="left"><!--@Translate(VATIN, "VATIN")-->: </th>
        <td><!--@UserManagement:User.VatRegNumber--></td>
    </tr>
    <!--@If Defined(UserManagement:User.Image.Clean)-->
    <tr>
        <th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
        <td><img src="/admin/public/getimage.aspx?fmImage_path=<!--@UserManagement:User.Image.Clean-->&amp;width=80" alt="<!--@UserManagement:User.Name-->" border="0" /></td>
    </tr>
    <!--@EndIf(UserManagement:User.Image.Clean)-->
</table>
<!--@If Defined(UserManagement:User.EditUrl)-->
<a href="<!--@UserManagement:User.EditUrl-->">Edit your profile</a>
<!--@EndIf(UserManagement:User.EditUrl)-->
<!--@If Defined(UserManagement:User.ManageAddressesUrl)-->
<a href="<!--@UserManagement:User.ManageAddressesUrl-->">Manage addresses</a>
<!--@EndIf(UserManagement:User.ManageAddressesUrl)-->