@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic


@functions {

	string GetFieldsFormatted(List<FieldValueViewModel> fields, bool hideLabels)
	{
		List<string> fieldsToRender = new List<string>();

		foreach (var field in fields)
		{

			if (!hideLabels)
			{
				fieldsToRender.Add($"<span>{field.Name}: </span class=\"opacity: 75\"> <span>{RenderPartial("Components/Specifications/Shared/FieldValue.cshtml", field)}</span>");
			}
			else
			{
				fieldsToRender.Add($"<span>{RenderPartial("Components/Specifications/Shared/FieldValue.cshtml", field)}</span>");
			}

		}
		string fieldsString = (string.Join(", ", fieldsToRender.Select(x => x.ToString()).ToArray()));
		return fieldsString;
	}
}

@{
	var groups = GetViewParameter("Groups") as List<Dictionary<string, List<FieldValueViewModel>>>;
	string title = GetViewParameterString("Title");
	bool hideGroupHeaders = GetViewParameterBoolean("HideGroupHeaders");
	bool hideLabels = GetViewParameterBoolean("HideFieldLabels");
	bool hideTitle = GetViewParameterBoolean("HideTitle");
	string titleFontSize = GetViewParameterString("TitleFontSize");
	string gapCss = GetViewParameterString("GapCss");

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@title</h2>
	}

	foreach (var group in groups)
	{
		var fields = group.First().Value;
		string groupName = group.First().Key;
		string fieldsFormatted = GetFieldsFormatted(fields, hideLabels);

		if (!hideGroupHeaders)
		{
			<div class="g-col-12">
				<h3>@groupName</h3>
			</div>
		}

		<div class="g-col-12 opacity-75 fs-7 @(gapCss)">
			@fieldsFormatted
		</div>
	}
}
