@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-sizing';

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

$map-width: 50% !default;
$list-width: (100%-$map-width) !default;
$gutter-width: 1em;

@mixin layout-map($list-position: false) {
	@if $list-position == left or $list-position == right {
		$map-position: if($list-position == right, left, right);
		$list-position: if($map-position == right, left, right);

		@if $list-position == left or $list-position == right {
			> .map {
				float: $map-position;
				width: $map-width;
				padding-#{$list-position}: $gutter-width / 2;
			}

			> .list {
				display: block;
				float: $list-position;
				width: $list-width;
				padding-#{$map-position}: $gutter-width / 2;
	 			@include box-sizing(border-box);
			}
		}
	} @else {
		> .map {
	 		width: 100%;
	 		@include box-sizing(border-box);
			-mri-debug: $list-position;
		}

		@if $list-position == false {
			> .list {
	 			display: none;
			}
		} @if $list-position == below {
			> .list {
	 			display: block;
				padding-top: $gutter-width;
			}
		}
	}
}

$list-background-color: #ddd !default;
$list-background-color-current: #eee !default;

.dynamicweb-map {
	@include clearfix;

	> .map,
	> .map > div {
		height: 100%;
	}

	.map {
		// CSS from other sources may interfere with maps (@see https://github.com/zurb/foundation/issues/112)
		img {
			max-width: none;
			height: auto;
		}
	}

	&.list-hidden {
		> .list {
			display: none;
		}
	}

	&.list-left > {
		.map {
			float: right;
			padding-left: 1em;
		}
	}

	&.list-right > {
		.map {
			float: left;
			padding-right: 1em;
		}
	}

	// &.list-left, &.list-right {
	// 	> .list {
	// 		// float: none;
	// 		// width: auto;
	// 		height: 100%;
	// 		overflow: auto;
	// 	}
	// }

	// @include layout-map();

	// &.list-below {
	// 	@include layout-map(below);
	// }

	// &.list-right {
	// 	@include layout-map(right);
	// }

	// &.list-left {
	// 	@include layout-map(left);
	// }

	.list {
		ol, ul, li {
			@include reset-list;
			line-height: 100%;
		}

		ol, ul {
			li {
				padding: .5em;
				background: $list-background-color;
				margin-bottom: 1em;
			}
		}

		li.hidden {
			display: none;
		}

		.current {
			background: $list-background-color-current;
		}
	}

	form {
		margin: 1em 0;
	}
}

.dynamicweb-map-info-window {}
