<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
    	<link rel="stylesheet" href="Files\Templates\eCom\ecom.css" />
    	<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/Common.css" />
    	<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/RegularPageStyle.css" />
		<script type="text/javascript" src="Files\Templates\eCom\CatalogPublishing\preview.js"></script>
	</head>
    <body onload="OnLoad();">

        
        <script type="text/javascript" src="Files\Templates\eCom\Dialog.js"></script>
        <script type="text/javascript" src="Files\Templates\eCom\functions.js"></script>
   
        <div id="divSubscriptionSettings" style="display: none" class="CatalogPublishing-dialog">
	        <h3 class="CatalogPublishing-dialog-title">
		        <span><!--@Translate(Publishing:Thread.SubscriptionSettings, "Send proposal catalog")--></span>
		        <a href="javascript:void(0);" onclick="setDialogVisibility(false);">&nbsp;</a>
	        </h3>
          <div class="CatalogPublishing-dialog-content">
            <!--@Ecom:CatalogPublishing.EmailForm-->
          </div>
        </div>

        <form id="printparams" name="printparams" action="<!--@Global:Pageview.Url-->&amp;CatalogPublishingcmd=print" method="post">
	
					  
            <div class="wrapper-outer-page">
                <div class="wrapper-page">


                    <div class="body-page">
                         <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                            <div class="body-page-heading">
							<div class="right collumn">
							  <h3><!--@Translate(Ecom:CatalogPublishing.Price, "Price")--></h3>
						    </div>

						    <div class="right collumn">
							    <h3><!--@Translate(Ecom:CatalogPublishing.Count, "Amount")--></h3>                        
							</div>
							</div>
							
                        <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                        <!--@LoopStart(Products)-->
                        <div class="product">
                            <div class="image">
                                    <img width="160" border="0" height="110" src="<!--@Ecom:Product.ImageSmall.Default.Clean-->" />
                            </div>
                            <div class="title">
                                <h3><!--@Ecom:Product.Name--></h3>
                            
							     <div class="description"><!--@Ecom:Product.ShortDescription--></div>
					 	 	    <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
								    <div><a href="/default.aspx?CatalogPublishingcmd=remove&amp;productid=<!--@Ecom:Product.ID-->"><!--@Translate(Ecom:CatalogPublishing.RemoveFromCatalog, "Remove from catalog")--></a></div>
                                <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                            </div>
                            <div class="count">
                                <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                                        <input class="quantity" onchange="RecalcPrice(this);" type="text" id="q<!--@Ecom:Product.ID-->" name="q<!--@Ecom:Product.ID-->" value="<!--@Ecom:CatalogPublishing.ProductCount-->" />
                                <!--@EndIf(Ecom:CatalogPublishing.Preview)-->

                                <!--@If Not Defined(Ecom:CatalogPublishing.Preview)-->
                                    <h3><!--@Ecom:CatalogPublishing.ProductCount--></h3>
                                <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                            </div>                        
                            <div class="price">
                        	    <span class="p">
					 	 	    <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                                    <h3 style="display:block; float:right;">&nbsp;<!--@Ecom:CatalogPublishing.Price.Currency.Symbol--></h3><input onchange="Recalc(this);" class="price" type="text" id="c<!--@Ecom:Product.ID-->" name="c<!--@Ecom:Product.ID-->" value="<!--@Ecom:CatalogPublishing.Price.PriceWithVAT-->" />
                                <!--@EndIf(Ecom:CatalogPublishing.Preview)-->

					 	 	    <!--@If Not Defined(Ecom:CatalogPublishing.Preview)-->
                                    <h3><!--@Ecom:CatalogPublishing.Price.Currency.Symbol-->&nbsp;<!--@Ecom:CatalogPublishing.Price.PriceWithVAT--></h3>
                                <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                                </span>
							</div>
                        </div>
                        <!--@LoopEnd(Products)-->
                         <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                          <!--@If Defined(Ecom:CatalogPublishing.ProductsExist)-->
								    <div><a href="/default.aspx?CatalogPublishingcmd=remove&amp;productid=all"><!--@Translate(Ecom:CatalogPublishing.RemoveAllFromCatalog, "Remove all products")--></a></div>
                          <!--@EndIf(Ecom:CatalogPublishing.ProductsExist)-->
					    <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
					    <div class="product" >
						    <div class="total">
                                <span class="lable"><h3><!--@Translate(Ecom:CatalogPublishing.Total, "Total")--></h3></span> 
                                <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                                    <input type="hidden" id="FM_PriceDelimiterInt" value="<!--@Ecom:CatalogPublishing.TotalPrice.Currency.IntegerSeparator-->" />
                                    <input type="hidden" id="FM_PriceDelimiterDec" value="<!--@Ecom:CatalogPublishing.TotalPrice.Currency.DecimalSeparator-->" />
                                    <input type="hidden" name="FM_Redirect" value="<!--@Ecom:CatalogPublishing.TotalPrice.PriceWithVAT-->">
                                    <span class="value"><h3 style="display:block; float:right;">&nbsp;<!--@Ecom:CatalogPublishing.TotalPrice.Currency.Symbol--></h3><input type="text" id="TotalPrice" name="TotalPrice" value="<!--@Ecom:CatalogPublishing.TotalPrice.PriceWithVAT-->" style="text-align:right;" /></span>
                                 <!--@EndIf(Ecom:CatalogPublishing.Preview)-->

                                <!--@If Not Defined(Ecom:CatalogPublishing.Preview)-->
                                    <span class="value">
                                        <h3><!--@Ecom:CatalogPublishing.TotalPrice.Currency.Symbol-->&nbsp;<!--@Ecom:CatalogPublishing.TotalPrice.PriceWithVAT--></h3>
                                    </span>
                                 <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                            </div>
						    <div class="valid">
                                <span class="lable"><h3 style="display:block; float:left;"><!--@Translate(Ecom:CatalogPublishing.ValidUntil, "Valid until")-->&nbsp;</h3></span>
                                    <span class="value">
                                        <h3>
                                        <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                                            <input type="text" id="ValidUntil" name="ValidUntil" value="<!--@Ecom:CatalogPublishing.ValidUntil-->" />
                                        <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                                        <!--@If Not Defined(Ecom:CatalogPublishing.Preview)-->
                                            <!--@Ecom:CatalogPublishing.ValidUntil-->
                                        <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                                        </h3>
                                    </span>
                            </div>
					    </div>
                    
                    </div>
				    <!--@If Defined(Ecom:CatalogPublishing.Preview)-->
                    	<input type="submit" value="<!--@Translate(Ecom:CatalogPublishing.CreateCatalog, "Create catalog")-->" />
                        <br><br><br>
                        <div id="showLinks" style="display:none;">
                            <a href="/default.aspx?CatalogPublishingcmd=download"><!--@Translate(Ecom:CatalogPublishing.Download, "Download")--></a> 
                            <a href="javascript:void(0);" onclick="SendProposalByEmail();"><!--@Translate(Ecom:CatalogPublishing.SendByEmail, "Send by e-mail")--></a>
                        </div>
                    <!--@EndIf(Ecom:CatalogPublishing.Preview)-->
                </div>
            </div>
        </form>

<div id="CatalogPublishingDialogOverlay" class="CatalogPublishing-dialog-overlay" style="display:none;" ></div>		
		
    </body>
</html>