<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
      <head>
		<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/Common.css" />
    	<link rel="stylesheet" href="http://<!--@Global:Request.Host-->/Files/Templates/eCom/CatalogPublishing/css/FirstStyle.css" />
	</head>   <body>

        <div class="wrapper-outer-page">
            <div class="wrapper-page">
                <div class="first-page">
                    <h1>Dynamicweb Software A/S</h1>
                </div>
                <div class="footer-page">
                    <img src="http://<!--@Global:Request.Host-->/Files/System/Logo.jpg" height="40" />
                </div>
            </div>
        </div>

        
    </body>
</html>