<link rel="Stylesheet" href="/Files/Templates/Gallery/List/lightbox2.04/css/lightbox.css" />
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.04/js/prototype.js"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.04/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.04/js/lightbox.js"></script>

<style type="text/css">
	.LBimg
	{
		float: left;
		padding: 5px;
		margin:2px;
		text-align: center;
		vertical-align: middle;
		border: solid 1px #c1c1c1;
	}
	.LBimg a
	{
		text-align: center;
		vertical-align: middle;
		display: block;
		height: 100%;
	}
	.LBimg a:hover
	{
		background-color: #f2f2f2;
	}
</style>
<!--@LoopStart(Images)-->
<div class="LBimg">
	<a href="<!--@Gallery.Image.Thumb.Large.Path-->" rel="lightbox[img]" title="<!--@Gallery.Image.Name-->">
		<!--@Gallery.Image.Thumb.Medium-->
	</a>
</div>
<!--@LoopEnd(Images)-->
<!--@Gallery.List.NoImagesText-->