<style type="text/css">
	.LBimg
	{
		float: left;
		padding: 5px;
		margin:2px;
		text-align: center;
		vertical-align: middle;
		border: solid 1px #c1c1c1;
	}
	.LBimg a
	{
		text-align: center;
		vertical-align: middle;
		display: block;
		height: 100%;
	}
	.PageActiveTrue
	{
		font-weight:bold;
	}
</style>
<div><i>Side <!--@Gallery.List.PageNumber--> af <!--@Gallery.List.PageCount-->. Viser <!--@Gallery.List.PageStart--> til <!--@Gallery.List.PageEnd--> af <!--@Gallery.List.ImageCount--> billeder.</i></div>
<!--@LoopStart(Images)-->
<div class="LBimg">
	<a href="<!--@Gallery.Image.DetailLink-->" title="<!--@Gallery.Image.Name-->">
		<!--@Gallery.Image.Thumb.Medium-->
	</a>
</div>
<!--@LoopEnd(Images)-->
<br />

<div style="clear:both;float:right;">
<!--@Gallery.List.ButtonBack--> 

<!--@LoopStart(Pages)-->
<a href="<!--@Gallery.List.Page.Link-->"><span class="PageActive<!--@Gallery.List.Page.Active-->"><!--@Gallery.List.Page.Number--></span></a>
<!--@LoopEnd(Pages)-->

<!--@Gallery.List.ButtonForward-->
</div>
<!--@Gallery.List.NoImagesText-->