<link href="/Files/Templates/Gallery/List/PageFlip/css/liquid-green.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Files/Templates/Gallery/List/PageFlip/js/liquid.js"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/PageFlip/js/swfobject.js"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/PageFlip/js/flippingbook.js"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/PageFlip/js/bookSettings.js"></script>

<style type="text/css">
	.LBimg
	{
		float: left;
		padding: 5px;
		margin: 2px;
		text-align: center;
		vertical-align: middle;
		border: solid 1px #c1c1c1;
	}
	.LBimg a
	{
		text-align: center;
		vertical-align: middle;
		display: block;
		height: 100%;
	}
	#flashContainer
	{
		position:fixed;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		background-color:#f1f1f1;
		display:none;
	}
</style>
<div id="flashContainer">
	<div id="fbContainer">
		<a class="altlink" href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">
			<div id="altmsg">
				Download Adobe Flash Player.</div>
		</a>
	</div>
	<div id="fbFooter">
		<div id="fbContents">
			<select id="fbContentsMenu" name="fbContentsMenu">
			</select>
			<span class="fbPaginationMinor">p.&nbsp;</span> <span id="fbCurrentPages" class="fbPaginationMinor">1</span> <span id="fbTotalPages" class="fbPaginationMinor"></span>
		</div>
		<div id="fbMenu">
			<a href="javascript:closeFlip();"><img src="/Files/Templates/Gallery/List/PageFlip/img/btnClose.gif" width="36" height="40" border="0" id="Img1" /></a><img src="/Files/Templates/Gallery/List/PageFlip/img/btnZoom.gif" width="36" height="40" border="0" id="fbZoomButton" /><img src="/Files/Templates/Gallery/List/PageFlip/img/btnPrint.gif" width="36" height="40" border="0" id="fbPrintButton" /><img src="/Files/Templates/Gallery/List/PageFlip/img/btnDownload.gif" width="36" height="40" border="0" id="fbDownloadButton" /><img src="/Files/Templates/Gallery/List/PageFlip/img/btnDiv.gif" width="13" height="40" border="0" /><img src="/Files/Templates/Gallery/List/PageFlip/img/btnPrevious.gif" width="36" height="40" border="0" id="fbBackButton" /><img src="/Files/Templates/Gallery/List/PageFlip/img/btnNext.gif" width="36" height="40" border="0" id="fbForwardButton" /></div>
	</div>
</div>

<script type="text/javascript">
var _created = false;
var _overflow = "";
resizeContainer = true;
function openFlip<!--@ParagraphID-->(pageNum){
	document.getElementById("flashContainer").style.display = "block";
	_overflow = document.body.style.overflow;
	document.body.style.overflow = "hidden";
	if(!_created){
		<!--@LoopStart(Images)-->flippingBook.pages.push("<!--@Gallery.Image.Thumb.Large.Path-->")
		<!--@LoopEnd(Images)-->

		<!--@LoopStart(Images)-->flippingBook.contents.push(["Page <!--@Images.LoopCounter-->", <!--@Images.LoopCounter-->])
		<!--@LoopEnd(Images)-->

		flippingBook.settings.bookWidth = (<!--@Gallery.Image.FirstThumbLarge.Width--> * 2);
		flippingBook.settings.bookHeight = (<!--@Gallery.Image.FirstThumbLarge.Height-->);
		flippingBook.settings.zoomImageWidth = (<!--@Gallery.Image.First.Width-->);
		flippingBook.settings.zoomImageHeight = (<!--@Gallery.Image.First.Height-->);

		flippingBook.settings.downloadURL = "<!--@Gallery.PDF.Path-->";
		flippingBook.settings.downloadSize = "Size: <!--@Gallery.PDF.Size-->";
		flippingBook.settings.zoomPath = "<!--@Gallery.Folder.Name-->/";
		flippingBook.settings.scaleContent = true;
		flippingBook.settings.firstPageNumber = pageNum;

		flippingBook.stageWidth = document.getElementById("flashContainer").offsetWidth + "px";
		flippingBook.stageHeight = document.getElementById("flashContainer").offsetHeight + "px";
		flippingBook.create();
		FlippingBook.prototype.onWindowLoad();
		_created = true;
	}
	sizeContent();
}
function closeFlip(){
	document.getElementById("flashContainer").style.display = "none";
	document.body.style.overflow = _overflow;
}
</script>

<!--@LoopStart(Images)-->
<div class="LBimg" id="Page<!--@Images.LoopCounter-->">
    <a href="javascript:openFlip<!--@ParagraphID-->(<!--@Images.LoopCounter-->);" title="<!--@Gallery.Image.Name-->">
        <!--@Gallery.Image.Thumb.Medium-->
    </a>
</div>
<!--@LoopEnd(Images)-->