@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@{
	string verticalAlignment = Model.Item.GetList("VerticalAlignment").SelectedValue.ToLower();
}
<td style="vertical-align:@verticalAlignment;text-align:left;font-size: 14px;line-height: 21px;font-family: Avenir,sans-serif;">
	@RenderTitle()
</td>

@helper RenderTitle()
{
	string title = Model.Item?.GetString("Title") ?? "";
	string horizontalAlignment = Model.Item.GetList("HorizontalAlignment").SelectedValue.ToLower();
	string headingColor = "#14215b";
	
	<div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
		<h1 class="size-34" style="text-align:@horizontalAlignment;Margin-top: 20px;Margin-bottom: 20px;font-style: normal;font-weight: normal;font-size: 30px;line-height: 38px;font-family: pt serif,georgia,serif;" lang="x-size-34">
			<span class="font-pt-serif">
				<span style="color:@headingColor">
					<strong>@title</strong>
				</span>
			</span>
		</h1>
	</div>
}
