@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend.Navigation
@{
	string fontFamily = "Avenir, sans-serif";
}
<td style="vertical-align:center;font-family:@fontFamily">
	@RenderNavigation()
</td>

@helper RenderNavigation()
{
	string root = Model.Item?.GetString("NavigationRoot") ?? "";
	string horizontalAlignment = Model.Item.GetList("HorizontalAlignment").SelectedValue.ToLower();
	NavigationSettings navigationSettings = new NavigationSettings
	{
		ExpandMode = ExpandMode.All
	};

	if (!string.IsNullOrEmpty(root))
	{

		if (root.Contains("="))
		{
			int rootPageId = Convert.ToInt32(root.Substring(root.LastIndexOf('=') + 1));
			navigationSettings.RootPageId = rootPageId;
		}
	}

	<div style="text-align:@horizontalAlignment;">
		@Navigation.RenderNavigation("Navigation/EmailNavigation.cshtml", navigationSettings)
	</div>
}
