@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@functions
{
	private string GetAlignment(string direction)
	{
		var layout = Model.Item.GetRawValueString("Layout", "middle-center");
    	var alignments = layout.Split('-');
    	var indexPosition = direction == "vertical" ? 0 : 1;

    	if (alignments.Length == 2)
    	{
    		return alignments.Length == 2 ? alignments[indexPosition] : "middle";
    	}
    	
    	return direction == "vertical" ? "middle" : "center";
    }
}
@{
	string verticalAlignment = GetAlignment("vertical");
}
<td style="vertical-align:@verticalAlignment;line-height: 21px;">
	@RenderTitle()
</td>

@helper RenderTitle()
{
	string title = Model.Item?.GetString("Title") ?? "";
	string horizontalAlignment = GetAlignment("horizontal");
	string headingColor = "#14215b";
	string headingFontFamily = "PT Serif,Georgia,serif";
	
	<div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
		<h1 class="size-34" style="text-align:@horizontalAlignment;Margin-top: 20px;Margin-bottom: 20px;font-size: 30px;line-height: 38px;font-family:@headingFontFamily;" lang="x-size-34">
			<span>
				<span style="color:@headingColor">
					<strong>@title</strong>
				</span>
			</span>
		</h1>
	</div>
}
