@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@{
	string verticalAlignment = Model.Item.GetList("VerticalAlignment").SelectedValue.ToLower();
}
<td style="vertical-align:@verticalAlignment;text-align: left;font-size: 16px;line-height: 21px;font-family: Avenir,sans-serif;">
	@RenderText()
</td>

@helper RenderText()
{
	string text = Model.Item?.GetString("Text") ?? "";

	<div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;color:#000000;">
		@text
	</div>
}
