@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@{
	string verticalAlignment = Model.Item.GetRawValueString("VerticalAlignment").ToLower();
}
<td style="vertical-align:@verticalAlignment;line-height: 21px;">
	@RenderTitle()
</td>

@helper RenderTitle()
{
	string title = Model.Item?.GetString("Title") ?? "";
	string horizontalAlignment = Model.Item.GetRawValueString("HorizontalAlignment").ToLower();
	string headingColor = "#14215b";
	string headingFontFamily = "PT Serif,Georgia,serif";
	
	<div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
		<h1 class="size-34" style="text-align:@horizontalAlignment;Margin-top: 20px;Margin-bottom: 20px;font-size: 30px;line-height: 38px;font-family:@headingFontFamily;" lang="x-size-34">
			<span>
				<span style="color:@headingColor">
					<strong>@title</strong>
				</span>
			</span>
		</h1>
	</div>
}
