@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@{
	string verticalAlignment = Model.Item.GetList("VerticalAlignment").SelectedValue.ToLower();
	string fontFamily = "Avenir, sans-serif";
}

<td height="100%"
    style="vertical-align:@verticalAlignment;text-align: left;font-size: 14px;line-height: 21px;height:100%;font-family:@fontFamily" 
    valign="@verticalAlignment">
	@RenderButton()
</td>

@helper RenderButton()
{
	string title = Model.Item?.GetString("Title") ?? "";
	string link = Model.Item?.GetString("Link") ?? "";
	string horizontalAlignment = Model.Item.GetList("HorizontalAlignment").SelectedValue.ToLower();
	string buttonColor = "#333333";
	string buttonTextColor = "#FFFFFF";
	
	<div class="btn" style="text-align:@horizontalAlignment;">
		<![if !mso]>
			<a href="@link" style="border-radius: 0;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: @buttonTextColor !important;background-color: @buttonColor;">
				@title
			</a>
		<![endif]>
		<!--[if mso]>
			<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@link" style="height:60px;width:300px;margin-top:20px;v-text-anchor:middle;" fillcolor="@buttonColor;">
				<v:textbox style="mso-fit-shape-to-text:t" inset="10px,12px,10px,12px">
					<center style="font-size:14px;line-height:24px;color:@buttonTextColor;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:4px">
						@title
					</center>
				</v:textbox>
			</v:rect>
		<![endif]-->
	</div>
}
