.container-fluid {

	//Small hack to get the content go fully the sides
	padding: 0;

	.item {
		--content-padding: 0;
		margin-left: calc(var(--bs-gutter-x) / -2);
		margin-right: calc(var(--bs-gutter-x) / -2);
	}

	.item-inner,
	.item-fluid .item-inner {
		margin-left: var(--bs-gutter-x);
		margin-right: var(--bs-gutter-x);
	}
}

.container-compressed {
	max-width: 700px;
}