@include media-breakpoint-up( sm ) {

	.container-sm {

		padding-right: $grid-gutter-width / 2 !important;
		padding-left: $grid-gutter-width / 2 !important;
	}
}

@include media-breakpoint-up( md ) {

	.container-md {

		padding-right: $grid-gutter-width / 2 !important;
		padding-left: $grid-gutter-width / 2 !important;
	}
}

@include media-breakpoint-up( md ) {

	.container-lg {

		padding-right: $grid-gutter-width / 2 !important;
		padding-left: $grid-gutter-width / 2 !important;
	}
}

.container-compressed {
	max-width: 700px;
}
