.item {
	position:relative;
	height: 100%;
}

.has-background {

	.item-inner {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		padding-bottom: $grid-gutter-width;
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
	}
}

.g-0 {
	.item-inner {
		padding: $grid-gutter-width;
	}
}

.container-fluid {
	padding: 0;

	.item-inner,
	.item-fluid .item-inner {
		margin-left: var(--bs-gutter-x);
		margin-right: var(--bs-gutter-x);
	}
}
