:root {
	--content-padding: 0.75rem;
}

.item {
	position:relative;
	padding: var(--content-padding);
	background-clip: content-box;
	height: 100%;

	&-fluid {
		--content-padding: 0;
		margin-left: calc(var(--bs-gutter-x) / -2);
		margin-right: calc(var(--bs-gutter-x) / -2);
	}
}

@include media-breakpoint-between(xs, sm) {

	.item-fluid-sm {
		--content-padding: 0;
		margin-left: calc(var(--bs-gutter-x) / -2);
		margin-right: calc(var(--bs-gutter-x) / -2);
	}
}
