.header-divider-left-right {
	width: fit-content;
	margin: auto;

	.h1:before,
	.h1:after {
		position: absolute;
		top: 50%;
		overflow: hidden;
		width: 50%;
		height: 1px;
		content: '';
		border-top: 2px solid;
	}

	h1:before {
		margin-left: -50%;
		text-align: right;
	}
}
