// Section Header layout horizontal line styles

.background-horizontal-line div {
	display: inline-block;
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		border-top: 1px solid;
		top: 51%;
		width: 100vw;
	}

	&:before {
		right: 100%;
		margin-right: 15px;
	}

	&:after {
		left: 100%;
		margin-left: 15px;
	}
}
