.background-horizontal-line {
	line-height: 0.5;
	text-align: center;
}

.background-horizontal-line span {
	display: inline-block;
	position: relative;
}

.background-horizontal-line span:before,
.background-horizontal-line span:after {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 1px solid black;
	top: 50%;
	width: 100%;
}

.background-horizontal-line span:before {
	right: 100%;
	margin-right: 15px;
}

.background-horizontal-line span:after {
	left: 100%;
	margin-left: 15px;
}
