:root {
	--content-padding: 0.75rem;
}

/* This is only for initial testing */

main {

	.row > [ class^="col" ] {
		background-clip: padding-box;
	}
}

.test {

	.row > [ class^="col" ] {
		background-color: #e1e1e1;
	}

	.item [ class^="col" ] {
		background-color: #cecece;
	}
}