/* Text scaling */

@media ( min-width: 1200px ) {
	//Medium

	.text-scale-md .h1 {
		font-size: $h2-font-size;
	}

	.text-scale-md .h2 {
		font-size: $h3-font-size;
	}

	.text-scale-md .h3 {
		font-size: $h4-font-size;
	}

	//Small

	.text-scale-sm .h1 {
		font-size: $h3-font-size;
	}

	.text-scale-sm .h2 {
		font-size: $h4-font-size;
	}

	.text-scale-sm .h3 {
		font-size: $h5-font-size;
	}
}
