/* Text scaling */

@media ( min-width: 1200px ) {

	//Medium

	.text-scale-md .h1 {
		font-size: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	}

	.text-scale-md .h2 {
		font-size: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	}

	.text-scale-md .h3 {
		font-size: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	}

	.text-scale-md .display-1 {
		font-size: clamp(1rem, 1.625rem + 4.5vw, 4rem);
	}

	.text-scale-md .display-2 {
		font-size: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	}

	.text-scale-md .display-3 {
		font-size: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	}

	//Small

	.text-scale-sm .h1 {
		font-size: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	}

	.text-scale-sm .h2 {
		font-size: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	}

	.text-scale-sm .h3 {
		font-size: clamp(1rem, 1.25rem, 1.25rem);
	}

	.text-scale-sm .display-1 {
		font-size: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	}

	.text-scale-sm .display-2 {
		font-size: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	}

	.text-scale-sm .display-3 {
		font-size: clamp(1rem, 1.475rem + 2.7vw, 2.5rem);
	}
}
