<!doctype html>
<html lang="@Pageview.Area.CultureInfo.TwoLetterISOLanguageName" class="h-100">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex nofollow">
        <meta name="googlebot" content="noindex">
        <meta name="googlebot-news" content="nosnippet">

        <title>@Model.Title</title>

        <!-- R4 Styles -->
        <link href="~/Files/Templates/Designs/R4/Assets/css/r4.min.css" rel="stylesheet" type="text/css">
    </head>

    <body class="d-flex flex-column min-vh-100">
    
        <main id="page-content" class="overflow-hidden">
            @ContentPlaceholder()
        </main>
    
        <!-- R4 Scripts -->
        <script src="~/Files/Templates/Designs/R4/Assets/js/r4.min.js" type="text/javascript"></script>
    </body>

</html>
