<!doctype html>
<html lang="en">

<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <!-- Font awesome -->
    <link rel="stylesheet" href="/Files/Templates/Designs/R4/assets/icons/fontawesome/pro/css/all.min.css" type="text/css">

    <!-- Rapido and Bootstrap -->
    <link href="~/Files/Templates/Designs/R4/Assets/css/rapido/rapido.min.css" rel="stylesheet">
</head>

<body>

    <div id="page" class="page">
        <main id="page-content" class="overflow-hidden">
            @ContentPlaceholder()
        </main>
    </div>

    <!-- Scripts -->
    <script src="/Files/Templates/Designs/R4/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Files/Templates/Designs/R4/Assets/js/tiny-slider.js"></script>
</body>

</html>