@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using Dynamicweb.Content.Items
@using Dynamicweb.Ecommerce.ProductCatalog

@MasterPageFile("Master.cshtml")

@{ 
	string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = "theme theme-" + theme;
	}
}

<div class="checkout @theme">
	@Model.Grid("Grid", "Grid", "default:true;sort:1", "Page")
</div>
