@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using Dynamicweb.Content.Items
@using Dynamicweb.Ecommerce.ProductCatalog

@MasterPageFile("Master.cshtml")

@{ 
	string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}

<div class="checkout theme theme-@theme">
	@Model.Grid("Grid", "Grid", "default:true;sort:1", "Page")
</div>
