@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@using Dynamicweb.Content.Items
@using Dynamicweb.Ecommerce.ProductCatalog

@MasterPageFile("MasterNoLayout.cshtml")

@{
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
}

@* Extra spacing in the top of the document, to make it easier to work with the visual editor *@
@if (isVisualEditor) {
	<div style="height: 120px"></div>
}

@Model.Grid("Grid", "Grid", "default:true;sort:1", "Page")
