@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@MasterPageFile("Master.cshtml")

@{
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
	string gridContent = @Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
}

@if (theme != "")
{
	<div class="@theme">
		@gridContent
	</div>
}
else
{
	@gridContent
}

