@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@MasterPageFile("Master.cshtml")

@{
	string theme = !string.IsNullOrEmpty(Model.Item.GetRawValueString("Theme")) ? Model.Item.GetRawValueString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = "theme theme-" + theme;
	}
	else
	{
		theme = "";
	}

	string gridContent = @Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
}

@if (theme != "")
{
	<div class="@theme">
		@gridContent
	</div>
}
else
{
	@gridContent
}

