@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

<style>
	.theme-option {
		border-radius: 2px;
		padding: 0.5em;
	}

		.theme-option .btn {
			padding: 0.25rem 0.5rem;
			font-size: 0.875rem;
		}
</style>

@MasterPageFile("MasterNoLayout.cshtml")

<div class="container my-5">
	<div class="row g-3 mb-5 pb-3 text-center border-bottom">
		<div class="col">
			<h1 class="h1">@Translate("Themes") </h1>
			<div class="lead">@Translate("Take full control of all the colors")</div>
		</div>
	</div>
	<div class="row g-3">
		@Model.Placeholder("content", "content", "default:true;sort:1")
	</div>
</div>

@{
	string tmpPath = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_theme_styles_{Model.Area.ID}.tmp");

	string cssPathTheme = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_theme_styles_{Model.Area.ID}.css");
	string cssPathBranding = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_branding_styles_{Model.Area.ID}.css");
	string cssPathCombined = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_styles_{Model.Area.ID}.min.css");

	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(tmpPath), cssPathTheme, false);
	System.IO.File.Delete(tmpPath);

	string combinedCss = Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathBranding);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathTheme);
	combinedCss = combinedCss.Replace(Environment.NewLine, "");
	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(combinedCss, cssPathCombined, false);
}
