@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

<style>
	.theme-option {
		border-radius: 2px;
		padding: 0.5em;
	}
	.theme-option .btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
	}
</style>

@MasterPageFile("MasterNoLayout.cshtml")

<div class="container my-5" style="max-width: 400px">
	<div class="row g-3">
		<div class="col">
			<h1 class="mb-5 pb-3 h1 text-center border-bottom">@Translate("Themes") </h1>
		</div>
	</div>
	<div class="row g-3">
		@Model.Placeholder("content", "content", "default:true;sort:1")
	</div>
</div>

@{ 
	string tmpPath = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_theme_styles_{Model.Area.ID}.tmp");
	string cssPath = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/R4/_parsed/R4_css/R4_theme_styles_{Model.Area.ID}.css");
	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(tmpPath), cssPath, false);
	System.IO.File.Delete(tmpPath);
}
