@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Ecommerce.Prices

@functions {
	private List<string> GetTruncatedPagination(int current, int last)
	{
		List<string> RangeWithDots = new List<string>();

		var delta = 2;
		var left = current - delta;
		var right = current + delta + 1;
		List<int> range = new List<int>();
		var count = 0;

		for (var i = 1; i <= last; i++)
		{
			if (i == 1 || i == last || (i >= left && i <= right))
			{
				range.Add(i);
			}
			else if (i < left)
			{
				i = left - 1;
			}
			else if (i > right)
			{
				range.Add(last);
				break;
			}
		}

		foreach (var i in range)
		{
			int pageNumber;

			if (i - count == 2)
			{
				pageNumber = count + 1;
				RangeWithDots.Add(pageNumber.ToString());
			}
			else if (i - count != 1)
			{
				RangeWithDots.Add("...");
			}

			pageNumber = i;
			RangeWithDots.Add(pageNumber.ToString());

			count = i;
		}

		return RangeWithDots;
	}
}

<nav class="p-2 mt-3">
	<ul class="pagination m-0">
		@{
			var customerCenterPages = GetLoop("Ecom:IntegrationCustomerCenter.Paging.Pages");
			var currentPageNumber = 0;
			foreach (LoopItem page in customerCenterPages)
			{
				currentPageNumber = page.GetString("Ecom:IntegrationCustomerCenter.Paging.PageClass") == "currentPage" ? page.GetInteger("Ecom:IntegrationCustomerCenter.Paging.PageIndex") : currentPageNumber;
			}
		}

		@foreach (var trunkPage in GetTruncatedPagination(currentPageNumber, customerCenterPages.Count()))
		{
			foreach (LoopItem nodePage in customerCenterPages)
			{
				if (trunkPage == nodePage.GetString("Ecom:IntegrationCustomerCenter.Paging.PageIndex").ToString())
				{
					string isActive = nodePage.GetString("Ecom:IntegrationCustomerCenter.Paging.PageClass") == "currentPage" ? "active" : "";

					<li class="page-item @(isActive)">
						<a href="@nodePage.GetString("Ecom:IntegrationCustomerCenter.Paging.PageIndexUrl")" class="page-link">
							@nodePage.GetString("Ecom:IntegrationCustomerCenter.Paging.PageIndex")
						</a>
					</li>
				}
			}

			if (trunkPage == "...")
			{
				<li class="page-item">
					<div class="page-link">
						@trunkPage
					</div>
				</li>
			}
		}
	</ul>
</nav>
