@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    var pages = GetLoop("Ecom:IntegrationCustomerCenter.PagesLoop");
}

@if (pages.Count > 1) {
    <ul class="nav nav-tabs mt-4 mb-3">
        @foreach (LoopItem nodePage in pages)
        {
            bool isActive = nodePage.GetString("Ecom:IntegrationCustomerCenter.PageMenuName") == GetString("Ecom:IntegrationCustomerCenter.PageMenuName");
            <li class="nav-item">
                <a href="@nodePage.GetString("Ecom:IntegrationCustomerCenter.PageLink")" aria-current="page" class="nav-link @(isActive ? "active" : "")">@nodePage.GetString("Ecom:IntegrationCustomerCenter.PageMenuName")</a>
            </li>
        }
    </ul>
}

@GetValue("Ecom:IntegrationCustomerCenter.PageContent")
