@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<ul class="nav nav-tabs">
    @foreach (LoopItem page in GetLoop("Ecom:IntegrationCustomerCenter.PagesLoop"))
    {
        bool isActive = page.GetString("Ecom:IntegrationCustomerCenter.PageMenuName") == GetString("Ecom:IntegrationCustomerCenter.PageMenuName");
        
        <li class="nav-item">
            <a href="@page.GetString("Ecom:IntegrationCustomerCenter.PageLink")" aria-current="page" class="nav-link @(isActive ? "active" : "")">@page.GetString("Ecom:IntegrationCustomerCenter.PageMenuName")</a>
        </li>
    }
</ul>

@GetValue("Ecom:IntegrationCustomerCenter.PageContent")
