<style type="text/css">
    .login-pane .head small {
        font-size: 65%;
        line-height: 1;
        color: #777;
        text-transform: initial;
    }

    .login-pane form {
        margin: 10px 0px;
    }

    .login-pane .pr-field {
        margin: 4px;
    }

    .pr-field label.title {
        display: inline-block;
        width: 120px;
        text-align: right;
        margin-right: 4px;
    }

    .pr-field input {
        width: 200px;
    }

    .pr-field label.error {
        color: #a94442;
    }

    .pr-field.commands {
        width: 330px;
        display: inline-block;
        text-align: right;
    }

    .info-pane.error {
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #ffebe8;
        border: 1px solid #a94442;
    }
</style>

<div class="login-pane">
    <h3 class="head">Login</h3>
    <!--@If(DW_extranet_error_uk<defined>)-->
    <div class="info-pane error"><!--@DW_extranet_error_uk--></div>
    <!--@EndIf-->

    <form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
        <input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />
        <!--@If Defined(UserManagement:User.Login.SuccessRedirectToPage)-->
        <input type="hidden" name="Redirect" value="<!--@UserManagement:User.Login.SuccessRedirectToPage-->" />
        <!--@EndIf-->
        <div class="pr-field">
            <label class="title" for="login-username">
                User name:
            </label>
            <input type="text" id="login-username" name="username" value="<!--@If(Server:Request.username<defined>)--><!--@Server:Request.username--><!--@EndIf-->" />
        </div>
        <div class="pr-field">
            <label class="title" for="login-password">
                Password:
            </label>
            <input type="password" id="login-password" name="password" value="<!--@If(Server:Request.password<defined>)--><!--@Server:Request.password--><!--@EndIf-->" />
        </div>
        <div class="pr-field commands">
            <a href="/Default.aspx?id=<!--@Global:Page.ID-->&amp;LoginAction=Recovery">Forgot your password?</a>
            <button type="submit" name="LoginAction" value="Login">Submit</button>
        </div>
    </form>
</div>