<style type="text/css">
    .login-pane .head small {
        font-size: 65%;
        line-height: 1;
        color: #777;
        text-transform: initial;
    }

    .login-pane form {
        margin: 10px 0px;
    }

    .login-pane .pr-field {
        margin: 4px;
    }

    .pr-field label.title {
        display: inline-block;
        width: 120px;
        text-align: right;
        margin-right: 4px;
    }

    .pr-field input {
        width: 200px;
    }

    .pr-field label.error {
        color: #a94442;
    }

    .pr-field.commands {
        width: 330px;
        display: inline-block;
        text-align: right;
    }

    .info-pane.error {
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #ffebe8;
        border: 1px solid #a94442;
    }

    .info-pane {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 10px;
    }

        .info-pane .title {
            line-height: 20px;
            min-height: 20px;
            padding-bottom: 2px;
            vertical-align: bottom;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5em;
            font-size: 16px;
        }

        .info-pane .body {
            padding-top: 20px;
        }
</style>
<div class="login-pane">
    <!--@If(UserManagement:User.Login.Action=Recovery)-->
    <h3 class="head">
        Get back into your account
        <br />
        <small>
            We can help you reset your password and security info. First, fill all fields bellow
        </small>
    </h3>

    <form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
        <input type="hidden" name="ForgotPasswordMailTemplate" value="<!--@UserManagement:User.Login.EmailTemplate-->" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="<!--@UserManagement:User.Login.EmailSender-->" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="<!--@UserManagement:User.Login.EmailSubject-->" />
        <!--@If(UserManagement:User.Login.FoundUsersCount=0 || UserManagement:User.Login.FoundUsersCount>1)-->
        <div class="info-pane error">User not found!</div>
        <!--@EndIf-->
        <!--@LoopStart(UserManagement:User.Login.Fields)-->
        <div class="pr-field">
            <label class="title" for="<!--@Field.Name-->">
                <!--@Field.Title-->:
            </label>
            <!--@Field.Input-->
            <!--@If Defined(Field.Error)-->
            <label class="error" for="<!--@Field.Name-->"><!--@Field.Error--></label>
            <!--@EndIf-->
        </div>
        <!--@LoopEnd(UserManagement:User.Login.Fields)-->
        <div class="pr-field commands">
            <button type="submit" name="LoginAction" value="Recovery">Submit</button>
        </div>
    </form>
    <!--@EndIf-->

    <!--@If(UserManagement:User.Login.Action=RecoveryLinkSent)-->
    <div class="info-pane">
        <div class="title">Check Your Email</div>
        <div class="body">
            Check your email - we sent you an email with a link. Click it to continue to reset your password.
        </div>
    </div>
    <!--@EndIf-->

    <!--@If(UserManagement:User.Login.Action=NewPasswordForm)-->
    <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser!=True)-->
    <div class="info-pane">
        <div class="title">Uh oh! Something went wrong.</div>
        <div class="body">
            Try recover password <a href="/default.aspx?id=<!--@Global:Page.ID-->">again<a>.
        </div>
    </div>
    <!--@EndIf-->
    <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser=True && UserManagement:User.Login.RecoveryToken.OutOfDate=True)-->
    <div class="info-pane">
        <div class="title">The recovery password link out of date.</div>
        <div class="body">
            The recovery password link out of date. Try recover password <a href="/default.aspx?id=<!--@Global:Page.ID-->">again<a>.
        </div>
    </div>
    <!--@EndIf-->
    <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser=True && UserManagement:User.Login.RecoveryToken.OutOfDate!=True)-->
    <h3 class="head">
        Choose a new password
        <br />
        <small>
            <strong>Notice:</strong> A strong password is a combination of letters and punctuation marks.
        </small>
    </h3>
    <form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
        <input type="hidden" name="RecoveryToken" value="<!--@UserManagement:User.Login.RecoveryToken-->" />
        <input type="hidden" name="ForgotPasswordMailTemplate" value="<!--@UserManagement:User.Login.EmailTemplate-->" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="<!--@UserManagement:User.Login.EmailSender-->" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="<!--@UserManagement:User.Login.EmailSubject-->" />

        <div class="pr-field">
            <label class="title" for="<!--@UserManagement:User.Login.Field.NewPassword.Name-->">
                New Password:
            </label>
            <!--@UserManagement:User.Login.Field.NewPassword.Input-->
            <!--@If Defined(UserManagement:User.Login.Field.NewPassword.Error)-->
            <label class="error" for="<!--@UserManagement:User.Login.Field.NewPassword.Name-->"><!--@UserManagement:User.Login.Field.NewPassword.Error--></label>
            <!--@EndIf-->
        </div>
        <div class="pr-field">
            <label class="title" for="<!--@UserManagement:User.Login.Field.NewPasswordConfirm.Name-->">
                Confirm Password:
            </label>
            <!--@UserManagement:User.Login.Field.NewPasswordConfirm.Input-->
            <!--@If Defined(UserManagement:User.Login.Field.NewPasswordConfirm.Error)-->
            <label class="error" for="<!--@UserManagement:User.Login.Field.NewPasswordConfirm.Name-->"><!--@UserManagement:User.Login.Field.NewPasswordConfirm.Error--></label>
            <!--@EndIf-->
        </div>
        <div class="pr-field commands">
            <button type="submit" name="LoginAction" value="ChangePassword">Submit</button>
        </div>
    </form>
    <!--@EndIf-->
    <!--@EndIf-->

    <!--@If(UserManagement:User.Login.Action=PasswordChanged)-->
    <div class="info-pane">
        <div class="title">Congratulations!</div>
        <div class="body">
            Password changed
        </div>
    </div>
    <!--@EndIf-->
</div>