/* Image filters */

.image-filter {

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--swift-background-color);
		opacity: 0.3;
	}
} 
