  <div class="box-rounded dynamicweb-loyaltypoints" >
	<legend class="box-headline">
		<h3>
			<!--@Translate(Transactions, "Transactions")-->
		</h3>
	</legend>

      <table class="table">
        <tbody>
        <tr>
          <td>ID</td>
          <td>Points</td>
          <td>Date</td>
          <td>Expiration</td>
          <td>Comment</td>
        </tr>
		<!--@LoopStart(Ecom:LoyaltyPoints.TransactionList)-->
        <tr>
          <td><a href="<!--@Ecom:LoyaltyPoints.Transaction.DetailsUrl-->"><!--@Ecom:LoyaltyPoints.Transaction.ID--></a></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Points--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Date--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.ExpirationDate--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Comment--></td>
        </tr>
		<!--@LoopEnd(Ecom:LoyaltyPoints.TransactionList)-->
        </tbody>
          <tfoot>
              <th colspan="5">
                  <!--@If Defined(Ecom:LoyaltyPoints.TransactionList.PrevPageUrl)-->
                  <a href="<!--@Ecom:LoyaltyPoints.TransactionList.PrevPageUrl-->"><!--@Translate(Previous, "Previous")--></a> | 
                  <!--@EndIf(Ecom:LoyaltyPoints.TransactionList.PrevPageUrl)-->
                  <!--@Translate(Page, "Page")--> #<!--@Ecom:LoyaltyPoints.TransactionList.CurrentPage-->
                  <!--@If Defined(Ecom:LoyaltyPoints.TransactionList.NextPageUrl)-->
                   | <a href="<!--@Ecom:LoyaltyPoints.TransactionList.NextPageUrl-->"><!--@Translate(Next, "Next")--></a>
                  <!--@EndIf(Ecom:LoyaltyPoints.TransactionList.NextPageUrl)-->
              </th>
          </tfoot>
      </table>

    <div><!--@Ecom:LoyaltyPoints.TransactionList.FirstPage--> <!--@Ecom:LoyaltyPoints.TransactionList.LastPage--></div>
    <div><!--@Ecom:LoyaltyPoints.TransactionList.PrevPageUrl--> <!--@Ecom:LoyaltyPoints.TransactionList.NextPageUrl--></div>
    <div><!--@Translate(Page, "Page")--> #<!--@Ecom:LoyaltyPoints.TransactionList.CurrentPage--> <!--@Translate(from, "from")--> <!--@Ecom:LoyaltyPoints.TransactionList.PageCount--></div> 
    <div><!--@Translate(Page_size, "Page size")--> : <!--@Ecom:LoyaltyPoints.TransactionList.PageSize--></div>
    <div><!--@Translate(Transaction_count, "Transaction count")--> : <!--@Ecom:LoyaltyPoints.TransactionList.TransactionCount--></div>
</div>

