@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string layout = Model.Item.GetRawValueString("Layout", "text-start");
	layout = layout == "text-start" ? "align-items-start text-start" : layout;
	layout = layout == "text-center" ? "align-items-center text-center" : layout;
	layout = layout == "text-end" ? "align-items-end text-end" : layout;


	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");
}

<div class="h-100 @(contentPadding)@(theme) item_@Model.Item.SystemName.ToLower()">
	@if (Pageview.User != null)
	{
		<div class="h-100 @(layout)">
			<h2 class="@titleFontSize m-0">@Translate("Hi") @Pageview.User.Name</h2>
		</div>
	}
</div>
