@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	var name = Model.Item.GetString("Name");
	var css = Model.Item.GetRawValueString("CSS");
	var cssList = Model.Item.GetList("Class");
	var cssString  = cssList.SelectedValues.Count() > 0 ? cssList.SelectedValues.Aggregate((x, y) => x + " " + y) : string.Empty;  
	bool renderCss = !string.IsNullOrEmpty(name) || !string.IsNullOrEmpty(css);

	if (renderCss)
	{
		var sb = new System.Text.StringBuilder();

		sb.AppendLine(css);

		Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(sb.ToString() + Environment.NewLine, Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_css_styles_{Dynamicweb.Content.Services.Pages.GetPage(Model.PageID).AreaId}.tmp"), true);
	}
}

@if (renderCss)
{
	<div class="card">
		<div class="card-body">
			<h4 class="fs-6 border-bottom">@name</h4>

			<span class="d-block"><code>@($"{cssString}")</code></span>

			<h6 class="mt-3 border-bottom">Css</h6>
			<div class="py-2 px-3 rounded-2 bg-light">
				<pre class="my-2"><code>@css</code></pre>
			</div>
		</div>
	</div>
}
