<?xml version="1.0"?>
<!-- Make a copy of this file and name it Database.config and Database should be named the same as the solution -->
<Globalsettings>
  <System>
	<Database>
	  <Password>qa</Password>
	  <Type>ms_sqlserver</Type>
	  <UserName>qa</UserName>
	  <Database>rapido4prototype</Database>
	  <SQLServer>localhost</SQLServer>
	  <DWWebIP>
	  </DWWebIP>
	  <SQLServer2>
	  </SQLServer2>
	  <Database2>
	  </Database2>
	  <UserName2>
	  </UserName2>
	  <Password2>
	  </Password2>
	  <IntegratedSecurity>False</IntegratedSecurity>
	  <ConnectionString>
	  </ConnectionString>
	  <ConnectionString2>
	  </ConnectionString2>
	  <Translation>
		<ConnectionString>
		</ConnectionString>
		<UserName>
		</UserName>
		<Database>
		</Database>
		<SQLServer>
		</SQLServer>
		<Password>
		</Password>
	  </Translation>
	  <DateFormat>
	  </DateFormat>
	</Database>
 </System>
</Globalsettings>