<?xml version="1.0"?>
<Globalsettings>
  <Settings>
    <CommonInformation>
      <SolutionTitle>
      </SolutionTitle>
      <Partner>Dynamicweb Software A/S</Partner>
      <Email>noreply@dynamicweb.dk</Email>
      <CopyrightMetaInformation>Dynamicweb Software A/S</CopyrightMetaInformation>
    </CommonInformation>
    <TextEditor>
      <UseProviderBasedEditors>True</UseProviderBasedEditors>
    </TextEditor>
    <Paragraph>
      <MaximumLockingInMinutes>15</MaximumLockingInMinutes>
      <HideSpaceSetting>True</HideSpaceSetting>
      <RequireAltAndTitle>False</RequireAltAndTitle>
      <EnableAlignmentOnParagraphImages>False</EnableAlignmentOnParagraphImages>
      <DisableStandard>True</DisableStandard>
      <SpacesBeforeParagraph>0</SpacesBeforeParagraph>
      <SpaceMode>none</SpaceMode>
      <EnableFocalPoints>True</EnableFocalPoints>
    </Paragraph>
    <Performance>
      <AllNavigationImagesInTheSameJavascript>False</AllNavigationImagesInTheSameJavascript>
      <ActivateDublinCore>False</ActivateDublinCore>
      <ActivateMouseoverTextsOnMenuItems>False</ActivateMouseoverTextsOnMenuItems>
      <ActivateTitleTextsOnMenuItems>False</ActivateTitleTextsOnMenuItems>
      <DeactivateBrowserCache>False</DeactivateBrowserCache>
      <DeactivateParagraphAnchor>True</DeactivateParagraphAnchor>
      <MinifyMarkup>False</MinifyMarkup>
      <RemoveEmptyLines>True</RemoveEmptyLines>
    </Performance>
    <CustomerAccess>
      <LockStylesheet>False</LockStylesheet>
      <LockTemplateFolder>False</LockTemplateFolder>
      <LockNavigationFolder>False</LockNavigationFolder>
      <LockSystemFolder>False</LockSystemFolder>
      <ShowAreabox>True</ShowAreabox>
      <LockDeveloperTools>False</LockDeveloperTools>
      <LockMgmtCenter>False</LockMgmtCenter>
      <HideRememberFeatures>False</HideRememberFeatures>
      <LockAccessToItems>True</LockAccessToItems>
    </CustomerAccess>
    <MyPage>
      <HideStat>False</HideStat>
    </MyPage>
    <PageNotFound>
      <RedirectTo>
      </RedirectTo>
    </PageNotFound>
    <DynamicwebLoginUrl>www.dynamicweb.dk</DynamicwebLoginUrl>
    <IE8>
      <Mode>IE8Standards</Mode>
    </IE8>
    <Page>
      <Edit>
        <ShowLogoAlt>False</ShowLogoAlt>
        <DisablePopupCalendar>False</DisablePopupCalendar>
      </Edit>
      <ContentTypes>text/html,application/atom+xml,text/css,text/javascript,image/jpeg,application/json,application/pdf,application/rss+xml; charset=ISO-8859-1,text/plain,text/xml</ContentTypes>
      <DisableStandard>True</DisableStandard>
      <DefaultPagePublishingMode>Published</DefaultPagePublishingMode>
    </Page>
    <ContentEditor>
      <UseNew>True</UseNew>
      <ParagraphList>
        <ShowUpdatedDate>True</ShowUpdatedDate>
        <ShowUpdatedUser>True</ShowUpdatedUser>
        <ShowValidTo>False</ShowValidTo>
        <ShowValidFrom>False</ShowValidFrom>
      </ParagraphList>
      <UseSimpleParagraphList>False</UseSimpleParagraphList>
      <UseNavigationCancel>False</UseNavigationCancel>
    </ContentEditor>
    <DwInclude>
      <DisablePerformanceComment>True</DisablePerformanceComment>
      <DisableHrefNameParser>True</DisableHrefNameParser>
      <DisableDwscript>True</DisableDwscript>
      <EnablePageAndParagraphCompatibilityParsing>False</EnablePageAndParagraphCompatibilityParsing>
      <DisableDebug>False</DisableDebug>
    </DwInclude>
    <Designs>
      <IgnoreAllModuleJsAndCss>False</IgnoreAllModuleJsAndCss>
      <UseOnlyDesignsAndLayouts>True</UseOnlyDesignsAndLayouts>
      <DoNotIncludeBaseHref>True</DoNotIncludeBaseHref>
      <OptimizeNavigationXml>True</OptimizeNavigationXml>
    </Designs>
    <Logging>
      <Disable71Logging>True</Disable71Logging>
      <DBRetentionSettings>
        <ColumnNameAudit>AuditTimestamp</ColumnNameAudit>
        <RetentionAudit>1095</RetentionAudit>
        <TableNames>Audit</TableNames>
      </DBRetentionSettings>
    </Logging>
    <Updates>
      <DisableTemplateUpdates>False</DisableTemplateUpdates>
    </Updates>
    <LastSeenVersion>
      <Version>9.0.0.0</Version>
    </LastSeenVersion>
    <Dictionary>
      <HideOldTranslationButton>false</HideOldTranslationButton>
      <DisableTranslationMarksForAngel>true</DisableTranslationMarksForAngel>
    </Dictionary>
    <Ecom>
      <SmartSearch>
        <AvailableIndexes>Products.index|Products|</AvailableIndexes>
        <DefaultIndex>Products.index|ProductsBackend</DefaultIndex>
        <SuggestionQuery1>
        </SuggestionQuery1>
        <SuggestionQuery2>
        </SuggestionQuery2>
        <SuggestionQuery3>
        </SuggestionQuery3>
        <DefaultIndexFreeTextField>
        </DefaultIndexFreeTextField>
        <UseDefaultIndexForProductSelectorSearch>True</UseDefaultIndexForProductSelectorSearch>
      </SmartSearch>
      <PIM>
        <UseContainsExtendedInQueries>False</UseContainsExtendedInQueries>
        <QueryAdditionalLimitedSearchFields>
        </QueryAdditionalLimitedSearchFields>
        <GroupAllProductsFreeTextSearchFields>
        </GroupAllProductsFreeTextSearchFields>
      </PIM>
    </Ecom>
    <ImageHandler>
      <CacheHours>2880</CacheHours>
      <Send404IfMissingImage>False</Send404IfMissingImage>
      <DefaultWebPQuality>
      </DefaultWebPQuality>
      <Providers>
        <ImageConverterProvider>Dynamicweb.Imaging.Providers.ImageSharpProviders.ImageSharpImageConverterProvider</ImageConverterProvider>
        <ImageSizeProvider>Dynamicweb.Imaging.Providers.ImageSharpProviders.ImageSharpImageSizeProvider</ImageSizeProvider>
        <ImageAttributesProvider>Dynamicweb.Imaging.Providers.ImageSharpProviders.ImageSharpImageAttributesProvider</ImageAttributesProvider>
        <ImageMetadataProvider>Dynamicweb.Imaging.Providers.MetadataExtractorProviders.MetadataExtractorImageMetadataProvider</ImageMetadataProvider>
      </Providers>
    </ImageHandler>
    <ProviderBasedEditor>
      <EcomDescriptionEditorConfigID>1</EcomDescriptionEditorConfigID>
      <EcomTeaserEditorConfigID>1</EcomTeaserEditorConfigID>
      <DataProcessingDescriptionEditorConfigID>1</DataProcessingDescriptionEditorConfigID>
    </ProviderBasedEditor>
    <Permissions>
      <UseNew>True</UseNew>
    </Permissions>
    <Auditing>
      <EnableAuditing>False</EnableAuditing>
    </Auditing>
    <Modules>
      <ThrowExceptionOnOutputError>False</ThrowExceptionOnOutputError>
    </Modules>
    <Templates>
      <ThrowExceptionOnOutputError>False</ThrowExceptionOnOutputError>
      <ShowFriendlyErrormessageOnOutputError>False</ShowFriendlyErrormessageOnOutputError>
      <FriendlyErrormessageOnOutputError>
      </FriendlyErrormessageOnOutputError>
    </Templates>
    <CookieManager>
      <DisableTrackingCookies>True</DisableTrackingCookies>
      <DeleteJsTrackingCookies>False</DeleteJsTrackingCookies>
      <UserNotification>False</UserNotification>
      <ShowWarnings>True</ShowWarnings>
      <WarningTemplate>Cookies.cshtml</WarningTemplate>
      <TrackingCookies>
      </TrackingCookies>
      <DisableHttpOnlyCookies>False</DisableHttpOnlyCookies>
      <SecureAllCookies>False</SecureAllCookies>
      <SecureCookies>
      </SecureCookies>
      <CookieLifetime>365</CookieLifetime>
      <UseDomainAndNotHost>0</UseDomainAndNotHost>
      <UseDomainAndNotHostNew>False</UseDomainAndNotHostNew>
      <Categories>Functional,Statistical,Marketing</Categories>
      <CategoryCookies>
        <StatisticalCookies>
        </StatisticalCookies>
        <FunctionalCookies>
        </FunctionalCookies>
        <StrictlyNecessary>
        </StrictlyNecessary>
        <Functional>Dynamicweb:Ecom:CartSavedForLater,Login.eLoginAutoLogin,Login.eLoginchk,Login.eLoginPassword,Login.eLoginPasswordCrypt,Login.eLoginUser,Login.selectedArea,Login.selectedLanguage</Functional>
        <Marketing>
        </Marketing>
        <Statistical>SessionVisitor,VisitorDynamics,VisitorSessionID</Statistical>
      </CategoryCookies>
    </CookieManager>
  </Settings>
  <Modules>
    <Filemanager>
      <FilesInDropdown>150</FilesInDropdown>
      <RememberFolder>
        <Timeout>500</Timeout>
      </RememberFolder>
      <AutoResize>
        <JpegCompression>90</JpegCompression>
        <GifColors>256</GifColors>
      </AutoResize>
    </Filemanager>
    <Users>
      <PasswordExpireDays>never</PasswordExpireDays>
      <ReusePassword>
        <AfterNumberOfTimes>0</AfterNumberOfTimes>
        <AfterNumberOfDays>allways</AfterNumberOfDays>
      </ReusePassword>
      <PasswordSecurity>medium</PasswordSecurity>
      <MinimumOfCharacters>0</MinimumOfCharacters>
      <PasswordMode>show</PasswordMode>
      <NumberOfLines>12</NumberOfLines>
      <UseInAdministration>1</UseInAdministration>
      <EncryptPassword>1</EncryptPassword>
      <UseExtendedComponent>False</UseExtendedComponent>
      <WithSearchOption>False</WithSearchOption>
      <SecureFolderName>
      </SecureFolderName>
      <AutoLoginCookie>
        <ValideForDays>
        </ValideForDays>
      </AutoLoginCookie>
      <Impersonation>Full</Impersonation>
      <ImpersonationFullExceptPermissions>False</ImpersonationFullExceptPermissions>
      <AutoBuildIndex>1</AutoBuildIndex>
      <IndexName>Secondary users/Users.index</IndexName>
      <ShowPasswordIfPresent>False</ShowPasswordIfPresent>
      <EncryptPasswordHash>SHA512</EncryptPasswordHash>
    </Users>
    <Extranet>
      <PasswordExpireDays>never</PasswordExpireDays>
      <ReusePassword>
        <AfterNumberOfTimes>0</AfterNumberOfTimes>
        <AfterNumberOfDays>allways</AfterNumberOfDays>
      </ReusePassword>
      <PasswordSecurity>medium</PasswordSecurity>
      <MinimumOfCharacters>0</MinimumOfCharacters>
      <UseWithExtranet>1</UseWithExtranet>
      <EncryptPassword>1</EncryptPassword>
      <EncryptPasswordHash>SHA512</EncryptPasswordHash>
    </Extranet>
    <LanguagePack>
      <DefaultLanguage>2</DefaultLanguage>
    </LanguagePack>
    <Statistics>
      <RemoteHostVariable>
      </RemoteHostVariable>
      <DisablePageStatistics>False</DisablePageStatistics>
      <DisableStatistics>True</DisableStatistics>
    </Statistics>
    <OMC>
      <LeadStates>Received a call,Email sent</LeadStates>
      <LeadsListPayload>0</LeadsListPayload>
      <Notifications>
        <ReportsSendInterval>7</ReportsSendInterval>
        <ReportsSendFrom>3</ReportsSendFrom>
        <ReportsSendTo>5</ReportsSendTo>
        <ReturningVisitorsSendTo>5</ReturningVisitorsSendTo>
        <ReturningVisitorsSendFrom>3</ReturningVisitorsSendFrom>
        <ReturningVisitorsSendInterval>1</ReturningVisitorsSendInterval>
        <SplitTestsSendInterval>7</SplitTestsSendInterval>
        <SplitTestsSendFrom>3</SplitTestsSendFrom>
        <SplitTestsSendTo>5</SplitTestsSendTo>
        <SplitTestsSendCRThreshold>5</SplitTestsSendCRThreshold>
        <SplitTestsSendImprovementLimit>20</SplitTestsSendImprovementLimit>
        <ReturningVisitorsLastSent>20-01-2021 03:34:46</ReturningVisitorsLastSent>
      </Notifications>
      <VisitorEngagement>
        <TimeFrame>14</TimeFrame>
        <Pageviews>15</Pageviews>
        <PageviewsPoints>5</PageviewsPoints>
        <NumberOfVisits>10</NumberOfVisits>
        <NumberOfVisitsPoints>7</NumberOfVisitsPoints>
        <LastVisit>2</LastVisit>
        <LastVisitPoints>8</LastVisitPoints>
        <SearchContains>
        </SearchContains>
        <SearchContainsPoints>0</SearchContainsPoints>
        <InteractionSubmitForm>9</InteractionSubmitForm>
        <InteractionPlaceOrder>10</InteractionPlaceOrder>
        <InteractionViewProduct>8</InteractionViewProduct>
        <InteractionDownloadFile>7</InteractionDownloadFile>
        <InteractionSearch>6</InteractionSearch>
        <InteractionViewNews>5</InteractionViewNews>
        <InteractionUnknown>
        </InteractionUnknown>
        <InteractionAddToCart>
        </InteractionAddToCart>
        <Disable>False</Disable>
      </VisitorEngagement>
      <IgnoreProviders>TDC</IgnoreProviders>
      <LeadsListKeepTemporarilyApproved>True</LeadsListKeepTemporarilyApproved>
      <EmailEngagement>
        <OpenMail>5</OpenMail>
        <ClickLink>10</ClickLink>
        <AddingProductsToCart>20</AddingProductsToCart>
        <SigningNewsletter>16</SigningNewsletter>
        <UnsubscribesNewsletter>-20</UnsubscribesNewsletter>
      </EmailEngagement>
      <EmailMarketing>
        <DefaultRecipientsListCount>-1</DefaultRecipientsListCount>
      </EmailMarketing>
    </OMC>
    <UserManagement>
      <EncryptNewPasswords>true</EncryptNewPasswords>
      <UploadedImages>
        <EnableMaxWidth>False</EnableMaxWidth>
        <EnableMaxHeight>False</EnableMaxHeight>
        <DefineWhere>Globally</DefineWhere>
        <ImagesFolder>/Billeder/UM</ImagesFolder>
        <MaxWidth>
        </MaxWidth>
        <MaxHeight>
        </MaxHeight>
      </UploadedImages>
      <UploadedCustomFiles>
        <DefineWhere>OnUser</DefineWhere>
        <FilesFolder>/Files</FilesFolder>
      </UploadedCustomFiles>
      <ExtranetPasswordSecurity>
        <PeriodLoginFailure>10</PeriodLoginFailure>
        <BlockingPeriod>10</BlockingPeriod>
        <LoginAttempts>3</LoginAttempts>
        <RecoveryTokenTimeout>24</RecoveryTokenTimeout>
        <SecurityEnable>False</SecurityEnable>
      </ExtranetPasswordSecurity>
      <UserSmartSearchesCahceRecalculatingInterval>1</UserSmartSearchesCahceRecalculatingInterval>
      <SendDetails>
        <Subject>
        </Subject>
        <SenderName>
        </SenderName>
        <SenderEmail>
        </SenderEmail>
        <Template>
        </Template>
        <Template_path>
        </Template_path>
      </SendDetails>
    </UserManagement>
    <LanguageManagement>
      <DeactivateParagraphOnNew>False</DeactivateParagraphOnNew>
      <DeactivatePageOnNew>False</DeactivatePageOnNew>
      <AllowNewParagraphs>True</AllowNewParagraphs>
      <AllowGlobalParagraphs>True</AllowGlobalParagraphs>
      <AllowNewPages>True</AllowNewPages>
      <InheritPageChanges>True</InheritPageChanges>
      <InheritParagraphChanges>True</InheritParagraphChanges>
      <CompareParagraphAsText>True</CompareParagraphAsText>
      <UseAreaNamesForDropdowns>False</UseAreaNamesForDropdowns>
      <DontCopyPageStateChangesToLangVersion>False</DontCopyPageStateChangesToLangVersion>
    </LanguageManagement>
    <ImportExport>
      <checkToken>True</checkToken>
    </ImportExport>
  </Modules>
  <System>
    <MailServer>
      <Server>smtp.dynamic-systems.lan</Server>
      <DoNotUsePickup>False</DoNotUsePickup>
      <Port>
      </Port>
      <Username>
      </Username>
      <Password>
      </Password>
      <Type>smtp</Type>
      <UseSll>False</UseSll>
    </MailServer>
    <ActiveDirectory>
      <ADSI-Domain>
      </ADSI-Domain>
      <UserName>
      </UserName>
      <Password>
      </Password>
    </ActiveDirectory>
    <Version>
      <CurrentVersion>9.0.0.0</CurrentVersion>
    </Version>
    <Url>
      <Type>Path</Type>
      <TypePageID>
        <Prefix>Page</Prefix>
      </TypePageID>
      <UseAreaNameInPath>False</UseAreaNameInPath>
      <ParseContentURL>True</ParseContentURL>
      <TrimSpaces>Hyphen</TrimSpaces>
      <EmailMunging>False</EmailMunging>
      <CaseInsensitive>True</CaseInsensitive>
      <DisableRobotsOnDwUrl>True</DisableRobotsOnDwUrl>
      <UniqueForEachLanguage>False</UniqueForEachLanguage>
      <DisableRobotsOnPrinterFriendly>False</DisableRobotsOnPrinterFriendly>
      <ParseContentURLWithParamsMethod>Slashes</ParseContentURLWithParamsMethod>
      <EnsureUniquePath>True</EnsureUniquePath>
      <UseAreaRegionalInPath>False</UseAreaRegionalInPath>
      <ParseContentURLWithParams>False</ParseContentURLWithParams>
      <UseCanoncial>False</UseCanoncial>
      <NoAreaName>False</NoAreaName>
      <UrlInlcudeAreaType>UseAreaRegionalInPath</UrlInlcudeAreaType>
      <PathEncode>False</PathEncode>
      <Providers>
      </Providers>
      <ReplaceSlash>False</ReplaceSlash>
      <LatinNormalize>True</LatinNormalize>
      <AmpEncode>False</AmpEncode>
      <UseStrictURLRecognition>True</UseStrictURLRecognition>
      <Page404ForProductsNotInWebsiteShop>True</Page404ForProductsNotInWebsiteShop>
      <PlaceAllPagesInRoot>False</PlaceAllPagesInRoot>
      <Page404ForProductsNotInWebsiteLang>True</Page404ForProductsNotInWebsiteLang>
      <ExtensionLess>False</ExtensionLess>
      <UseCanonicalInEcommerce>True</UseCanonicalInEcommerce>
      <IncludeProductIdInUrlNames>True</IncludeProductIdInUrlNames>
      <UniqueForEachMasterWebsite>True</UniqueForEachMasterWebsite>
      <Providersa4187e6d3f147449569e124baa60ca2c>
      </Providersa4187e6d3f147449569e124baa60ca2c>
      <Providers2377be3c2ad9b435ba277a73f0f1ca76>
      </Providers2377be3c2ad9b435ba277a73f0f1ca76>
      <LatinNormalizeMappings>
      </LatinNormalizeMappings>
      <HighVolumeProductUrls>
        <Pattern>ProductAndVariantId</Pattern>
        <SeperatorScheme>DashTilde</SeperatorScheme>
        <Enable>False</Enable>
        <IncludeBrandname>False</IncludeBrandname>
      </HighVolumeProductUrls>
      <UseUrlProviderForSitemap>True</UseUrlProviderForSitemap>
    </Url>
    <http>
      <DisableBaseHrefPort>False</DisableBaseHrefPort>
      <DisableSQLInjectionCheck>False</DisableSQLInjectionCheck>
      <Compression>
        <Type>br</Type>
      </Compression>
      <AddLastModifiedHeader>False</AddLastModifiedHeader>
    </http>
    <Security>
      <FormAntiSpam>True</FormAntiSpam>
      <FormAntiSpamReportTo>
      </FormAntiSpamReportTo>
      <AngelLocked>False</AngelLocked>
      <DoNotBanIps>False</DoNotBanIps>
      <SQLInjectionSkip>
      </SQLInjectionSkip>
      <FormAntiSpamEnableForUserCreate>True</FormAntiSpamEnableForUserCreate>
      <FormAntiSpamDisableExtended>False</FormAntiSpamDisableExtended>
      <Headers>
        <XXSSProtection>False</XXSSProtection>
        <XContentTypeOptions>False</XContentTypeOptions>
        <XFrameOptions>False</XFrameOptions>
        <StrictTransportSecurity>False</StrictTransportSecurity>
        <ReferrerPolicy>
        </ReferrerPolicy>
        <StrictTransportSecurityExpireTime>
        </StrictTransportSecurityExpireTime>
        <CustomHeaders>
        </CustomHeaders>
      </Headers>
      <FormAntiSpamMinSeconds>
      </FormAntiSpamMinSeconds>
      <FormAntiSpamMaxIpSubmits>
      </FormAntiSpamMaxIpSubmits>
      <FormAntiSpamMaxIpSubmitsQuarantine>
      </FormAntiSpamMaxIpSubmitsQuarantine>
      <BanIpsDays>
      </BanIpsDays>
      <SQLInjectionIpWhitelist>
      </SQLInjectionIpWhitelist>
      <SQLInjectionEmailRecipients>
      </SQLInjectionEmailRecipients>
      <FormAntiSpamEnableForCommentCreate>True</FormAntiSpamEnableForCommentCreate>
    </Security>
    <Searching>
      <EntryIndexingDelay>0</EntryIndexingDelay>
      <AlertEmailSendParams>3</AlertEmailSendParams>
    </Searching>
    <Filesystem>
      <ImagesFolderName>Images</ImagesFolderName>
      <FilesFolderName>Files</FilesFolderName>
    </Filesystem>
    <dblgnforna>False</dblgnforna>
    <dblgnfornafe>False</dblgnfornafe>
    <Clustering>
      <LocalMachineName>
      </LocalMachineName>
      <LocalUrl>
      </LocalUrl>
      <RemoteMachineName>
      </RemoteMachineName>
      <RemoteUrl>
      </RemoteUrl>
    </Clustering>
    <dblgnfornafemsg>
    </dblgnfornafemsg>
    <AddIns>
      <AllowLoad>True</AllowLoad>
    </AddIns>
    <Tracking>
      <TableTimeInterval>None</TableTimeInterval>
      <EnableTracking>False</EnableTracking>
      <EnableLogging>True</EnableLogging>
      <Level>1</Level>
      <DoNotTrackAcceptAllHeader>True</DoNotTrackAcceptAllHeader>
      <DoNotTrackConnectionCloseHeader>True</DoNotTrackConnectionCloseHeader>
      <DoNotTrackHeaderCount>True</DoNotTrackHeaderCount>
      <TrackingEnabled>True</TrackingEnabled>
      <DoNotTrackPersonalInformation>False</DoNotTrackPersonalInformation>
      <DoNotTrackDntHeader>False</DoNotTrackDntHeader>
      <DoNotTrackInternalIP>False</DoNotTrackInternalIP>
      <StoreNotTrackedVisits>False</StoreNotTrackedVisits>
      <LoggingEnabled>False</LoggingEnabled>
      <SessionCookieExpirationMinutes>
      </SessionCookieExpirationMinutes>
      <VisitorCookieExpirationMinutes>
      </VisitorCookieExpirationMinutes>
      <DoNotTrackHeaderCountThreshold>
      </DoNotTrackHeaderCountThreshold>
      <DoNotTrackInternalIPRanges>
      </DoNotTrackInternalIPRanges>
    </Tracking>
    <SetupToken>
    </SetupToken>
    <Http>
      <Compression>True</Compression>
      <StaticFiles>
        <Cache>
          <EnableResponseCache>False</EnableResponseCache>
          <NoCache>False</NoCache>
          <MaxAge>0</MaxAge>
        </Cache>
      </StaticFiles>
      <ForwardedHeaders>
        <EnableForwardedHeaders>False</EnableForwardedHeaders>
        <ForwardedForHeaderName>
        </ForwardedForHeaderName>
        <ForwardLimit>
        </ForwardLimit>
        <RequireHeaderSymmetry>False</RequireHeaderSymmetry>
        <KnownProxies>
        </KnownProxies>
        <KnownNetworks>
        </KnownNetworks>
      </ForwardedHeaders>
    </Http>
    <dw10>
      <enableAutomaticTemplateConversion>False</enableAutomaticTemplateConversion>
      <enableDw10TemplateLoading>False</enableDw10TemplateLoading>
      <saveAutomaticTemplateConversion>False</saveAutomaticTemplateConversion>
      <saveAndReplaceAutomaticTemplateConversion>False</saveAndReplaceAutomaticTemplateConversion>
    </dw10>
  </System>
  <ItemTypes>
    <MetadataSource>files</MetadataSource>
    <HasBeenConverted>True</HasBeenConverted>
    <GoogleFontApiKey>AIzaSyC_AeYoZz8_ia1EqDZUILjLkbqEWmm8a_0</GoogleFontApiKey>
  </ItemTypes>
  <Features>
    <Extranetnew>
      <Enablenewextranetapps>True</Enablenewextranetapps>
    </Extranetnew>
  </Features>
  <Ecom>
    <Product>
      <DontApplyUncompletedProductToChannel>False</DontApplyUncompletedProductToChannel>
    </Product>
  </Ecom>
</Globalsettings>