<div>
    <h3><!--@Ecom:IntegrationCustomerCenter.PageMenuName--></h3>
    <a href="<!--@Ecom:IntegrationCustomerCenter.Invoice.Link-->"><!--@Ecom:IntegrationCustomerCenter.Invoice.Link--></a>
</div>

<link rel="stylesheet" type="text/css" href="/Files/Templates/Ecom/IntegrationCustomerCenter/OrderList.css" />
<table cellpadding="4" cellspacing="0" border="0" width="100%">
    <colgroup>
        <col width="100px" />
        <col width="100ox" />
        <col width="100px" />
        <col width="100px" />
        <col width="100px" />
        <col width="100px" />
        <col width="90px" align="right" />
    </colgroup>
    <thead>
        <tr class="CustomerCenterMenu">
            <td>
                <span><!--@Translate(orderID, "Order ID")--></span>             
            </td>
            <td>
                <span><!--@Translate(orderDate, "Order Date")--></span>            
            </td>            
            <td>
                <span><!--@Translate(shipDate, "Ship Date")--></span>
            </td>   
            <td>
                <span><!--@Translate(dueDate, "Due Date")--></span>                
            </td>                     
            <td>
                <span><!--@Translate(price, "Price")--></span>				
            </td>
            <td>
                <span><!--@Translate(priceWithVAT, "Price with VAT")--></span>				
            </td>            
            <td>
                <span><!--@Translate(export, "Export")--></span>				
            </td>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:IntegrationCustomerCenter.Invoice.EmptyList)-->
		<tr id="trNoOrdersFound"> 
		    <td colspan="6"><strong>No orders found</strong></td>
        </tr>
		<!--@EndIf(Ecom:IntegrationCustomerCenter.Invoice.EmptyList)-->
		
		<!--@If Not Defined(Ecom:IntegrationCustomerCenter.Invoice.EmptyList)-->
		
        <!--@LoopStart(Ecom:IntegrationCustomerCenter.InvoiceLoop)-->
		<tr>
		    <td><a href="<!--@Ecom:IntegrationCustomerCenter.Invoice.Link-->&itemID=<!--@id-->"><!--@id-->&nbsp;</a></td>
		    <td><!--@orderDate-->&nbsp;</td>
		    <td><!--@shipDate-->&nbsp;</td>
		    <td><!--@dueDate-->&nbsp;</td>
            <td><!--@totalAmount-->&nbsp;</td>
            <td><!--@totalAmountIncVat-->&nbsp;</td>
			<td>
                <a href="/Admin/public/CustomerCenter/RequestExternalPdf.aspx?type=Invoice&id=<!--@id-->&forceDownload=true&userid=<!--@UrlUserID-->&orderid=<!--@UrlOrderID-->&shopid=<!--@UrlShopID-->" target="_blank">
                    <span class="long_text">PDF</span>
                </a>
			</td>
        </tr>
        <!--@LoopEnd(Ecom:IntegrationCustomerCenter.InvoiceLoop)-->                       

        <!--@If Defined(Ecom:IntegrationCustomerCenter.Invoice.Paging.Show)-->
        <tr>
            <td align="center" colspan="6" valign="top">
                <!--@If Defined(Ecom:IntegrationCustomerCenter.Paging.Back.URL)-->
		        <a href="<!--@Ecom:IntegrationCustomerCenter.Paging.Back.URL-->"><!--@Ecom:IntegrationCustomerCenter.Paging.Back--></a>
	            <!--@EndIf(Ecom:IntegrationCustomerCenter.Paging.Back.URL)-->

	            <!--@If Defined(Ecom:IntegrationCustomerCenter.Paging.HasPages)-->
	            &nbsp;&nbsp;
	            <!--@LoopStart(Ecom:IntegrationCustomerCenter.Paging.Pages)-->
	            <a class="<!--@Ecom:IntegrationCustomerCenter.Paging.PageClass-->" href="<!--@Ecom:IntegrationCustomerCenter.Paging.PageIndexUrl-->"><!--@Ecom:IntegrationCustomerCenter.Paging.PageIndex--></a>&nbsp;
	            <!--@LoopEnd(Ecom:IntegrationCustomerCenter.Paging.Pages)-->
				&nbsp;&nbsp;
				<!--@EndIf(Ecom:IntegrationCustomerCenter.Paging.HasPages)-->
				
	            <!--@If Defined(Ecom:IntegrationCustomerCenter.Paging.Forward.URL)-->
	            <a href="<!--@Ecom:IntegrationCustomerCenter.Paging.Forward.URL-->"><!--@Ecom:IntegrationCustomerCenter.Paging.Forward--></a>
	            <!--@EndIf(Ecom:IntegrationCustomerCenter.Paging.Forward.URL)-->
            </td>
        </tr>
        <tr>
			<td align="center" colspan="6">
				Page&nbsp;<!--@Ecom:IntegrationCustomerCenter.Paging.CurrentPage-->&nbsp;of&nbsp;<!--@Ecom:IntegrationCustomerCenter.Paging.NumPages-->
			</td>
        </tr>
        <!--@EndIf(Ecom:IntegrationCustomerCenter.Invoice.Paging.Show)--> 

        <!--@EndIf(Ecom:IntegrationCustomerCenter.Invoice.EmptyList)-->
    </tbody>
</table>
<input type="hidden" name="ICCSortByField" value="" />
<input type="hidden" name="ICCSortByDirection" value="Desc" />

<input type="hidden" name="ICCSearchField" value="" />
<input type="hidden" name="ICCSearchValue" value="" />