<fieldset style="border-right: 1px dashed; border-top: 1px dashed; border-left: 1px dashed;
    border-bottom: 1px dashed">
    
    <table border="0" cellpadding="2" cellspacing="0" width='97%' style="margin-left: 10px;">
        <tr>
            <td colspan="5" style="border-bottom: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="15%">
                Quantity</td>
            <td width="35%">
                Product nr.</td>            
            <td width="25%" align="right">
                Unit price</td>
            <td width="25%" align="right">
                Total price</td>
        </tr>
        <tr>
            <td colspan="4" style="border-top: 1px dashed black;">
                &nbsp;
            </td>
        </tr>
        <!--@LoopStart(OrderLinesLoop)-->
            <tr style='height: 25px;'>
                <td>
                    <!--@OrderLineQuantity-->
                </td>
                <td>
                    <!--@OrderLineProductNumber-->
                </td>                
                <td align="right">
                    <!--@OrderLineUnitPriceWithVAT-->
                </td>
                <td align="right">
                    <!--@OrderLinePriceWithVAT-->
                </td>
            </tr>
        <!--@LoopEnd(OrderLinesLoop)-->        
    </table>
</fieldset>