@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@{
	string productIdFromUrl = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("ProductID")) ? Dynamicweb.Context.Current.Request.QueryString.Get("ProductID") : string.Empty;
	bool isProductDetail = !string.IsNullOrEmpty(productIdFromUrl) && Pageview.Page.NavigationTag.ToLower() == "shop";
	bool isArticleListPage = Model.ItemType == "Swift_ArticleListPage";
	var gridContent = Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
}

@MasterPageFile("Swift_MasterClean.cshtml")

@* Render the grid, if any *@
@if (!isProductDetail)
{
	if (isArticleListPage)
	{
		var hx = $"hx-get=\"{Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(Model.ID)}\" hx-select=\"#content\" hx-target=\"#content\" hx-swap=\"outerHTML\" hx-trigger=\"change\" hx-headers='{{\"feed\": \"true\"}}' hx-push-url=\"false\"";

		<form @hx id="ArticleFacetForm">
			@gridContent
		</form>
	}
	else
	{
		@gridContent
	}
}
else
{
	var productObject = Dynamicweb.Ecommerce.Products.Product.GetProductById(productIdFromUrl);
	var detailPage = Dynamicweb.Ecommerce.Services.ProductGroups.GetGroup(productObject.PrimaryGroupId)?.Meta.PrimaryPage ?? string.Empty;
	var detailPageId = detailPage != string.Empty ? Convert.ToInt16(detailPage.Substring(detailPage.LastIndexOf('=') + 1)) : GetPageIdByNavigationTag("ProductDetailPage");

	@RenderGrid(detailPageId)
}

@* Render classic content, if any *@
@Model.Placeholder("dwcontent", "content", "default:true;sort:1")
