@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

<style>
	.theme-option {
		border-radius: 2px;
		padding: 0.5em;
	}

		.theme-option .btn {
			padding: 0.25rem 0.5rem;
			font-size: 0.875rem;
		}
</style>

@MasterPageFile("Swift_MasterNoLayout.cshtml")

<div class="container my-5">
	<div class="frid gap-3 mb-5 pb-3 text-center border-bottom">
		<div class="col">
			<h1 class="h1">@Translate("Themes") </h1>
			<div class="lead">@Translate("Take full control of all the colors")</div>
		</div>
	</div>
	<div class="grid gap-3">
		@Model.Placeholder("content", "content", "default:true;sort:1")
	</div>
</div>

@{
	string tmpPath = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_theme_styles_{Model.Area.ID}.tmp");

	string cssPathTheme = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_theme_styles_{Model.Area.ID}.css");
	string cssPathBranding = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_branding_styles_{Model.Area.ID}.css");
	string cssPathCombined = Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_styles_{Model.Area.ID}.min.css");

	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(tmpPath), cssPathTheme, false);
	System.IO.File.Delete(tmpPath);

	string combinedCss = Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathBranding);
	combinedCss += Dynamicweb.Core.Helpers.TextFileHelper.ReadTextFile(cssPathTheme);
	combinedCss = System.Text.RegularExpressions.Regex.Replace(combinedCss, @"\s+", ""); //minify the css.
	Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(combinedCss, cssPathCombined, false);
}
