@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("Swift_EmailBase.cshtml")

@{
	bool isEmail = Model.ItemType == "Swift_Email";
	int header = settings.GetLink("Header").PageId;
	int footer = settings.GetLink("Footer").PageId;
}

@*@if (isEmail)
{
	<span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">This is preheader text. Some clients will show this text as a preview.</span>
}*@

@if (isEmail && header != 0)
{
	<!-- START header -->
	@RenderGrid(header)
	<!-- START header -->
}

@Model.Grid("Grid", "Email Grid", "default:true;sort:1", "Email")

@if (isEmail && footer != 0)
{
	<!-- START FOOTER -->
	@RenderGrid(footer)
	<!-- END FOOTER -->
}
