@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("Swift_EmailBase.cshtml")

@if(this.Pageview is object)
{
	var page = Dynamicweb.Services.Pages.GetPage(Model.ID);
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(page?.Parent).Item;
	bool isEmail = Model.ItemType == "Swift_Email";

	if(settings is object)
    {
		int header = settings?.GetLink("Header").PageId ?? 0;
		int footer = settings?.GetLink("Footer").PageId ?? 0;

		if (isEmail)
		{
			<span class="preheader" style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;visibility:hidden;width:0;">{{EmailMarketing:Email.PreHeader.Clean}}</span>
		}
		
		if (Pageview.IsVisualEditorMode)
		{
			<div style="height:100px;"></div>
		}

		if (isEmail && header != 0)
		{
			<div class="email-header-wrapper" role="presentation" style="border:0;margin:0;outline:0;padding:0;">
				@RenderGrid(header)
			</div>
		}
		<div class="email-content-wrapper" role="presentation" style="border:0;margin:0;outline:0;padding:0;">
		@Model.Grid("Grid", "Email Grid", "default:true;sort:1", "Email")
		</div>

		if (isEmail && footer != 0)
		{
			<div class="email-footer-wrapper" role="contentinfo" style="border:0;margin:0;outline:0;padding:0;">
			@RenderGrid(footer)
			</div>
		}
    }
}
