@use 'sass:math';

.container-compressed {
	@include make-container();

	@include media-breakpoint-up(md) {
		max-width: math.div(100, 12) * 10%;
	}

	@include media-breakpoint-up(lg) {
		max-width: math.div(100, 12) * 8%;
	}

	@include media-breakpoint-up(xxl) {
		max-width: math.div(100, 12) * 6%;
	}
}
