// Custom breakpoints for bigger screens

$custom-grid-breakpoints: (
	xxxl: 1600px,
	xxxxl: 1920px
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

// Custom container sizes for bigger screens

$custom-container-sizes: (
	xxxl: 1520px,
	xxxxl: 1820px
);

$container-max-widths: map-merge($container-max-widths, $custom-container-sizes);

// Custom font sizes

$custom-font-sizes: (
	7: .875rem,
	8: .75rem,
	9: .5rem
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$utilities: (
	"position": (
		property: position,
		responsive: true,
		values: static relative absolute fixed sticky
	),
	"font-size": (
		rfs: true,
		property: font-size,
		responsive: true,
		class: fs,
		values: $font-sizes
	),
	"opacity": (
		property: opacity,
		class: opacity,
		state: hover,
		values: ( 0: 0, 25: .25, 50: .5, 75: .75, 85: .85, 100: 1 )
	),
	"min-viewport-height": (
		responsive: true,
		property: min-height,
		class: min-vh,
		values: (100: 100vh, 75: 75vh, 50: 50vh, 25: 25vh)
	),
	"viewport-height": (
		responsive: true,
		property: height,
		class: vh,
		values: (100: 100vh, 75: 75vh, 50: 50vh, 25: 25vh)
	),
	"overflow-y": (
		property: overflow-y,
		class: "overflow-y",
		values: auto hidden visible scroll
	),
	"overflow-x": (
		property: overflow-x,
		class: "overflow-x",
		values: auto hidden visible scroll
	)
);

$positions: static, relative, absolute, fixed, sticky;

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $value in $positions {
			.position#{$infix}-#{$value} {
				position: $value !important;
			}
		}
	}
}

// Create outlines on links and buttons to highten a11y

a:focus-visible,
button:focus-visible,
[ role="button" ]:focus-visible,
[ tabindex ]:focus-visible {
	outline: $ally-outline;
}

// If you want to specify your own outline on selected elements

.no-outline:focus-visible {
	outline: none;
}

// We need this to removes the default margin bottom set by the rich text editor

.mb-0-last-child > *:last-child {
	margin-bottom: 0 !important;
}

.text-decoration-underline-hover {

	&:hover,
	&:focus {
		text-decoration: underline !important;
	}
}
