@use 'sass:math';

// Swift theme CSS variables
//
// https://getbootstrap.com/docs/5.1/customize/css-variables/

:root {
	//Themes
	--swift-foreground-color: var(--bs-dark);
	--swift-foreground-color-rgb: var(--bs-dark-rgb);
	--swift-background-color: var(--bs-white);
	--swift-background-color-rgb: var(--bs-white-rgb);
	--swift-button-primary-background-color: var(--bs-dark);
	--swift-button-primary-background-color-rgb: var(--bs-dark-rgb);
	--swift-button-primary-foreground-color: var(--bs-white);
	--swift-button-primary-foreground-color-rgb: var(--bs-white-rgb);
	--swift-button-primary-border-background-color: none;
	--swift-button-secondary-background-color: var(--bs-dark);
	--swift-button-secondary-background-color-rgb: var(--bs-dark-rgb);
	--swift-button-secondary-foreground-color: var(--bs-white);
	--swift-button-secondary-foreground-color-rgb: var(--bs-white-rgb);
	--swift-button-secondary-border-background-color: none;
	--swift-ally-outline-color: rgba(0, 0, 0, 0.5);
	//Brand
	--swift-header-font: var(--bs-font-sans-serif);
	--swift-header-font-weight: initial;
	--swift-header-casing: initial;
	--swift-header-line-height: initial;
	--swift-header-letter-spacing: initial;
	--swift-display-font: var(--bs-font-sans-serif);
	--swift-display-font-weight: initial;
	--swift-display-casing: initial;
	--swift-display-line-height: initial;
	--swift-display-letter-spacing: initial;
	--swift-body-font: var(--bs-font-sans-serif);
	--swift-body-font-weight: initial;
	--swift-body-casing: initial;
	--swift-body-line-height: initial;
	--swift-body-letter-spacing: initial;
	//Button
	--swift-button-primary-font-weight: initial;
	--swift-button-primary-casing: initial;
	--swift-button-primary-font-size: initial;
	--swift-button-primary-padding-x: initial;
	--swift-button-primary-padding-y: initial;
	--swift-button-secondary-font-weight: initial;
	--swift-button-secondary-casing: initial;
	--swift-button-secondary-font-size: initial;
	--swift-button-secondary-padding-x: initial;
	--swift-button-secondary-padding-y: initial;
	// Animations
	--animation-speed-in: 0.1s;
	--animation-speed-out: 0.2s;
	--bs-gap: 1rem;
	//Badges
	--swift-badge-label: "";
	//Variants
	--variantoption-check-color: white;
}

// Enable CSS Grid
//
// https://getbootstrap.com/docs/5.1/layout/css-grid/

$enable-cssgrid: true;

// Options
//
// https://getbootstrap.com/docs/5.1/customize/options/

$enable-negative-margins: true;
$grid-gutter-width: 2rem;
$spacer: 1rem !default;

$spacers: (
	0: 0, 
	1: math.div($spacer, 4), //4px
	2: math.div($spacer, 2), //8px
	3: $spacer * 1, //16px
	4: $spacer * 2, //32px
	5: $spacer * 3, //48px
	6: ($spacer * 6), //96px
	7: ($spacer * 7.5), //120px
	8: ($spacer * 12), //192px
	9: ($spacer * 15), //240px
	10: ($spacer * 21) //336px
);

// Colors
//
// https://getbootstrap.com/docs/5.1/customize/color/

$white:    hsl(0, 0%, 100%);
$gray-100: hsl(0, 0%, 97%);
$gray-200: hsl(0, 0%, 93%);
$gray-300: hsl(0, 0%, 85%);
$gray-400: hsl(0, 0%, 70%);
$gray-500: hsl(0, 0%, 60%);
$gray-600: hsl(0, 0%, 50%);
$gray-700: hsl(0, 0%, 40%);
$gray-800: hsl(0, 0%, 30%);
$gray-900: hsl(0, 0%, 20%);
$black:    hsl(0, 0%, 0%);

$blue:    #4fa4fd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #ff85ff;
$red:     #dc3545;
$orange:  #ffb931;
$yellow:  #ffd956;
$green:   #198754;
$teal:    #50e7c5;
$cyan:    #46e7ff;

$primary:           $gray-800;
$secondary:         $black;
$success:           $green;
$info:              $cyan;
$warning:           $yellow;
$danger:            $red;
$light:             $gray-100;
$dark:              $gray-900;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

// Forms
// 
// https://getbootstrap.com/docs/5.1/forms/overview/#sass

$form-check-input-checked-color:			var(--swift-foreground-color);
$form-check-input-checked-bg-color:			var(--swift-background-color);
$form-check-input-checked-border-color:		var(--swift-foreground-color);
$form-check-input-border:					1px solid rgba(var(--swift-foreground-color-rgb), 0.3);
$form-check-input-focus-box-shadow:			0 0 0 0.25rem rgba(#{var(--swift-foreground-color-rgb)}, .3);
$form-check-input-checked-bg-image:			url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpolyline points='20 6 9 17 4 12'%3e%3c/polyline%3e%3c/svg%3e");
$input-bg:									var(--swift-background-color);
$input-disabled-bg:							rgba(#{var(--swift-foreground-color-rgb)}, .2);
$input-color:								var(--swift-foreground-color);
$input-border-color:						rgba(#{var(--swift-foreground-color-rgb)}, .3);
$input-placeholder-color:					$input-color;
$input-focus-bg:							$input-bg;
$input-focus-border-color:					rgba(var(--swift-foreground-color-rgb), 0.3); 
$input-focus-color:							$input-color;
$input-focus-box-shadow:					0 0 0 0.25rem rgba(#{var(--swift-foreground-color-rgb)}, .3);
$input-plaintext-color:						var(--swift-foreground-color);

// Card
//
// https://getbootstrap.com/docs/5.1/components/card/#sass

$card-cap-bg: transparent !default;

// Offcanvas
//	
// https://getbootstrap.com/docs/5.1/components/offcanvas/#sass

$offcanvas-bg-color:                var(--swift-background-color);
$offcanvas-color:                   var(--swift-forground-color);
$offcanvas-horizontal-width:		320px;

// Modal
//	
// https://getbootstrap.com/docs/5.1/components/modal/#sass

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .37;

// Table
//	
// https://getbootstrap.com/docs/5.1/content/tables/#sass

$table-cell-padding-y:        	1rem;
$table-cell-padding-x:        	1rem;
$table-color: 					var(--swift-foreground-color);

// A11y
//	
// Used for Accessibility outline color - controlled in Swift themes

$ally-outline: 					2px dotted var(--swift-a11y-outline-color, rgba(0, 0, 0, 0.3));

// Accordion
//
// https://getbootstrap.com/docs/5.1/components/accordion/#sass

$accordion-color:                         var(--swift-foreground-color);
$accordion-bg:                            var(--swift-background-color);
$accordion-border-color:                  rgba(#{var(--swift-foreground-color-rgb)}, .3);
$accordion-button-active-bg:              tint-color(#{var(--swift-foreground-color-rgb)}, 90%);
$accordion-button-active-color:           shade-color(#{var(--swift-foreground-color-rgb)}, 10%);
$accordion-button-focus-border-color:     rgba(#{var(--swift-foreground-color-rgb)}, .3);
$accordion-button-focus-box-shadow:       0 0 0 0.25rem rgba(#{var(--swift-foreground-color-rgb)}, .3);
$accordion-button-icon:         "";
$accordion-button-active-icon:  "";

// List group
//
// https://getbootstrap.com/docs/5.1/components/list-group/#sass

$list-group-color:                  	var(--swift-foreground-color);
$list-group-bg:                     	var(--swift-background-color);
$list-group-border-color:           	rgba(#{var(--swift-foreground-color-rgb)}, .125);

// Dropdowns
//
// https://getbootstrap.com/docs/5.1/components/dropdowns/#sass

$dropdown-color: var(--swift-foreground-color);
$dropdown-bg: var(--swift-background-color);
$dropdown-border-color: rgba(#{var(--swift-foreground-color-rgb)}, .3);
$dropdown-divider-bg: $dropdown-border-color;
$dropdown-link-color: var(--swift-foreground-color);
$dropdown-link-hover-color: shade-color(#{var(--swift-foreground-color-rgb)}, 10%);
$dropdown-link-hover-bg: shade-color(#{var(--swift-background-color-rgb)}, 90%);
$dropdown-link-disabled-color: shade-color(#{var(--swift-foreground-color-rgb)}, 50%);
$dropdown-header-color: shade-color(#{var(--swift-foreground-color-rgb)}, 60%);
$dropdown-link-active-color: var(--swift-foreground-color);
$dropdown-link-active-bg: rgba(#{var(--swift-foreground-color-rgb)}, .3);

// Nav & Tabs
//
// https://getbootstrap.com/docs/5.1/components/navs-tabs/#sass

$nav-link-color: var(--swift-foreground-color);
$nav-link-hover-color: var(--swift-foreground-color);
$nav-link-disabled-color: rgba(#{var(--swift-foreground-color-rgb)}, .6);

// Swiffy slider
//
// https://swiffyslider.com/configuration/

$slider-nav-round-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-left'%3E%3Cline x1='19' y1='12' x2='5' y2='12'%3E%3C/line%3E%3Cpolyline points='12 19 5 12 12 5'%3E%3C/polyline%3E%3C/svg%3E");

// Pagination
//
// https://getbootstrap.com/docs/5.1/components/pagination/#sass

$pagination-color: var(--swift-foreground-color);
$pagination-bg: var(--swift-background-color);
$pagination-border-color: rgba(#{var(--swift-foreground-color-rgb)}, .3);
$pagination-hover-color: var(--swift-background-color);
$pagination-hover-bg: var(--swift-foreground-color);
$pagination-hover-border-color: $pagination-border-color;
$pagination-active-color: var(--swift-background-color);
$pagination-active-bg: var(--swift-foreground-color);
$pagination-active-border-color: $pagination-border-color;
$pagination-disabled-color: rgba(#{var(--swift-foreground-color-rgb)}, .5);
$pagination-disabled-bg: rgba(#{var(--swift-background-color-rgb)}, .5);
$pagination-disabled-border-color: $pagination-border-color;

// Badges
//
// https://getbootstrap.com/docs/5.1/components/badge/#sass

$badge-color: var(--swift-foreground-color, inherit);
