/* Basic CSS */

.swift-grid {
	display: grid;
	row-gap: 1rem;
	column-gap: 1rem;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(1,1fr);
	margin-bottom: 2rem
}

.swift-container {
	width: calc(100% - 100px);
}

@media (max-width: 768px) {
	.swift-container {
		width: auto;
	}
}

.swift-col-12 {
	grid-column: auto/span 12
}

@media (min-width: 768px) {
	.swift-col-md-4 {
		grid-column: auto/span 4;
	}

	.swift-col-md-6 {
		grid-column: auto/span 6;
	}
}

@media (min-width: 992px) {
	.swift-col-lg-3 {
		grid-column: auto/span 3;
	}

	.swift-col-lg-4 {
		grid-column: auto/span 4;
	}
}

.swift-btn {
	border-radius: var(--swift-button-primary-shape);
	font-weight: var(--swift-button-primary-font-weight);
	text-transform: var(--swift-button-primary-casing);
	font-size: .875rem;
	padding: .25rem .5rem;
	cursor: pointer;
	display: inline-block;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.theme {
	background-color: var(--swift-background-color);
	color: var(--swift-foreground-color, inherit);
	box-shadow: inset 0 0 0 1px var(--swift-border-color);
}

.theme .btn-primary {
	background-color: var(--swift-button-primary-background-color);
	color: var(--swift-button-primary-foreground-color);
	border: 1px solid var(--swift-button-primary-border-color);
}

.theme .btn-primary:hover, .theme .btn-primary:focus {
	background-color: var(--swift-button-primary-hover-background-color);
	color: var(--swift-button-primary-hover-foreground-color);
	border: 1px solid var(--swift-button-primary-hover-border-color);
}

.theme .btn-secondary {
	background-color: var(--swift-button-secondary-background-color);
	color: var(--swift-button-secondary-foreground-color);
	border: 1px solid var(--swift-button-secondary-border-color);
}

.theme .btn-secondary:hover, .theme .btn-secondary:focus {
	background-color: var(--swift-button-secondary-hover-background-color);
	color: var(--swift-button-secondary-hover-foreground-color);
	border: 1px solid var(--swift-button-secondary-hover-border-color);
}

.h1 {
	font-size: 2.5rem;
}

.h2 {
	font-size: 2rem;
}

.h3 {
	font-size: 1.75rem;
}

.h4 {
	font-size: 1.5rem;
}

.h5 {
	font-size: 1.25rem;
}

.h6 {
	font-size: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--swift-header-font);
	font-weight: var(--swift-header-font-weight);
	text-transform: var(--swift-header-casing);
	line-height: var(--swift-header-line-height);
	letter-spacing: var(--swift-header-letter-spacing);
}

.display-1 {
	font-size: 5rem;
}

.display-2 {
	font-size: 4.5rem;
}

.display-3 {
	font-size: 4rem;
}

.display-4 {
	font-size: 3.5rem;
}

.display-5 {
	font-size: 3rem;
}

.display-6 {
	font-size: 2.5rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: var(--swift-display-font);
	font-weight: var(--swift-display-font-weight);
	text-transform: var(--swift-display-casing);
	line-height: var(--swift-display-line-height);
	letter-spacing: var(--swift-display-letter-spacing);
}

.fs-1 {
	font-size: 2.5rem !important;
}

.fs-2 {
	font-size: 2rem !important;
}

.fs-3 {
	font-size: 1.75rem !important;
}

.fs-4 {
	font-size: 1.5rem !important;
}

.fs-5 {
	font-size: 1.25rem !important;
}

.fs-6 {
	font-size: 1rem !important;
}

.swift-alert {
	position: relative;
	padding: 1rem 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: #664d03;
	background-color: #fff3cd;
	border-color: #ffecb5;
}
