dl {
  margin: 0;
  padding: 5px;
  width: 100%;
  text-indent: 10px;
  float: left;
}

dt {
  width: 200px;
  font-weight: bold;
}

dt, dd {
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
}

div.klarna-invoices-terms,
div.klarna-partpayments-terms{
	float: right;
	width: 600px
}

div.klarna-invoices-terms.wide,
div.klarna-partpayments-terms.wide{
	float: none;
	width: 100%;
}
div.klarna-terms{
	display: none;
}
div.klarna-controls{
	float: right;
}