  <div class="box-rounded dynamicweb-loyaltypoints" >
	<legend class="box-headline">
		<h3>
			<!--@Translate(Transactions, "Transactions")-->
		</h3>
	</legend>

      <table class="table">
        <tbody>
        <tr>
          <td>ID</td>
          <td>Points</td>
          <td>Date</td>
          <td>Expiration</td>
          <td>Comment</td>
        </tr>
        <tr>
          <td><!--@Ecom:LoyaltyPoints.Transaction.ID--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Points--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Date--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.ExpirationDate--></td>
          <td><!--@Ecom:LoyaltyPoints.Transaction.Comment--></td>
        </tr>
        </tbody>
      </table>
      <a href="<!--@Ecom:LoyaltyPoints.Transaction.ListUrl-->"><!--@Translate(Back, "Back")--></a>
</div>

