<!--@If(Form.MaxSubmits>0 && Form.SubmitCount>=Form.MaxSubmits)-->
<!--@Form.MaxSubmitsReachedText-->
<!--@EndIf-->
<!--@If(Form.MaxSubmits=0 || Form.SubmitCount<Form.MaxSubmits)-->
<style type="text/css">
    .formtable td {
        padding: 3px;
    }

    .formtable .columnCell {
        vertical-align: top;
    }

    .formtable .labelCell {
        vertical-align: top;
        padding-right: 10px;
    }


    .formtable .descriptionCell {
        font-size: 0.8em;
        opacity: 0.8;
        padding: 0px;
        padding-left: 3px;
        padding-bottom: 5px;
        max-height: 0.8em;
        line-height: 1.0em;
    }

    .formtable input[type=text],
    .formtable input[type=password],
    .formtable textarea {
        min-width: 250px;
    }
</style>
<!--@If Defined(Form.LabelBold)-->
<style type="text/css">    
    .formtable .labelCell label {
        font-weight: bold;
    }
</style>
<!--@EndIf-->

<form method="post" action="<--@Form.Action-->" enctype="multipart/form-data" class="<!--@Form.CssClass-->" id="<!--@Form.HtmlId-->" onsubmit="<!--@Form.OnSubmit-->">
    <!--@Form.SystemFields-->
    <table class="formtable">
        <!--@LoopStart(Fields)-->
        <tr class="fieldRow">
            <td class="labelCell">
                <!--@If(Field.IsButton="" && Field.IsOther="")-->
                <label for="<!--@Field.HtmlId-->"><!--@Field.Name--> <img src="/Files/images/<!--@Form.LabelRequired-->"></label>
                <!--@EndIf-->
            </td>
            <td><!--@Field.Control--></td>
        </tr>
        <tr class="descriptionRow">
            <td class="descriptionCell"></td>
            <td class="descriptionCell"><small><!--@Field.Description--> </small></td>
        </tr>
        <!--@If Defined(Field.Activity.Id)-->
        <tr class="consentRow">
            <td></td>
            <td>
                <strong><!--@Field.Activity.Name--></strong>
                <div><!--@Field.Activity.Description--></div>
            </td>
        </tr>
        <!--@EndIf-->
        <!--@LoopEnd(Fields)-->
    </table>
</form>
<!--@EndIf-->
