#contentarea
{
	float: none !important;
	width: auto !important;
}

.forum-container
{
	width: 100%;
	margin: 0px auto;
	margin-top: 25px;
}

.forum-post-form
{
	margin-bottom: 25px;
}

.forum-post-form table
{
	width: 100%;
	table-layout: fixed;
}

.forum-post-form .forum-post-preview
{
	margin-top: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #c3c3c3;
}

.forum-post-breadcrumb,
.forum-post-breadcrumb a,
.forum-post-breadcrumb a:hover
{
	font-size: 11px;
	color: #c9c9c9;
	text-decoration: none;
}

.forum-post-breadcrumb
{
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 4px;
}

.forum-post-breadcrumb .forum-post-breadcrumb-current
{
	font-weight: bold;
}

.forum-post-form .forum-post-addfile
{
	margin-bottom: 10px;
	width: 365px;
}

.forum-post-form .forum-post-addfile input
{
	float: right;
}

.forum-post-form .forum-post-addfile span
{
	float: left;
}

.forum-post-form #FilesList
{
  padding: 2px 2px 0px 2px;
}

.forum-post-form #FilesListPosted
{
	padding: 0px 2px 2px 2px;
}

.forum-post-form .forum-post-file .file-name
{
	float: left;
	width: 350px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
}

.forum-post-form .forum-post-file .file-delete
{
	text-decoration: none;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url('/Admin/Images/Ribbon/Icons/Small/Delete.png') top left no-repeat;
}

.forum-post-form .forum-post-file .file-delete:hover
{
	text-decoration: none;
}

.forum-post-clear
{
	clear: both;
	width: 0px;
	height: 0px;
	content: '.';
}

.forum-post-form div#FilesList div input
{
	display: block;
	float: right;
}

.forum-post-form .forum-post-submit
{
	margin-top: 20px;
}

.forum-post-form .forum-post-submit input.blue
{
	margin-right: 0px !important;
	font-size: 14px;
	width: 150px;
	height: 30px;
	line-height: 30px;
}

.forum-post-form .forum-post-input
{
	width: 300px;
}

.forum-post-form .forum-post-label
{
	width: 130px;
}

.forum-post-form .forum-post-editor,
.forum-post-form .forum-post-editor iframe
{
	margin: 0px;
	padding: 0px;
}

.forum-post-form .forum-post-subscribe ul,
.forum-post-form .forum-post-subscribe ul li
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.forum-post-form .forum-post-tabs ul,
.forum-post-form .forum-post-tabs ul li
{
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.forum-post-form .forum-post-tabs ul li
{
	float: left;
	font-size: 11px;

	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	
	margin-right: 5px;
}

.forum-post-form .forum-post-tabs ul li.tab-separator
{
	width: 1px;
	background-color: #c3c3c3;
	margin: 0px;
	padding: 0px;
	
	margin-left: 10px;
	margin-right: 10px;
}

.forum-post-form h3
{
	margin-top: 15px;
}

.forum-post-form .forum-post-original
{
	margin-top: 10px;
	padding: 5px;
	border: 1px dashed #c3c3c3;
	margin-bottom: 20px;
}

.forum-post-form .forum-post-original .forum-post-original-text
{
	margin-left: 15px;
	margin-top: 15px;
	padding-left: 5px;
	border-left: 1px solid #c3c3c3;
}

.forum-post-form .forum-post-tabs ul li a,
.forum-post-form .forum-post-tabs ul li a:hover,
.forum-post-form .forum-post-tabs ul li a:focus,
.forum-post-form .forum-post-tabs ul li a:active
{
	text-decoration: none;
	outline: none;
}

.forum-post-form .forum-post-tab-contents
{
	clear: both;
	width: 440px;
	height: 286px;
	
	-ms-height: 303px;
	*height: 303px;
}

.forum-post-form .forum-post-tabs ul li.forum-post-tab-active
{
	font-weight: bold;
}

.forum-post-form .forum-post-tabs ul li.forum-post-tab-active a
{
	text-decoration: underline !important;
}

#tabMessage
{
	background: url('/Admin/Images/Ribbon/Icons/Small/EditDocument.png') top left no-repeat;
}

#tabAttachments
{
	background: url('/Admin/Images/Ribbon/Icons/Small/paperclip_add.png') top left no-repeat;
}

#tabSubscription
{
	background: url('/Admin/Images/Ribbon/Icons/Small/flag_green.png') top left no-repeat;
}
.forum-post-form .forum-post-attach-description,
.forum-post-form .forum-post-subscribe-description
{
	height: 50px;
}

.forum-post-form .forum-post-attach-description
{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 40px;
	background: url('/Admin/Images/Ribbon/Icons/paperclip_add.png') top left no-repeat;
}

.forum-post-form .forum-post-subscribe-description
{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 40px;
	background: url('/Admin/Images/Ribbon/Icons/flag_green.png') top left no-repeat;
}

.forum-thread .forum-thread-begin,
.forum-threadlist .forum-thread-begin
{
	height: 1px;
	background-color: #4d4d4d;
	margin-bottom: 5px;
}

.forum-thread-end
{
	height: 1px;
	background-color: #dddddd;
	margin-bottom: 5px;
}

.forum-thread table.forum-thread-post
{
	border: none;
	margin-top: 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid #efefef;
	width: 100%;
}

.forum-thread table.forum-thread-post-answer td.forum-thread-post-message
{
	border: 2px solid #b8e1b2;
	padding: 5px !important;
}

.forum-thread table.forum-thread-post td.forum-thread-post-user
{
	width: 128px;
	/*background-color: #f9fbff;*/
	background-color: #f7fbff;
	padding: 5px;
}

.forum-thread table.forum-thread-post td.forum-thread-post-user .forum-thread-post-image
{
	margin-top: 10px;
	display: block;
	text-align: center;
}

.forum-thread table.forum-thread-post td.forum-thread-post-user .forum-thread-post-image img
{
	border: 2px solid #ffffff;
}

.forum-thread table.forum-thread-post td.forum-thread-post-user .forum-thread-post-image img.forum-image-anonymous
{
	border: 0px solid black !important;
}

.forum-thread table.forum-thread-post td.forum-thread-post-message
{
	padding: 0px;
	margin: 0px;
}

.forum-thread table.forum-thread-post td.forum-thread-post-message > div
{
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}

.forum-thread table.forum-thread-post td.forum-thread-post-user .forum-thread-post-name
{
	overflow: hidden;
	margin-top: 5px;
	text-align: center;
	height: 20px;
	line-height: 20px;
}

.forum-thread table.forum-thread-post .forum-thread-post-misc
{
	margin-top: 15px;
	padding-bottom: 1px;
	font-size: 11px;
	color: #c3c3c3;
}

.forum-thread table.forum-thread-post .forum-thread-post-misc *
{
	margin-bottom: 2px;
	margin-right: 2px;
}

.forum-container div.forum-post-original .forum-post-original-misc a,
.forum-container div.forum-post-original .forum-post-original-misc a:hover,
.forum-thread table.forum-thread-post .forum-thread-post-misc a,
.forum-thread table.forum-thread-post .forum-thread-post-misc a:hover
{
	float: left;
	color: #000000;
	height: 18px;
	line-height: 18px;
	display: block;
	text-decoration: none;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #c3c3c3;
	background-color: #f4f4f4;
}

.forum-thread table.forum-thread-post .forum-thread-post-misc a:hover
{
	background-color: #e1e1e1;
}

.forum-thread-post-misc .forum-thread-post-date
{
	float: right;
	height: 18px;
	line-height: 18px;
	margin-right: 10px;
}	

.forum-post-original-misc .forum-post-original-buttons,
.forum-thread-post-misc .forum-thread-post-buttons
{
	float: right;
	text-align: right;
	margin-left: 5px;
}

.forum-thread-post-misc .forum-thread-post-mark a
{
	background-color: #ebf4e9 !important;
	color: #006b0a !important;
	border: 1px solid #006b0a !important;
}

.forum-thread-post-misc .forum-thread-post-edit a,
.forum-thread-post-misc .forum-thread-post-delete a
{
	background-color: #ffeaea !important;
	color: #a93030 !important;
	border: 1px solid #a93030 !important;
}

.forum-thread-post-misc .forum-thread-post-mark a:hover
{
	background-color: #dff3d8 !important;
}

.forum-thread-post-misc .forum-thread-post-edit a:hover,
.forum-thread-post-misc .forum-thread-post-delete a:hover
{
	background-color: #f6d5d5 !important;
}

.forum-thread-post-images,
.forum-thread-post-files
{
	margin-top: 25px;
}

.forum-thread-post-files .forum-thread-post-file
{
	padding-left: 20px;
	line-height: 18px;
	background: url('/Admin/Images/Ribbon/Icons/Small/folder_up.png') top left no-repeat;
}

.forum-thread-post-images-inner a
{
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid #c3c3c3;
}

.forum-thread-post-images-inner a img
{
	display: block;
	margin: 0px;
	padding: 0px;
	outline: none;
}

.code-outer
{
	position: relative;
	width: 750px;
	overflow: auto;
}

.forum-post-form .forum-post-preview .code-outer,
.forum-post-form .forum-post-original .code-outer
{
	width: 890px !important;
}

div.forum-quote {
    border-color: #BCC8D6;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
    margin: 0.5em 0 1em;
    table-layout: fixed;
    width: 100%;
}

div.forum-quote .forum-quote-head {
    background: none repeat scroll 0 0 #E7ECF1 !important;
    color: #676768;
    padding: 0.25em 1em;
    text-align: left;
}

div.forum-quote .forum-quote-text {
    background: none repeat scroll 0 0 #F8F9FA !important;
    color: #676768;
    padding: 0.9em 1em;
}

/*.forum-thread table.forum-thread-post-answer td.forum-thread-post-message .code-outer div.syntaxhighlighter
{
	border: 1px solid #c3c3c3 !important;
}

.forum-thread table.forum-thread-post-answer td.forum-thread-post-message .code-outer div.code-inner
{
	width: 745px;
}*/

.syntaxhighlighter .toolbar
{
	display: none !important;
}

.forum-threadlist table
{
	border: none;
	padding: 0px;
	margin: 0px;
}

.forum-threadlist table tr.forum-threadlist-header
{
	height: 32px;
	line-height: 32px;
	padding: 0px;
	margin: 0px;
}

.forum-threadlist table th
{
	text-align: center;
	font-weight: bold;
	padding: 0px;
	padding-bottom: 4px;
	height: 24px;
	margin: 0px;
}

.forum-threadlist table tr td
{
	text-align: center;
}

.forum-threadlist table tr td.forum-thread-subject,
.forum-threadlist table tr td.forum-thread-lastreply,
.forum-threadlist table tr td.forum-thread-subject table tr td
{
	text-align: left !important;
}



.forum-threadlist table th.forum-thread-subject
{
	width: 440px;
	text-align: left;
}

.forum-threadlist table th.forum-thread-replies
{
	width: 30px;
}

.forum-threadlist table th.forum-thread-startedby
{
	width: 200px;
}

.forum-threadlist table th.forum-thread-lastreply
{
	width: 200px;
	text-align: left;
}

.forum-threadlist .forum-thread-resume
{
	margin-top: 2px;
	line-height: 14px;
	font-size: 11px;
	color: #9b9b9b;
}

.forum-threadlist .forum-thread-lastreply-author
{
	margin-top: 5px;
}

.forum-threadlist .forum-thread-started,
.forum-threadlist .forum-thread-lastreply-date
{
	color: #9b9b9b;
	font-size: 11px;
	margin-top: 4px;
}

.forum-threadlist tr.forum-threadlist-separator td
{
	height: 15px;
	line-height: 15px;
}

.forum-threadlist tr.forum-threadlist-separator td div
{
	height: 1px;
	background-color: #ececec;
}

.forum-categories
{
	margin-top: 10px;
}

.forum-categories .forum-category
{
	display: block;
}

.forum-categories .forum-category a.forum-category-name
{
	font-size: 18px;
}

.forum-categories .forum-category a.forum-category-name:hover
{
	
}

.forum-categories .forum-category div.forum-category-fields
{
	display: block;
	margin-top: 15px;
	margin-left: 30px;
}

.forum-categories .forum-category p
{
	margin-top: 10px;
	margin-left: 30px;
	font-size: 120%;
	display: none;
}

.forum-categories .forum-category div.forum-category-stats,
.forum-category .forum-category-fields .forum-category-moderators
{
	font-size: 12px;
	color: #878787;
	height: auto
}

.forum-categories .forum-category div.forum-category-stats .forum-category-lastreply
{
	margin-top: 10px;
}

.forum-category .forum-category-fields .forum-category-fields-header
{
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	padding: 5px;
	padding-left: 0px;
}

.forum-category .forum-category-fields .forum-category-fields-header div
{
	padding-left: 20px;
}

.forum-category .forum-category-fields .forum-category-stats
{
	float: left;
	margin-right: 50px;
	width: 350px;
}

.forum-category .forum-category-fields .forum-category-stats .forum-category-fields-header div
{
	background: url('/Admin/Images/Ribbon/Icons/Small/EditDocument.png') top left no-repeat;
}

.forum-category .forum-category-fields .forum-category-moderators .forum-category-fields-header div
{
	background: url('/Admin/Images/Ribbon/Icons/Small/magic-wand.png') top left no-repeat;
}

.forum-category .forum-category-fields .forum-category-moderators
{
	float: left;
	margin-right: 20px;
	width: 200px;
}

.forum-category-moderators .forum-category-moderator img,
.forum-category-moderators .forum-category-moderator div
{
	float: left;
}

.forum-category-moderators .forum-category-moderator img
{
	border: 1px solid #c3c3c3;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.forum-category-moderators .forum-category-moderator div
{
	margin-top: 5px;
	height: 32px;
	line-height: 32px;
}


a.forum-reply-anchor,
a.forum-reply-anchor:active,
a.forum-reply-anchor:focus,
a.forum-reply-anchor:hover
{
	text-decoration: none;
	cursor: default;
	display: block;
	width: 0px;
	height: 0px;
}

.forum-paging a,
.forum-paging a:active,
.forum-paging a:hover,
.forum-paging a:focus
{
	outline: none;
	text-decoration: none;
}

.forum-paging a
{
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f8f8f8;
	border: 1px solid #c3c3c3;
	margin-right: 5px;
	margin-top: 5px;
}

.forum-paging a.forum-paging-active
{
	background-color: #e7f1ff;
	border: 1px solid #a4a4a4;
}

.forum-threadlist-split h3
{
	float: left;
}
.forum-threadlist-split a
{
	display: block;
	float: right;
	padding-left: 20px;
	margin-top: 5px;
	background: url('/Admin/Images/Ribbon/Icons/Small/document_new.png') top left no-repeat;
	margin-left: 20px;
}

.forum-threadlist-split a.subscription-settings
{
	background: url('/Admin/Images/Ribbon/Icons/Small/flag_green.png') top left no-repeat;
}

.forum-threadlist-split a.show-unsolved
{
	background: url('/Admin/Images/Ribbon/Icons/Small/check_grey.png') top left no-repeat;
}

.forum-threadlist-split a.show-unanswered
{
	background: url('/Admin/Images/Ribbon/Icons/Small/document_plain_red.png') top left no-repeat;
}

.forum-threadlist-split a.show-all
{
	background: url('/Admin/Images/Ribbon/Icons/Small/documents.png') top left no-repeat;
}


.forum-list-empty
{
	margin-top: 25px;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
}

.forum-category-numbers
{
	margin-top: 4px;
}

.forum-post-makenew
{
	margin-bottom: 25px;
}

.thread-sticky
{
	color: #e57c00;
	font-weight: bold;
}

.thread-hasanswer
{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 2px;
	*left: 4px;
}

.thread-manager-panel
{
	margin-top: 5px;
	height: 16px;
	font-size: 11px;
	
}

.thread-manager-panel a
{
	float: left;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	background-color: #f3f3f3;
}

.thread-manager-panel a.thread-edit
{
	color: #a93030;
}

.thread-manager-panel a.thread-delete
{
	color: #ec4040;
}

.thread-manager-panel a.thread-sticky-change
{
	color: #e57c00;
}

a.thread-sticky
{
	display: block;
	background: url('/Admin/Images/Ribbon/Icons/Small/document_info.png') top left no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity = 30);
}

a.thread-sticky:focus,
a.thread-sticky:active,
a.thread-sticky:hover
{
	text-decoration: none;
	outline: none;
}

a.thread-sticky-active,
a.thread-sticky:hover
{
	opacity: 1.0;
	-moz-opacity: 1.0;
	filter: alpha(opacity = 100);
}

.forum-dialog-overlay
{
	z-index: 99;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #ffffff;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
}

div.forum-dialog
{
	position: absolute;
	z-index: 101;
	top: 250px;
	left: 350px;
	border: 1px solid #c3c3c3;
	background-color: #ffffff;
}

div.forum-dialog h3.forum-dialog-title
{
	height: 22px;
	border-bottom: 1px solid #c3c3c3;
	background-color: #eaeaea;
}

div.forum-dialog h3.forum-dialog-title a,
div.forum-dialog h3.forum-dialog-title a:focus,
div.forum-dialog h3.forum-dialog-title a:active,
div.forum-dialog h3.forum-dialog-title a:hover
{
	text-decoration: none;
	outline: none;
}

div.forum-dialog h3.forum-dialog-title span
{
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 3px;
}

div.forum-dialog h3.forum-dialog-title a
{
	float: right;
	width: 11px;
	height: 11px;
	margin-right: 5px;
	margin-top: 4px;
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	background: url('/Admin/Images/minus.gif') top left no-repeat;
}

div.forum-dialog div.forum-dialog-content
{
	margin: 10px;
}

div.forum-dialog div.forum-dialog-content ul,
div.forum-dialog div.forum-dialog-content ul, li
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

div.forum-dialog div.forum-dialog-content ul, li
{
	white-space: nowrap;
}