<div class="GLS">
	<!--@If Defined(Order.Customer.Address)-->
	<!--@If Defined(Order.Customer.ZipCode-->
	<div>
		<!--@Translate(Parcel_shops_near_address, "Parcel shops near address")--> <span class="location"><!--@Order.Customer.Address--> <!--@Order.Customer.ZipCode--></span>
	</div>
	<!--@EndIf(Order.Customer.ZipCode-->
	<!--@EndIf(Order.Customer.Address)-->

	<div class="gls-parcel-shops" id="<!--@FieldPrefix-->parcel-shops">
		<!--@LoopStart(ParcelShops)-->
		<div class="gls-parcel-shop" data-number="<!--@Number-->" data-lat="<!--@Latitude-->" data-lng="<!--@Longitude-->">
			<div class="ctrl">
                <!--@If Defined(IsSelected)-->
				<input type="radio" name="<!--@FieldPrefix-->ParcelShopNumber" value="<!--@Number-->" id="<!--@FieldPrefix-->ParcelShopNumber_<!--@Number-->" checked="checked"/>
				<!--@EndIf-->
                <!--@If Not Defined(IsSelected)-->
				<input type="radio" name="<!--@FieldPrefix-->ParcelShopNumber" value="<!--@Number-->" id="<!--@FieldPrefix-->ParcelShopNumber_<!--@Number-->"/>
				<!--@EndIf-->
			</div>
			<div class="content">
				<div class="name"><label for="<!--@FieldPrefix-->ParcelShopNumber_<!--@Number-->"><!--@CompanyName--></label></div>
				<div class="adr">
					<div class="street-address"><!--@Streetname--></div>
					<!--@If Defined(Streetname2)-->
					<div class="extended-address"><!--@Streetname2--></div>
					<!--@EndIf(Streetname2)-->
					<span class="postal-code"><!--@ZipCode--></span>
					<span class="locality"><!--@CityName--></span>
					<div class="country-name"><!--@CountryCodeISO3166A2--></div>
				</div>
			</div>
		</div>
		<!--@LoopEnd(ParcelShops)-->
	</div>
</div>
