@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog.Export
@inherits ViewModelTemplate<ExportFileViewModel>


<div>
    <p>@Translate("You can download exported products archive from following link.")</p>

    <a href="@Model.DownloadLink" target="_blank">@Model.FileName</a>
</div>
