@inherits ViewModelTemplate<ProductListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog


<h2>VARIANT PRODUCTS</h2>

@foreach (var product in Model.Products)
{
	<div>
		@product.Name
	</div>
}
