<style>
  .select-editable { position:relative; background-color:white; border:solid grey 1px;  width:220px; height:18px; }
  .select-editable select { position:absolute; top:0px; left:0px; font-size:14px; border:none; width:220px; margin:0; }
  .select-editable input { position:absolute; top:0px; left:0px; width:200px; padding:1px; font-size:12px; border:none; }
  .select-editable select:focus, .select-editable input:focus { outline:none; }
</style>
<script type="text/javascript">
    function addNewList(select, elementId){
      select.nextElementSibling.value=select.options[select.selectedIndex].text;
      if(select.value == 'createNew'){
        document.getElementById("CC_Name_" + elementId).value = "";
        document.getElementById("CC_Name_" + elementId).focus();
       }
    }
    
    function createNewList(elementId){
      if(document.getElementById("CC_Name_" + elementId).value.length ==0){
        alert("Please choose the list from the dropdown list or create new!")
        document.getElementById("CC_Name_" + elementId).focus();
      }else{
        document.getElementById('<!--@ParagraphID-->AddListForm' + elementId).submit();
      }
    }
    
    function removeFromList(elementId, action){
      if(document.getElementById("CC_List_" + elementId).value == 'createNew'){
        alert("The chosen list doesn't exist. Please choose another list")
        document.getElementById("CC_Name_" + elementId).focus();
      }else{
        document.getElementById('<!--@ParagraphID-->AddListForm' + elementId).action = action;
        document.getElementById('<!--@ParagraphID-->AddListForm' + elementId).submit();
      }
    }
</script> 
<h2><!--@Ecom:Group.Name--></h2>
<ul id="productlist" class="horizontal">
    <!--@LoopStart(Products)-->
    <li class="listitem<!--@Products.LoopMod2-->">
        <h3><a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.Name--></a></h3>
        <a href="<!--@Ecom:Product.Link.Clean-->"><!--@Ecom:Product.ImageSmall.Default--></a>
        <span class="price">
            <!--@Ecom:Product.Price-->
        </span>
        <a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;cartcmd=add">Add to basket</a>
        <!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
		<a href="/default.aspx?id=<!--@Ecom:Product:Page.ID-->&amp;productid=<!--@Ecom:Product.ID-->&amp;CatalogPublishingcmd=addtocatalog" >Add to catalog</a>
        <!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->
        <!--@If Defined(Ecom:Product.ShortDescription)-->
            <span class="shortdescription"><!--@Ecom:Product.ShortDescription--></span>
        <!--@EndIf(Ecom:Product.ShortDescription)-->
    </li>

	  <div class="product-favorites">
        <!--@If Defined(Ecom:Product.AddToList)-->
            <!--@LoopStart(CustomerCenter.ListTypes)-->
                <br /> <h4> list type  -  [ <!--@Ecom:Product.List.Type--> ]</h4>
                <form id="<!--@ParagraphID-->AddListForm<!--@Ecom:CustomerCenter.List.Select.ID-->" name="<!--@ParagraphID-->AddListForm<!--@Ecom:CustomerCenter.List.Select.ID-->" action="<!--@Ecom:Product.AddToThisListAction-->" method="post">
                  <div style="width:400px; hight:20px;">
                    <div style="float:right;position:relative;">
                      <a href="#" id='CC_List_LINK_<!--@Ecom:CustomerCenter.List.Select.ID-->' onclick="createNewList('<!--@Ecom:CustomerCenter.List.Select.ID-->');">
                          <!--@Translate(AddToNewList, 'Add to list')-->
                      </a>&nbsp;
                      <a href="#" id='CC_List_LINK_<!--@Ecom:CustomerCenter.List.Select.ID-->' onclick="removeFromList('<!--@Ecom:CustomerCenter.List.Select.ID-->', '<!--@Ecom:Product.RemoveFromList-->');">
                          <!--@Translate(RemoveFromList, 'Remove from list')-->
                      </a>&nbsp;
                      </div>
                      <div class="select-editable">
                      <select id="CC_List_<!--@Ecom:CustomerCenter.List.Select.ID-->" name="CC_List_<!--@Ecom:CustomerCenter.List.Select.ID-->"onchange="addNewList(this, '<!--@Ecom:CustomerCenter.List.Select.ID-->');">
                          <!--@LoopStart(CustomerCenter.ListTypes.Lists)-->
                          <option value="<!--@Ecom:CustomerCenter.ListTypes.List.ID-->"> <!--@Ecom:CustomerCenter.ListTypes.List.Name--></option>
                          <!--@LoopEnd(CustomerCenter.ListTypes.Lists)-->
                          <option value='createNew'> <!--@Translate(CreateNewList, 'Create a new list')--></option>
                      </select>
                      <!--@Ecom:CustomerCenter.List.Select.Name.Input-->
                    </div>
                  </div>
                </form>
            <!--@LoopEnd(CustomerCenter.ListTypes)-->  
            </br>
            <!--@If(Ecom:Product.IsProductInDefaultList=True)-->            
                <a href="<!--@Ecom:Product.RemoveFromList-->"><!--@Translate(removefromdefaultlist, 'Remove from default list')--></a><br />
            <!--@Else-->
                <a href="<!--@Ecom:Product.AddToList-->"><!--@Translate(addtodefaultlist, 'Add to default list')--></a><br />
            <!--@EndIf-->
        <!--@EndIf(Ecom:Product.AddToList)-->
    </div>
    <!--@LoopEnd(Products)-->
</ul>

<!--@If Defined(Ecom:CatalogPublishing.UseCatalogPublishing)-->
<div style="clear: both; width: 100%;padding-bottom:5px; text-align: right;">
  <a href="/default.aspx?CatalogPublishingcmd=preview" >Catalog Publishing</a>
</div>
<!--@EndIf(Ecom:CatalogPublishing.UseCatalogPublishing)-->

<div id="productlistnavigation">
    <span id="productcount">
        <!--@Ecom:ProductList.PageProdCnt--> products found
    </span>
    <span id="pagecount">
        Page <!--@Ecom:ProductList.CurrentPage--> of <!--@Ecom:ProductList.TotalPages-->
    </span>
    <span id="pagenavigation">
        <a id="prevpage" href="<!--@Ecom:ProductList.PrevPage.Clean-->" <!--@Ecom:ProductList.PrevPage-->>Previous</a> <a id="nextpage" href="<!--@Ecom:ProductList.NextPage.Clean-->" <!--@Ecom:ProductList.NextPage-->>Next</a><br />
    </span>
</div>
