/* VERTICAL - PRODUCTLIST AND RELATED PRODUCTS */
#productlist.vertical, #productlist li, #relatedproductlist.vertical, #relatedproductlist li, #grouplist.vertical, #grouplist li 
{
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
#productlist.vertical li, #relatedproductlist.vertical li, #grouplist.vertical li 
{
    clear: both;
    margin-bottom: 10px;
    float: left;
    padding: 5px;
    width: 100%;
    }
    
#productlist.vertical li.listitem0, #relatedproductlist.vertical li.listitem0, #grouplist.vertical li.listitem0 
{
    background-color: #ccc;
    }
    
#relatedproducts 
{
    clear: both;
    }
    
/* HORIZONTAL -  PRODUCTLIST AND RELATED PRODUCTS */
#productlist.horizontal, #productlist.horizontal li, #relatedproductlist.horizontal, #relatedproductlist.horizontal li, #grouplist, #grouplist li 
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    }
    
#productlist.horizontal li, #relatedproductlist.horizontal li, #grouplist li 
{
    margin-bottom: 10px;
    float: left;
    width: 142px;
    margin-right: 28px;
    padding: 5px;
    }
    
/* SHARED FOR BOTH HORIZONTAL AND VERTICAL - PRODUCTLIST AND RELATED PRODUCTS */
    
#productlist li h3, #relatedproductlist li h3, #grouplist li h3 
{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
    }
    
#productlist li h3 a, #relatedproductlist li h3 a, #grouplist li h3 a
{
    text-decoration: none;
    color: #000;
    }
    
#productlist li img.EcomImageSmall, #relatedproductlist li img.EcomImageSmall 
{
    float: left;
    border: 1px solid #000;
    margin: 5px 5px 0px 0px;
    }
    
#productlist li span.price, #relatedproductlist li span.price, #productdetails span.price
{
    font-size: 20px;
    display:block;
    }
    
#productlist li span.shortdescription, #relatedproductlist li span.shortdescription, #productdetails span.longdescription, #grouplist li span.shortdescription 
{
    display:block;
    }
    
/* PRODUCTLIST NAVIGATION */
#productlistnavigation 
{
    clear: both;
    width: 100%;
    border-top: 1px solid #ccc;
    }

#productlistnavigation span 
{
    display:block;
    line-height: 30px;
    width: 180px;
    float: left;
    text-align: left;
    }
    
#productlistnavigation span#pagecount 
{
    text-align: center;
    }
    
#productlistnavigation span#pagenavigation 
{
    text-align: right;
    }
    
/* PRODUCT DETAILS */
#productdetails 
{
    margin-bottom: 15px;
    float: left;
    width: 100%;
    }

#productdetails img.EcomImageMedium
{
    float: left;
    border: 1px solid #000;
    margin: 5px 5px 0px 0px;
    }
    
/* PRODUCTVARIANTS */
div#variantcombinations 
{
    margin-bottom: 15px;
    }

div#variantcombinations ul, div#variantcombinations ul li 
{
    margin: 0;
    padding: 0;
    }
    
div#variantcombinations ul li 
{
    list-style: none;
    padding: 5px;
    }
    
div#variantcombinations ul li.listitem0 
{
    background: #ccc;
    }
    
div#variantcombinations ul li h3 
{
    margin: 0;
    }
    
div#variantcombinations ul li h3 a 
{
    text-decoration: none;
    }
    
div#variantcombinations ul li a
{
    color: #000;
    }
    
/* PAGECART */
#pagecart 
{
    padding: 10px;
    }
    
/* BASKET */
#reciept h3 
{
    margin: 0;
    }
    
#billing, #delivery 
{
    margin-bottom: 15px;
    border: none;
    }
    
#billing label, #delivery label 
{
    display: block;
    font-weight: bold;
    }
    
#billing input, #billing textarea, #billing select, #delivery input, #delivery textarea, #delivery select 
{
    width: 100%;
    border: 1px solid #ccc;
    padding: 2px;
    line-height: 18px;
    margin-bottom: 5px;
    }
   
.visibilityHidden, tr.orderline1 a.orderfunctions, tr.orderline3 a.orderfunctions 
{
    visibility: hidden;
    }
    
.visibilityVisible 
{
    visibility: visible;
    }
    
.displayNone 
{
    display: none;
    }
    
.displayBlock 
{
    display: block;
    }
    
#stepindicator
{
    margin-bottom: 10px;
    }

 #orderdetails 
{
    margin-bottom: 10px;
    }

tr.basketheader td, tr.footer td 
{
    height: 19px;
    background: #ddd;
    border-right: 3px solid #fff;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    }
    
tr.orderline td, tr.total td, tr.fee td
{
    height: 19px;
    border-right: 3px solid #fff;
    padding: 0px 5px 0px 5px;
    }
    
tr.separator td 
{
    height:1px;
    border-right: 3px solid #fff;
    padding: 0px 5px 0px 5px;
    background: #ddd;
    }
    
tr.total td 
{
    font-weight: bold;
    }
    
    
.CatalogPublishing-dialog-overlay
{
	z-index: 99;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #ffffff;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
}

div.CatalogPublishing-dialog
{
	position: absolute;
	z-index: 101;
	top: 250px;
	left: 350px;
	border: 1px solid #c3c3c3;
	background-color: #ffffff;
}

div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title
{
	height: 22px;
	border-bottom: 1px solid #c3c3c3;
	background-color: #eaeaea;
}

div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title a,
div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title a:focus,
div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title a:active,
div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title a:hover
{
	text-decoration: none;
	outline: none;
}

div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title span
{
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 3px;
}

div.CatalogPublishing-dialog h3.CatalogPublishing-dialog-title a
{
	float: right;
	width: 11px;
	height: 11px;
	margin-right: 5px;
	margin-top: 4px;
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	background: url('/Admin/Images/minus.gif') top left no-repeat;
}

div.CatalogPublishing-dialog div.CatalogPublishing-dialog-content
{
	margin: 10px;
}

div.CatalogPublishing-dialog div.CatalogPublishing-dialog-content ul,
div.CatalogPublishing-dialog div.CatalogPublishing-dialog-content ul, li
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

div.CatalogPublishing-dialog div.CatalogPublishing-dialog-content ul, li
{
	white-space: nowrap;
}