@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="d-grid position-relative justify-content-center align-items-center text-center" style="min-height: @(Model.Item.GetString("Height"))vh">
	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		<figure class="position-absolute top-0 bottom-0 end-0 start-0 m-0 pe-none ratio">
			<img class="object-fit-cover" src="@image.Path" style="object-position: @image.GetFocalPointPercentage()" />
		</figure>
	}

	<div class="container-xl d-grid position-relative mb-0-last-child p-4">
		@if (Model.Item.TryGetString("Title", out string title)) {
			<h1>@title</h1>
		}

		@if (Model.Item.TryGetString("Text", out string text)) {
			@text
		}

		<div class="hstack gap-2 mx-auto">
			<button class="btn btn-primary">Read More</button>
			<button class="btn btn-outline-secondary">Read Less</button>
		</div>
	</div>
</div>
