@helper RenderPagination(string currentPageLink, int pageCount, int currentPage, int pageSize)
{
	<ul class="pagination m-0">
		@{string pageHrefTemplate = string.Format("<a class=\"page-link\" href=\"{0}&PageNum={{0}}&PageSize={{1}}\">{{0}}</a>", currentPageLink);}
		@for (int i = 1; i <= pageCount; i++)
		{
			var css = i == currentPage
				? "page-item active"
				: "page-item";
			<li class="@css">
				@string.Format(pageHrefTemplate, i, pageSize)
			</li>
		}
	</ul>
}
