@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
	string shippingDate = GetString("Ecom:Order.ShippingDate"),
	shippingDateFormatted = GetDate("Ecom:Order.ShippingDate").ToShortDateString();
}

@if (!string.IsNullOrEmpty(shippingDate))
{
	<div class="list-group-item py-2 fs-7">
		<dl class="grid gap-1 gap-sm-3 mb-0">
			<dt class="g-col-8 g-col-sm-4 fw-normal">@Translate("Delivery date")</dt>
			<dd class="g-col-12 g-col-sm-7 order-2 order-sm-1 mb-0">@shippingDateFormatted</dd>
			<dd class="g-col-4 g-col-sm-1 order-1 order-sm-2 mb-0 text-end">
				<button class="btn btn-sm btn-link fs-8 p-0" data-dw-button="link" type="submit" name="CartV2.GotoStep1" id="EditDeliveryDateButton">
					<span class="text-uppercase">@Translate("Edit")</span>
				</button>
			</dd>
		</dl>
	</div>
}

