:root {
    --content-padding: 0.75rem;
}

/* This is only for initial testing */
.test .row > [class^="col"] {
    background-color: #e1e1e1;
}

.test .item [class^="col"] {
    background-color: #cecece;
}

main .row > [class^="col"] {
    background-clip: padding-box;
}
