$enable-negative-margins: true;

@import '1-base','2-layout','3-components', '4-utilities';

:root {
	--bs-gutter-y: 1rem;
	--bs-gutter-x: 1rem;
}

.g-4,
.gy-4 {
	--bs-gutter-y: 2rem;
}

.g-4,
.gx-4 {
	--bs-gutter-x: 2rem;
}
