$enable-negative-margins: true;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$spacers: map-merge( ( 
	0: 0, 
	1: $spacer / 4, //4px
	2: $spacer / 2, //8px
	3: $spacer, //16px
	4: $spacer * 1.5, //24px
	5: $spacer * 3, //48px
	6: ($spacer * 4), //64px
	7: ($spacer * 5), //80px
	8: ($spacer * 6.25), //100px
	9: ($spacer * 7.5), //120px
	10: ($spacer * 9.375) //150px
), $spacers );

$aspect-ratios: ( 
	"1x1": 100%,
	"4x3": calc(3 / 4 * 100%), 
	"3x4": calc(4 / 3 * 100%),
	"16x9": calc(9 / 16 * 100%), 
	"9x16": calc(16 / 9 * 100%), 
	"21x9": calc(9 / 21 * 100%) 
);

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// bootstrap, start
@import "~bootstrap/scss/bootstrap";
// bootstrap, stop

// tiny-slider, start
@import "~tiny-slider/src/tiny-slider";
// tiny-slider, stop

// hc-offcanvas-nav, start
@import '~hc-offcanvas-nav/src/scss/core';
@import '~hc-offcanvas-nav/src/scss/toggle';
// hc-offcanvas-nav, stop

@import 'base','layout','utilities','components';

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
}

:root {
	--bs-font-sans-serif: "Open Sans", sans-serif;
}

.col-lg-3 .btn,
.col-md-3 .btn,
.col-3 .btn {
	display: block;
	width: 100%;
}

.col-lg-3 .display-4,
.col-md-3 .display-4,
.col-3 .display-4 {
	font-size: 2.5rem;
}

.nav-link {
	color: #333;
}
