$enable-negative-margins: true;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "~tiny-slider/src/tiny-slider.scss";
@import 'base','layout','utilities','components';

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
}

:root {
	--bs-font-sans-serif: "Open Sans", sans-serif;
}

.col-lg-3 .btn,
.col-md-3 .btn,
.col-3 .btn {
	display: block;
	width: 100%;
}

.col-lg-3 .display-4,
.col-md-3 .display-4,
.col-3 .display-4 {
	font-size: 2.5rem;
}

.nav-link {
	color: #333;
}
