@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Model.Item.TryGetString("Title", out string title)) {
	<h1>@title</h1>
}

@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
	<div class="fs-5 mb-4">@subtitle</div>
}

@if (Model.Item.TryGetString("Text", out string text)) {
	@text
}

<div class="d-flex gap-2">
	<button class="btn btn-primary">Read More</button>
	<button class="btn btn-outline-secondary">Read Less</button>
</div>
