@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

<div class="d-flex flex-column gap-1 align-items-end justify-content-center">
	@if (Model.Item.TryGetString("Title", out string title)) {
		<h2>@title</h2>
	}

	@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
		<div class="fs-6 mb-2">@subtitle</div>
	}

	@if (Model.Item.TryGetString("Text", out string text)) {
		@text
	}

	<div>
		<button class="btn btn-primary">Read More</button>
		<button class="btn btn-outline-secondary">Read Less</button>
	</div>
</div>
