@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Model.Item.TryGetString("Title", out string title)) {
	<h1 class="text-center">@title</h1>
}

@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
	<p class="lead text-body text-opacity-75 text-center mb-3">@subtitle</p>
}

@if (Model.Item.TryGetString("Text", out string text)) {
	<div class="text-center">
		@text
	</div>
}

<div class="hstack gap-2 mx-auto">
	<button class="btn btn-primary">Read More</button>
	<button class="btn btn-outline-secondary">Read Less</button>
</div>
