.container-compressed {
	@include make-container();
	padding-right: 0;
	padding-left: 0;

	@each $breakpoint, $container-max-width in $container-max-widths {
		
		//TODO: figure out how to get only lg container max width wihout looping

		@include media-breakpoint-up(lg) {
			max-width: $container-max-width / 12 * 8;
		}
	}
}
