html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
}

:root {
	--bs-font-sans-serif: "Inter", sans-serif;
}

// Icons

svg.icon,
.icon svg {
	fill: currentColor;
	height: 1rem;
	padding: 0.125rem;
	position: relative;
	top: -2px;
	width: 1rem;
}
