html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

body {
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}
/*Makes rendering faster by not rendering until footer scrolls into view*/
footer {
	content-visibility: auto; 
}

main img, footer img {
	content-visibility: auto;
}
