[ type="search" ] {
	background-image: url('../../icons/search.svg');
	background-position: center left $input-padding-x;
	background-repeat: no-repeat;
	padding-left: 2.5rem !important;
}

.form-control {
	background-size: 1rem 1rem;
}
