// Allows for customizing button radius independently from global border radius
$input-border-radius:                   0;
$input-border-radius-sm:                0;
$input-border-radius-lg:                0;