[ type="search" ] {
	background-image: url(/Files/Templates/Designs/R4/Assets/icons/search.svg);
	background-position: center left $input-padding-x;
	background-repeat: no-repeat;
	padding-left: 2.5rem !important;
}

.form-control {
	background-size: 1rem 1rem;
}
