// Linked rows
//
// Link table rows

.table-linked {

	tr:focus-within {
		background-color: $table-hover-bg;
		outline: $ally-outline;

		a {
			outline: none;
		}
	}

	td {
		padding: 0 !important;
	}

	a {
		padding: $table-cell-padding-y $table-cell-padding-x;
	}
}
