// Linked rows
//
// Link table rows

.table-linked {

	tr:focus-within {
		background-color: $table-hover-bg;
		outline: $ally-outline;

		a {
			outline: none;
		}
	}

	td {
		padding: 0 !important;
	}

	a {
		padding: $table-cell-padding-y $table-cell-padding-x;
	}
}

.table-clean {

	& > :not(caption) > * > * {
		padding: calc(#{$table-cell-padding-y} / 2) $table-cell-padding-x !important;
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: $table-border-color !important;
	}

	tr:not(:last-child) {

		th,
		td {
			border-bottom: none !important;
		}
	}
}

.table-linked.table-clean {

	th,
	td {
		padding: 0 !important;
	}

	a {
		padding: calc(#{$table-cell-padding-y} / 2) $table-cell-padding-x !important;
	}

	tr:first-child th a,
	tr:first-child td a {
		padding-top: $table-cell-padding-y !important;
	}

	tr:last-child th a,
	tr:last-child td a {
		padding-bottom: $table-cell-padding-y !important;
	}
}
