@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;

a:not(.btn) {
	color: inherit !important;

	&:hover {
		color: inherit !important;
	}
}

:root {
	--r4-text-scale-md-h1: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-md-h2: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-md-h3: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-md-display-1: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-md-display-2: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	--r4-text-scale-md-display-3: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-sm-h1: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-sm-h2: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-sm-h3: clamp(1rem, 1.25rem, 1.25rem);
	--r4-text-scale-sm-display-1: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	--r4-text-scale-sm-display-2: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-sm-display-3: clamp(1rem, 1.375rem + 1.5vw, 2rem);
}
