$font-family-sans-serif: 'Inter', sans-serif;

a:not(.btn) {
	color: inherit !important;

	&:hover {
		color: inherit !important;
	}
}

.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}
