@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;

a:not(.btn) {
	color: inherit !important;

	&:hover {
		color: inherit !important;
	}
}

.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
	letter-spacing: -0.75px !important;
}
