$utilities: (
	"position": (
		property: position,
		responsive: true,
		values: static relative absolute fixed sticky
	)
);

$positions: static, relative, absolute, fixed, sticky;

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $value in $positions {
			.position#{$infix}-#{$value} {
				position: $value !important;
			}
		}
	}
}

$spacers: map-merge( ( 
	0: 0, 
	1: $spacer / 4, //4px
	2: $spacer / 2, //8px
	3: $spacer, //16px
	4: $spacer * 1.5, //24px
	5: $spacer * 3, //48px
	6: ($spacer * 6), //96px
	7: ($spacer * 12), //192px
	8: ($spacer * 24), //384px
	9: ($spacer * 48), //768px
	10: ($spacer * 96) //1536px
), $spacers );

$enable-negative-margins: true;
