$custom-font-sizes: (
	7: .875rem,
	8: .75rem,
	9: .5rem
);

// Merge the maps
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$utilities: (
	"position": (
		property: position,
		responsive: true,
		values: static relative absolute fixed sticky
	),
	"font-size": (
		rfs: true,
		property: font-size,
		responsive: true,
		class: fs,
		values: $font-sizes
	),
	"opacity": (
		property: opacity,
		class: opacity,
		state: hover,
		values: ( 0: 0, 25: .25, 50: .5, 75: .75, 100: 1 )
	),
	"min-viewport-height": (
		responsive: true,
		property: min-height,
		class: min-vh,
		values: (100: 100vh, 75: 75vh, 50: 50vh, 25: 25vh)
	),
);

$positions: static, relative, absolute, fixed, sticky;

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $value in $positions {
			.position#{$infix}-#{$value} {
				position: $value !important;
			}
		}
	}
}
