$custom-font-sizes: (
	7: 0.875rem,
	small: 0.75em
);

// Merge the maps
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$utilities: (
	"position": (
		property: position,
		responsive: true,
		values: static relative absolute fixed sticky
	),
	"font-size": (
		rfs: true,
		property: font-size,
		class: fs,
		values: $font-sizes
	),
	"opacity": (
		property: opacity,
		class: opacity,
		state: hover,
		values: ( 0: 0, 25: .25, 50: .5, 75: .75, 100: 1 )
	),
	"min-viewport-height": (
		responsive: true,
		property: min-height,
		class: min-vh,
		values: (100: 100vh, 75: 75vh, 50: 50vh, 25: 25vh)
	),
);

$positions: static, relative, absolute, fixed, sticky;

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $value in $positions {
			.position#{$infix}-#{$value} {
				position: $value !important;
			}
		}
	}
}

$spacers: map-merge( ( 
	0: 0, 
	1: $spacer / 4, //4px
	2: $spacer / 2, //8px
	3: $spacer * 1, //16px
	4: $spacer * 1.5, //24px
	5: $spacer * 3, //48px
	6: ($spacer * 6), //96px
	7: ($spacer * 7.5), //120px
	8: ($spacer * 12), //192px
	9: ($spacer * 15), //240px
	10: ($spacer * 21) //336px
), $spacers );

.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}
