$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #4fa4fd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #ff85ff !default;
$red:     #dc3545 !default;
$orange:  #ffb931 !default;
$yellow:  #ffd956 !default;
$green:   #198754 !default;
$teal:    #50e7c5 !default;
$cyan:    #46e7ff !default;

$primary:           $gray-400;
$secondary:         $black;
$success:           $green;
$info:              $cyan;
$warning:           $yellow;
$danger:            $red;
$light:             $gray-200;
$dark:              $gray-900;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

//$enable-negative-margins: true;
