:root {
	//Text scale
	--r4-text-scale-md-h1: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-md-h2: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-md-h3: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-md-display-1: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	--r4-text-scale-md-display-2: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-md-display-3: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-sm-h1: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-sm-h2: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-sm-h3: clamp(1rem, 1.25rem, 1.25rem);
	--r4-text-scale-sm-display-1: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-sm-display-2: clamp(1rem, 1.375rem + 1.5vw, 2rem);
	--r4-text-scale-sm-display-3: clamp(1rem, 1.375rem + 1.5vw, 2rem);
	//Themes
	--r4-forground-color: var(--bs-dark);
	--r4-background-color: var(--bs-white);
	--r4-button-primary-background-color: initial;
	--r4-button-primary-foreground-color: initial;
	--r4-button-secondary-background-color: initial;
	--r4-button-secondary-foreground-color: initial;
	//Brand
	--r4-header-font: var(--bs-font-sans-serif);
	--r4-header-font-weight: initial;
	--r4-header-casing: initial;
	--r4-header-line-height: initial;
	--r4-header-letter-spacing: initial;
	--r4-display-font: var(--bs-font-sans-serif);
	--r4-display-font-weight: initial;
	--r4-display-casing: initial;
	--r4-display-line-height: initial;
	--r4-display-letter-spacing: initial;
	--r4-body-font: var(--bs-font-sans-serif);
	--r4-body-font-weight: initial;
	--r4-body-casing: initial;
	--r4-body-line-height: initial;
	--r4-body-letter-spacing: initial;
}

// Bootstrap configuration
$enable-negative-margins: true;

$grid-gutter-width: 2rem;
$spacer: 1rem !default;

$spacers: (
	0: 0, 
	1: $spacer / 4, //4px
	2: $spacer / 2, //8px
	3: $spacer * 1, //16px
	4: $spacer * 2, //32px
	5: $spacer * 3, //48px
	6: ($spacer * 6), //96px
	7: ($spacer * 7.5), //120px
	8: ($spacer * 12), //192px
	9: ($spacer * 15), //240px
	10: ($spacer * 21) //336px
);

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #f2f2f2;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #808080;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #4fa4fd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #ff85ff;
$red:     #dc3545;
$orange:  #ffb931;
$yellow:  #ffd956;
$green:   #198754;
$teal:    #50e7c5;
$cyan:    #46e7ff;

$primary:           $gray-400;
$secondary:         $black;
$success:           $green;
$info:              $cyan;
$warning:           $yellow;
$danger:            $red;
$light:             $gray-200;
$dark:              $gray-900;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

/* Set the default card background */

$card-bg: transparent !default;

/* Set the default card-header background */

$card-cap-bg: transparent !default;

$offcanvas-bg-color:                var(--r4-background-color);
$offcanvas-color:                   var(--r4-forground-color);

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .37;
