$enable-negative-margins: true;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #4fa4fd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #ff85ff;
$red:     #dc3545;
$orange:  #ffb931;
$yellow:  #ffd956;
$green:   #198754;
$teal:    #50e7c5;
$cyan:    #46e7ff;

$primary:           $gray-400;
$secondary:         $black;
$success:           $green;
$info:              $cyan;
$warning:           $yellow;
$danger:            $red;
$light:             $gray-200;
$dark:              $gray-900;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);
