@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item item-fluid d-flex align-items-center d-flex justify-content-end">
    <nav class="nav">
        <a class="nav-link text-dark active" aria-current="page" href="/">Home</a>
        <a class="nav-link text-dark" href="/pages/products/">Products</a>
        <a class="nav-link text-dark" href="/pages/about/">About us</a>
        <a class="nav-link text-dark" href="/pages/contact/">Contact</a>
    </nav>
</div>