@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend.Navigation

@{ 
    string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "";

    var navigationSettings = new NavigationSettings();
    navigationSettings.StartLevel = 1;
    navigationSettings.StopLevel = 10;
    navigationSettings.ExpandMode = ExpandMode.All;

    navigationSettings.Parameters.Add("TextPosition", Model.Item?.GetList("TextPosition")?.SelectedValue ?? "right");
    navigationSettings.Parameters.Add("HideTexts", Model.Item.GetBoolean("HideTexts"));
    navigationSettings.Parameters.Add("HideIcons", Model.Item.GetBoolean("TextPosition"));
    navigationSettings.Parameters.Add("Size", Model.Item?.GetList("Size")?.SelectedValue ?? "normal");

    if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot"))) {
        string root = Model.Item.GetString("NavigationRoot");

        if (root.Contains("=")) {
            int rootPageId = Convert.ToInt32(root.Substring(root.LastIndexOf('=') + 1));
            navigationSettings.RootPageId = rootPageId;
        }
    } 

    string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}


<div class="d-flex align-items-center @horizontalAlign theme theme-@theme">
    @Navigation.RenderNavigation("Navigation/Horizontal.cshtml", navigationSettings)
</div>
