@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item item-fluid">
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Image")))
    {
        string imagePath = Model.Item?.GetFile("Image")?.Path ?? "";
        imagePath = "/Admin/Public/GetImage.ashx?width=" + 1920 + "&height=" + 845 + "&image=" + imagePath + "&Format=WebP&Quality=100";

        int xPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
        int yPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromTop ?? 50;

        <div class="position-relative top-0 h-100 w-100 min-h-300px">
            <div class="position-absolute h-100 w-100">
                <img loading="lazy" src="@imagePath" alt="@Model.Item.GetString("Title")"
                    style="object-fit: cover;" class="w-100 h-100">
            </div>
        </div>
    }
</div>
