@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item">
    <figure class="m-0 ratio ratio-16x9">
        @if (Model.Item.GetString("Image") != null)
        {
            string imagePath = Model.Item?.GetFile("Image")?.Path ?? "";
            imagePath = "/Admin/Public/GetImage.ashx?width=" + 1920 + "&height=" + 845 + "&image=" + imagePath + "&Format=WebP&Quality=100";

            int xPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
            int yPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromTop ?? 50;

            <img loading="lazy" title="@Model.Item.GetString("Title")" src="@imagePath" alt="@Model.Item.GetString("Title")" style="object-fit: cover;" />
        }
    </figure>
</div>