@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item">
    <figure class="my-2">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-reset fs-4 text-uppercase lh-1 px-0" href="/"
                        style="letter-spacing: .2rem;">Rapido</a>
            </li>
        </ul>
    </figure>
</div>
