@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

@{ 
	string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
}

<figure class="m-0">
    <ul class="nav">
        <li class="nav-item">
            @if (logoImage != "") {
                <a class="nav-link px-0" href="/">
                    @if (Path.GetExtension(logoImage).ToLower() == ".svg")
                    {
                        <div class="svg-icon dw-icon-size-5">
                            @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(logoImage))
                        </div>
                    }
                    else
                    {
			            <picture class="mb-2 mx-auto d-block">
				            <img loading="lazy" src="@logoImage" title="Logo" />
			            </picture>
                    }
                </a>
			} else {
                <a class="nav-link fs-4 px-0" href="/">Rapido</a>
			} 
        </li>
    </ul>
</figure>
