@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

@{ 
	string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
    string maxWidth = !string.IsNullOrEmpty(Model.Item.GetString("MaxWidth")) ? "max-width: " + Model.Item.GetInt32("MaxWidth") + "px" : "";
    string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "";
}

<figure class="m-0 d-flex align-items-center @horizontalAlign">
    <ul class="nav">
        <li class="nav-item">
            @if (logoImage != "") {
                <a class="nav-link px-0" href="/">
                    @if (Path.GetExtension(logoImage).ToLower() == ".svg")
                    {
                        <div class="svg-icon" style="@maxWidth">
                            @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(logoImage))
                        </div>
                    }
                    else
                    {
			            <picture class="mb-2 mx-auto d-block">
				            <img src="@logoImage" title="Logo" />
			            </picture>
                    }
                </a>
			} else {
                <a class="nav-link fs-4 px-0" href="/">Rapido</a>
			} 
        </li>
    </ul>
</figure>
