@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<figure class="m-0">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link fs-4 px-0" href="/">Rapido</a>
        </li>
    </ul>
</figure>
