@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

@{ 
	string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
    string maxWidth = !string.IsNullOrEmpty(Model.Item.GetString("MaxWidth")) ? "max-width: " + Model.Item.GetInt32("MaxWidth") + "px" : "";
    maxWidth = maxWidth == "max-width: 0px" ? "" : maxWidth;
    string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "";
}

<figure class="m-0 d-flex align-items-center @horizontalAlign">
    @if (logoImage != "") {
        <a href="/">
            @if (Path.GetExtension(logoImage).ToLower() == ".svg")
            {
                <div class="svg-icon" style="@maxWidth">
                    @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(logoImage))
                </div>
            }
            else
            {
			    <picture class="mb-2 mx-auto d-block">
				    <img src="@logoImage" title="Logo" />
			    </picture>
            }
        </a>
	} else {
        <a class="nav-link fs-4 px-0" href="/">Rapido</a>
	} 
</figure>
