@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.Web

@{ 
    bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

    //Put the details page link up in context items
    if (System.Web.HttpContext.Current.Items.Contains("DetailsPageLink"))
    {
        System.Web.HttpContext.Current.Items["DetailsPageLink"] = Model.Item.GetString("DetailsView");
    } 
    else 
    {
        System.Web.HttpContext.Current.Items.Add("DetailsPageLink", Model.Item.GetString("DetailsView"));
    }
}

@if (isVisualEditor) {
    <div class="alert alert-info" role="alert">
        <span><i class="fas fa-exclamation-triangle mr-3"></i></span> <span>@Translate("Product catalog App: Edit this column to configure. (Product catalog app must be attached this paragraph)")</span>
    </div>
}

<div>
    @Model.GetModuleOutput()
</div>
