@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend.Navigation
@using System.Web

@{ 

}

<div class="d-flex justify-content-end align-items-center">
	<label for="ProductListSortSelectorLabel" class="form-label me-2 mb-0">@Translate("Sort")</label>
	<select class="form-select" id="ProductListSortSelectorLabel" aria-label="@Translate("Sort")" name="SortBy">
		<option value="price" selected>@Translate("Price")</option>
		<option value="name">@Translate("Name")</option>
	</select>
</div>
