@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Frontend
@using System.Web

@{ bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

	ProductViewModel product = new ProductViewModel();

	if (System.Web.HttpContext.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)System.Web.HttpContext.Current.Items["ProductDetails"];
	}

	//Collect the images
	int totalImages = 0;
	var selectedImageCategories = Model.Item.GetList("ImageAssets").SelectedValues;
	var imageCategories = product.AssetCategories.Where(x => selectedImageCategories.Contains(x.SystemName));

	if (Model.Item.GetList("ImageAssets").SelectedValues.Count() > 0) {
		foreach (AssetCategoryViewModel group in imageCategories) {
			foreach (MediaViewModel asset in group.Assets) {
				if (asset.Value.ToLower().Contains(".jpeg") || asset.Value.ToLower().Contains(".jpg") || asset.Value.ToLower().Contains(".png") || asset.Value.ToLower().Contains(".gif")) {
					totalImages++;
				}
			}
		}
	} else {
		foreach (AssetCategoryViewModel group in product.AssetCategories) {
			foreach (MediaViewModel asset in group.Assets) {
				if (asset.Value.ToLower().Contains(".jpeg") || asset.Value.ToLower().Contains(".jpg") || asset.Value.ToLower().Contains(".png") || asset.Value.ToLower().Contains(".gif")) {
					totalImages++;
				}
			}
		}
	}

	foreach (var image in product.ImagePatternImages) {
		totalImages++;
	}
}


@* Get images from selected categories or get all images *@
<div class="row g-4">
	@if (Model.Item.GetList("ImageAssets").SelectedValues.Count() > 0) {
		foreach (AssetCategoryViewModel group in imageCategories) {
			foreach (MediaViewModel asset in group.Assets) {
				if (asset.Value.ToLower().Contains(".jpeg") || asset.Value.ToLower().Contains(".jpg") || asset.Value.ToLower().Contains(".png") || asset.Value.ToLower().Contains(".gif")) {
					<div class="col-sm-12 col-lg-6">
						<img src="/Admin/Public/GetImage.ashx?width=1156&height=1156&crop=7&FillCanvas=true&image=@asset.Value" alt="@asset.Name" class="img-fluid">
					</div>
				}
			}
		}
	} else {
		foreach (AssetCategoryViewModel group in product.AssetCategories) {
			foreach (MediaViewModel asset in group.Assets) {
				if (asset.Value.ToLower().Contains(".jpeg") || asset.Value.ToLower().Contains(".jpg") || asset.Value.ToLower().Contains(".png") || asset.Value.ToLower().Contains(".gif")) {
					<div class="col-sm-12 col-lg-6">
						<img src="/Admin/Public/GetImage.ashx?width=1156&height=1156&crop=7&FillCanvas=true&image=@asset.Value" alt="@asset.Name" class="img-fluid">
					</div>
				}
			}
		}
	}
</div>
