@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{
	bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

	bool productViewModelFound = false;
	ProductViewModel product = new ProductViewModel();

	if (System.Web.HttpContext.Current.Items.Contains("ProductDetails"))
	{
		productViewModelFound = true;
		product = (ProductViewModel)System.Web.HttpContext.Current.Items["ProductDetails"];
	}

	string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = "theme theme-" + theme;
	}

	string pageId = Model?.Item?.GetString("ProductSliderServicePage") != null ? Model.Item.GetString("ProductSliderServicePage") : "";
	string servicePageByNavigationTag = GetPageIdByNavigationTag("ProductSliderService") != 0 ? GetPageIdByNavigationTag("ProductSliderService").ToString() : "";
	pageId = pageId == "" ? servicePageByNavigationTag : pageId;

	string url = "/Default.aspx?ID=" + pageId;
	if (!url.Contains("LayoutTemplate")) {
		url += url.Contains("?") ? "&LayoutTemplate=Designs/R4/R4_PageClean.cshtml" : "?LayoutTemplate=Designs/R4/R4_PageClean.cshtml";
	}
	if (isVisualEditor) {
		url += "&VisualEdit=True";
	}

	//If products is added through the selector
	ProductListViewModel productsToRelateTo = Model.Item.GetValue("ProductsToRelateTo") as ProductListViewModel;
	IList<string> relateFromProductIds = new List<string>{};
	IList<string> relateFromGroupIds = new List<string>{};

	if (productsToRelateTo != null) {
		foreach (var fromProduct in productsToRelateTo.Products)
		{
			relateFromProductIds.Add(fromProduct.Id);
			relateFromGroupIds.Add(fromProduct.PrimaryOrDefaultGroup.Id);
		}
	}

	string groupIds = productViewModelFound ? product.PrimaryOrDefaultGroup.Id : string.Join(",", relateFromGroupIds);
	string productIds = productViewModelFound ? product.Id : string.Join(",", relateFromProductIds);
	string relationType = Model?.Item?.GetList("RelationType") != null ? Model.Item.GetList("RelationType").SelectedValue : "trending";
	string relationTypeName = Model?.Item?.GetString("Title") != null ? Model.Item.GetString("Title") : Translate("Related products");

	string height = !Model.Item.GetBoolean("HideTitle") ? "605px" : "390px";
}


<div class="@theme w-100" style="min-height: @height">
	<form method="post" action="@url" data-response-target-element="RelatedProducts_@Model.ID" data-preloader="inline" data-update-url="false" class="w-100 js-product-list" id="RelatedProducts_@Model.ID">
		@if (!Model.Item.GetBoolean("HideTitle")) { 
			<input type="hidden" name="HeadingTitle" value="@relationTypeName" />
		}

		@if (groupIds != "" && relationType != "frequently") {
			<input type="hidden" name="GroupId" value="@groupIds" />
		}

		@if (relationType == "trending") {
			<input type="hidden" name="SortBy" value="OrderCountGrowth" /> 
		}
		@if (relationType == "most-sold") {
			<input type="hidden" name="SortBy" value="OrderCount" /> 
		}
		@if (relationType == "frequently") {
			<input type="hidden" name="BoughtWithProductIds" value="[@productIds]" /> 
		}

		<div id="RelatedProducts_@Model.ID"></div>
	</form>
</div>

