@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item py-3 py-lg-5">   
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
    {
        <div class="lead">@Model.Item.GetString("Lead")</div>
    }
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
    {
        <h2 class="h1 fw-bold m-0">@Model.Item.GetString("Title")</h2>
    }
</div>
