@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item mt-5">   
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
    {
        <div class="lead">@Model.Item.GetString("Lead")</div>
    }
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
    {
        <h2 class="h2">@Model.Item.GetString("Title")</h2>
    }
</div>