@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left";
	string textAlign = layout;

	string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}

<div class="pt-4 pb-3 pt-lg-5 pb-lg-3 @textAlign theme theme-@theme">
	@RenderLead()
	@RenderTitle()
</div>

@helper RenderLead()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
	{
		<span class="lead d-block mb-2">@Model.Item.GetString("Lead")</span>
	}
}

@helper RenderTitle()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		<h2 class="display-4 m-0">@Model.Item.GetString("Title")</h2>
	}
}
