@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string layout = Model.Item.GetRawValueString("Layout", "text-start");	
	layout = layout == "alignLeft"   ? "text-start"  : layout;
	layout = layout == "alignCenter" ? "text-center" : layout;
	layout = layout == "alignRight"  ? "text-end"    : layout;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
{
<div class="p-3 @(layout)@(theme)">
	@Model.Item.GetString("Text")
</div>
}
