@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string layout = Model.Item.GetRawValueString("Layout", "text-start");	
	layout = layout == "alignLeft"   ? "text-start"  : layout;
	layout = layout == "alignCenter" ? "text-center" : layout;
	layout = layout == "alignRight"  ? "text-end"    : layout;

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "px-3 py-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "px-3 py-2 py-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "px-3 py-4 py-md-5" : contentPadding;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
{
<div class="@(contentPadding) @(layout) @(theme)">
	@Model.Item.GetString("Text")
</div>
}
