@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item item-fluid d-flex align-items-center d-flex justify-content-end">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-dark"><i class="fal fa-search"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/pages/user/"><i class="fal fa-user"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/pages/checkout/"><i class="fal fa-shopping-cart"></i></a>
        </li>
    </ul>
</div>