@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend.Navigation

@{ 
    var navigationSettings = new NavigationSettings();
    navigationSettings.StartLevel = 1;
    navigationSettings.StopLevel = 10;
    navigationSettings.ExpandMode = ExpandMode.All;

    if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot"))) {
        string root = Model.Item.GetString("NavigationRoot");

        if (root.Contains("=")) {
            int rootPageId = Convert.ToInt32(root.Substring(root.LastIndexOf('=') + 1));
            navigationSettings.RootPageId = rootPageId;
        }
    } 
}


<div class="item">
    @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
    {
        <h3 class="h3">@Model.Item.GetString("Title")</h3>
    }

    @Navigation.RenderNavigation("Navigation/Vertical.cshtml", navigationSettings)
</div>
