@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend
@using Dynamicweb.Content

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                @Model.Column(1).Output()
            </div>
            <div class="col-12 col-md-3">
                @Model.Column(2).Output()
            </div>
        </div>
    </div>
</section>