<script type="text/javascript" >
var forumTemplatesText = {
AuthorRequiredText : '<!--@Translate(Forum:Post.Validation.AuthorRequired, "Please specify your name.")-->',
NameRequiredText: '<!--@Translate(Forum:Post.Validation.NameRequired, "Please specify a subject.")-->',
InvalidEmailAddressText: '<!--@Translate(Forum:Post.Validation.InvalidEmailAddress, "Please specify a correct e-mail address.")-->',
PostDeleteFileText : '<!--@Translate(Forum:Post.DeleteFile, "Delete")-->',
ThreadDeleteText : '<!--@Translate(Forum:Thread.Delete, "Are you sure you want to delete this thread?")-->'
}
</script>

<script type="text/javascript" src="Files\Templates\BasicForum\functions.js"></script>

<!--@If Not Defined(Forum:Post.IsInline)-->
<div class="forum-post-breadcrumb"><a href="/Default.aspx?ID=<!--@Global:Page.ID-->"><!--@Translate(Forum:Global.Forum, "Forum")--></a>&nbsp;&raquo;&nbsp;<a href="/Default.aspx?ID=<!--@Global:Page.ID-->&amp;PID=<!--@Forum:Global.ParagraphID-->&amp;CategoryID=<!--@Forum:Category.ID-->"><!--@Forum:Category.Name--></a>&nbsp;&raquo;&nbsp;<span class="forum-post-breadcrumb-current"><!--@If Defined(Forum:Reply.Name)--><!--@Forum:Reply.Name--><!--@EndIf(Forum:Reply.Name)--><!--@If Not Defined(Forum:Reply.Name)--><!--@Translate(Forum:Post.NewReply, "New post")--><!--@EndIf(Forum:Reply.Name)--></span></div>
<!--@EndIf(Forum:Post.IsInline)-->
<div class="forum-container">
	<form class="forum-post-form" id="PostForm" action="" method="post" onsubmit="return BasicForum.editPostValidate(this);" enctype="multipart/form-data">
		<!--@If Not Defined(Forum:Post.IsInline)-->
		<!--@If Not Defined(Forum:Post.IsThread)-->
		<!--@If Not Defined(Forum:Post.IsEdited)-->
		<div class="forum-post-original">
			<div class="forum-post-original-heading" id="originalHeading">
				<!--@Translate(Forum:Post.OriginalMessage, "Original message by")-->&nbsp;<strong><!--@Forum:Reply.Author--></strong>&nbsp;<!--@Translate(Forum:Post.PostedOn, "posted on")-->&nbsp;<strong><!--@Forum:Reply.Created.ShortDate-->, <!--@Forum:Thread.Created.ShortTime--></strong>:
			</div>
			<div class="forum-post-original-text" id="originalMessage">
				<!--@Forum:Reply.Body-->
			</div>
			<table><tr><td>
				<div class="forum-post-original-misc">
					<div class="forum-post-original-buttons">
						<a href="javascript:BasicForum.addQuote('<!--@Forum:Post.Editor.InstanceName-->');"><!--@Translate(Forum:Thread.Quote, "Quote")--></a>
					</div>		
				</div>
			</td></tr></table>
		</div>
		<!--@EndIf(Forum:Post.IsEdited)-->
		<!--@EndIf(Forum:Post.IsThread)-->
		<!--@EndIf(Forum:Post.IsInline)-->
		
		<!--@If Defined(Global:Extranet.UserName)-->
		<table border="0">
			<tr>
				<td class="forum-post-label">
					<!--@Translate(Forum:Post.Author, "Your name")-->
				</td>
				<td>
					<input type="text" class="forum-post-input" id="frmAuthor" name="Author" value="<!--@Forum:Post.User.Name-->" />
				</td>
			</tr>
			<tr>
				<td class="forum-post-label">
					<!--@Translate(Forum:Post.Email, "Your e-mail address")-->
				</td>
				<td>
					<input type="text" class="forum-post-input" id="frmAuthorEmail" name="AuthorEmail" value="<!--@Forum:Post.User.Email-->" />
				</td>
			</tr>
						
			<!--@If Defined(Forum:Post.IsThread)-->
			<tr>
				<td class="forum-post-label">
					<!--@Translate(Forum:Post.Subject, "Subject")-->
				</td>
				<td>
					<input type="text" class="forum-post-input" id="frmName" name="Name" value="<!--@Forum:Post.SubjectPrefix--><!--@Forum:Reply.Name-->" />
				</td>
			</tr>
			<!--@Endif(Forum:Post.IsThread)-->
					
			<tr>
				<td colspan="2">
					<div class="forum-post-editor" id="tabMessage_body" style="display: block">
						<!--@Forum:Post.Editor-->
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h4><!--@Translate(Forum:Post.Attachments, "Attachments")--></h4>
					<div class="forum-post-addfile">
						<span><!--@Translate(Forum:Post.SelectFile, "Select file")-->&nbsp;</span>
						<input type="file" name="Attachment" id="Attachment" />
					</div>
					<div class="forum-post-clear">&nbsp;</div>
					
					<br />
					
					<div id="FilesList" style="display: none">
					</div>
          <!--@If Defined(Forum:Post.IsFilesPresent)-->
					<div id="FilesListPosted" >
          <!--@LoopStart(Forum:FilesList)-->
					<div class="forum-post-file" id="<!--@FileName-->" >
            <div class="file-name" title="<!--@FileName-->" ><!--@FileName--></div>
            <a href="javascript:removeStoredFile('<!--@FileName-->');javascript:void(0);" title="<!--@Translate(Forum:Post.DeleteFile, "Delete")-->" class="file-delete"> </a>
            <input type="hidden" name="alreadyuploadedfile" value="<!--@FileName-->" />
            <div class="forum-post-clear"></div>
          </div>
          <!--@LoopEnd(Forum:FilesList)-->
					</div>
          <!--@Endif(Forum:Post.IsFilesPresent)-->
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h4><!--@Translate(Forum:Post.Preview, "Preview")--></h4>
					<div id="post-preview" class="forum-post-preview">&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<div class="forum-post-submit">
						<input type="submit" name="Send" class="button blue" value="<!--@Translate(Forum:Post.SubmitPost, "Submit my post")-->" />&nbsp;
					</div>
				</td>
			</tr>
		</table>
        <!--@EndIf(Global:Extranet.UserName)-->

        <!--@If Not Defined(Global:Extranet.UserName)-->
        <p><!--@Translate("Only logged in users can add new posts", "Only logged in users can add new posts")--></p>
        <!--@EndIf(Global:Extranet.UserName)-->

		<!--@If Not Defined(Forum:Post.IsThread)-->
			<!--@If Defined(Forum:Reply.Name)-->
			<input type="hidden" name="Name" value="<!--@Forum:Post.SubjectPrefix--><!--@Forum:Reply.Name-->" />
			<!--@EndIf(Forum:Reply.Name)-->
			<!--@If Not Defined(Forum:Reply.Name)-->
			<input type="hidden" name="Name" value="<!--@Forum:Post.SubjectPrefix--><!--@Forum:Thread.Name-->" />
			<!--@EndIf(Forum:Reply.Name)-->
		<!--@EndIf(Forum:Post.IsThread)-->
		
		<!--@If Not Defined(Forum:Global.Category.IsModerated)-->
        <div>
    		<input type="hidden" name="SignupForThread" value="True" />
        </div>
		<!--@EndIf(Forum:Global.Category.IsModerated)-->
        <input type="hidden" name="PostAction" id="PostAction" value="<!--@Forum:Post.Action-->" />
	</form>
</div>
<script type="text/javascript">
    /* Create an instance of the multiSelector class, pass it the output target and the max number of files */
    var multi_selector = new MultiSelector(document.getElementById("FilesList"), 5);

    /*  Pass in the file element */
    multi_selector.addElement(document.getElementById('Attachment'));
</script>
