// Create outlines on links and buttons to highten a11y

a:focus-visible,
button:focus-visible,
[ role="button" ]:focus-visible,
[ tabindex ]:focus-visible,
:where(:focus-visible) {
	outline: 0;
	box-shadow: $focus-ring-box-shadow;
}