// Create outlines on links and buttons to highten a11y

a:focus-visible:not(.nav-link),
button:focus-visible:not(.nav-link),
[ role="button" ]:focus-visible:not(.nav-link),
[ tabindex ]:focus-visible:not(.nav-link),
:where(:focus-visible):not(.nav-link) {
	outline: 0;
	box-shadow: $focus-ring-box-shadow;
}
