@mixin hover-underline-animation($transform-origin-on-hover, $initial-transform-origin: $transform-origin-on-hover) {
	display: inline-block;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 7px;
		left: 0;
		background-color: var(--bs-body-color);
		transform-origin: $initial-transform-origin;
		transition: transform 0.25s ease-out;
	}

	&:hover {

		&::before {
			transform: scaleX(1);
			transform-origin: $transform-origin-on-hover;
		}
	}
}

.hover-underline-animation-left {
	@include hover-underline-animation(bottom left, bottom right);
}

.hover-underline-animation-right {
	@include hover-underline-animation(bottom right, bottom left);
}

.hover-underline-animation-center {
	@include hover-underline-animation(center);
}

.lift {
	transform: translate3d(0, 0, 0);
	transition: $transition-base;
	will-change: transform;

	&:focus,
	&:hover {
		transform: translate3d(0, -3px, 0);
		backface-visibility: hidden;
	}

	&-lg {
		
		&:focus,
		&:hover {
			transform: translate3d(0, -5px, 0);
		}
	}
}

.shadow-hover {
	backface-visibility: hidden;
	will-change: transform;
}


.toast-animate-in {
	animation: toast-animate-in .3s normal forwards;
}

.toast-animate-out {
	animation: toast-animate-out .3s normal forwards;
}

@keyframes toast-animate-in {
	0% {
		transform: translateX(100%)
	}

	to {
		transform: translateX(0)
	}
}

@keyframes toast-animate-out {
	0% {
		transform: translateX(0)
	}

	to {
		transform: translateX(100%)
	}
}