// Hide headers on scroll

body[ data-intersected="true" ] .js-hide-on-scroll {
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: transform .2s, opacity .2s, height .2s;
	padding: 0 !important;
	height: 0;
}

.js-hide-on-scroll {
	opacity: 1;
	transition: transform .2s, opacity .2s, height .2s;
	height: auto;
}
