// HTMX skeleton placeholders (articles)

.htmx-indicator {
	display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator{
    display:unset;
}

[data-swift-indicator-origin] {
	display: unset;
}
.htmx-request [data-swift-indicator-origin] {
	display: none;
}

.htmx-request article {
	display: none;
}