[class^='poster-size'], [class*=' poster-size'] {
	min-height: var(--poster-min-height);
}

.poster-size-1 {
	--swift-content-padding: clamp(1rem, 2%, max(2rem,2%));
	--poster-min-height: 15vh;
}

.poster-size-2 {
	--poster-min-height: 35vh;
}

.poster-size-3 {
	--poster-min-height: 55vh;
}

.poster-size-4 {
	--poster-min-height: 85vh;
}