.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}

.text-decoration-underline-hover {

	&:where(:hover) {
		text-decoration: underline !important;
	}
}

.text-decoration-accent-hover {

	&:where(:hover) {
		color: var(--swift-accent-color) !important;
	}
}

//Responsive column text

section [data-swift-gridcolumn] {
	container-type: inline-size;
	container-name: column;
}

@container column (min-width: 500px) {
	:where([data-swift-text]) {
		max-inline-size: 32rem;
	}
}

@container column (min-width: 760px) {
	:where([data-swift-text]) {
		max-inline-size: 45rem;
	}
}
