.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}

.text-decoration-underline-hover {

	&:where(:hover) {
		text-decoration: underline !important;
	}
}

.text-decoration-accent-hover {

	&:where(:hover) {
		color: var(--swift-accent-color) !important;
	}
}
