.text-price {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}

.text-muted { //We do not use secondary color, and we need a setup that use the actual body color
	--bs-text-opacity: .5;
    color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

.text-decoration-underline-hover {

	&:where(:hover) {
		text-decoration: underline !important;
	}
}

.text-decoration-accent-hover {

	&:where(:hover) {
		color: var(--swift-accent-color) !important;
	}
}
