@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderCyberSourceForm()
{
	<form target="paymentMethodIFrame" id="CheckoutForm" name="CheckoutForm" action="@GetString("CyberSource.HostedPaymentURL")" method="post">
		@foreach (var field in GetLoop("CyberSourceFields"))
		{
			<input type="hidden" name="@field.GetString("CyberSource.FieldName")" value="@field.GetString("CyberSource.FieldValue")"/>
		}
	</form>

	<iframe src="" width="100%" height="400" name="paymentMethodIFrame" id="paymentMethodIFrame" scrolling="no"></iframe>

	<script>
	    let paymentForm = document.getElementById('CheckoutForm');
	    paymentForm.submit();
		
		document.addEventListener("DOMContentLoaded", function() {
			let button = document.querySelector("#PayButton");
			if(button){
				button.addEventListener("click", function() {
				  paymentForm.submit();
				});	
			}
		});
	</script>
}
