@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="hstack gap-2 mx-auto">
	@if (Model.Item.TryGetButton("ButtonPrimary", out ButtonViewModel buttonPrimary)) {
        <a href="@buttonPrimary.Link.Url" class="btn btn-primary">@buttonPrimary.Label</a>
    }

    @if (Model.Item.TryGetButton("ButtonSecondary", out ButtonViewModel buttonSecondary)) {
        <a href="@buttonSecondary.Link.Url" class="btn btn-outline-secondary">@buttonSecondary.Label</a>
    }
</div>
