/* Button modifier to make buttons huge */
.btn-giant, .btn-giant:hover {
    padding: 0.75em 1.5em;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;
    text-transform: uppercase;
}

.btn-giant:hover {
    background-color: rgba(0,0,0,0.6);
}
