:root {

	//Text scale
	--r4-text-scale-md-h1: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-md-h2: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-md-h3: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-md-display-1: clamp(1rem, 1.325rem + 0.9vw, 2rem);
	--r4-text-scale-md-display-2: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	--r4-text-scale-md-display-3: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-sm-h1: clamp(1rem, 1.3rem + 0.6vw, 1.75rem);
	--r4-text-scale-sm-h2: clamp(1rem, 1.275rem + 0.3vw, 1.5rem);
	--r4-text-scale-sm-h3: clamp(1rem, 1.25rem, 1.25rem);
	--r4-text-scale-sm-display-1: clamp(1rem, 1.575rem + 3.9vw, 3.5rem);
	--r4-text-scale-sm-display-2: clamp(1rem, 1.525rem + 3.3vw, 3rem);
	--r4-text-scale-sm-display-3: clamp(1rem, 1.375rem + 1.5vw, 2rem);
	//Themes
	--r4-forground-color: var(--bs-dark);
	--r4-background-color: var(--bs-white);
	--r4-button-primary-background-color: var(--bs-primary);
	--r4-button-primary-foreground-color: var(--bs-white);
	--r4-button-secondary-background-color: var(--bs-secondary);
	--r4-button-secondary-foreground-color: var(--bs-white);
	//Brand
	--r4-header-font: var(--bs-font-sans-serif);
	--r4-header-font-weight: inherit;
	--r4-header-casing: inherit;
	--r4-header-line-height: inherit;
	--r4-header-letter-spacing: inherit;
	--r4-display-font: var(--bs-font-sans-serif);
	--r4-display-font-weight: inherit;
	--r4-display-casing: inherit;
	--r4-display-line-height: inherit;
	--r4-display-letter-spacing: inherit;
	--r4-body-font: var(--bs-font-sans-serif);
	--r4-body-font-weight: inherit;
	--r4-body-casing: inherit;
	--r4-body-line-height: inherit;
	--r4-body-letter-spacing: inherit;
}
