<style>
    .lists {
        width: 100%;
        border-collapse: collapse;
    }

	.lists td, .lists th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	.lists tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	.lists tr:hover {
		background-color: #ddd;
	}

	.lists th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		color: white;
		background-color: #428bca;
		font-weight: bold;
	}
</style>

@helper RenderPagination(string currentPageLink, int pageCount, int currentPage, int pageSize)
{
    <ul class="pagination">
        @{string pageHrefTemplate = string.Format("<a class=\"page-link\" href=\"{0}&PageNum={{0}}&PageSize={{1}}\">{{0}}</a>", currentPageLink);}
        @for (int i = 1; i <= pageCount; i++)
        {
            var css = i == currentPage
                ? "page-item active"
                : "page-item";
            <li class="@css">
                @string.Format(pageHrefTemplate, i, pageSize)
            </li>
        }
    </ul>
}
