<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
<style>
body{
	font-family:verdana;
	font-size:10pt;
}
</style>
</head>

<body>
Hej <!--@FullName--> (<!--@Email-->)<br>
<br>
Siden '<!--@PageName-->' (ID: <!--@PageID-->) afventer din godkendelse.<br>
<br>
Nuværende version: <a href="http://<!--@DomainName-->/Default.aspx?ID=<!--@PageID-->">http://<!--@DomainName-->/Default.aspx?ID=<!--@PageID--></a><br>
Ventende version: <a href="http://<!--@DomainName-->/Default.aspx?ID=<!--@PageID-->&Preview=<!--@PageID-->">http://<!--@DomainName-->/Default.aspx?ID=<!--@PageID-->&Preview=<!--@PageID--></a><br>
<br>
Du skal logge på via <a href="http://<!--@DomainName-->/Admin/">http://<!--@DomainName-->/Admin/</a> for at godkende<br><br>
Brugernavn: <!--@Username--><br>
Kodeord: <!--@Password--><br>
</body>
</html>