:root {
	--header-height: 100px;
	--swift-content-padding: 2rem;
	--swift-poster-padding: calc(var(--swift-content-padding) * 2);
	--swift-text-width: 70ch;
}

:is(
    header, [data-dw-itemtype="swift-v2_header"],
    footer, [data-dw-itemtype="swift-v2_footer"]) {
	--swift-content-padding: 0;
}
