:root {
	--header-height: 100px;
	--swift-content-padding: clamp(2rem, 5%, max(4rem,5%));
	--swift-text-width: 70ch;
}

:is(
    header, [data-dw-itemtype="swift-v2_header"],
    footer, [data-dw-itemtype="swift-v2_footer"]) {
	--swift-content-padding: 0;
}