:root, :host {
	--header-height: 100px;
	--swift-content-padding: 2rem;
	--swift-poster-padding: clamp(2rem, 5%, max(4rem,5%));
	--swift-text-width: 75ch;

	@include media-breakpoint-up(xl) {
		--swift-text-width: 80ch;
	}
}

:is(
    header, [data-dw-itemtype="swift-v2_header"],
    footer, [data-dw-itemtype="swift-v2_footer"]) {
	--swift-content-padding: 0;
}
