@use 'sass:math';

$lead-font-weight: initial;
$spacer: 1rem !default;

$spacers: (
	0: 0, 
	1: math.div($spacer, 4), //4px
	2: math.div($spacer, 2), //8px
	3: $spacer, //16px
	4: $spacer * 2, //32px
	5: $spacer * 3, //48px
	6: ($spacer * 6), //96px
	7: ($spacer * 7.5), //120px
	8: ($spacer * 12), //192px
	9: ($spacer * 15), //240px
	10: ($spacer * 21) //336px
);

$offcanvas-horizontal-width:		var(--swift-offcanvas-width);
$focus-ring-color: 					rgba(var(--bs-body-color-rgb), $focus-ring-opacity);
$focus-ring-box-shadow: 			0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$box-shadow:                  0 .275rem 1.25rem rgba($black,.05), 0 .25rem .5625rem rgba($black,.03);
$box-shadow-sm:               0 .1375rem .625rem rgba($black, .0375), 0 .125rem .28125rem rgba($black, .015);
$box-shadow-lg:               0 .55rem 2.5rem rgba($black, .0875), 0 .5rem 1.125rem rgba($black, .045);

$table-cell-padding-y:				var(--swift-table-cell-padding-y, .5rem);
$table-cell-padding-x:				var(--swift-table-cell-padding-x, .5rem);