@helper RenderCartHeader() {
	<header class="py-3 fw-bold d-none d-lg-block">
		<div class="row">
			<div class="col-2 text-muted">@Translate("Product")</div>
			<div class="col-10">
				<div class="row">
					<div class="col-2 offset-4 text-muted text-end">@Translate("Quantity")</div>
					<div class="col-3 offset-3 text-muted text-end">@Translate("Total")</div>
				</div>
			</div>
		</div>
	</header>
}
