@helper RenderCartPageHeader() {

	string itemsText = GetDouble("Ecom:Order.OrderLines.Count") > 1 ? Translate("items in your shopping cart") : Translate("item in your shopping cart");

	<div class="pb-3 pb-lg-0 pt-4 pt-lg-5">
		<h1 class="h3">@Translate("Shopping Cart")</h1>
		<p class="mb-0"><span>@Translate("You have")</span> <span>@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span> <span>@itemsText</span></p>
	</div>
}
