@helper RenderCartFooter() {
	<div class="d-flex justify-content-end pt-4 border-top">
		<span class="h5 fw-bold mb-0 me-5">@Translate("Order subtotal")</span>
		<span class="h5 fw-bold mb-0 text-price">@GetString("Ecom:Order.Price")</span>
	</div>

	<div class="d-flex justify-content-end pt-2">
		<span class="d-block fs-small">@Translate("Heraf moms:") <span class="text-price">@GetString("Ecom:Order.Price.VATFormatted")</span></span>
	</div>
}
