@helper RenderCartFooter() {
	<div class="d-flex justify-content-end pt-4">
		<span class="h5 fw-bold mb-0 me-5">@Translate("Order subtotal")</span>
		<span class="h5 fw-bold mb-0 text-price">@GetString("Ecom:Order.Price")</span>
	</div>
}
