@helper RenderCartShipping() {

	var orderShipping = GetDouble("Ecom:Order.ShippingFee.Price.Value");

	bool orderHasShipping = false;
	if(orderShipping != 0) {
		orderHasShipping = true;
	}

	if (orderHasShipping) {
	<article class="order-line py-4 border-top">
		<div class="row">

			<div class="col-9 col-lg-8 offset-lg-2">
				<h1 class="h6 m-0">@Translate("Shipping")</h1>
			</div>

			<div class="col-3 col-lg-2">
				<p class="m-0 text-end h6 mb-0 fw-bold">
					<span class="text-price">
						@GetString("Ecom:Order.ShippingFee")
					</span>
				</p>
			</div>

		</div>
	</article>
	}
}
