@helper RenderCheckoutSidebarCart() {
	<div class="
		d-lg-block 
		h-lg-auto 
		visible-lg-visible 
		pt-0 
		collapse" id="collapseExample">

		@foreach (LoopItem orderline in GetLoop("OrderLines")) {
			@RenderCheckoutOrderLineItem(orderline)
		}
		@RenderCartOrderTotal()

	</div>

}

@Include("CheckoutCartItem.cshtml")
@Include("CheckoutCartTotal.cshtml")
