@helper RenderCheckoutSteps(){
    string stepNumber = "";

	<ul class="nav nav-pills nav-justified bg-light flex-row mb-4 mb-lg-5">
	
        @foreach (LoopItem step in GetLoop("StepButtons"))
        {
            if (step.GetString("Step.Name").ToLower() != "checkout")
            {
                string isActive = step.GetBoolean("Step.Current") ? "active" : "";

                if (GetLoop("StepButtons").Count > 2)
                {
                    stepNumber = step.GetString("Step.Number");
                }

				if (stepNumber != "1") {
					<li class="nav-item"><a class="nav-link @isActive rounded-0 small p-lg-3">@Translate(step.GetString("Step.Name"))</a></li>
				}
            }
        }
	
	</ul>    
}
