@helper RenderStepSumDelivery() {

	if (!string.IsNullOrEmpty(@GetString("Ecom:Order.ShippingMethod")))
	{
	<div class="list-group-item d-flex justify-content-between align-items-baseline rounded-0 py-3 bg-light">

		<div class="me-3 w-100">
			<dl class="row mb-0">
				<dt class="col-md-4 h6 fw-bold mb-lg-0 lh-base">@Translate("Delivery method")</dt>
				<dd class="col-md-8 mb-0">
					@GetString("Ecom:Order.ShippingMethod")
				</dd>
			</dl>
		</div>

		<button class="btn btn-small btn-link text-secondary text-uppercase text-decoration-none fs-small" type="submit" name="CartV2.GotoStep2">@Translate("Edit")</button>

	</div>
	}
}
