@helper RenderErrors(){
	if (GetLoop("ValidationErrors").Count() != 0) {
		<div class="alert alert-warning" role="alert">
			<ul class="m-0 list-unstyled">
				@foreach (LoopItem item in GetLoop("ValidationErrors")) {
					<li>@item.GetValue("Ecom:Cart.ValidationError.ErrorMessage")</li>
				}
			</ul>
		</div>
	}
}
