@helper RenderOrderSummaryContent() {
	<div class="d-lg-block h-lg-auto visible-lg-visible pb-2 pb-md-0 collapse" id="orderSummary">
		<div class="row row-cols-1 py-3 pt-lg-0 gy-3">
			@foreach (LoopItem orderline in GetLoop("OrderLines")) {
				@RenderOrderSummaryOrderLineItem(orderline)
			}
		</div>
		@RenderOrderSummary()
	</div>
}

@Include("OrderSummaryOrderLineItem.cshtml")
@Include("OrderSummary.cshtml")
