@helper RenderStepSummaryPaymentMethod() {
	string PaymentMethodID = GetString("Ecom:Order.ShippingMethodID");
	string paymentMethod = GetString("Ecom:Order.PaymentMethod");
	string editStep = "CartV2.GotoStep2";

	if(!string.IsNullOrEmpty(PaymentMethodID))
	{
		<div class="list-group-item d-flex justify-content-between align-items-baseline py-2 bg-light fs-7">

			<div class="me-3 w-100">
				<dl class="row mb-0">
					<dt class="col-md-4 mb-lg-0 lh-base fw-normal">@Translate("Payment")</dt>
					<dd class="col-md-8 mb-0 text-muted">
						@paymentMethod
					</dd>
				</dl>
			</div>

			<button class="btn btn-small btn-link me-n3 fs-8" type="submit" name="@editStep">
				<span class="text-muted text-uppercase">@Translate("Edit")</span>
			</button>

		</div>
	}
}
