@helper RenderTermsAndConditionsCheckbox() 
{
	string termsAndConditionsCheckboxValue = GetBoolean("Ecom:Order.Customer.Accepted").ToString();

	<div class="mt-5">
		<div class="form-check">
			<input 
				class="form-check-input" 
				type="checkbox" 
				name="EcomOrderCustomerAccepted"
				id="EcomOrderCustomerAccepted" 
				value="@termsAndConditionsCheckboxValue"
				@if (GetString("Ecom:Order.Customer.Accepted") == "true") {<text>checked="checked"</text>}>
			<label class="form-check-label" for="EcomOrderCustomerAccepted">
				@Translate("I accept the")
				<a href='/Default.aspx?Id=@GetPageIdByNavigationTag("TermsAndConditions")' target='_blank' rel='noopener'>@Translate("terms and conditions")</a>
				@Translate("of this website.")
			</label>
		</div>
	</div>
}
