@helper RenderTermsAndConditionsCheckbox() {

	<div class="row mt-5">
		<div class="col">

			<div class="form-check">

				<input 
					type="hidden" 
					name="EcomOrderCustomerAccepted" 
					value="0"
					id="EcomOrderCustomerAccepted">
				<input 
					class="form-check-input" 
					type="checkbox" 
					name="EcomOrderCustomerAccepted"
					value="1" 
					id="EcomOrderCustomerAccepted" 
					@if (GetString("Ecom:Order.Customer.Accepted") == "true") {<text>checked="checked"</text>}>
				<label class="form-check-label" for="EcomOrderCustomerAccepted">
					@Translate("I accept the")
					<a href='/Default.aspx?Id=@GetPageIdByNavigationTag("TermsAndConditions")' target='_blank' rel='noopener'>@Translate("terms and conditions")</a>
					@Translate("of this website.")
				</label>

			</div>

		</div>
	</div>
}
