@helper RenderToggleSidebarButton() { 
	<button 
		class="btn btn-light w-100 d-block d-lg-none px-0" 
		type="button" 
		data-bs-toggle="collapse" 
		data-bs-target="#collapseExample" 
		aria-expanded="false" 
		aria-controls="collapseExample">

		<div class="d-flex justify-content-between">
			<span>
				Show order summary 
	
				@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-down.svg"))) {
					<span class="icon">
					@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-down.svg"))
					</span>
				}
			</span>

			<span>
				Total 
				<span class="fw-bold">
					<span class="text-price">@GetString("Ecom:Order.Price")</span>
				</span>
			</span>
		</div>

	</button>
}
