@helper RenderToggleOrderSummaryButton() { 
	<button class="btn btn-light w-100 d-block d-lg-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		<div class="d-flex align-items-center justify-content-between">
			<span class="d-flex align-items-center">
				<span class="fs-7 lh-1">@Translate("Show order summary")</span>
				@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Icons/chevron-down.svg"))) {
					<span class="icon-2 ms-2">
						@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Icons/chevron-down.svg"))
					</span>
				}
			</span>
			<span class="fw-bold">@Translate("Total"): <span class="text-price">@GetString("Ecom:Order.Price")</span>
			</span>
		</div>
	</button>
}
