<root default-icecat-lang="US">
    <language dw-lang="AF" icecat-lang="">Afghanistan</language>
    <language dw-lang="AL" icecat-lang="">Albania</language>
    <language dw-lang="DZ" icecat-lang="">Algeria</language>
    <language dw-lang="AS" icecat-lang="">American Samoa</language>
    <language dw-lang="AD" icecat-lang="">Andorra</language>
    <language dw-lang="AO" icecat-lang="">Angola</language>
    <language dw-lang="AI" icecat-lang="">Anguilla</language>
    <language dw-lang="AQ" icecat-lang="">Antarctica</language>
    <language dw-lang="AG" icecat-lang="">Antigua and Barbuda</language>
    <language dw-lang="AR" icecat-lang="ES_AR">Argentina</language>
    <language dw-lang="AM" icecat-lang="">Armenia</language>
    <language dw-lang="AW" icecat-lang="">Aruba</language>
    <language dw-lang="AU" icecat-lang="">Australia</language>
    <language dw-lang="AZ" icecat-lang="">Azerbaijan</language>
    <language dw-lang="BS" icecat-lang="">Bahamas</language>
    <language dw-lang="BH" icecat-lang="">Bahrain</language>
    <language dw-lang="BD" icecat-lang="">Bangladesh</language>
    <language dw-lang="BB" icecat-lang="">Barbados</language>
    <language dw-lang="BY" icecat-lang="">Belarus</language>
    <language dw-lang="BE" icecat-lang="FR_BE">Belgium</language>
    <language dw-lang="BZ" icecat-lang="">Belize</language>
    <language dw-lang="BJ" icecat-lang="">Benin</language>
    <language dw-lang="BM" icecat-lang="">Bermuda</language>
    <language dw-lang="BT" icecat-lang="">Bhutan</language>
    <language dw-lang="BO" icecat-lang="">Bolivia</language>
    <language dw-lang="BA" icecat-lang="">Bosnia and Herzegovina</language>
    <language dw-lang="BW" icecat-lang="">Botswana</language>
    <language dw-lang="BV" icecat-lang="">Bouvet Island</language>
    <language dw-lang="BR" icecat-lang="BR">Brazil</language>
    <language dw-lang="VG" icecat-lang="">British Virgin Islands</language>
    <language dw-lang="BN" icecat-lang="">Brunei Darussalam</language>
    <language dw-lang="BG" icecat-lang="BG">Bulgaria</language>
    <language dw-lang="BF" icecat-lang="">Burkina Faso</language>
    <language dw-lang="BI" icecat-lang="">Burundi</language>
    <language dw-lang="KH" icecat-lang="">Cambodia</language>
    <language dw-lang="CM" icecat-lang="">Cameroon</language>
    <language dw-lang="CA" icecat-lang="FR_CA">Canada</language>
    <language dw-lang="KY" icecat-lang="">Cayman Islands</language>
    <language dw-lang="CF" icecat-lang="">Central African Republic</language>
    <language dw-lang="CL" icecat-lang="">Chile</language>
    <language dw-lang="CX" icecat-lang="">Christmas Island</language>
    <language dw-lang="CC" icecat-lang="">Cocos Islands</language>
    <language dw-lang="CO" icecat-lang="">Colombia</language>
    <language dw-lang="KM" icecat-lang="">Comoros</language>
    <language dw-lang="CG" icecat-lang="">Congo</language>
    <language dw-lang="CK" icecat-lang="">Cook Islands</language>
    <language dw-lang="CR" icecat-lang="">Costa Rica</language>
    <language dw-lang="CU" icecat-lang="">Cuba</language>
    <language dw-lang="CY" icecat-lang="">Cyprus</language>
    <language dw-lang="DK" icecat-lang="DK">Denmark</language>
    <language dw-lang="DJ" icecat-lang="">Djibouti</language>
    <language dw-lang="DM" icecat-lang="">Dominica</language>
    <language dw-lang="DO" icecat-lang="">Dominican Republic</language>
    <language dw-lang="EC" icecat-lang="">Ecuador</language>
    <language dw-lang="SV" icecat-lang="">El Salvador</language>
    <language dw-lang="CI" icecat-lang="">Cote D'Ivoire</language>
    <language dw-lang="ER" icecat-lang="">Eritrea</language>
    <language dw-lang="EE" icecat-lang="ET">Estonia</language>
    <language dw-lang="ET" icecat-lang="">Ethiopia</language>
    <language dw-lang="FK" icecat-lang="">Falkland Islands (Malvinas)</language>
    <language dw-lang="FJ" icecat-lang="">Fiji</language>
    <language dw-lang="FI" icecat-lang="FI">Finland</language>
    <language dw-lang="AE" icecat-lang="AR">United Arab Emirates</language>
    <language dw-lang="FR" icecat-lang="FR">France</language>
    <language dw-lang="FX" icecat-lang="">France</language>
    <language dw-lang="GF" icecat-lang="">French Guiana</language>
    <language dw-lang="PF" icecat-lang="">French Polynesia</language>
    <language dw-lang="FO" icecat-lang="">Faroe Islands</language>
    <language dw-lang="GA" icecat-lang="">Gabon</language>
    <language dw-lang="GM" icecat-lang="">Gambia</language>
    <language dw-lang="GE" icecat-lang="KA">Georgia</language>
    <language dw-lang="GH" icecat-lang="">Ghana</language>
    <language dw-lang="GI" icecat-lang="">Gibraltar</language>
    <language dw-lang="GR" icecat-lang="EL">Greece</language>
    <language dw-lang="GL" icecat-lang="">Greenland</language>
    <language dw-lang="GD" icecat-lang="">Grenada</language>
    <language dw-lang="GP" icecat-lang="">Guadeloupe</language>
    <language dw-lang="GU" icecat-lang="">Guam</language>
    <language dw-lang="GT" icecat-lang="">Guatemala</language>
    <language dw-lang="GN" icecat-lang="">Guinea</language>
    <language dw-lang="GW" icecat-lang="">Guinea-Bissau</language>
    <language dw-lang="GQ" icecat-lang="">Equatorial Guinea</language>
    <language dw-lang="GY" icecat-lang="">Guyana</language>
    <language dw-lang="HT" icecat-lang="">Haiti</language>
    <language dw-lang="NL" icecat-lang="NL">Netherlands</language>
    <language dw-lang="AN" icecat-lang="NL">Netherlands Antilles</language>
    <language dw-lang="HN" icecat-lang="">Honduras</language>
    <language dw-lang="HK" icecat-lang="">Hong Kong</language>
    <language dw-lang="IS" icecat-lang="">Iceland</language>
    <language dw-lang="IN" icecat-lang="EN_IN">India</language>
    <language dw-lang="ID" icecat-lang="ID">Indonesia</language>
    <language dw-lang="R " icecat-lang="FA">Iran, Islamic Republic of</language>
    <language dw-lang="IQ" icecat-lang="">Iraq</language>
    <language dw-lang="IE" icecat-lang="EN_IE">Ireland</language>
    <language dw-lang="IL" icecat-lang="HE">Israe</language>
    <language dw-lang="IT" icecat-lang="IT">Italy</language>
    <language dw-lang="JM" icecat-lang="">Jamaica</language>
    <language dw-lang="JP" icecat-lang="JA">Japan</language>
    <language dw-lang="JO" icecat-lang="">Jordan</language>
    <language dw-lang="CS" icecat-lang="">Serbia and Montenegro</language>
    <language dw-lang="CV" icecat-lang="">Cape Verde</language>
    <language dw-lang="KZ" icecat-lang="">Kazakhstan</language>
    <language dw-lang="KE" icecat-lang="">Kenya</language>
    <language dw-lang="CN" icecat-lang="ZH">China</language>
    <language dw-lang="KI" icecat-lang="">Kiribati</language>
    <language dw-lang="KG" icecat-lang="">Kyrgyzstan</language>
    <language dw-lang="HR" icecat-lang="HR">Croatia</language>
    <language dw-lang="KW" icecat-lang="">Kuwait</language>
    <language dw-lang="LA" icecat-lang="">Lao People's Democratic Republic</language>
    <language dw-lang="LV" icecat-lang="LV">Latvia</language>
    <language dw-lang="LS" icecat-lang="">Lesotho</language>
    <language dw-lang="LB" icecat-lang="">Lebanon</language>
    <language dw-lang="LR" icecat-lang="">Liberia</language>
    <language dw-lang="LY" icecat-lang="">Libyan Arab Jamahiriya</language>
    <language dw-lang="LI" icecat-lang="">Liechtenstein</language>
    <language dw-lang="LT" icecat-lang="LT">Lithuania</language>
    <language dw-lang="LU" icecat-lang="">Luxembourg</language>
    <language dw-lang="MO" icecat-lang="">Macao</language>
    <language dw-lang="MG" icecat-lang="">Madagascar</language>
    <language dw-lang="MK" icecat-lang="MK">Macedonia, the Former Yugoslav Republic of</language>
    <language dw-lang="MW" icecat-lang="">Malawi</language>
    <language dw-lang="MY" icecat-lang="EN_MY">Malaysia</language>
    <language dw-lang="MV" icecat-lang="">Maldives</language>
    <language dw-lang="ML" icecat-lang="">Mali</language>
    <language dw-lang="MT" icecat-lang="">Malta</language>
    <language dw-lang="MP" icecat-lang="">Northern Mariana Islands</language>
    <language dw-lang="MA" icecat-lang="">Morocco</language>
    <language dw-lang="MH" icecat-lang="">Marshall Islands</language>
    <language dw-lang="MQ" icecat-lang="">Martinique</language>
    <language dw-lang="MR" icecat-lang="">Mauritania</language>
    <language dw-lang="MU" icecat-lang="">Mauritius</language>
    <language dw-lang="YT" icecat-lang="">Mayotte</language>
    <language dw-lang="MX" icecat-lang="ES_MX">Mexico</language>
    <language dw-lang="FM" icecat-lang="">Micronesia, Federated States of</language>
    <language dw-lang="MD" icecat-lang="">Moldova, Republic of</language>
    <language dw-lang="MC" icecat-lang="">Monaco</language>
    <language dw-lang="MN" icecat-lang="">Mongolia</language>
    <language dw-lang="MS" icecat-lang="">Montserrat</language>
    <language dw-lang="MZ" icecat-lang="">Mozambique</language>
    <language dw-lang="MM" icecat-lang="">Myanmar</language>
    <language dw-lang="NA" icecat-lang="">Namibia</language>
    <language dw-lang="NR" icecat-lang="">Nauru</language>
    <language dw-lang="NP" icecat-lang="">Nepal</language>
    <language dw-lang="NZ" icecat-lang="EN_NZ">New Zealand</language>
    <language dw-lang="NI" icecat-lang="">Nicaragua</language>
    <language dw-lang="NE" icecat-lang="">Niger</language>
    <language dw-lang="NG" icecat-lang="">Nigeria</language>
    <language dw-lang="NU" icecat-lang="">Niue</language>
    <language dw-lang="KP" icecat-lang="">Korea, Democratic People's Republic of</language>
    <language dw-lang="NF" icecat-lang="">Norfolk Island</language>
    <language dw-lang="NO" icecat-lang="NO">Norway</language>
    <language dw-lang="NC" icecat-lang="">New Caledonia</language>
    <language dw-lang="OM" icecat-lang="">Oman</language>
    <language dw-lang="PK" icecat-lang="">Pakistan</language>
    <language dw-lang="PW" icecat-lang="">Palau</language>
    <language dw-lang="PA" icecat-lang="">Panama</language>
    <language dw-lang="PG" icecat-lang="">Papua New Guinea</language>
    <language dw-lang="PY" icecat-lang="">Paraguay</language>
    <language dw-lang="PE" icecat-lang="">Peru</language>
    <language dw-lang="PH" icecat-lang="">Philippines</language>
    <language dw-lang="PN" icecat-lang="">Pitcairn</language>
    <language dw-lang="PL" icecat-lang="PL">Poland</language>
    <language dw-lang="PT" icecat-lang="PT">Portugal</language>
    <language dw-lang="PR" icecat-lang="">Puerto Rico</language>
    <language dw-lang="QA" icecat-lang="">Qatar</language>
    <language dw-lang="RE" icecat-lang="">Reunion</language>
    <language dw-lang="RO" icecat-lang="RO">Romania</language>
    <language dw-lang="RU" icecat-lang="RU">Russian Federation</language>
    <language dw-lang="RW" icecat-lang="">Rwanda</language>
    <language dw-lang="KN" icecat-lang="">Saint Kitts and Nevis</language>
    <language dw-lang="LC" icecat-lang="">Saint Lucia</language>
    <language dw-lang="WS" icecat-lang="">Samoa</language>
    <language dw-lang="SM" icecat-lang="">San Marino</language>
    <language dw-lang="ST" icecat-lang="">Sao Tome and Principe</language>
    <language dw-lang="SA" icecat-lang="EN_SA">Saudi Arabia</language>
    <language dw-lang="SN" icecat-lang="">Senegal</language>
    <language dw-lang="SC" icecat-lang="">Seychelles</language>
    <language dw-lang="SL" icecat-lang="">Sierra Leone</language>
    <language dw-lang="SG" icecat-lang="EN_SG">Singapore</language>
    <language dw-lang="SK" icecat-lang="SK">Slovakia</language>
    <language dw-lang="SI" icecat-lang="SL">Slovenia</language>
    <language dw-lang="SB" icecat-lang="">Solomon Islands</language>
    <language dw-lang="SO" icecat-lang="">Somalia</language>
    <language dw-lang="ZA" icecat-lang="EN_ZA">South Africa</language>
    <language dw-lang="ES" icecat-lang="ES">Spain</language>
    <language dw-lang="LK" icecat-lang="">Sri Lanka</language>
    <language dw-lang="SH" icecat-lang="">Saint Helena</language>
    <language dw-lang="PM" icecat-lang="">Saint Pierre and Miquelon</language>
    <language dw-lang="GB" icecat-lang="EN">United Kingdom</language>
    <language dw-lang="SD" icecat-lang="">Sudan</language>
    <language dw-lang="SR" icecat-lang="">Suriname</language>
    <language dw-lang="KR" icecat-lang="KO">Korea, Republic of</language>
    <language dw-lang="SZ" icecat-lang="">Swaziland</language>
    <language dw-lang="SE" icecat-lang="SV">Sweden</language>
    <language dw-lang="CH" icecat-lang="DE_CH">Switzerland</language>
    <language dw-lang="SY" icecat-lang="">Syrian Arab Republic</language>
    <language dw-lang="TW" icecat-lang="ZH_TW">Taiwan, Province of China</language>
    <language dw-lang="TJ" icecat-lang="">Tajikistan</language>
    <language dw-lang="TZ" icecat-lang="">Tanzania, United Republic of</language>
    <language dw-lang="TH" icecat-lang="TH">Thailand</language>
    <language dw-lang="TG" icecat-lang="">Togo</language>
    <language dw-lang="TK" icecat-lang="">Tokelau</language>
    <language dw-lang="TO" icecat-lang="">Tonga</language>
    <language dw-lang="TT" icecat-lang="">Trinidad and Tobago</language>
    <language dw-lang="TN" icecat-lang="">Tunisia</language>
    <language dw-lang="TR" icecat-lang="TR">Turkey</language>
    <language dw-lang="TM" icecat-lang="">Turkmenistan</language>
    <language dw-lang="TC" icecat-lang="">Turks and Caicos Islands</language>
    <language dw-lang="TV" icecat-lang="">Tuvalu</language>
    <language dw-lang="UG" icecat-lang="">Uganda</language>
    <language dw-lang="UA" icecat-lang="UK">Ukraine</language>
    <language dw-lang="HU" icecat-lang="HU">Hungary</language>
    <language dw-lang="TD" icecat-lang="">Chad</language>
    <language dw-lang="CZ" icecat-lang="CZ">Czech Republic</language>
    <language dw-lang="DE" icecat-lang="DE">Germany</language>
    <language dw-lang="US" icecat-lang="US">United States</language>
    <language dw-lang="UY" icecat-lang="">Uruguay</language>
    <language dw-lang="UZ" icecat-lang="">Uzbekistan</language>
    <language dw-lang="VU" icecat-lang="">Vanuatu</language>
    <language dw-lang="VA" icecat-lang="">Holy See (Vatican City State)</language>
    <language dw-lang="VE" icecat-lang="">Venezuela</language>
    <language dw-lang="VN" icecat-lang="VI">Viet Nam</language>
    <language dw-lang="EH" icecat-lang="">Western Sahara</language>
    <language dw-lang="WF" icecat-lang="">Wallis and Futuna</language>
    <language dw-lang="YE" icecat-lang="">Yemen</language>
    <language dw-lang="ZW" icecat-lang="">Zimbabwe</language>
    <language dw-lang="ZM" icecat-lang="">Zambia</language>
    <language dw-lang="EG" icecat-lang="">Egypt</language>
    <language dw-lang="AT" icecat-lang="DE_AT">Austria</language>
    <language dw-lang="TP" icecat-lang="">East Timor</language>
    <language dw-lang="RS" icecat-lang="SR">Serbia</language>
</root>